.widget-title, h3.widget-title {
    border-bottom: 2px solid #750920;
}
.widget-title h2, h3.widget-title span, .carousel_post_home_wrapper .medium-two-columns:hover .image-post-title {
    background: #750920;
    color: #fff;
}
.widget-title h1 a,.widget-title h2 a, .widget-title h3 a,.widget-title h4 a{
    color: #fff;
}
.widget.color-5 .widget-title, .widget .color-5 .widget-title {
    border-bottom-color: #750920 !important;
}
.widget.color-5 h2, .feature-two-column.color-5 .widget-title h2 {
    background: #750920 url(/theme_cobra/images/border_title.png) no-repeat right !important;
}
.widget.color-4 .widget-title, .widget .color-4 .widget-title {
    border-bottom-color: #750920 !important;
}
.widget.color-4 h2, .feature-two-column.color-4 .widget-title h2 {
    background: #750920 url(/theme_cobra/images/border_title.png) no-repeat right !important;
}

.widget.color-3 .widget-title, .widget .color-3 .widget-title {
    border-bottom-color: #750920 !important;
}
.widget.color-3 h2, .feature-two-column.color-3 .widget-title h2 {
    background: #750920 url(/theme_cobra/images/border_title.png) no-repeat right !important;
}

.widget.color-2 .widget-title, .widget .color-2 .widget-title {
    border-bottom-color: #750920 !important;
}


.widget.color-1 .widget-title, .widget .color-1 .widget-title {
    border-bottom-color: #750920 !important;
}
.widget.color-1 h2, .feature-two-column.color-1 .widget-title h2 {
    background: #750920 url(/theme_cobra/images/border_title.png) no-repeat right !important;
}


.right-section-wrapper .widget-title h2 {
	/*background: #92636d !important;
    opacity: 0.8;*/
}
ul.newsticker a {
    font-size: 16px;
}
.latest_newsarea span a {
    font-size: 20px;
}
.logo_fixed{
    display: none !im;
}
.float-this{
    z-index: 99999999;
    position: absolute !important;
    height: 80px;
    top: -20px;
    left: -100px;
    background: red;
    width: 100px;
}
#mainmenu{
    position: relative;
}
.big_image .image_caption {
    bottom: -5px;
}
.big_grid_items .big_grid_item{
    width:25%;
}
.header_bottom .row{
    background: #750920;
}
.header_main_wrapper{
    background: #750920;
}
.float-this a{
    padding: 0px !important;
    height: auto !important;
}
#carousel ul{
    overflow:hidden;
}
.header-news-listing .feature-post-title a{
    color:#FFF !important;
}
.today_date_mobile{
    margin-right: 1px;
}
@media only screen and (max-width: 350px) {
    .today_date_mobile{
        display: none;
    }
}
