div.footer-wrapper
    div.mid-footer
        ul
            li
                a(href="#") Home
            li
                a(href="#") About Us
            li
                a(href="#") Privacy Policy
            li
                a(href="#") Contact Us
    div.bot-footer
            .col-lg-8.col-md-8.col-sm-12
                    span Copyright @2017-2018, All Rights Reserved
            .col-lg-4.col-md-4.col-sm-12  
                a.powered-by-area(href="http://www.hocalwire.com",target="_blank")
                    span(style="padding-right:5px") Powered By: 
                        span.hocalwire Hocalwire