amp-analytics(type='googleanalytics')
    script(type='application/json').
        {
            "vars": {
            "account": "!{env.partnerData.GACODE}"
        },
        "triggers": {
            "defaultPageview": {
                "on": "visible",
                "request": "pageview",
                "vars": {
                    "title": "!{meta.title}"
                    }
                }
            }
        }
