header.header
    .topHeader
        .leftmenuSec
            button.openmenu(on='tap:sidebar')
                amp-img.menu_bar(src="/images/menu_bar.png",width='50',height='40')
        a.logo.pull-right(href="#{env.partnerData.homePageRoot || '/'}")
                amp-img(src="#{env.partnerData.homePageRoot || '/'}images/logo.png", alt='#{env.partnerData.partnerName}',title='#{env.partnerData.partnerName}', width='200', height='50')
                        