-if(data.mediaIds.length && (!data.pageNo || data.pageNo < 2)){
  -if(!(data['oldPost'] && env.partnerData.oldPostDuplicateImage)){
    h2
      -if(data.mediaIds.length>1){
        include carousel
      -} else {
        !{Utils.getAMPMediaElement(data,0)}
        -if(data.mainImageCaption) {
            span.image_caption
                !{data.mainImageCaption}
        -}
      -}
    
  -} else {
    -if(data.mediaIds.length>1){
      include carousel
    -}
  -}
-}

