amp-carousel(height='300', layout='fixed-height', type='carousel')
    -for(var i=0;i<data.mediaIds.length;i++){
        -var title = data.photo_credit ? data.title +" - " + data.photo_credit : data.mediaOtherInfos.length>i ? data.title +" - "+data.mediaOtherInfos[i] : data.title 
        -var mtype =Utils.getMediaType(data.mediaIds[i])
        -var videoId = ""
        -var mediaId = data.mediaIds[i]
        -var thumbUrl = ""
        -var videoUrl  = (mtype=="youtube" || mtype=="external" || mtype=="externalNoProtocol") ? Utils.getMediaUrl(data,false,"",i) : Utils.getMediaUrl(data,"",env.rootUrl,i)
        -if(mtype=="youtube"){
            -videoId = mediaId.trim().substring(3,mediaId.trim().length)
            -thumbUrl = "/xhr/admin/downloadYoutubeThumb?videoId="+mediaId
        -} else if(mtype=="video"){
            -videoId = mediaId.trim().substring(6,mediaId.trim().length)
            -thumbUrl = Utils.getMediaUrl(d,false,"",i)
        -}
        div.carousel-img
            !{Utils.getAMPMediaElement(data,i,300,300)}
        

               
    -}