@font-face { font-family: Georgia; src: url('/theme_specialcoverage/fonts/Georgia.ttf'); } 

body,h1,h2,h3,h4,h5{
	font-family: Georgia, 'Rokkitt', serif; 
	font-weight: 400;
}
p {
	font-family: Georgia, 'Rokkitt', serif; 
	font-weight: 100;
}

.widget .home-slider .entry-item .entry-title {
    font-size: 25px;
    line-height:40px;
    padding-top: 15px;
    padding-left:5px;
    padding-right:5px;
}
.widget .entry-item .entry-title {
    font-size: 18px;
}
.widget-area-12 .widget.kopa-entry-list-widget .entry-item .entry-title {
    font-size: 16px;
    color: #000;
}
.kopa-article-list-widget .tab-container-1 ul li .entry-title {
    font-size: 18px;
}

.widget-area-1 .widget .widget-title {
    font-size: 20px;
}
.gallery-slider .gallery-caption {
    font-size: 25px;
}

.widget-title .title-text a, .kp-headline-title a{
	padding-top:5px;
}
#main-menu > li > a {
	font-size:16px;
}
#main-menu > li {
	margin-left: 22px;
}
.external-site-name {
	background: #e03d3d;
	padding: 5px 10px;
	font-size: 16px;
	margin-top: -5px !important;
}
.external-site-name a:hover {
	color:#ddd !important;
}
.breadcrumb{
	font-size: 14px;
}
#main-content {
	font-size: 15px;
}

.entry-item h4.entry-title{
	line-height: 32px;
}
.entry-item .entry-title a,ul.older-post li,.details-content-story {
	line-height: 24px;
}
.photo-gallery {
	max-height: 285px;
	overflow: hidden;
	margin-bottom: 10px !important;
}
.entry-box .enry-title {
	line-height: 32px;
}
.entry-box h1.enry-title {
	line-height: 40px;
}
.entry-box p {
	color: #000;
}
.details-content-story{
	color:black;
}
#news_details_main header h4{
	line-height: 44px;
}
#main-menu li ul li a {
	font-size: 14px;
	padding-top: 5px;
}
#main-menu li ul li {
	padding: 3px 15px;
	line-height: 16px;
}
header h1 {
	line-height: 35px !important;
}

.widget-area-10 {
	width: 280px;
}

/* new theme styling */

.w3-card-4 header {
	border-bottom: 3px solid #e03d3d;
}
#navArea {
    background: #e03d3d;
}
.cp-mega-menu>ul>li>a {
	padding-left: 13px;
}
.newsSocialIcons li.gplus {
	border: 0px solid #e62117;
    background-color: #e62117;
}
.logo_area {
    margin-top: 0px;
    margin-bottom: 10px;
    max-height: 100px;
    padding-top: 10px;
}
.logo_area .logo img {
	max-height: 90px;
    margin-top: 0px;
}
.static-links.light-dark-bg {
    background: #e03d3d;
}
#footer .footer-legals li a {
	    color: #fff;
}

.latest_newsarea {
background-color: black;
}

.latest_newsarea span {
background: #e03d3d;
font-weight: bold;
}

#middle_level_1_right, #middle_level_1_left{
	background: #fdfdfd;
    border: 1px solid #eae7e7;
    padding: 8px;
    box-shadow: 0 0 5px 1px #dfdfdf;
}
.details-content-story div, p {
font-family: Georgia, 'Rokkitt', serif;
font-weight: 100;
color: #404040;
padding-bottom: 0px;
margin: 0;
font-size: 15px;
line-height: 26px;
text-align: justify;
}

.tag-block a {
font-size: 14px;
}

#article-post-page h1.article-title {
font-size: 30px;
line-height: 38px;
margin: 13px 0;
color: #404040;
}

.breadcrumb .tag-block span {
    font-size: 14px;
}

#highlight .hightlighted-news .article-header h3 {
    font-size: 26px;
    line-height: 36px;
}

.article-header h3 {
margin-top: 5px;
line-height: 26px;
font-size: 18px;
}
.author-content h4 a{
	word-wrap:break-word;
}

.article-side-block.grid .article-header h2, .article-side-block.grid .article-header h2 a {
line-height: 20px;
}
@media only screen and (max-width: 959px) {
#article-post-page h1.article-title{
font-size: 22px !important;
line-height: 30px !important;
margin: 5px 0;
}
.trending_tags{
display: none;
}
ul.trending-tags li{
font: 700 12px/25px Arial,Helvetica,sans-serif;
padding-right: 5px;
}
.breadcrumb{
margin-bottom: 5px;
}
.cp_about_author{
display: none;
}
}

