div.ad_right_big(style="width:100%;height:auto;min-height:500px;background:#00aeef;text-align:center;font-size:30px;color:#fff;font-weight:bold;padding:20px;padding-top:250px;margin-bottom:20px;") 
	span(style="") Ad Here