mixin style8(props)
    -var img = props.img
    -var bigCount=props.bigCount || 2
    -var smallCount=props.smallCount || 3
    span.hocal_row
        .hocal_col_12.hocal_col
            -for(var i=0;i<bigCount;i++){
                .hocal_row
                    .content.medium.animated-background
            -}
