mixin style6(props)
    -var img = props.img
    -var bigCount=props.bigCount || 2
    -var smallCount=props.smallCount || 3
    span.hocal_row
        .hocal_col_4.hocal_col
            div(class="#{img || 'medium'} img animated-background")
        .hocal_col_8.hocal_col
            -for(var i=0;i<bigCount;i++){
                .hocal_row
                    .content.medium.animated-background
            -}
            .hocal_row
                .hocal_col.padding_2
                    -for(var i=0;i<smallCount;i++){
                        .content.small.animated-background
                    -}
                    