div(class="header-logo")
    a(href="#{env.partnerData.homePageRoot || '/'}")
        img(src="#{env.partnerData.homePageRoot || '/'}images/logo.png", alt='#{env.partnerData.partnerName}',title='#{env.partnerData.partnerName}')
                       