div(class="main-menu sticky center-menu")
    div(class="wrapper")
        ul(class="the-menu")
            li(class="#{!env.parentCatId? 'menu-item current-menu-item' : ''}")
                a(href="#{env.partnerData.partnerHomeLinkUrl || env.partnerData.homePageRoot || '/'}") #{env.partnerData.partnerHomeName || "Home"}
            
                li
                    a(href="/about-us",target="_blank") About Us
                li
                    a(href="/our-partners",target="_blank") Our Partners
                li
                    a(href="/resources",target="_blank") Resources
                    
                    ul(class="sub-menu")
                        li
                            a(href="/resources/qa") Standards & QA
                        li
                            a(href="/resources/training") Training of Trainers
                        li
                            a(href="/resources/reserved") Training of Associates
                        li
                            a(href="/resources/scheme") Schemes
                        li
                            a(href="/resources/projects") Projects
                        li
                            a(href="http://mescindia.com/resources/skill_gap.pdf",target='_blank') Skill Gap Report

                li
                    a(href="/training",target="_blank") Training
                li
                    a(href="/affiliation",target="_blank") Affiliation
                li
                    a(href="/contact-us",target="_blank") Contact Us
                    

    div.clear-float
        
        
                            
