div(class="secondary-menu center-menu")
    div(class="wrapper")
        ul
            li
                a(href="/resources#qualification-packs",target="_blank") Qualification Packs
            li
                a(href="/resources#model-carriculum",target="_blank") Model Carriculum
            li
                a(href="/resources#trainers-program",target="_blank") Trainers Program
            li
                a(href="/resources#career-with-us",target="_blank") Career With Us
            
        div(class="clear-float")


