.main-content.footer_sub_content.clearfix
    div(class="col-md-3")
        div.logo_bottom
            img(src="/images/logo.png")
            .footer-address
                p
                    | 1, Federation House,
                    | Tansen Marg,
                p New Delhi,  Delhi 110001
                p
                    | Contact No: 9811517287, 9811517287
                p
                    | Email: ashwani@hocalwire.com

            

    div(class="col-md-3")
        .footer-useful-link.footer-hedding.mb-20
            h4.text-blue.mb-30.mt-10 Useful Links
            ul
                li
                    a(href='#') About MESC
                li
                    a(href='#') Promoters
                li
                    a(href='#') Consortium Partners
                li
                    a(href='#')  Assesment Agencies
                li
                    a(href='#')  Training Centers
                li
                    a(href='#')  TOT Calander
    div(class="col-md-3")
        .footer-useful-link.footer-hedding.mb-20
            h4.text-blue.mb-30.mt-10 Useful Links
            ul
                li
                    a(href='#') About MESC
                li
                    a(href='#') Promoters
                li
                    a(href='#') Consortium Partners
                li
                    a(href='#')  Assesment Agencies
                li
                    a(href='#')  Training Centers
                li
                    a(href='#')  TOT Calander
    div(class="col-md-3")
                div.shareArticle.clearfix
                    span(class="newsSocialIcons clearfix")
                        ul(class="blog-share-socials")
                            li(class="facebook fab1 child", data-subitem="1")
                                a(title="Facebook", href="http://www.facebook.com/hocalwire", target="_blank")
                                    img(src="/images/social/facebook_icon.png",class="fb_social_icon_image social_icon_image", width="25", height="25")
                                    p Facebook
                                    
                                
                            li(class="twitter fab1 child", data-subitem="2")
                                a(title="Twitter", href="http://twitter.com/hocalwire", target="_blank")
                                    p Twitter
                                    img(src="/images/social/twitter_icon.png",class="twitter_social_icon_image social_icon_image", width="25", height="25")
                               
                            li(class="googleplus fab1 child", data-subitem="3")
                                a(title="Google Plus", href="https://plus.google.com/company/hocalwire", target="_blank")
                                    p Google Plus
                                    img(src="/images/social/gplus_icon.png",class="gplus_social_icon_image social_icon_image", width="25", height="25")
                                
                            li(class="linkedin fab1 child", data-subitem="4")
                                a(title="LinkedIn", href="http://www.linkedin.com/company/hocalwire", target="_blank")
                                    p Linkedin
                                    img(src="/images/social/linkedin_icon.png",class="linkedin_social_icon_image social_icon_image", width="25", height="25")
                        
                                
div(class="clear-float")
div(class="gmap")
    div(class="gmap_wrapper")
        iframe(style='height:100%;width:100%;border:0;', frameborder='0', src='https://www.google.com/maps/embed/v1/place?q=ficci&key=AIzaSyAN0om9mFmy1QN6Wf54tXAowK4eT0ZUPrU')
        a(href="javascript: void(0);",class="the-title title")  Reach Us