div(class="mixin-header breaking-news")
    a(href="javascript: void(0);",class="the-title title")  News Updates
    
    -if(env.partnerData.trendingTags && env.partnerData.trendingTags.length >0){
        div(class="breaking-block")
            ul
                -for(var i=0;i<env.partnerData.trendingTags.length-1;i++){  
                    li
                        a(href="javascript: void(0)") #{env.partnerData.trendingTags[i].name}
                -}
    -}

  