ins.adsbyhocalwire(style='display:block;', non-frame-ad='true', data-ad-id='recommended_content', data-templatepath='recommended/recommendedInPopup', class="clearfix", data-function='recommendedContent', data-ad-format='responsive',data-count="6")
script.
  var o = {"recommended_content_popup":{}};
  var adsbyhocalwire =  window.adsbyhocalwire || {};
  adsbyhocalwire["recommended_content"] = {};
script(src='/ads/adsbyhocalwire.js')
