include ../../theme_cobra/allMixin
include ../../common/_registerReporter
extends ../../theme_cobra/layout
block content
    include ../../theme_cobra/partials/_header
    div(id="sb-site", class="body_wraper_box")
        include ../../theme_cobra/partials/_navArea
        //- +stickySocialShare("","",true)
        div(class="main_content row")
            div(class="content_wraper three_columns_container box-item")
                div(class="twelve columns")
                    #level_top_full
                div(class="twelve columns")
                    div(class="eight columns clearfix home_left_section")
                        .container
                            .row
                                .eight.columns
                                    h1.single-post-title.page-title Legal Disclaimer
                                    p(style='text-align:justified')
                                    | Sudarshantv.com is provided subject to the following terms and conditions, and you are deemed to have read and accepted and agreed to be bound by this disclaimer. Please read these terms and conditions carefully as access and use of this site constitute acceptance of these terms & conditions. 

                                    | The use of content on Sudarshantv.com portal: The contents, news, information, art work, text, video, audio, or picture etc. (collectively "materials") on our portal are protected by copyrights laws. You may only access and use the material for personal or educational purposes and you must include, any copyright notes, originally included with the materials in all copies. Any alteration/modification either in whole or in part or usage of the materials for other than educational and personal purposes, violates the copyrights laws. You may not modify/alter for any purpose without Mediabharti.com's written consent. Except as provided below, you may not reproduce, republish, post, transmit or distribute any material from Sudarshantv.com portal. The materials included in "Sudarshantv.com" have been compiled by us from a variety of sources and are subject to change without any further notice. 

                                    | Links of other sites from Sudarshantv.com portal: The sites linked from "Sudarshantv.com" are not under control and "Sudarshantv.com" does not assume responsibility or liability for the materials available at such linked sites. The links have been provided for reference and for convenience only. Visitors are recommended to make appropriate enquiries and seek appropriate advice before sending money, incurring any expenses, acting on medical recommendations or entering into any commitment in relation to any advertisement published on this portal. Sudarshantv.com dose not vouch for any claims made by the advertisers of products and services. The developer, owner and Editor of Sudarshantv.com shall not be held liable for any consequences, in the event such claims are not honored by the Advertisers. Disclaimer of warranty: The information, Services or data (collectively "information") made available on Sudarshantv.com are provided "AS IS" without warranties of any kind, Sudarshantv.com specially disclaims any representations and warranties including without limitation, the implied warranties on merchantability and fitness for a particular purpose. Sudarshantv.com shall absolutely have no liability in connection with the services including without limitation, any liability for damage to your computer/hard ware, data information, materials and business resulting from the information or the lack of information available on Sudarshantv.com portal. Sudarshantv.com shall have no liability for: 1. Any loss, or injury caused either in whole or in part by its acts, omissions or for conditions beyond its control, in procuring, compiling or delivering information. 2. Any omissions, errors or inaccuracies in the information regardless of how it is caused, or delays or interruptions in delivery of the information, or, 3. Any decision made or action taken or any damage in reliance upon the Information furnished herein below. 

                                    | Sudarshantv.com makes no warranty, representation or guarantee as to content, sequence, accuracy, timeliness, completeness, truthfulness and positioning of the information or the sources that the information may be relied upon for any reason. Sudarshantv.com makes no warranty, representation or guarantee that the information will be uninterrupted or error free and that any defects can be corrected. Limited Liability: Under no circumstances, Sudarshantv.com shall be liable for loss or damages whatsoever whether is contract, tort or otherwise from the use of, or reliance on the information or from the use of Internet generally.
                    .four.columns
                        div(class="twelve columns clearfix")
                            .sidebar.side-bar.right-sidebar
                                include ../../theme_cobra/partials/_genericRightSection
                div(class="content_wraper three_columns_container")
                    div(class="row")
                        #level_bottom_full
                            -if(data['level_bottom_full'] && data['level_bottom_full'].templateData && data['level_bottom_full'].templateData.mixinName){
                                +#{data['level_bottom_full'].templateData.mixinName}(data['level_bottom_full'])
                            -}

        include ../../theme_cobra/partials/_footer
block scripts
    include ../../common/_reporterResources