include ../../theme_elephant/allMixin
extends ../../theme_elephant/layout
block content
    include ../../theme_elephant/partials/_header
    include ../../theme_elephant/partials/_navArea
    div.container
        .row.mtop15
            #breaking-news-section
                -if(data['breaking-news-section'] && data['breaking-news-section'].templateData && data['breaking-news-section'].templateData.mixinName){
                                +#{data['breaking-news-section'].templateData.mixinName}(data['breaking-news-section'])
                -}
        .row.mtop15
            .col-md-8.no-padding.pright15
               .outer_wrapper.clearfix
                    .row.mtop15
                        .col-md-12
                            h3.center.hocal-page-header
                                span
                                    | About Us
                            p.static-page-content
                                | जनशक्ति समाचार एक संजीदा प्रयास है गोदी मीडिया से सामने एक लकीर खींचने की। वर्तमान समय में शिद्दत के साथ महसूस किया जा रहा है कि तथाकथित मुख्य धारा का मीडिया अपनी प्रासंगिकता खोता जा रहा है। मीडिया, जिसे लोकतंत्र का चौथा खंभा कहा जाता है, उसकी प्रासंगिकता अगर समाप्त नहीं भी हो रही है तो कम तो होती ही जा रही है। तथाकथित मुख्य धारा का मीडिया पूंजीपतियों की गोदी में जा बैठा है या फिर सरकारी षड्यंत्र के तंत्र का अटूट हिस्सा बन चूका है। हाशिए पर धकेल दिए गए आम आदमी की आवाज इस मीडिया की चिन्ता नहीं हैं, बल्कि इसकी चिन्ता केंद्र की सरकारों और उन की दमनकारी नीतियों का गुणगान करना है। कर्ज में डूबे किसानों की आत्महत्याएं, शिक्षामित्रों का दम तोड़ता दर्द, सिसकियाँ लेती दलित, शोषित, अल्पसंख्यक बहनों की  पीड़ा अब मीडिया की सुर्खी नहीं नहीं रहीं, हां ‘राजनेताओं की दिनचर्या यहाँ तक की उन की शौच किर्या की हेडिंग और टैग लाइन बन रही हैं। 



                            p.static-page-content 
                                | ऐसे में जरूरत है एक वैकल्पिक मीडिया की। लेकिन महसूस किया जा रहा है कि जो वैकल्पिक मीडिया आ रहा है उनमें से कुछ की बात छोड़ दी जाए तो बहुत स्वस्थ बहस वह भी नहीं दे पा रहे हैं। अधिकांश या तो किसी राजनैतिक दल की छत्र छाया में पनप रहे हैं या फिर अपने विरोधियों को निपटाने के लिए एक मंच तैयार कर रहे हैं। इसलिए हमने महसूस किया कि क्यों न एक नया मंच बनाया जाए जहां स्वस्थ बहस की परंपरा बने और ऐसी खबरें पाठकों तक पहुचाई जा सकें जिन्हें या तो राष्ट्रीय मीडिया अपने पूंजीगत स्वार्थ या फिर वैचारिक आग्रह या फिर सरकार के डर से नहीं पहुचाता है। ऐसा नहीं है कि हमें कोई भ्रम हो कि हम कोई नई क्रांति करने जा रहे हैं और पत्रकारिता की दशा और दिशा बदल डालेंगे। लेकिन एक प्रयास तो किया ही जा सकता है कि उनकी खबरें भी स्पेस पाएं जो मीडिया के लिए खबर नहीं बनते।



                            p.static-page-content 
                                | ऐसा भी नहीं है कि हमारे वैचारिक आग्रह और दुराग्रह नहीं हैं, लेकिन हम एक वादा जरूर करते हैं कि खबरों के साथ अन्याय नहीं करेंगे। मुक्तिबोध ने कहा था ‘तय करो कि किस ओर हो तुम’। हमें अपना लक्ष्य मालूम है और हम यह भी जानते हैं कि वैश्वीकृत होती और तथाकथित आर्थिक उदारीकरण की इस दुनिया में हमारा रास्ता क्या है? इसलिए अगर कुछ लोगों को लगे कि हम निष्पक्ष नहीं हैं तो हमें आपत्ति नहीं है। हम यह भी बखूबी जानते हैं कि पोर्टल चलाना कोई हंसी मजाक नहीं है और जब तक जिंदा रहने के लिए आपके आर्थिक रिश्ते मजबूत न हों, या फिर आजीविका के आपके साधनों से अतिरिक्त बचत न हो, तो टिकना आसान नहीं है। लेकिन भारतीय जनमानस के सहयोग से रास्ता पार होगा ही! आशा है आपका सहयोग मिलेगा। हमारा प्रयास होगा कि हम हम नई प्रतिभा को स्थान दें जो अच्छा काम तो कर रहे हैं लेकिन किसी गॉडफादर के अभाव में अच्छा स्पेस नहीं पा रहे हैं। हम जनोपयोगी और सरोकारों से जुड़े लोगों और संगठनों की विज्ञप्तियों को भी स्थान देंगे यदि आप जनशक्ति समाचार से जुड़ना या आर्थिक सहायता करना चाहते हैं तो contact.janshakti@gmail.com पर संपर्क कर सकते हैं।

                            h4.center
                                span
                                    
            .col-md-4.no-padding
                include ../../theme_elephant/partials/_genericRightSection
                      
            
    include ../../theme_elephant/partials/_footer

