include ../../theme_elephant/allMixin
extends ../../theme_elephant/layout
block content
    include ../../theme_elephant/partials/_header
    include ../../theme_elephant/partials/_navArea
    div.container
        .row.mtop15
            #breaking-news-section
                -if(data['breaking-news-section'] && data['breaking-news-section'].templateData && data['breaking-news-section'].templateData.mixinName){
                                +#{data['breaking-news-section'].templateData.mixinName}(data['breaking-news-section'])
                -}
        .row.mtop15
            .col-md-12.no-padding.pright15
               .outer_wrapper.clearfix
                    .row.mtop15.about-v-profile
                        .col-md-12
                            .row
                                .col-md-6
                                    h3 About Dr Anil Jangir
                                    .row
                                        .col-md-4
                                            img(src="/images/anil-jangir.jpg")
                                        .col-md-8
                                            p MBBS , MD- Gastroenterology , DM - Gastroenterology
                                            p Gastroenterologist , 8 Years Experience
                                            p Phone: 
                                                a(href="tel:7073074636") 91-7073074636
                                .col-md-6
                                    p Dr. Anil Jangir is Gastroenterologist, Hepatology and Digestive Endoscopist in Jaipur Rajasthan. he have 5 years of experience in this field. 
                                    p He completed DM - Gastroenterology from IPGMER, Calcutta and General medicine from Government medical College, Jodhpur. 
                                    p He worked with Hospitals like Bhandari Hospital & Research Center, Rungta Hospital and NIMS Medical College and Hospital
                               
                            .clear
                            br
                            .col-md-12
                                .grid_12.center
                                    h2 Hot Offers
                                    .text1 Get 20% discount on your first visit, show coupon to doctor and avail discount.
                                    .center
                                        div.center-me
                                            +socialShare(env.url,env.title,true,true,"open")
                                    img.ban_img(src='/images/offer.jpg', alt='')

                            br
                            .clinic-block.listing-row.last.center(itemprop='memberOf', itemscope='', itemtype='https://schema.org/MedicalClinic')
                                .clinic-locality
                                    h2 Jhotwara, Jaipur
                                    
                                .clinic-address
                                    h2(title='Consultant Gastroenteritis Clinic')
                                        a.u-no-dec.u-text-light(href='https://www.practo.com/jaipur/consultant-gastroenteritis-clinic-jhotwara/clinic?specialization=', itemprop='name') Consultant Gastroenteritis Clinic

                                    p.clinic-street-address(itemprop='address', itemscope='', itemtype='https://schema.org/PostalAddress')
                                        span(itemprop='streetAddress') Medical DC Center, Kalwar Road, Jaipur
                                        a.viewMapLink.link(href="https://www.google.com/maps?f=d&daddr=26.946908,75.727042&hl=en",target="_blank") &nbsp;&nbsp;View map
                                    
                                p.clinic-timings
                                    .clinic-timings-wrapper
                                        p.clinic-timings-day
                                            | MON - SAT
                                        p.clinic-timings-session
                                            | 17:00 - 20:00
                                    meta(itemprop='openingHours', content='Mo-Sa 17:00-20:00')
                                    .clear
                                p.clinic-fees Consultancy Charges &nbsp;
                                    span(itemprop='priceRange')
                                        | INR 200 (20% discount on first visit using coupon)
                                    span#feesindicator.clinic-fees-web-indicator.icon-ic_info
                                            
                        
                                .clear

                            #doc-carousel
                                ul#slippry
                                    li
                                        a(href='/anil-jangir-coupon',target="_blank")
                                            img(src='/images/gas1.jpg', alt='Gas Problem')
                                    li
                                        a(href='/anil-jangir-coupon',target="_blank")
                                            img(src='/images/gas2.jpg', alt='Body Structure')
                                    li
                                        a(href='/anil-jangir-coupon',target="_blank")
                                            img(src='/images/gas3.jpg', alt='Happy To Help')
                            
                            .col-md-12.about-doc-problems
                                    
                                        h2 Experties
                                    .col-md-3
                                        a(href='/anil-jangir-coupon',target="_blank")
                                            .maxheight
                                                
                                                .box_bot
                                                    | Endoscopy 
                                                    
                                    .col-md-3
                                        a(href='/anil-jangir-coupon',target="_blank")
                                            .maxheight
                                                .box_bot
                                                    | Colonoscopy 
                                    .col-md-3
                                        a(href='/anil-jangir-coupon',target="_blank")
                                            .maxheight
                                                .box_bot
                                                    | Vomit blood 
                                    .col-md-3
                                        a(href='/anil-jangir-coupon',target="_blank")
                                            .maxheight
                                                .box_bot
                                                    | Acidity & Abdominal Gas


                                    .col-md-3
                                        a(href='/anil-jangir-coupon',target="_blank")
                                            .maxheight
                                                .box_bot
                                                    |  Hepato-Biliary-Pancreatic 
                                    .col-md-3
                                        a(href='/anil-jangir-coupon',target="_blank")
                                            .maxheight
                                                .box_bot
                                                    | Liver Problems 
                                    .col-md-3
                                        a(href='/anil-jangir-coupon',target="_blank")
                                            .maxheight
                                                .box_bot
                                                    | Gastric Problem 
                                    .col-md-3
                                        a(href='/anil-jangir-coupon',target="_blank")
                                            .maxheight
                                                .box_bot
                                                    |Liver Diseases 
                                    
                                .col-md-12
                                    .grid_12.center
                                        h2 Hot Offers
                                        .text1 Get 20% discount on your first visit, show coupon to doctor and avail discount.
                                        img.ban_img(src='/images/offer.jpg', alt='')
                                    //- .row
                                    //-     .grid_9.prefix_2.center
                                    //-     | Vivamus at magna non nunc tristique rhoncus. Aliquam nibh ante, egestas id dictum a, commodo luctus libero. Praesent faucibus malesuada faucibus. Donec laoreet metus id laoreet malesuada. Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                    //- .grid_12.center
                                    //-     a.btn(href='#') View More
                                .clear
                                

                                
                                    
            //- .col-md-4.no-padding
            //-     include ../../theme_elephant/partials/_genericRightSection
                      
            
    include ../../theme_elephant/partials/_footer

