include ../../theme_cobra/allMixin
include ../../common/_registerReporter
extends ../../theme_cobra/layout
block content
    include ../../theme_cobra/partials/_header
    div(id="sb-site", class="body_wraper_box")
        include ../../theme_cobra/partials/_navArea
        //- +stickySocialShare("","",true)
        div(class="main_content row")
            div(class="content_wraper three_columns_container box-item")
                div(class="twelve columns")
                    #level_top_full
                div(class="twelve columns")
                    div(class="eight columns clearfix home_left_section")
                        .container
                            .row
                                .eight.columns
                                    h1.single-post-title.page-title Support Us
                                    p(style='text-align:justified')
                                    | Nationalist /Social programs will be sponsored in your name/your organization(s) name on the channel. You can spread your views/programs via an established media network. Your/Your group(s) name will show up on that particular program from time to time. Sponsorship rate starts from as low as Rs.1000/- (for 1 minute of programming) to as high as Rs.2000/- (for 1 minute) depending on the type and sort of program. 
                                    
                    .four.columns
                        div(class="twelve columns clearfix")
                            .sidebar.side-bar.right-sidebar
                                include ../../theme_cobra/partials/_genericRightSection
                div(class="content_wraper three_columns_container")
                    div(class="row")
                        #level_bottom_full
                            -if(data['level_bottom_full'] && data['level_bottom_full'].templateData && data['level_bottom_full'].templateData.mixinName){
                                +#{data['level_bottom_full'].templateData.mixinName}(data['level_bottom_full'])
                            -}

        include ../../theme_cobra/partials/_footer
block scripts
    include ../../common/_reporterResources