extends ../../theme_lion/layout
block content
  div#register-page(data-role="page")
    .main-content
        // Login Page Start
        .container
          .row
            .col-md-12
              .cp-login-box.cp-register-form
                .cp-login-form
                   form.register-form
                    ul
                      #err-firstName.error.left-align(style='display:none;') Please enter valid First Name.
                      li.input-group
                        span.input-group-addon
                          i.icon-20
                        input.form-control(type='text', name='firstName' id='firstName' placeholder='First Name')
                      #err-lastName.error.left-align(style='display:none;') Please enter valid Last Name.
                      li.input-group
                        span.input-group-addon
                          i.icon-21
                        input.form-control(type='text', name='lastName' id='lastName' placeholder='Last Name')
                      #err-email.error.left-align(style='display:none;') Please enter valid Email.
                      li.input-group
                        span.input-group-addon
                          i.icon-22
                        input.form-control(type='email', name='email' id='email' placeholder='Email')
                      #err-mobile.error.left-align(style='display:none;') Please enter valid Mobile Number.
                      li.input-group
                        span.input-group-addon
                          i.icon-25
                        input.form-control(type='text', name='mobile_no' id='mobile_no' placeholder='Mobile No')
                      #err-password.error.left-align(style='display:none;') Please enter valid Password.
                      li.input-group
                        span.input-group-addon
                          i.icon-24
                        input.form-control(type='password', name='password' id='password' placeholder='Password')
                      #err-confirm-password.error.left-align(style='display:none;') Please Confirm your Password.
                      li.input-group
                        span.input-group-addon
                          i.icon-24
                        input.form-control(type='password', name='confirm_pass' id='confirm_pass' placeholder='Confirm Password')
                      li
                        input(type='checkbox', name='check[]', value='1')
                        button.btn.btn-submit.js-btn-submit-register.waves-effect.waves-button(type='submit')
                          | Register 
                          i.fa.fa-angle-right
                  .signup
                    a(href='/login') Already a member?  LOGIN NOW
