extends ../../theme_lion/layout
block content
  div#verify-page(data-role="page")
    .main-content
      .container
        .row
          .col-md-12
            .cp-login-box
              .cp-login-form
                form.form-verify
                  #err-common.error.common-error(style='display:none;') Please enter your OTP
                  #mobileNo.heading-message OTP has been sent to #{env.query.mobile}. Please enter and verify
                  ul
                    li.input-group
                      span.input-group-addon
                        i.icon-24
                      input.form-control(type='hidden', name='phoneNo' id='phoneNo' value='#{env.query.mobile}')
                      input.form-control(type='hidden', name='registerId' id='registerId' value='#{env.query.id}')
                      input.form-control(type='text', name='otp' id='otp' placeholder='Enter OTP')
                    button.btn.btn-submit.js-btn-submit-verify.waves-effect.waves-button(type='submit')
                        | Verify OTP
                        i.fa.fa-angle-right

