include ../../theme_zebra/allMixin
extends ../../theme_zebra/layout
block content
   div.container
     include ../../theme_zebra/partials/_header
     include ../../theme_zebra/partials/_navArea
     div#contentSection
        div.row#contact-us-page
              div(class="col-lg-8 col-md-8 col-sm-8")
                  .left_content
                    // start contact area
                    .contact_area
                      h2 Advertise with Us
                      hr(size='1', noshade='noshade', color='#CCCCCC')
                      br
                      #TabbedPanels3.TabbedPanels(style='width:auto;')
                          .TabbedPanelsContentGroup
                              .TabbedPanelsContent
                                  h3 Print
                                  br
                                  | As an inaugural offer we have the following options for you: (per issue)
                                  br
                                  br
                                  table(width='70%', border='0', cellpadding='3', bgcolor='#CCCCCC', cellspacing='1')
                                      tr(bgcolor='white')
                                          td
                                              b POSITION
                                          td
                                              b LOCATION
                                          td
                                              b RATE (Rs
                                              | )
                                          td
                                              b DIMENSION (cms) WxH
                                      tr(bgcolor='white')
                                          td Premium
                                          td Back Cover
                                          td 5 lakhs
                                          td
                                              | 21.6 x 26.7 -Bleed
                                              br
                                              | 19.5 x 25 -Non Bleed
                                      tr(bgcolor='white')
                                          td Premium
                                          td Front Inside Cover
                                          td 4 lakhs
                                          td
                                              | 21.6 x 26.7 -Bleed
                                              br
                                              | 19.5 x 25 -Non Bleed
                                      tr(bgcolor='white')
                                          td Premium
                                          td Back Inside Cover
                                          td 4 lakhs
                                          td
                                              | 21.6 x 26.7 -Bleed
                                              br
                                              | 19.5 x 25 -Non Bleed
                                      tr(bgcolor='white')
                                          td Standard
                                          td Full Page Colour
                                          td 3.5 lakhs
                                          td
                                              | 21.6 x 26.7 -Bleed
                                              br
                                              | 19.5 x 25 -Non Bleed
                                  br
                                  |           Language: English
                                  br
                                  br
                                  |           Frequency: Bimonthly
                                  br
                                  br
                                  |           Total Pages in Magazine: 64
                                  br
                                  br
                                  |           Cover Paper Quality:  170 GSM sinarmas imported art paper 
                                  br
                                  br
                                  |           Inside Paper Quality: 90 GSM sinarmas imported art paper
                                  br
                                  br
                                  |           Initial print run: 15,000 copies
                                  br
                                  br
                                  |           Distribution: All senior level officers of India’s coal, minerals, steel and hydrocarbon sectors; all senior members of Indian Central and State Bureaucracy; all Members of the Indian Parliament; all industry bodies and corporate leaders; national media.
                                  br
                                  br
                                  |           Printing: Offset
                                  br
                                  br
                                  |           Printer:
                                  br
                                  br
                                  b General Terms and Conditions
                                  br
                                  br
                                  |           AGENCY COMMISION : 15% of Gross
                                  br
                                  br
                                  |           PAYMENT (PERIOD AND CONDITIONS) : Payments are due 30 days from the date of invoice. All payments must be made in rupees by crossed cheque in favour of XXX
                                  br
                                  br
                                  |           OVERDUE BILLS : A delinquency charge of 3% per month will be made on any account outstanding for more than 60 days from the date of invoice.
                                  br
                                  br
                                  |           CANCELLATION AND POSTPONEMENT : No cancellation and postponement of the space booked shall be accepted after the deadline for the concerned issue.
                                  br
                                  br
                                  |           CANCELLATION AND POSTPONEMENT : No cancellation and postponement of the space booked shall be accepted after the deadline for the concerned issue.
                                  br
                                  br
                                  |           Advertisements are accepted upon the representation that the advertiser and the agency have the right to publish the advertisement’s content. It is understood that the advertiser and the agency will indemnify and shall not hold the publisher responsible for any loss or expenses arising out of publication of such advertisements, including, without limitation, those resulting from claims of sins of libel, violation of privacy, plagiarism and copyright infringement.
                                  br
                                  br
                                  | Conditions other than rates are subject to change by the publisher without notice. 
                                  br
                                  br
                                  |           The contents of all the advertisements are subject to the approval of the publisher. The publisher reserves the right to carry or cancel any advertisement for any reason at any time.
                                  br
                                  br
                                  | Unless agreed upon in writing, the positioning of all advertisements is at the discretion of the publisher.The publisher shall bear no liability for errors in key numbers, code numbers, the advertiser index, or ad copy typed by the publisher.
                                  br
                                  br
                                  |           Advertisement material(s) received after the closing date (deadline) will not be entitled to the privilege of revision by the advertiser or its agency.
                                  br
                                  br
                                  | All insertion orders are accepted subject to the provisions of our current rate card. Rates are subject to change upon notices from the publisher. Should a change in rates be effected, space reserved may be cancelled by the advertiser or its agency at the time the changes in rtes become effective. In this case, the consent for the same will be obtained afresh. This is subject to the provision that the advertisements published to the date of cancellation are consistent with the appropriate frequency or volume rate. Advertiser or agency cancellation of space reservation in whole or in part for any other reason will result in an adjustment of the differential rates, and subsequent ads under the advertiser’s current contract will be considered as actual space used.
                                  br
                                  br
                                  |           The publisher shall not be liable for any cost or damages, if for any reason, he fails to publish an advertisement.
                                  br
                                  br
                                  | The publisher shall have the right to hold the advertiser and/or its agency jointly and generally liable for such moves as are due and payable to the publisher for any advertisement, which the advertiser ordered and was published.
                                  br
                                  br
                                  | The liability of the publisher is limited only to the direct cost of the advertisement and not for indirect or subsequent damages due to any loss of business or profit.
                                  br
                                  br
                                  | No condition other that set forth in the contract shall be binding upon the publisher, unless specifically agreed to in writing by the publisher. the publisher will not be bound by conditions printed or appearing on order blanks or copy instructions which conflict with the provisions of the rate card.
                                  br
                                  br
                                  |               Incorrect rates or condition or release/insertion order which do not correspond to the rate card will be regarded as errors and the advertisements will be published and charged for at the applicable rates in effect at the time of publication.
                                  br
                                  br
                                  |               All complaints or claims regarding the advertisements published must be submitted in writing within 15 days following the date of publication and sent by registered post or recorded delivery to the publisher.
                                  br
                                  br
                                  | ALL DISPUTES ARE SUBJECT TO THE EXCLUSIVE JURISDICTION OF COMPETENT COURTS IN NEW DELHI,
                              .TabbedPanelsContent
                                  h3 Web
                                  br
                                  table(width='100%', border='0', cellpadding='3', bgcolor='#CCCCCC', cellspacing='1')
                                      tr(bgcolor='white')
                                          
                                          td(align='left', valign='top')
                                              br
                                              ol(type='1', style='line-height:20px;')
                                                  li 700 x 100 banner:$ 150/mo, $ 2400 year
                                                  li 220 x 200 block: $ 150/mo, $ 1500 year
                                                  li 170 x 200 block: $ 120/mo, $ 1200  year
                                                  li 210 x 200 block: $ 140/mo, $ 1400 year
                                                  li 220 x 200 block: $ 150/mo, $ 1500 year
                                      tr(bgcolor='white')
                                          td(align='left', valign='top')
                                              br
                                              ol(type='1', style='line-height:20px;')
                                                  li 220 x 200 block: $150/mo, $1500 year
                                                  li 700 x 100 banner: $150/mo,$2400 year
                                  |            TO ORDER :Click here to Contact Us or Write to 
                                  a.links2(href='mailto:resourcedigest@gmail.com') resourcedigest@gmail.com
                                  br
                                  br
                                  b File information
                                  br
                                  | Image Dimensions : JPEG, GIF and  Flash  files at 72 ppi (pixel per inch)
                                  br
                                  br
                                  b Link
                                  br
                                  | Please include click-through URL information for all ads.',

                      
              div(class="col-lg-4 col-md-4 col-sm-4")
                  aside(class="right_content")
                      include ../../theme_zebra/partials/_homeRightSection
                div(class="col-lg-12 col-md-12 col-sm-12")
                    #level_bottom_full
                        -if(data['level_bottom_full'] && data['level_bottom_full'].templateData && data['level_bottom_full'].templateData.mixinName){
                            +#{data['level_bottom_full'].templateData.mixinName}(data['level_bottom_full'])
                        -}
        include ../../theme_zebra/partials/_footer