.hocal_row.row_main
    h3 Subscribe Mailing List
    .mailing-list
        p
            | By subscribing You will recieve our latest news. Your information will not be shared with anyone.
        hr
        .subscribe-block
            form#subscribe_to_mail
                p
                    input(type='text', name='email', placeholder='Enter your email address')
                p
                    input(type='text', value='', name="name" placeholder='Your name')
                p
            span#subscribe_to_mail_btn_wrap.subscribe-now-wrap
                a#subscribe_to_mail_btn.subscribe-submit-btn Subscribe Now

        #subscribe-error.hide Some Error Occured.
        #subscribe-success.hide Subscribed Successfully.
                