include cart/_cartItems
include cart/_cartPlans
extends cartLayout
block content
    .container#cartpage(data-partner="#{env.partner}",data-planid="#{data.planById[0].id}")
        .page-header
            +cartPlans({"data":data.allPlans,"selectedPlan":data.planById[0]})
            h1
                div(style='float: right; cursor: pointer;')
                    span.glyphicon.glyphicon-shopping-cart.my-cart-icon
                        span.badge.badge-notify.my-cart-badge
            +cartItems({"data":data.cartItems})