#floating-logged-in-menu-container
    .sticky-container-profile-btn
        .float-nav
            a(class="menu-btn mobile-container #{env.isLoggedInUser ? 'logged-in-user': 'non-logged-in-user'}",id="wrapper_button")
                ul
                    li.line
                    li.line
                    li.line
                -if(!env.isLoggedInUser){
                    div(class="fab1 fab-menu-btn", id="masterfab-profile")
                        img(width='32', height='32', class="avatar-img non-logged-in", src="#{env.partnerData.homePageRoot || '/'}images/register-user.png", alt='Menu',title='Menu')
                -}
                div(class="fab1 fab-menu-btn", id="masterfab-profile")
                    img(width='32', height='32', class="avatar-img logged-in", src="#{env.partnerData.homePageRoot || '/'}images/user.png", alt='Menu',title='Menu')
                div(class="backdrop menu")
    .main-nav
        -if(env.isLoggedInUser) {
            +includeElement(data,"logged_in_menu_links")
            
        -} else {
            +includeElement(data,"non_logged_in_menu_links")
                
        -}
        
