div#disqus_thread
script.
    var disqus_config = function () {
        this.page.url = "!{env.pageUrl}"; // Replace PAGE_URL with your page's
        this.page.identifier = "!{env.pageIdentifier}";
    };
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');

    s.src = '//#{env.partnerData.disqus_root_url}/embed.js';

    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
noscript Please enable JavaScript to view the 
    a(href="https://disqus.com/?ref_noscript", rel="nofollow") comments
        powered by Disqus