extends fullPageEpaperLayout
block content
    div#pdf.full-view
        div(id="pdf_content_data", data-src="#{data.resourceUrl}")
        #pdf_content
            include epaperPDFContainer
block script
    script.
        var pdfContent = $("#pdf_content_data");
        if(window.initPDFViewer && pdfContent && pdfContent.length>0){
            window.initPDFViewer(pdfContent.attr("data-src"));
        }