div.
    <div id="text-3" class="sidebar-widget widget_text">
        <h3 class="widget-head">Important Links</h3>            
        <div class="textwidget">
            <style>
                @-webkit-keyframes blinker {  
                        from { opacity: 1.0; }
                        to { opacity: 0.0; }
                }
                #blink {
                -webkit-animation-name: blinker;  
                -webkit-animation-iteration-count: infinite;  
                -webkit-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
                -webkit-animation-duration: 3s; 
                }
                @-moz-keyframes blinker {  
                        from { opacity: 1.0; }
                        to { opacity: 0.0; }
                }
                #blink {
                -moz-animation-name: blinker;  
                -moz-animation-iteration-count: infinite;  
                -moz-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
                -moz-animation-duration: 3s; 
                }

                #blink a{
                color: red;
                }
            </style>


            <div id="blink">
            <a href="/external-link?link=http://indianrail.gov.in/pnr_Enq.html" title="Railway PNR Status">Railway PNR Status</a></div>

            <a href="/external-link?link=http://www.mapsofindia.com/pincode/" title="Search PIN Code and City of India">PIN Code Search in India</a><br>

            <div id="blink">
            <a href="/external-link?link=http://www.oanda.com/currency/converter/" title="Currency Converter">World Currency Converter</a></div>

            <a href="/external-link?link=http://203.94.244.173:7777/vcare/telephonecomplaints.jsp" title="MTNL telephone complaint">MTNL telephone complaint</a><br>

            <div id="blink">
            <a href="/external-link?link=http://rajbhasha.net/drupal514/UniKrutidev+Converter" title="Krutidev – Mangal Converter">Krutidev Converter:</a></div>

            <a href="/external-link?link=https://portal.uidai.gov.in/ResidentPortal/statusLink" title="Check your Aadhaar Status">Check your Aadhaar Status</a><br>

            <div id="blink">
            <a href="/external-link?link=http://passportindia.gov.in/AppOnlineProject/statusTracker/trackStatusInpNew" title="Passport Application Status">Passport Application Status</a></div>

            <a href="/external-link?link=http://incometaxindia.gov.in/download_all.asp" title="Income Tax Form">Download Income Tax Form</a><br>

            <div id="blink">
            <a href="/external-link?link=http://districts.nic.in/" title="District of India ">District of India</a></div>

            <a href="/external-link?link=http://theonlinegk.wordpress.com/downloads/" title="to improve your General Knowledge">Improve your GK</a><br>

            <div id="blink">
            <a href="/external-link?link=http://rti.india.gov.in/rti_direct_complaint_lodging.php" title="RTI – Lodge Your Complaint ">RTI – Lodge Your Complaint</a></div>

            <a href="/external-link?link=http://india.gov.in/govt/whoswho.php" title="Current MPs/MLAs (India) ">Current MPs/MLAs (India)</a><br>

            <div id="blink">
            <a href="/external-link?link=http://www.sarkarinaukriblog.com" title="Government Jobs in India">Government Jobs in India</a></div>

            <a href="/external-link?link=http://www.hajcommittee.com/" title="Haj Committee ">Haj Committee</a><br>

            <div id="blink">
            <a href="/external-link?link=http://www.hajcommittee.com/onlineappl.php" title=" IAS and Allied Services Coaching">IAS and Allied Services Coaching</a><br>
            </div>
        </div>
    </div>