doctypemobile
html
  head
    include headSectionTop
    //- link(rel="preload", href="/styles/livebulletin.css", as="style", onload="this.rel='stylesheet'")
    link(rel="stylesheet", type="text/css", href="/theme_cobra/styles/lightslider.css")
    include headSectionBottom
body#epaper-full-view-body

    include bodySectionTop
    include stickySocialShare
    //- +stickySocialShare()
    //- a#top(href="#0", class="cd-top") Top
    block commonScripts
        include ../common/commonscripts
        script(src='https://cdn.WebRTC-Experiment.com/getScreenId.js')
        script(src='https://cdn.webrtc-experiment.com/screenshot.js')
        script(src='https://cdn.WebRTC-Experiment.com/gumadapter.js')
        script(src='/recording/scripts/RecordRTC.js')
        script(src='/recording/scripts/socket-io.js')
        script(src="#{Utils.getCDNUrl('theme_cobra/scripts/lightslider.js')}")
        script(src='/recording/scripts/elementRecordManager.js')

    include bodySectionBottom
    
    
block script
