
extends liveBulletinLayout

block content
    #liveBulletinCaptureWrapper
        #toCaptureWrapper
            .gllery-wrapper
                -if(data.mainCatNews.data && data.mainCatNews.data.all.length){
                    div#top_carousel
                        -for(var i=0;i<data.mainCatNews.data.all.length;i++){
                            div.item
                                 div.big_image_wrapper
                                    div(class="big_image")
                                        a(href="#{data.mainCatNews.data.all[i].newsUrl}")
                                            !{Utils.getMediaElement(data.mainCatNews.data.all[i],0)}
                                        div(class="image_caption")
                                            h2
                                                a(href="#{data.mainCatNews.data.all[i].newsUrl}")  #{data.mainCatNews.data.all[i].title}
                                  
                            
                        -}
                -}
            .audio-wrapper
            .video-wrapper
        #toActionWrapper
            a#start Start Recording
            a#stop Stop Recording
        #preview Preview
            video#preview-video

