doctypemobile
html
  head
    include headSectionTop
    include headSectionBottom
body#full-screen-catpure(style="overflow:hidden")
    span(style="text-align:center;margin:0px auto;width:100%;")
        a#full-screen-button(onclick="requestFullScreen()",style="padding:20px; width: 200px;background:#ccc;font-size:25px;margin-bottom:10px;") FullScreen
    iframe#capture-frame(src="#{decodeURIComponent(env.query.path)}",style="width:100%;")
    script.
        function requestFullScreen(element) {
            // Supports most browsers and their versions.
            document.getElementById("capture-frame").height=screen.height;
            var element = document.getElementById("capture-frame");
            var requestMethod = element.requestFullScreen || element.webkitRequestFullScreen || element.mozRequestFullScreen || element.msRequestFullScreen;

            if (requestMethod) { // Native full screen.
                requestMethod.call(element);
            } else if (typeof window.ActiveXObject !== "undefined") { // Older IE.
                var wscript = new ActiveXObject("WScript.Shell");
                if (wscript !== null) {
                    wscript.SendKeys("{F11}");
                }
            }
        }

        //- var elem = document.body; // Make the body go full screen.
        //- requestFullScreen(elem);
