
link(rel="stylesheet", type="text/css", href="/styles/selectize.default.css")
link(rel="stylesheet", type="text/css", href="/styles/selectize.css")

input.selectize-wrapper(value="awesome,neat")

    