extends sendEmailLayout
include placeholders/_style1
include placeholders/_style2
include placeholders/_style3
include placeholders/_style4
include placeholders/_style5
include placeholders/_style6
include placeholders/_style7
include placeholders/_style8
include placeholders/_style9


block content
    
    ul.hocal_row(style="width:50%")
        -for(var i=0;i<data.styles.length;i++){
            .hocal_col
                .placeholder_top
                    .hocal_row 
                        span Style: #{data.styles[i]}
                    .hocal_row
                        -var props = {}
                        +#{data.styles[i]}(props)
        -}
    