.p_body.js__p_body.js__fadeout
.popup.js__popup.js__slide_top
    a.p_close.js__p_close(href='#', title='Close')
        span
        span
    .p_content 
        #popup_content
a.js__p_start(href='#')