doctypemobile
html
  head
    include headSectionTop

    - if(environment === 'development') {
        link(rel="preload", href="/styles/sendemail.css", as="style", onload="this.rel='stylesheet'")
            
    - } else {
            link(rel="preload", href="/styles/sendemail.min.c406df16.css", as="style", onload="this.rel='stylesheet'")
    - }
    include headSectionBottom
body
    include bodySectionTop
    //- a#top(href="#0", class="cd-top") Top
    block commonScripts
        - if(environment === 'development') {
            include ../common/commonscripts
            script(src="#{Utils.getCDNUrl('scripts/sendemail.js')}")
            script(async src='https://www.google.com/recaptcha/api.js')
            
        - } else {
            script(src="#{Utils.getCDNUrl('scripts/hocalwirecommon.min.63ec8ced.js')}")
            script(type="text/javascript", src="/scripts/sendemailjs.min.2fe50441.js")
        - }

    include bodySectionBottom
    
    
block script
