div.gallery-resources-loading
    script.
        function createSingleGalleryElement(id){
            return function(){
                var $el = $(id);
                var width = $el.attr("data-width") || 300
                $el.boxify({width: width+"px"});

                initPhotoSwipeFromDOM(id);
                var height1 = $el.offset().top;
                var height2=0;
                var els  = $el.find(".height-gallery-element");
                // alert("h1:"+height1+"els length"+els.length);
                setTimeout(function(){
                    for(var i=0;i<els.length;i++){
                        var h = $(els[i]).offset().top;
                        // alert("h:"+h +" max height:"+height2);
                        if(h>height2){
                            height2=h;
                            // alert(height2);
                        }
                    }
                    var diff = (height2-height1);
                    var style = $el.attr("style");
                    style+=";height:"+(diff+30)+"px;";
                    $el.attr("style",style);
                },500);
                
            };
        }
        function initGallery(){

            var galleryIds = window.galleryIds || [];
            var count = window.allGalleryCount || 1;
            if(count && galleryIds.length<count) {
                setTimeout(initGallery,2000);
                return;
            }
            for(var j=0;j<galleryIds.length;j++){
                createSingleGalleryElement(galleryIds[j])();
           } 
        }
        document.addEventListener("GALLERY_RESOURCES_LOADED", function(e) {
            initGallery();
            
        });

    -if(env.lazyloadResources){
        - if(environment === 'development') {
            link(rel="preload", href="/scripts/gallery/allgallery.css", as="style", onload="this.rel='stylesheet'")
            script(type="text/javascript", src="http://www.youtube.com/player_api")
            script(type="text/javascript", src="/scripts/gallery/allgallery.js")
            script.
                var event = new CustomEvent("GALLERY_RESOURCES_LOADED", { "detail": "ALL GALLERY DEPENDENCIES LOADED" });
                document.dispatchEvent(event);
        - } else {
            link(rel="preload", href="/styles/allgallery.min.6c585702.css", as="style", onload="this.rel='stylesheet'")
            script.
                var loadDeferredStylesGallery = function() {
                    var head = document.getElementsByTagName("head")[0];
                    var s = document.createElement("script");
                    s.type = "text/javascript";
                    s.src = "http://www.youtube.com/player_api";
                    s.addEventListener("load", function (e) {
                        var s1 = document.createElement("script");
                        s1.type = "text/javascript";
                        s1.src = "/scripts/allgalleryjs.min.fd4eee46.js";
                        head.appendChild(s1);
                        s1.addEventListener("load", function (e) {
                            var event = new CustomEvent("GALLERY_RESOURCES_LOADED", { "detail": "ALL GALLERY DEPENDENCIES LOADED"});
                            document.dispatchEvent(event);
                        });
                    }, false);
                
                    head.appendChild(s);
                
                };
                document.addEventListener("RESOURCES_LOADED", function(e) {
                    loadDeferredStylesGallery();
                });
            
        - }
    
    -} else {
        - if(environment === 'development') {
                link(rel="stylesheet", type="text/css", href="/scripts/gallery/allgallery.css")
                script(type="text/javascript", src="http://www.youtube.com/player_api")
                script(type="text/javascript", src="/scripts/gallery/allgallery.js")
                
        - } else {
                link(rel="stylesheet", type="text/css", href="/styles/allgallery.min.6c585702.css")
                script(type="text/javascript", src="http://www.youtube.com/player_api")
                script(type="text/javascript", src="/scripts/allgalleryjs.min.fd4eee46.js")
        - }
        script.
            var event = new CustomEvent("GALLERY_RESOURCES_LOADED", { "detail": "ALL GALLERY DEPENDENCIES LOADED" });
            document.dispatchEvent(event);
    -}
    