extends ../../theme_cat/layout
include ../../theme_cat/allMixin
block content
    .header.container
        include ../../theme_cat/partials/_header
    include ../../theme_cat/partials/_navArea
    div.container
      table(width='100%', border='0', cellspacing='0', cellpadding='0')
        tbody
            tr
                td(align='center', valign='top')
                    table(width='95%', border='0', cellspacing='0', cellpadding='0')
                        tbody
                            tr
                                td(align='left', valign='top')  
                            tr
                                td(align='center', valign='top', style='border-left:#CCCCCC solid 1px; border-right:#CCCCCC solid 1px;  border-top:#CCCCCC solid 1px;')  
                            tr
                                td(align='left', valign='top', style='border-left:#CCCCCC solid 1px; border-right:#CCCCCC solid 1px; padding-left:5px; color:#de7612s; font-size:15px;')
                                    strong  DELHI  JOURNALISTS ASSOCIATION 
                            tr
                                td(colspan='3', align='left', height='25', valign='middle', bgcolor='#de7612', style='color:#ffffff; font-size:15px; padding-left:5px;')
                                    strong President
                            tr
                                td(align='center', valign='top', style='border-left:#CCCCCC solid 1px; border-right:#CCCCCC solid 1px;')
                                    table(width='95%', border='0', cellspacing='0', cellpadding='0', style='border:#CCCCCC solid 1px;')
                                        tbody
                                            tr
                                                td(width='87%', align='left', valign='top', style='color:#333333; font-size:16px; padding-left:5px; line-height:25px;')
                                                    strong Anil Pandey
                                                    br
                                                    |                             Editor
                                                    br
                                                    |                             News Bench
                                                    br
                                                    strong Address :-
                                                    |  :- B088, FF-2, Ramprastha,Ghaziabad, Uttar Pradesh
                                                    br
                                                    strong Phone
                                                    strong Res :-
                                                    strong Off. :-
                                                    strong Mob. :-
                                                    |  09968256956
                                                    br
                                                    strong Email :- 
                                                    | panil07@gmail.com
                                                    br
                                                td(width='13%', align='left', valign='top')
                                                    img(src='/images/anil pandey_1446641165.jpg', height='100', width='100')
                                            tr
                                                td(align='left', valign='top', colspan='2', height='10')
                                    br
                            tr
                                td(align='left', height='25', valign='middle', bgcolor='#de7612', style='color:#ffffff; font-size:15px; padding-left:5px;')
                                    strong  General Secretary 
                            tr
                                td(align='center', valign='top', style='border-left:#CCCCCC solid 1px; border-right:#CCCCCC solid 1px; border-bottom:#CCCCCC solid 1px;')
                                    table(width='95%', border='0', cellspacing='0', cellpadding='0', style='border:#CCCCCC solid 1px;')
                                        tbody
                                            tr
                                                td(width='89%', align='left', valign='top', style='color:#333333; font-size:16px; padding-left:5px; line-height:25px;')
                                                    strong Anand Rana
                                                    br
                                                    |                             Special Correspondent
                                                    br
                                                    |                             Haribhumi
                                                    br
                                                    strong Address :-
                                                    |  5 Kutub Garh, DElhi
                                                    br
                                                    strong Phone
                                                    strong Res :-
                                                    strong Off. :-
                                                    strong Mob. :-
                                                    |  9818246804
                                                    br
                                                    strong Email :- 
                                                    | rana.apr@gmail.com
                                                td(width='11%', align='left', valign='top')
                                                    img(src='/images/anand rana delhi (1)_1446641293.jpg', height='100', width='100')
                                            tr
                                                td(align='left', valign='top', colspan='2', height='10')
                                    br
                            tr
                                td(align='left', valign='top')  
                    table(width='95%', border='0', cellspacing='0', cellpadding='0')
                        tbody
                            tr
                                td(align='left', valign='top', style='border-left:#CCCCCC solid 1px; border-right:#CCCCCC solid 1px; border-top:#CCCCCC solid 1px; padding-left:5px; color:#de7612; font-size:15px;')
                                    strong UTTAR PRADESH  JOURNALISTS ASSOCIATION
                            tr
                                td(colspan='3', align='left', height='25', valign='middle', bgcolor='#de7612', style='color:#ffffff; font-size:15px; padding-left:5px;')
                                    strong President
                            tr
                                td(align='center', valign='top', style='border-left:#CCCCCC solid 1px; border-right:#CCCCCC solid 1px;')
                                    table(width='95%', border='0', cellspacing='0', cellpadding='0', style='border:#CCCCCC solid 1px;')
                                        tbody
                                            tr
                                                td(width='89%', align='left', valign='top', style='color:#333333; font-size:16px; padding-left:5px; line-height:25px;')
                                                    strong Shri Ratan Dixit 
                                                    br
                                                    |                               Executive Editor, Janmorcha
                                                    br
                                                    |                               UPJA
                                                    br
                                                    strong Address :-
                                                    |  646A/ HIG Colony,Mumfordganj, Allahabad-211002 U.P.
                                                    br
                                                    strong Phone
                                                    strong Res :-
                                                    strong Off. :-
                                                    strong Mob. :-
                                                    |  09415616418
                                                    br
                                                    strong Email :- 
                                                    | ratandixit@yahoo.com
                                                    br
                                                td(width='11%', align='left', valign='top')
                                                    img(src='/images/na.png', height='100', width='100')
                                            tr
                                                td(align='left', valign='top', colspan='2', height='10')
                                    br
                            tr
                                td(align='left', height='25', valign='middle', bgcolor='#de7612', style='color:#ffffff; font-size:15px; padding-left:5px;')
                                    strong  General Secretary 
                            tr
                                td(align='center', valign='top', style='border-left:#CCCCCC solid 1px; border-right:#CCCCCC solid 1px; border-bottom:#CCCCCC solid 1px;')
                                    table(width='95%', border='0', cellspacing='0', cellpadding='0', style='border:#CCCCCC solid 1px;')
                                        tbody
                                            tr
                                                td(width='89%', align='left', valign='top', style='color:#333333; font-size:16px; padding-left:5px; line-height:25px;')
                                                    strong Shri Ramesh Chand Jain
                                                    br
                                                    |                               National Union Of Journalists
                                                    br
                                                    |                               Nujindia
                                                    br
                                                    strong Address :-
                                                    |  Near Big Jain Temple Gali Darjiyan, Baraut:250611, Dist : Baghpat UP
                                                    br
                                                    strong Phone
                                                    strong Res :-
                                                    |  N/A 
                                                    strong Off. :-
                                                    |  N/A 
                                                    strong Mob. :-
                                                    |  09319204848
                                                    br
                                                    strong Email :- 
                                                    | rameshchandjn@gmail.com
                                                td(width='11%', align='left', valign='top')
                                                    img(src='/images/na.png', height='100', width='100')
                                            tr
                                                td(align='left', valign='top', colspan='2', height='10')
                                    br
                            tr
                                td(align='left', valign='top')  
                    table(width='95%', border='0', cellspacing='0', cellpadding='0')
                        tbody
                            tr
                                td(align='left', valign='top', style='border-left:#CCCCCC solid 1px; border-right:#CCCCCC solid 1px; border-top:#CCCCCC solid 1px; padding-left:5px; color:#de7612; font-size:15px;')
                                    strong  NATIONAL UNION OF JOURNALISTS  UTTRAKHAND
                            tr
                                td(colspan='3', align='left', height='25', valign='middle', bgcolor='#de7612', style='color:#ffffff; font-size:15px; padding-left:5px;')
                                    strong President
                            tr
                                td(align='center', valign='top', style='border-left:#CCCCCC solid 1px; border-right:#CCCCCC solid 1px; border-bottom:#CCCCCC solid 1px;')
                                    table(width='95%', border='0', cellspacing='0', cellpadding='0', style='border:#CCCCCC solid 1px;')
                                        tbody
                                            tr
                                                td(width='89%', align='left', valign='top', style='color:#333333; font-size:16px; padding-left:5px; line-height:25px;')
                                                    strong Shri Sunil Pandey 
                                                    br
                                                    |                               National Union Of Journalists
                                                    br
                                                    |                               Nujindia
                                                    br
                                                    strong Address :-
                                                    |  Sati Ghaat Kankhal, Haridwar
                                                    br
                                                    strong Phone
                                                    strong Res :-
                                                    |  09319023555 
                                                    strong Off. :-
                                                    |  09319023555 
                                                    strong Mob. :-
                                                    |  09319023555
                                                    br
                                                    strong Email :- 
                                                    | N/A
                                                    br
                                                td(width='11%', align='left', valign='top')
                                                    img(src='/images/na.png', height='100', width='100')
                                            tr
                                                td(align='left', valign='top', colspan='2', height='10')
                                    br
                            tr
                                td(align='left', height='25', valign='middle', bgcolor='#de7612', style='color:#ffffff; font-size:15px; padding-left:5px;')
                                    strong  General Secretary 
                            tr
                                td(align='center', valign='top', style='border-left:#CCCCCC solid 1px; border-right:#CCCCCC solid 1px; border-bottom:#CCCCCC solid 1px;')
                                    table(width='95%', border='0', cellspacing='0', cellpadding='0', style='border:#CCCCCC solid 1px;')
                                        tbody
                                            tr
                                                td(width='89%', align='left', valign='top', style='color:#333333; font-size:16px; padding-left:5px; line-height:25px;')
                                                    strong Shri Ravendra Nath Kaushik
                                                    br
                                                    |                               National Union Of Journalists
                                                    br
                                                    |                               Nujindia
                                                    br
                                                    strong Address :-
                                                    |  M-72,M.M.D.A. Colony,  Kadarpuam,Dehradun
                                                    br
                                                    strong Phone
                                                    strong Res :-
                                                    |  09897006101 
                                                    strong Off. :-
                                                    |  09897006101 
                                                    strong Mob. :-
                                                    |  09897006101
                                                    br
                                                    strong Email :- 
                                                    | N/A
                                                td(width='11%', align='left', valign='top')
                                                    img(src='/images/na.png', height='100', width='100')
                                            tr
                                                td(align='left', valign='top', colspan='2', height='10')
                                    br
                            tr
                                td(align='left', valign='top')  
            tr
                td(align='left', valign='top')  

    // ============FOOTER=============
    #footer