extends ../../theme_cat/layout
include ../../theme_cat/allMixin
block content
    .header.container
        include ../../theme_cat/partials/_header
    include ../../theme_cat/partials/_navArea
    div.container
        .row.mtop15
            .col-md-6
                h3.center.contact-us-wrapper
                    span
                        | Contact Us
                strong(style='padding-left:5px;') CONTACT PERSON : 
                    | MR. MAN MOHAN LOHANI
                    br
                    strong(style='padding-left:5px;') EMAIL ID : 
                    |  NUJINDIA@GMAIL.COM
                    br
                    strong(style='padding-left:5px;') MOBILE NO. : 
                    | +91 - 09711809333
                    br
                    strong(style='padding-left:5px;') PHONE NO. :
                    |  011-23368610
                h4.center
            .col-md-6
                .cp-contactus
                    .cp-contact-form
                          form.material.contact-us-form
                            #success-common.error.common-error(style='display:none;')
                            #err-common.error.common-error(style='display:none;')
                            ul
                                
                                li.input-group
                                    
                                    span.input-group-addon
                                        i.fa.fa-user
                                    input.form-control(name="name", id="name", type='text', placeholder='Name')
                                    #err-name.error.contact-us-error.left-align(style='display:none;') Please enter your name.
                                li.input-group
                                    
                                    span.input-group-addon
                                        i.fa.fa-envelope
                                    input.form-control(name="email", id="email",type='text', placeholder='Email')
                                    #err-email.contact-us-error.error.left-align(style='display:none;') Please enter your email.
                                li.input-group
                                    
                                    span.input-group-addon
                                        i.fa.fa-paperclip
                                    input.form-control(name="subject", id="subject",type='text', placeholder='Subject')
                                    #err-subject.contact-us-error.error.left-align(style='display:none;') Please enter a subject.
                                li.input-group
                                    
                                    span.input-group-addon
                                        i.fa.fa-pencil
                                    textarea.form-control(name="message", id="message",placeholder='Message')
                                    #err-message.error.contact-us-error.left-align(style='display:none;') Please enter your message.
                                li
                                    button.btn.btn-submit.waves-effect.waves-button.js-btn-submit-contact(type='submit')
                                        | Submit 
                                        i.fa.fa-angle-right


    // ============FOOTER=============
    #footer