extends ../../theme_cat/layout
include ../../theme_cat/allMixin
block content
    .header.container
        include ../../theme_cat/partials/_header
    include ../../theme_cat/partials/_navArea
    div.container
        table(width='100%', border='0', cellspacing='0', cellpadding='0')
            tbody
                tr
                    td(align='center', valign='top')
                        table(width='95%', border='0', cellspacing='0', cellpadding='0')
                            tbody
                                tr
                                    td(align='left', valign='top')  
                                tr
                                    td(align='left', valign='top', style='border-left:#CCCCCC solid 1px; border-right:#CCCCCC solid 1px;  border-top:#CCCCCC solid 1px;  padding-left:5px; color:#de7612s; font-size:15px;')
                                        strong WEST BENGAL UNION OF JOURNALISTS 
                                tr
                                    td(colspan='3', align='left', height='25', valign='middle', bgcolor='#de7612', style='color:#ffffff; font-size:15px; padding-left:5px;')
                                        strong President
                                tr
                                    td(align='center', valign='top', style='border-left:#CCCCCC solid 1px; border-right:#CCCCCC solid 1px;')
                                        table(width='95%', border='0', cellspacing='0', cellpadding='0', style='border:#CCCCCC solid 1px;')
                                            tbody
                                                tr
                                                    td(width='87%', align='left', valign='top', style='color:#333333; font-size:16px; padding-left:5px; line-height:25px;')
                                                        strong Shri Probir Chatterjee
                                                        br
                                                        br
                                                        |                             West Bengal Union of Journalists
                                                        br
                                                        strong Address :-
                                                        br
                                                        strong Phone
                                                        strong Res :-
                                                        strong Off. :-
                                                        strong Mob. :-
                                                        |  09332113106
                                                        br
                                                        strong Email :- 
                                                        | probirchatterjee52@gmail.com
                                                        br
                                                    td(width='13%', align='left', valign='top')
                                                        img(src='/images/na.png', height='100', width='100')
                                                tr
                                                    td(align='left', valign='top', colspan='2', height='10')
                                        br
                                tr
                                    td(align='left', height='25', valign='middle', bgcolor='#de7612', style='color:#ffffff; font-size:15px; padding-left:5px;')
                                        strong  General Secretary 
                                tr
                                    td(align='center', valign='top', style='border-left:#CCCCCC solid 1px; border-right:#CCCCCC solid 1px;  border-bottom:#CCCCCC solid 1px;')
                                        table(width='95%', border='0', cellspacing='0', cellpadding='0', style='border:#CCCCCC solid 1px;')
                                            tbody
                                                tr
                                                    td(width='89%', align='left', valign='top', style='color:#333333; font-size:16px; padding-left:5px; line-height:25px;')
                                                        strong Shri Kalyan Pandit
                                                        br
                                                        |                             General Secretary
                                                        br
                                                        |                             West Bengal Union of Journalists
                                                        br
                                                        strong Address :-
                                                        |  -
                                                        br
                                                        strong Phone
                                                        strong Res :-
                                                        |  - 
                                                        strong Off. :-
                                                        |  - 
                                                        strong Mob. :-
                                                        |  -
                                                        br
                                                        strong Email :- 
                                                        | wbujofficial@gmail.com
                                                    td(width='11%', align='left', valign='top')
                                                        img(src='/images/na.png', height='100', width='100')
                                                tr
                                                    td(align='left', valign='top', colspan='2', height='10')
                                        br
                                tr
                                    td(align='left', valign='top')  
                        table(width='95%', border='0', cellspacing='0', cellpadding='0')
                            tbody
                                tr
                                    td(align='left', valign='top', style='border-left:#CCCCCC solid 1px; border-right:#CCCCCC solid 1px; border-top:#CCCCCC solid 1px;   padding-left:5px; color:#de7612; font-size:15px;')
                                        strong ORISSA UNION OF JOURNALISTS 
                                tr
                                    td(colspan='3', align='left', height='25', valign='middle', bgcolor='#de7612', style='color:#ffffff; font-size:15px; padding-left:5px;')
                                        strong President
                                tr
                                    td(align='center', valign='top', style='border-left:#CCCCCC solid 1px; border-right:#CCCCCC solid 1px;')
                                        table(width='95%', border='0', cellspacing='0', cellpadding='0', style='border:#CCCCCC solid 1px;')
                                            tbody
                                                tr
                                                    td(width='89%', align='left', valign='top', style='color:#333333; font-size:16px; padding-left:5px; line-height:25px;')
                                                        strong Prakash Chandra Panigrahi
                                                        br
                                                        br
                                                        |                               OUJ
                                                        br
                                                        strong Address :-
                                                        |  Gayatri Nagar, Ambapua,      Berhampur-760010, Dist: Ganjam
                                                        br
                                                        strong Phone
                                                        strong Res :-
                                                        |  0680-242474 
                                                        strong Off. :-
                                                        strong Mob. :-
                                                        |  9437074165/9861075225
                                                        br
                                                        strong Email :- 
                                                        | pgrprakash2009@gmail.com
                                                        br
                                                    td(width='11%', align='left', valign='top')
                                                        img(src='/images/na.png', height='100', width='100')
                                                tr
                                                    td(align='left', valign='top', colspan='2', height='10')
                                        br
                                tr
                                    td(align='left', height='25', valign='middle', bgcolor='#de7612', style='color:#ffffff; font-size:15px; padding-left:5px;')
                                        strong  General Secretary 
                                tr
                                    td(align='center', valign='top', style='border-left:#CCCCCC solid 1px; border-right:#CCCCCC solid 1px;  border-bottom:#CCCCCC solid 1px;')
                                        table(width='95%', border='0', cellspacing='0', cellpadding='0', style='border:#CCCCCC solid 1px;')
                                            tbody
                                                tr
                                                    td(width='89%', align='left', valign='top', style='color:#333333; font-size:16px; padding-left:5px; line-height:25px;')
                                                        strong Ajay Kumar Sahu
                                                        br
                                                        br
                                                        |                               OUJ
                                                        br
                                                        strong Address :-
                                                        |  Samarpana Kuteera,   House No.-SE/348,   Nandapur Road,      Semiliguda-764036, 
                                                        br
                                                        strong Phone
                                                        strong Res :-
                                                        |  06853-225900  
                                                        strong Off. :-
                                                        strong Mob. :-
                                                        |  9437090954/9692492193
                                                        br
                                                        strong Email :- 
                                                        | ak.ajay.sahu@gmail.com
                                                    td(width='11%', align='left', valign='top')
                                                        img(src='/images/na.png', height='100', width='100')
                                                tr
                                                    td(align='left', valign='top', colspan='2', height='10')
                                        br
                                tr
                                    td(align='left', valign='top')  
                        table(width='95%', border='0', cellspacing='0', cellpadding='0')
                            tbody
                                tr
                                    td(align='left', valign='top', style='border-left:#CCCCCC solid 1px; border-right:#CCCCCC solid 1px;  border-top:#CCCCCC solid 1px;   padding-left:5px; color:#de7612; font-size:15px;')
                                        strong JHARKHAND UNION OF JOURNALISTS 
                                tr
                                    td(colspan='3', align='left', height='25', valign='middle', bgcolor='#de7612', style='color:#ffffff; font-size:15px; padding-left:5px;')
                                        strong President
                                tr
                                    td(align='center', valign='top', style='border-left:#CCCCCC solid 1px; border-right:#CCCCCC solid 1px;')
                                        table(width='95%', border='0', cellspacing='0', cellpadding='0', style='border:#CCCCCC solid 1px;')
                                            tbody
                                                tr
                                                    td(width='89%', align='left', valign='top', style='color:#333333; font-size:16px; padding-left:5px; line-height:25px;')
                                                        strong Shri Rajat Kumar Gupta 
                                                        br
                                                        |                               National Union Of Journalists
                                                        br
                                                        |                               Nujindia
                                                        br
                                                        strong Address :-
                                                        |  8, R.G. Street, Tharpakhna,Ranchi -834001, Jharkhand.
                                                        br
                                                        strong Phone
                                                        strong Res :-
                                                        |  09431172035  
                                                        strong Off. :-
                                                        |  09431172035  
                                                        strong Mob. :-
                                                        |  09431172035 
                                                        br
                                                        strong Email :- 
                                                        | rajatranchi@gmail.com 
                                                        br
                                                    td(width='11%', align='left', valign='top')
                                                        img(src='/images/na.png', height='100', width='100')
                                                tr
                                                    td(align='left', valign='top', colspan='2', height='10')
                                        br
                                tr
                                    td(align='left', valign='top')  
                        table(width='95%', border='0', cellspacing='0', cellpadding='0')
                            tbody
                                tr
                                    td(align='left', valign='top', style='border-left:#CCCCCC solid 1px; border-right:#CCCCCC solid 1px;  border-top:#CCCCCC solid 1px;  padding-left:5px; color:#de7612; font-size:15px;')
                                        strong NATIONAL UNION OF JOURNALISTS BIHAR 
                                tr
                                    td(colspan='3', align='left', height='25', valign='middle', bgcolor='#de7612', style='color:#ffffff; font-size:15px; padding-left:5px;')
                                        strong President
                                tr
                                    td(align='center', valign='top', style='border-left:#CCCCCC solid 1px; border-right:#CCCCCC solid 1px;')
                                        table(width='95%', border='0', cellspacing='0', cellpadding='0', style='border:#CCCCCC solid 1px;')
                                            tbody
                                                tr
                                                    td(width='89%', align='left', valign='top', style='color:#333333; font-size:16px; padding-left:5px; line-height:25px;')
                                                        strong Shri R.K.Vibhakar 
                                                        br
                                                        |                               Bihar News
                                                        br
                                                        |                               Nujindia
                                                        br
                                                        strong Address :-
                                                        |  6, IAS Colony Kidwaipuri, Patna
                                                        br
                                                        strong Phone
                                                        strong Res :-
                                                        |  09431019703  
                                                        strong Off. :-
                                                        |  09431019703  
                                                        strong Mob. :-
                                                        |  09431019703 
                                                        br
                                                        strong Email :- 
                                                        | rkb70@yahoo.com 
                                                        br
                                                    td(width='11%', align='left', valign='top')
                                                        img(src='/images/na.png', height='100', width='100')
                                                tr
                                                    td(align='left', valign='top', colspan='2', height='10')
                                        br
                                tr
                                    td(align='left', height='25', valign='middle', bgcolor='#de7612', style='color:#ffffff; font-size:15px; padding-left:5px;')
                                        strong  General Secretary 
                                tr
                                    td(align='center', valign='top', style='border-left:#CCCCCC solid 1px; border-right:#CCCCCC solid 1px;  border-bottom:#CCCCCC solid 1px;')
                                        table(width='95%', border='0', cellspacing='0', cellpadding='0', style='border:#CCCCCC solid 1px;')
                                            tbody
                                                tr
                                                    td(width='89%', align='left', valign='top', style='color:#333333; font-size:16px; padding-left:5px; line-height:25px;')
                                                        strong Shri Rakesh Praveer
                                                        br
                                                        |                               National Union Of Journalists
                                                        br
                                                        |                               Nujindia
                                                        br
                                                        strong Address :-
                                                        |  ISI Colony, Ambedkar path,Near Jagdev Path, Patna-800014
                                                        br
                                                        strong Phone
                                                        strong Res :-
                                                        |  09334333950  
                                                        strong Off. :-
                                                        |  09334333950  
                                                        strong Mob. :-
                                                        |  09334333950 
                                                        br
                                                        strong Email :- 
                                                        | rakeshpravir40@gmail.com
                                                    td(width='11%', align='left', valign='top')
                                                        img(src='/images/na.png', height='100', width='100')
                                                tr
                                                    td(align='left', valign='top', colspan='2', height='10')
                                        br
                                tr
                                    td(align='left', valign='top')  
                        table(width='95%', border='0', cellspacing='0', cellpadding='0')
                            tbody
                                tr
                                    td(align='left', valign='top', style='border-left:#CCCCCC solid 1px; border-top:#CCCCCC solid 1px;    border-right:#CCCCCC solid 1px; padding-left:5px; color:#de7612; font-size:15px;')
                                        strong JOURNALISTS ASSOCIATION OF ASSAM 
                                tr
                                    td(colspan='3', align='left', height='25', valign='middle', bgcolor='#de7612', style='color:#ffffff; font-size:15px; padding-left:5px;')
                                        strong President
                                tr
                                    td(align='center', valign='top', style='border-left:#CCCCCC solid 1px; border-right:#CCCCCC solid 1px;')
                                        table(width='95%', border='0', cellspacing='0', cellpadding='0', style='border:#CCCCCC solid 1px;')
                                            tbody
                                                tr
                                                    td(width='89%', align='left', valign='top', style='color:#333333; font-size:16px; padding-left:5px; line-height:25px;')
                                                        strong Shri Dalim Phukan
                                                        br
                                                        br
                                                        br
                                                        strong Address :-
                                                        |  Guwahati, Assam
                                                        br
                                                        strong Phone
                                                        strong Res :-
                                                        strong Off. :-
                                                        strong Mob. :-
                                                        br
                                                        strong Email :- 
                                                        br
                                                    td(width='11%', align='left', valign='top')
                                                        img(src='/images/na.png', height='100', width='100')
                                                tr
                                                    td(align='left', valign='top', colspan='2', height='10')
                                        br
                                tr
                                    td(align='left', height='25', valign='middle', bgcolor='#de7612', style='color:#ffffff; font-size:15px; padding-left:5px;')
                                        strong  General Secretary 
                                tr
                                    td(align='center', valign='top', style='border-left:#CCCCCC solid 1px; border-right:#CCCCCC solid 1px;  border-bottom:#CCCCCC solid 1px;')
                                        table(width='95%', border='0', cellspacing='0', cellpadding='0', style='border:#CCCCCC solid 1px;')
                                            tbody
                                                tr
                                                    td(width='89%', align='left', valign='top', style='color:#333333; font-size:16px; padding-left:5px; line-height:25px;')
                                                        strong Shri Bhupen Goswami
                                                        br
                                                        |                               Editor In Chief
                                                        br
                                                        |                               The Assam News Network (ANN)
                                                        br
                                                        strong Address :-
                                                        |  House No- 49,Jilika Path ,  Panjabari, Baghar Bori, Near Govt. Homieopethic Collage, Panjabari, Guwa
                                                        br
                                                        strong Phone
                                                        strong Res :-
                                                        |   098643-01664, 
                                                        strong Off. :-
                                                        |  099570-62495 
                                                        strong Mob. :-
                                                        |  09854072296
                                                        br
                                                        strong Email :- 
                                                        | goswamibhupen@gmail.com / mr.bhupengoswami@rediffm
                                                    td(width='11%', align='left', valign='top')
                                                        img(src='/images/na.png', height='100', width='100')
                                                tr
                                                    td(align='left', valign='top', colspan='2', height='10')
                                        br
                                tr
                                    td(align='left', valign='top')  
                        table(width='95%', border='0', cellspacing='0', cellpadding='0')
                            tbody
                                tr
                                    td(align='left', valign='top', style='border-left:#CCCCCC solid 1px; border-top:#CCCCCC solid 1px;   border-right:#CCCCCC solid 1px; padding-left:5px; color:#de7612; font-size:15px;')
                                        strong TRIPURA UNION OF WORKING JOURNALISTS 
                                tr
                                    td(colspan='3', align='left', height='25', valign='middle', bgcolor='#de7612', style='color:#ffffff; font-size:15px; padding-left:5px;')
                                        strong President
                                tr
                                    td(align='center', valign='top', style='border-left:#CCCCCC solid 1px; border-right:#CCCCCC solid 1px;')
                                        table(width='95%', border='0', cellspacing='0', cellpadding='0', style='border:#CCCCCC solid 1px;')
                                            tbody
                                                tr
                                                    td(width='89%', align='left', valign='top', style='color:#333333; font-size:16px; padding-left:5px; line-height:25px;')
                                                        strong Shri Ashish Chaudhuri 
                                                        br
                                                        |                               Newspaper
                                                        br
                                                        |                               Dainik Ganadoot 
                                                        br
                                                        strong Address :-
                                                        |  C/O-Lt Saibal Bhattacharjee, Bhattapukur, PO-AD Nagar, Tripura-799003 
                                                        br
                                                        strong Phone
                                                        strong Res :-
                                                        |  09862217611  
                                                        strong Off. :-
                                                        |  09862217611  
                                                        strong Mob. :-
                                                        |  09862217611 
                                                        br
                                                        strong Email :- 
                                                        | N/A
                                                        br
                                                    td(width='11%', align='left', valign='top')
                                                        img(src='/images/na.png', height='100', width='100')
                                                tr
                                                    td(align='left', valign='top', colspan='2', height='10')
                                        br
                                tr
                                    td(align='left', height='25', valign='middle', bgcolor='#de7612', style='color:#ffffff; font-size:15px; padding-left:5px;')
                                        strong  General Secretary 
                                tr
                                    td(align='center', valign='top', style='border-left:#CCCCCC solid 1px; border-right:#CCCCCC solid 1px;  border-bottom:#CCCCCC solid 1px;')
                                        table(width='95%', border='0', cellspacing='0', cellpadding='0', style='border:#CCCCCC solid 1px;')
                                            tbody
                                                tr
                                                    td(width='89%', align='left', valign='top', style='color:#333333; font-size:16px; padding-left:5px; line-height:25px;')
                                                        strong Shri Prasanta Chkraborty
                                                        br
                                                        |                               Newspaper
                                                        br
                                                        |                               Dainik Arohan 
                                                        br
                                                        strong Address :-
                                                        |  Palace Compound, PO-Agartala Dist-West  Tripura-799001 
                                                        br
                                                        strong Phone
                                                        strong Res :-
                                                        |  09436926360 
                                                        strong Off. :-
                                                        |  09863153653 
                                                        strong Mob. :-
                                                        |  09774794509 
                                                        br
                                                        strong Email :- 
                                                        | pkc1967k@gmail.com,pc1967@rediffmail.com
                                                    td(width='11%', align='left', valign='top')
                                                        img(src='/images/na.png', height='100', width='100')
                                                tr
                                                    td(align='left', valign='top', colspan='2', height='10')
                                        br
                                tr
                                    td(align='left', valign='top')  
                        table(width='95%', border='0', cellspacing='0', cellpadding='0')
                            tbody
                                tr
                                    td(align='left', valign='top', style='border-left:#CCCCCC solid 1px;  border-top:#CCCCCC solid 1px;  border-right:#CCCCCC solid 1px; padding-left:5px; color:#de7612; font-size:15px;')
                                        strong SIKKIM UNION OF JOURNALISTS 
                                tr
                                    td(colspan='3', align='left', height='25', valign='middle', bgcolor='#de7612', style='color:#ffffff; font-size:15px; padding-left:5px;')
                                        strong President
                                tr
                                    td(align='center', valign='top', style='border-left:#CCCCCC solid 1px; border-right:#CCCCCC solid 1px;')
                                tr
                                    td(align='left', height='25', valign='middle', bgcolor='#de7612', style='color:#ffffff; font-size:15px; padding-left:5px;')
                                        strong  General Secretary 
                                tr
                                    td(align='center', valign='top', style='border-left:#CCCCCC solid 1px; border-right:#CCCCCC solid 1px;  border-bottom:#CCCCCC solid 1px;')
                                tr
                                    td(align='left', valign='top')  
                                tr
                                    td(align='left', valign='top')  
                tr
                    td(align='left', valign='top')  
    // ============FOOTER=============
    #footer