extends ../../theme_cat/layout
include ../../theme_cat/allMixin
block content
    .header.container
        include ../../theme_cat/partials/_header
    include ../../theme_cat/partials/_navArea
    div.container.table-responsive
        table(width='95%', border='0', cellspacing='0', cellpadding='0',class="table table-bordered table-hover")
            tbody
                tr
                    td(align='left', valign='top')  
                tr
                    td(align='center', valign='top', style='border:#CCCCCC solid 1px; border-bottom:none;')  
                tr
                    td(align='left', valign='top', style='border-left:#CCCCCC solid 1px; border-right:#CCCCCC solid 1px; padding-left:5px; color:#de7612; font-size:20px;')
                        strong NUJ (I)  OFFICE BEARERS 
                tr
                    td(align='center', valign='top', style='border-left:#CCCCCC solid 1px; border-right:#CCCCCC solid 1px;')  
                tr
                    td(colspan='3', align='left', height='25', valign='middle', bgcolor='#de7612', style='color:#ffffff; font-size:20px; padding-left:25px;')
                        strong Executive members
                tr
                    td(align='center', valign='top', style='border-left:#CCCCCC solid 1px; border-right:#CCCCCC solid 1px;')
                        table(width='95%', border='0', cellspacing='0', cellpadding='0', style='border:#CCCCCC solid 1px;')
                            tbody
                                tr
                                    td(width='73%', align='left', valign='top', style='color:#333333; font-size:16px; padding-left:5px; line-height:25px;')
                                        strong Mr. Atul Arora 
                                        br
                                        |                       Editor
                                        br
                                        |                        Upbhokta Jagriti
                                        br
                                        strong Address :-
                                        |  8, CD, Karni Colony, Vijay Badi,  Path No.7, Murlipura, Jaipur.
                                        br
                                        strong Res :-
                                        |  N/A 
                                        strong Office :-
                                        |  0141-6543888 
                                        strong Mobile :-
                                        |  09414056869
                                        br
                                        strong Email :- 
                                        | satisfactioncomputer@yahoo.co.in
                                    td(width='27%', align='left', valign='top')
                                        img(src='/images/3_1416307113.jpg', height='150', width='150')
                                tr
                                    td(align='left', valign='top', colspan='2', height='10')
                        br
                        table(width='95%', border='0', cellspacing='0', cellpadding='0', style='border:#CCCCCC solid 1px;')
                            tbody
                                tr
                                    td(width='73%', align='left', valign='top', style='color:#333333; font-size:16px; padding-left:5px; line-height:25px;')
                                        strong Shri Bade Prabakar
                                        br
                                        |                       Swarna Andhra 
                                        br
                                        br
                                        strong Address :-
                                        |  M.H.School Road. Machilipatnam, District- Krishna, Andhra Pradesh
                                        br
                                        strong Res :-
                                        |   09393921442 
                                        strong Office :-
                                        |  N/A 
                                        strong Mobile :-
                                        |  08672-230350
                                        br
                                        strong Email :- 
                                        | badeprabhakar@ymail.com
                                    td(width='27%', align='left', valign='top')
                                        img(src='/images/3_1416307256.jpg', height='150', width='150')
                                tr
                                    td(align='left', valign='top', colspan='2', height='10')
                        br
                        table(width='95%', border='0', cellspacing='0', cellpadding='0', style='border:#CCCCCC solid 1px;')
                            tbody
                                tr
                                    td(width='73%', align='left', valign='top', style='color:#333333; font-size:16px; padding-left:5px; line-height:25px;')
                                        strong Shri Balmukund Bharti
                                        br
                                        |                       Senior journalist,
                                        br
                                        br
                                        strong Address :-
                                        |  179/4 Professars Colony Bhopal- 462002
                                        br
                                        strong Res :-
                                        |  N/A 
                                        strong Office :-
                                        |  N/A 
                                        strong Mobile :-
                                        |  09406527985
                                        br
                                        strong Email :- 
                                        | bharti.balmukund@gmail.com
                                    td(width='27%', align='left', valign='top')
                                        img(src='/images/na.png', height='150', width='150')
                                tr
                                    td(align='left', valign='top', colspan='2', height='10')
                        br
                        table(width='95%', border='0', cellspacing='0', cellpadding='0', style='border:#CCCCCC solid 1px;')
                            tbody
                                tr
                                    td(width='73%', align='left', valign='top', style='color:#333333; font-size:16px; padding-left:5px; line-height:25px;')
                                        strong Shri Mohamad Irfan
                                        br
                                        |                       BUREAU CHIEF
                                        br
                                        |                       DAILY VISHWA MANAV
                                        br
                                        strong Address :-
                                        |  95, Bahadurpura Jail Road SHAHJAHANPUR (U.P.) - 242 001
                                        br
                                        strong Res :-
                                        |  09415442674 
                                        strong Office :-
                                        |  (05842)-223480 
                                        strong Mobile :-
                                        |  9793642444   
                                        br
                                        strong Email :- 
                                        | mohd.irfan.spn@gmail.com
                                    td(width='27%', align='left', valign='top')
                                        img(src='/images/4_1416307816.jpg', height='150', width='150')
                                tr
                                    td(align='left', valign='top', colspan='2', height='10')
                        br
                        table(width='95%', border='0', cellspacing='0', cellpadding='0', style='border:#CCCCCC solid 1px;')
                            tbody
                                tr
                                    td(width='73%', align='left', valign='top', style='color:#333333; font-size:16px; padding-left:5px; line-height:25px;')
                                        strong Shri Pramod Goswami
                                        br
                                        |                       Special Correspondent PTI
                                        br
                                        |                       Nujindia
                                        br
                                        strong Address :-
                                        |   A-1205, OCR Building,  Husainganj, Lucknow : 226001
                                        br
                                        strong Res :-
                                        |  N/A 
                                        strong Office :-
                                        |  N/A 
                                        strong Mobile :-
                                        |  09415107096 
                                        br
                                        strong Email :- 
                                        | ptilko@gmail.com
                                    td(width='27%', align='left', valign='top')
                                        img(src='/images/5_1416308176.jpg', height='150', width='150')
                                tr
                                    td(align='left', valign='top', colspan='2', height='10')
                        br
                        table(width='95%', border='0', cellspacing='0', cellpadding='0', style='border:#CCCCCC solid 1px;')
                            tbody
                                tr
                                    td(width='73%', align='left', valign='top', style='color:#333333; font-size:16px; padding-left:5px; line-height:25px;')
                                        strong Mr. Pramod Mujumdar
                                        br
                                        |                       National Union Of Journalists
                                        br
                                        |                       Nujindia
                                        br
                                        strong Address :-
                                        |  8, Gurudwara Rakabganj Road, New Delhi : 110001
                                        br
                                        strong Res :-
                                        |  N/A 
                                        strong Office :-
                                        |  011-23356595 
                                        strong Mobile :-
                                        |  9811120170
                                        br
                                        strong Email :- 
                                        | prmd_mujumdar@yahoo.com
                                    td(width='27%', align='left', valign='top')
                                        img(src='/images/P MAJUMDAR_1446038586.jpg', height='150', width='150')
                                tr
                                    td(align='left', valign='top', colspan='2', height='10')
                        br
                        table(width='95%', border='0', cellspacing='0', cellpadding='0', style='border:#CCCCCC solid 1px;')
                            tbody
                                tr
                                    td(width='73%', align='left', valign='top', style='color:#333333; font-size:16px; padding-left:5px; line-height:25px;')
                                        strong Shri Ram Bhuwan Singh Kushwah
                                        br
                                        |                       Group Editor
                                        br
                                        |                       See Times, Madhya Pradesh
                                        br
                                        strong Address :-
                                        |  E-100/44 Shivaji Nagar Bhopal
                                        br
                                        strong Res :-
                                        |  N/A 
                                        strong Office :-
                                        |  N/A 
                                        strong Mobile :-
                                        |  09425006350
                                        br
                                        strong Email :- 
                                        | rambhuwansingh@gmail.com
                                    td(width='27%', align='left', valign='top')
                                        img(src='/images/5_1416308325.jpg', height='150', width='150')
                                tr
                                    td(align='left', valign='top', colspan='2', height='10')
                        br
                        table(width='95%', border='0', cellspacing='0', cellpadding='0', style='border:#CCCCCC solid 1px;')
                            tbody
                                tr
                                    td(width='73%', align='left', valign='top', style='color:#333333; font-size:16px; padding-left:5px; line-height:25px;')
                                        strong Shri Pratibha Shukla
                                        br
                                        |                       SR. CORRESPONDENT 
                                        br
                                        |                       JANSATTA
                                        br
                                        strong Address :-
                                        |  E-225 ,POCKET ONE,MAYUR VIHAR PHASE:1  DELHI 110091
                                        br
                                        strong Res :-
                                        |  N/A 
                                        strong Office :-
                                        |  N/A 
                                        strong Mobile :-
                                        |  09871025550
                                        br
                                        strong Email :- 
                                        | pratibhashukla@hotmail.com, pratibha.shukla11@gmai
                                    td(width='27%', align='left', valign='top')
                                        img(src='/images/7_1416309344.jpg', height='150', width='150')
                                tr
                                    td(align='left', valign='top', colspan='2', height='10')
                        br
                        table(width='95%', border='0', cellspacing='0', cellpadding='0', style='border:#CCCCCC solid 1px;')
                            tbody
                                tr
                                    td(width='73%', align='left', valign='top', style='color:#333333; font-size:16px; padding-left:5px; line-height:25px;')
                                        strong Manoj Kumar Mishra 
                                        br
                                        |                       Metro Editor, Jansatta
                                        br
                                        br
                                        strong Address :-
                                        |  D-304, Jansatta Apartments, Sec 9, Vasundhara, Ghaziabad
                                        br
                                        strong Res :-
                                        strong Office :-
                                        strong Mobile :-
                                        |  09810295833
                                        br
                                        strong Email :- 
                                        | manojjijansatta@hotmail.com
                                    td(width='27%', align='left', valign='top')
                                        img(src='/images/na.png', height='150', width='150')
                                tr
                                    td(align='left', valign='top', colspan='2', height='10')
                        br
                        table(width='95%', border='0', cellspacing='0', cellpadding='0', style='border:#CCCCCC solid 1px;')
                            tbody
                                tr
                                    td(width='73%', align='left', valign='top', style='color:#333333; font-size:16px; padding-left:5px; line-height:25px;')
                                        strong Lalit Sharma
                                        br
                                        |                       Editor, Daily Lokjeewan
                                        br
                                        br
                                        strong Address :-
                                        |  14/233 Kaveri Path, Mansarowar, Jaipur
                                        br
                                        strong Res :-
                                        |  0141-2373415  
                                        strong Office :-
                                        |  0141-3155281  
                                        strong Mobile :-
                                        |  08824768281
                                        br
                                        strong Email :- 
                                        | lalitsharmajpr@gmail.com
                                    td(width='27%', align='left', valign='top')
                                        img(src='/images/LALIT JI rajasthan_1446039068.jpg', height='150', width='150')
                                tr
                                    td(align='left', valign='top', colspan='2', height='10')
                        br
                        table(width='95%', border='0', cellspacing='0', cellpadding='0', style='border:#CCCCCC solid 1px;')
                            tbody
                                tr
                                    td(width='73%', align='left', valign='top', style='color:#333333; font-size:16px; padding-left:5px; line-height:25px;')
                                        strong Shri Haladhar Dhir
                                        br
                                        |                       Chalapatha
                                        br
                                        br
                                        strong Address :-
                                        |  D-84, Jayadev Vihar, Bhubaneswar-751013, Dist-Khurdha (Odisha),                                     
                                        br
                                        strong Res :-
                                        strong Office :-
                                        strong Mobile :-
                                        |  09438129508 ,
                                        br
                                        strong Email :- 
                                        | haladhar.dhir@gmail.com
                                    td(width='27%', align='left', valign='top')
                                        img(src='/images/na.png', height='150', width='150')
                                tr
                                    td(align='left', valign='top', colspan='2', height='10')
                        br
                        table(width='95%', border='0', cellspacing='0', cellpadding='0', style='border:#CCCCCC solid 1px;')
                            tbody
                                tr
                                    td(width='73%', align='left', valign='top', style='color:#333333; font-size:16px; padding-left:5px; line-height:25px;')
                                        strong Richhpal Pareek,
                                        br
                                        |                       Dainik Jan Jagrati Paksh,
                                        br
                                        br
                                        strong Address :-
                                        |  50, Dhanyavaad, Dostpura,    Civil Lines, Kota
                                        br
                                        strong Res :-
                                        strong Office :-
                                        strong Mobile :-
                                        |  09414330655, 
                                        br
                                        strong Email :- 
                                        | richhpalpareek@gmail.com
                                    td(width='27%', align='left', valign='top')
                                        img(src='/images/RICHCHPAL PAREEK_1446039789.jpg', height='150', width='150')
                                tr
                                    td(align='left', valign='top', colspan='2', height='10')
                        br
                        table(width='95%', border='0', cellspacing='0', cellpadding='0', style='border:#CCCCCC solid 1px;')
                            tbody
                                tr
                                    td(width='73%', align='left', valign='top', style='color:#333333; font-size:16px; padding-left:5px; line-height:25px;')
                                        strong Manohar Singh
                                        br
                                        |                       Cheif news coordinator, PTI Bhasha
                                        br
                                        br
                                        strong Address :-
                                        br
                                        strong Res :-
                                        strong Office :-
                                        strong Mobile :-
                                        |  9899242243, 
                                        br
                                        strong Email :- 
                                        | post2manohar@gmail.com
                                    td(width='27%', align='left', valign='top')
                                        img(src='/images/na.png', height='150', width='150')
                                tr
                                    td(align='left', valign='top', colspan='2', height='10')
                        br
                        table(width='95%', border='0', cellspacing='0', cellpadding='0', style='border:#CCCCCC solid 1px;')
                            tbody
                                tr
                                    td(width='73%', align='left', valign='top', style='color:#333333; font-size:16px; padding-left:5px; line-height:25px;')
                                        strong Deepak Agnihotri, 
                                        br
                                        |                       Aaj
                                        br
                                        br
                                        strong Address :-
                                        |  Patel Nagar Near Tulsi Dham  Kalpi Road, ORAI (JALAUN), PIN - 285001, U.P.
                                        br
                                        strong Res :-
                                        strong Office :-
                                        strong Mobile :-
                                        |  09415169705, 08604727387
                                        br
                                        strong Email :- 
                                        | aajorai@gmail.com
                                    td(width='27%', align='left', valign='top')
                                        img(src='/images/DEEPAK AGNIHOTRIA_1446124235.jpg', height='150', width='150')
                                tr
                                    td(align='left', valign='top', colspan='2', height='10')
                        br
                        table(width='95%', border='0', cellspacing='0', cellpadding='0', style='border:#CCCCCC solid 1px;')
                            tbody
                                tr
                                    td(width='73%', align='left', valign='top', style='color:#333333; font-size:16px; padding-left:5px; line-height:25px;')
                                        strong Ajay Kumar 
                                        br
                                        |                       Bureau Chief, Prabha Sakshi
                                        br
                                        br
                                        strong Address :-
                                        |  Maya Niwas, 255/299, Kundari, Rakabganj, Lucknow226004
                                        br
                                        strong Res :-
                                        strong Office :-
                                        strong Mobile :-
                                        |  009335566111
                                        br
                                        strong Email :- 
                                        | ajaimayanews@gmail.com
                                    td(width='27%', align='left', valign='top')
                                        img(src='/images/ajai kumar lko_1446040280.jpg', height='150', width='150')
                                tr
                                    td(align='left', valign='top', colspan='2', height='10')
                        br
                        table(width='95%', border='0', cellspacing='0', cellpadding='0', style='border:#CCCCCC solid 1px;')
                            tbody
                                tr
                                    td(width='73%', align='left', valign='top', style='color:#333333; font-size:16px; padding-left:5px; line-height:25px;')
                                        strong Kamal Kant Upmanyu
                                        br
                                        |                       Punjab Kesari (Bureau Chief - Brij Area, Mathura)
                                        br
                                        br
                                        strong Address :-
                                        |  65 Hanuman Nagar, Motikunj,      Hailipad Road (Mathura)-281001, 
                                        br
                                        strong Res :-
                                        |  (0565)-2505000 
                                        strong Office :-
                                        strong Mobile :-
                                        |  : 09412150000, 09837835555
                                        br
                                        strong Email :- 
                                        | upmanyukamalkant@gmail.com
                                    td(width='27%', align='left', valign='top')
                                        img(src='/images/Kamalkant Upmanyu_1446040369.jpg', height='150', width='150')
                                tr
                                    td(align='left', valign='top', colspan='2', height='10')
                        br
                        table(width='95%', border='0', cellspacing='0', cellpadding='0', style='border:#CCCCCC solid 1px;')
                            tbody
                                tr
                                    td(width='73%', align='left', valign='top', style='color:#333333; font-size:16px; padding-left:5px; line-height:25px;')
                                        strong Bhupendra Choudhary
                                        br
                                        br
                                        |                       Rashtriya Sahara
                                        br
                                        strong Address :-
                                        |  2173, Housing Board Colony   Sector : 28, Faridabad, Haryana
                                        br
                                        strong Res :-
                                        strong Office :-
                                        strong Mobile :-
                                        |  09818270440
                                        br
                                        strong Email :- 
                                        | bhupendera1news@gmail.com
                                    td(width='27%', align='left', valign='top')
                                        img(src='/images/BUPINDER_1446040469.jpg', height='150', width='150')
                                tr
                                    td(align='left', valign='top', colspan='2', height='10')
                        br
                        table(width='95%', border='0', cellspacing='0', cellpadding='0', style='border:#CCCCCC solid 1px;')
                            tbody
                                tr
                                    td(width='73%', align='left', valign='top', style='color:#333333; font-size:16px; padding-left:5px; line-height:25px;')
                                        strong Asim Kumar Mitra 
                                        br
                                        br
                                        br
                                        strong Address :-
                                        |  13-B, S.N. Chatterjee Road, Kolkata:38.
                                        br
                                        strong Res :-
                                        strong Office :-
                                        strong Mobile :-
                                        |  09331095198
                                        br
                                        strong Email :- 
                                        | mitraasimkumar@rediffmail.com, asimmitrakumar@gmai
                                    td(width='27%', align='left', valign='top')
                                        img(src='/images/na.png', height='150', width='150')
                                tr
                                    td(align='left', valign='top', colspan='2', height='10')
                        br
                        table(width='95%', border='0', cellspacing='0', cellpadding='0', style='border:#CCCCCC solid 1px;')
                            tbody
                                tr
                                    td(width='73%', align='left', valign='top', style='color:#333333; font-size:16px; padding-left:5px; line-height:25px;')
                                        strong Dipak Ray
                                        br
                                        br
                                        br
                                        strong Address :-
                                        |  37A/6, B B N Chatterjee Sarani Uttarpara, Hooghly 712258
                                        br
                                        strong Res :-
                                        strong Office :-
                                        strong Mobile :-
                                        |  09836115569
                                        br
                                        strong Email :- 
                                        | dipak2607@gmail.com
                                    td(width='27%', align='left', valign='top')
                                        img(src='/images/na.png', height='150', width='150')
                                tr
                                    td(align='left', valign='top', colspan='2', height='10')
                        br
                        table(width='95%', border='0', cellspacing='0', cellpadding='0', style='border:#CCCCCC solid 1px;')
                            tbody
                                tr
                                    td(width='73%', align='left', valign='top', style='color:#333333; font-size:16px; padding-left:5px; line-height:25px;')
                                        strong Pawan Saxena 
                                        br
                                        |                       Senior Journalist
                                        br
                                        br
                                        strong Address :-
                                        |  S S Tower, OBC Bank Building  Executive Club Road, Bareilly Uttar pradesh
                                        br
                                        strong Res :-
                                        strong Office :-
                                        strong Mobile :-
                                        |  : 9837089090
                                        br
                                        strong Email :- 
                                        | pwn1313@rediffmail.com
                                    td(width='27%', align='left', valign='top')
                                        img(src='/images/na.png', height='150', width='150')
                                tr
                                    td(align='left', valign='top', colspan='2', height='10')
                        br
                        table(width='95%', border='0', cellspacing='0', cellpadding='0', style='border:#CCCCCC solid 1px;')
                            tbody
                                tr
                                    td(width='73%', align='left', valign='top', style='color:#333333; font-size:16px; padding-left:5px; line-height:25px;')
                                        strong Shiva Kumar
                                        br
                                        br
                                        br
                                        strong Address :-
                                        br
                                        strong Res :-
                                        strong Office :-
                                        strong Mobile :-
                                        |  9892255534, 9981500370
                                        br
                                        strong Email :- 
                                        | : shiva.shubh@gmail.com
                                    td(width='27%', align='left', valign='top')
                                        img(src='/images/shiva kumar_1446040786.jpg', height='150', width='150')
                                tr
                                    td(align='left', valign='top', colspan='2', height='10')
                        br
                        table(width='95%', border='0', cellspacing='0', cellpadding='0', style='border:#CCCCCC solid 1px;')
                            tbody
                                tr
                                    td(width='73%', align='left', valign='top', style='color:#333333; font-size:16px; padding-left:5px; line-height:25px;')
                                        strong Seema Kiran
                                        br
                                        |                       Feature Editor
                                        br
                                        |                       Veer Arjun
                                        br
                                        strong Address :-
                                        br
                                        strong Res :-
                                        strong Office :-
                                        strong Mobile :-
                                        |  : 9312268297
                                        br
                                        strong Email :- 
                                        | seemakiran246@gmail.com
                                    td(width='27%', align='left', valign='top')
                                        img(src='/images/SEEMA_1446124523.jpg', height='150', width='150')
                                tr
                                    td(align='left', valign='top', colspan='2', height='10')
                        br
                        table(width='95%', border='0', cellspacing='0', cellpadding='0', style='border:#CCCCCC solid 1px;')
                            tbody
                                tr
                                    td(width='73%', align='left', valign='top', style='color:#333333; font-size:16px; padding-left:5px; line-height:25px;')
                                        strong Prasanna Mohanty 
                                        br
                                        |                       Editor-in-Chief,, Naxatra News, 
                                        br
                                        |                       Ex-officio Members
                                        br
                                        strong Address :-
                                        |  Quarter no: V-A, 29/4,Unit: 2,  Bhubaneswar:751009, Orissa.
                                        br
                                        strong Res :-
                                        |  0674-2536296,  
                                        strong Office :-
                                        strong Mobile :-
                                        |  :- 09437636140
                                        br
                                        strong Email :- 
                                        | prasannamohanty@rediffmail.com
                                    td(width='27%', align='left', valign='top')
                                        img(src='/images/PRASANNA MOHANTY3-Usha pic final_1446124707.jpg', height='150', width='150')
                                tr
                                    td(align='left', valign='top', colspan='2', height='10')
                        br
                        table(width='95%', border='0', cellspacing='0', cellpadding='0', style='border:#CCCCCC solid 1px;')
                            tbody
                                tr
                                    td(width='73%', align='left', valign='top', style='color:#333333; font-size:16px; padding-left:5px; line-height:25px;')
                                        strong Uppala Lakshman
                                        br
                                        br
                                        |                       Ex-officio Members
                                        br
                                        strong Address :-
                                        |  Flat No:503,S.S.Nest APT, Gandhinagar Street No:2 Hyderabad-500080
                                        br
                                        strong Res :-
                                        |  040-27676568 
                                        strong Office :-
                                        strong Mobile :-
                                        |  09391040959
                                        br
                                        strong Email :- 
                                        | ulaxman2001@yahoo.co.in
                                    td(width='27%', align='left', valign='top')
                                        img(src='/images/u lakshman_1446124901.jpg', height='150', width='150')
                                tr
                                    td(align='left', valign='top', colspan='2', height='10')
                        br
                tr
                    td(align='center', valign='top', style='border-left:#CCCCCC solid 1px; border-right:#CCCCCC solid 1px;')  
                tr
                    td(align='left', valign='top')  
                tr
                    td(align='left', valign='top')  


    // ============FOOTER=============
    #footer