footer#footer-main
        .footer-content.container
            .footer-adress.text-center.col-xs-12.col-sm-4.col-md-4
                
            .footer-second.col-xs-12.col-sm-4.col-md-4
                .social-block.text-center
                    .social-share
                        a(href="#", target="_blank")
                            i.fa.fa-2x.fa-facebook
                        a(href="#", target="_blank")
                            i.fa.fa-2x.fa-twitter
                        a(href="#", target="_blank")
                            i.fa.fa-2x.fa-google-plus
                        a(href="#", target="_blank")
                            i.fa.fa-2x.fa-instagram
                
                
            .footer-third.col-xs-12.col-sm-4.col-md-4
                .copyright
                    span Copyright 2017
                    br
                    span All Rights Reserved
        .move-top-page