extends ../../theme_cat/layout
include ../../theme_cat/allMixin
block content
    .header.container
        include ../../theme_cat/partials/_header
    include ../../theme_cat/partials/_navArea
    div.container
      table(width='95%', border='0', cellspacing='0', cellpadding='0')
        tbody
            tr
                td(align='left', valign='top')  
            tr
                td(align='left', valign='top', style='border:#CCCCCC solid 1px;padding-left:5px; color:#de7612; font-size:20px;')
                    strong
                        | FORMER BEARERS , NATIONAL UNION OF JOURNALISTS (I) 
                        br
            tr
                td(align='left', valign='top', style='border:solid #CCCCCC 1px; border-top:none; padding-left:20px;')
                    br
                    table(width='70%', border='0', cellspacing='0', cellpadding='0', style='border:#CCCCCC solid 1px; border-radius:5px;')
                        tbody
                            tr
                                td(width='3%', align='left', valign='top')  
                                td(width='7%', align='left', valign='top', style='border-right:#cccccc solid 1px; padding-left:5px;')
                                    strong S. NO.
                                td(width='15%', align='left', valign='top', style='border-right:#cccccc solid 1px; padding-left:5px;')
                                    strong YEAR
                                td(width='36%', align='left', valign='top', style='border-right:#cccccc solid 1px; padding-left:5px;')
                                    strong PRESIDENTS
                                td(width='39%', align='left', valign='top', style='padding-left:5px;')
                                    strong SECRETARY GENERAL
                            tr
                                td(align='left', valign='top')  
                                td(align='left', valign='top', style='border-right:#cccccc solid 1px; padding-left:5px;')  
                                td(align='left', valign='top', style='border-right:#cccccc solid 1px; padding-left:5px;')  
                                td(align='left', valign='top', style='border-right:#cccccc solid 1px; padding-left:5px;')  
                                td(align='left', valign='top', style='padding-left:5px;')  
                            tr
                                td(height='30', align='left', valign='middle')  
                                td(align='left', valign='middle', style='border-right:#cccccc solid 1px; padding-left:5px;') 1.
                                td(align='left', valign='middle', style='border-right:#cccccc solid 1px; padding-left:5px;') 1972-1974
                                td(align='left', valign='middle', style='border-right:#cccccc solid 1px; padding-left:5px;') Shri . L Meenakshi Sundaram
                                td(align='left', valign='middle', style='padding-left:5px;') Shri . S K Rau
                            tr
                                td(height='30', align='left', valign='middle')  
                                td(align='left', valign='middle', style='border-right:#cccccc solid 1px; padding-left:5px;') 2.
                                td(align='left', valign='middle', style='border-right:#cccccc solid 1px; padding-left:5px;') 1974-1977
                                td(align='left', valign='middle', style='border-right:#cccccc solid 1px; padding-left:5px;') Shri .  H L Gaur
                                td(align='left', valign='middle', style='padding-left:5px;') Shri . Prithvis Chakravorty
                            tr
                                td(height='30', align='left', valign='middle')  
                                td(align='left', valign='middle', style='border-right:#cccccc solid 1px; padding-left:5px;') 3.
                                td(align='left', valign='middle', style='border-right:#cccccc solid 1px; padding-left:5px;') 1977-1979
                                td(align='left', valign='middle', style='border-right:#cccccc solid 1px; padding-left:5px;') Shri . L Meenakshi Sundaram
                                td(align='left', valign='middle', style='padding-left:5px;') Shri . Kapil Verma       
                            tr
                                td(height='30', align='left', valign='middle')  
                                td(align='left', valign='middle', style='border-right:#cccccc solid 1px; padding-left:5px;') 4.
                                td(align='left', valign='middle', style='border-right:#cccccc solid 1px; padding-left:5px;') 1979-1981
                                td(align='left', valign='middle', style='border-right:#cccccc solid 1px; padding-left:5px;') Shri . L Meenakshi Sundaram
                                td(align='left', valign='middle', style='padding-left:5px;') Shri . Rajendra Prabhu
                            tr
                                td(height='30', align='left', valign='middle')  
                                td(align='left', valign='middle', style='border-right:#cccccc solid 1px; padding-left:5px;') 5.
                                td(align='left', valign='middle', style='border-right:#cccccc solid 1px; padding-left:5px;') 1981-1983 
                                td(align='left', valign='middle', style='border-right:#cccccc solid 1px; padding-left:5px;') Shri . Kapil Verma
                                td(align='left', valign='middle', style='padding-left:5px;') Shri . K N Malik 
                            tr
                                td(height='30', align='left', valign='middle')  
                                td(align='left', valign='middle', style='border-right:#cccccc solid 1px; padding-left:5px;') 6.
                                td(align='left', valign='middle', style='border-right:#cccccc solid 1px; padding-left:5px;') 1983-1985
                                td(align='left', valign='middle', style='border-right:#cccccc solid 1px; padding-left:5px;') Shri . Prithvis Chakravorty
                                td(align='left', valign='middle', style='padding-left:5px;') Dr. N K Trikha
                            tr
                                td(height='30', align='left', valign='middle')  
                                td(align='left', valign='middle', style='border-right:#cccccc solid 1px; padding-left:5px;') 7.
                                td(align='left', valign='middle', style='border-right:#cccccc solid 1px; padding-left:5px;') 1985-1988
                                td(align='left', valign='middle', style='border-right:#cccccc solid 1px; padding-left:5px;') Shri . Arun Bagchi
                                td(align='left', valign='middle', style='padding-left:5px;') Shri . J K Gupta
                            tr
                                td(height='30', align='left', valign='middle')  
                                td(align='left', valign='middle', style='border-right:#cccccc solid 1px; padding-left:5px;') 8.
                                td(align='left', valign='middle', style='border-right:#cccccc solid 1px; padding-left:5px;') 1988-1990 
                                td(align='left', valign='middle', style='border-right:#cccccc solid 1px; padding-left:5px;') Shri . Rajendra Prabhu
                                td(align='left', valign='middle', style='padding-left:5px;') Shri .  K N Gupta
                            tr
                                td(height='30', align='left', valign='middle')  
                                td(align='left', valign='middle', style='border-right:#cccccc solid 1px; padding-left:5px;') 9.
                                td(align='left', valign='middle', style='border-right:#cccccc solid 1px; padding-left:5px;') 1990-1993
                                td(align='left', valign='middle', style='border-right:#cccccc solid 1px; padding-left:5px;') Shri . B K Dhal
                                td(align='left', valign='middle', style='padding-left:5px;')   Shri . A N Mishra
                            tr
                                td(height='30', align='left', valign='middle')  
                                td(align='left', valign='middle', style='border-right:#cccccc solid 1px; padding-left:5px;') 10.
                                td(align='left', valign='middle', style='border-right:#cccccc solid 1px; padding-left:5px;') 1993-1996 
                                td(align='left', valign='middle', style='border-right:#cccccc solid 1px; padding-left:5px;') Shri . Nitish Chakravarti
                                td(align='left', valign='middle', style='padding-left:5px;') Shri . Balbir Kumar Punj
                            tr
                                td(height='30', align='left', valign='middle')  
                                td(align='left', valign='middle', style='border-right:#cccccc solid 1px; padding-left:5px;') 11.
                                td(align='left', valign='middle', style='border-right:#cccccc solid 1px; padding-left:5px;') 1996-1998 
                                td(align='left', valign='middle', style='border-right:#cccccc solid 1px; padding-left:5px;') Shri . Rajendra Prabhu
                                td(align='left', valign='middle', style='padding-left:5px;') Shri . Asim Kr Mitra
                            tr
                                td(height='30', align='left', valign='middle')  
                                td(align='left', valign='middle', style='border-right:#cccccc solid 1px; padding-left:5px;') 12.
                                td(align='left', valign='middle', style='border-right:#cccccc solid 1px; padding-left:5px;') 1998-2000
                                td(align='left', valign='middle', style='border-right:#cccccc solid 1px; padding-left:5px;')  Dr. N K Trikha
                                td(align='left', valign='middle', style='padding-left:5px;') Shri . Gulab Batra
                            tr
                                td(height='30', align='left', valign='middle')  
                                td(align='left', valign='middle', style='border-right:#cccccc solid 1px; padding-left:5px;') 13.
                                td(align='left', valign='middle', style='border-right:#cccccc solid 1px; padding-left:5px;') 2000-2003
                                td(align='left', valign='middle', style='border-right:#cccccc solid 1px; padding-left:5px;') Shri . Shyam Khosla
                                td(align='left', valign='middle', style='padding-left:5px;') Shri . P K Roy
                            tr
                                td(height='30', align='left', valign='middle')  
                                td(align='left', valign='middle', style='border-right:#cccccc solid 1px; padding-left:5px;') 14.
                                td(align='left', valign='middle', style='border-right:#cccccc solid 1px; padding-left:5px;') 2003-2006
                                td(align='left', valign='middle', style='border-right:#cccccc solid 1px; padding-left:5px;') Shri . A N Mishra
                                td(align='left', valign='middle', style='padding-left:5px;') Shri . M D GANGWAR 
                            tr
                                td(height='30', align='left', valign='middle')  
                                td(align='left', valign='middle', style='border-right:#cccccc solid 1px; padding-left:5px;') 15.
                                td(align='left', valign='middle', style='border-right:#cccccc solid 1px; padding-left:5px;') 2006-2008
                                td(align='left', valign='middle', style='border-right:#cccccc solid 1px; padding-left:5px;') Dr. N K Trikha
                                td(align='left', valign='middle', style='padding-left:5px;') Shri . Prajnananda Chaudhuri
                            tr
                                td(height='30', align='left', valign='middle')  
                                td(align='left', valign='middle', style='border-right:#cccccc solid 1px; padding-left:5px;') 16.
                                td(align='left', valign='middle', style='border-right:#cccccc solid 1px; padding-left:5px;') 2008-2010
                                td(align='left', valign='middle', style='border-right:#cccccc solid 1px; padding-left:5px;') Shri . P K Roy
                                td(align='left', valign='middle', style='padding-left:5px;') Shri . Atmdeep
                            tr
                                td(height='30', align='left', valign='middle')  
                                td(align='left', valign='middle', style='border-right:#cccccc solid 1px; padding-left:5px;') 17.
                                td(align='left', valign='middle', style='border-right:#cccccc solid 1px; padding-left:5px;') 2010-2013
                                td(align='left', valign='middle', style='border-right:#cccccc solid 1px; padding-left:5px;') Shri . Prajnananda Chaudhuri
                                td(align='left', valign='middle', style='padding-left:5px;') Shri . Ras Bihari
                            tr
                                td(height='30', align='left', valign='middle')  
                                td(align='left', valign='middle', style='border-right:#cccccc solid 1px; padding-left:5px;') 18.
                                td(align='left', valign='middle', style='border-right:#cccccc solid 1px; padding-left:5px;') 2013-2015
                                td(align='left', valign='middle', style='border-right:#cccccc solid 1px; padding-left:5px;') Shri Uppala Lakshman
                                td(align='left', valign='middle', style='padding-left:5px;') Shri Prasanna Mohanty 
                    br
            tr
                td(align='left', valign='top')  

    // ============FOOTER=============
    #footer