extends ../../theme_cat/layout
include ../../theme_cat/allMixin
block content
    .header.container
        include ../../theme_cat/partials/_header
    include ../../theme_cat/partials/_navArea
    div.container
      table(width='95%', border='0', cellspacing='0', cellpadding='0')
        tbody
            tr
                td(align='left', valign='top')  
            tr
                td(align='center', valign='top', style='border:#CCCCCC solid 1px; border-bottom:none;')  
            tr
                td(align='left', valign='top', style='border-left:#CCCCCC solid 1px; border-right:#CCCCCC solid 1px; padding-left:5px; color:#de7612; font-size:20px;')
                    strong NUJ (I)  GOVERNING COUNCIL 
            tr
                td(align='center', valign='top', style='border-left:#CCCCCC solid 1px; border-right:#CCCCCC solid 1px;')  
            tr
                td(align='center', valign='top', style='border-left:#CCCCCC solid 1px; border-right:#CCCCCC solid 1px;')  
            tr
                td(colspan='3', align='left', height='25', valign='middle', bgcolor='#de7612', style='color:#ffffff; font-size:20px; padding-left:25px;')
                    strong Chairman
            tr
                td(align='center', valign='top', style='border-left:#CCCCCC solid 1px; border-right:#CCCCCC solid 1px;')
                    table(width='95%', border='0', cellspacing='0', cellpadding='0', style='border:#CCCCCC solid 1px;')
                        tbody
                            tr
                                td(width='73%', align='left', valign='top', style='color:#333333; font-size:16px; padding-left:5px; line-height:25px;')
                                    strong R Rajendra Prabhu
                                    br
                                    br
                                    br
                                    strong Address :-
                                    br
                                    strong Res :-
                                    strong Office :-
                                    strong Mobile :-
                                    |  9811274594
                                    br
                                    strong Email :- 
                                    | r.rprabhu@yahoo.in
                                td(width='27%', align='left', valign='top')
                                    img(src='/images/na.png', height='150', width='150')
                            tr
                                td(align='left', valign='top', colspan='2', height='10')
                    br
            tr
                td(align='center', valign='top', style='border-left:#CCCCCC solid 1px; border-right:#CCCCCC solid 1px;')  
            tr
                td(colspan='3', align='left', height='25', valign='middle', bgcolor='#de7612', style='color:#ffffff; font-size:20px; padding-left:25px;')
                    strong Vice Chairman
            tr
                td(align='center', valign='top', style='border-left:#CCCCCC solid 1px; border-right:#CCCCCC solid 1px;')
                    table(width='95%', border='0', cellspacing='0', cellpadding='0', style='border:#CCCCCC solid 1px;')
                        tbody
                            tr
                                td(width='73%', align='left', valign='top', style='color:#333333; font-size:16px; padding-left:5px; line-height:25px;')
                                    strong Dr Azad Chisti
                                    br
                                    br
                                    br
                                    strong Address :-
                                    br
                                    strong Res :-
                                    strong Office :-
                                    strong Mobile :-
                                    |  9849098345
                                    br
                                    strong Email :- 
                                    | azadchishthi786@gmail.com, azadpatrika@gmail.com
                                td(width='27%', align='left', valign='top')
                                    img(src='/images/na.png', height='150', width='150')
                            tr
                                td(align='left', valign='top', colspan='2', height='10')
                    br
            tr
                td(align='center', valign='top', style='border-left:#CCCCCC solid 1px; border-right:#CCCCCC solid 1px; border-bottom:#CCCCCC solid 1px;')  
            tr
                td(colspan='3', align='left', height='25', valign='middle', bgcolor='#de7612', style='color:#ffffff; font-size:20px; padding-left:25px;')
                    strong Secretary
            tr
                td(align='center', valign='top', style='border-left:#CCCCCC solid 1px; border-right:#CCCCCC solid 1px;')
                    table(width='95%', border='0', cellspacing='0', cellpadding='0', style='border:#CCCCCC solid 1px;')
                        tbody
                            tr
                                td(width='73%', align='left', valign='top', style='color:#333333; font-size:16px; padding-left:5px; line-height:25px;')
                                    strong Ravindra Vajpai
                                    br
                                    br
                                    |                       Editor, MP Hindi Express, Madhya Pradesh
                                    br
                                    strong Address :-
                                    br
                                    strong Res :-
                                    strong Office :-
                                    strong Mobile :-
                                    br
                                    strong Email :- 
                                    | ravindrabajpai16@yahoo.co.in
                                td(width='27%', align='left', valign='top')
                                    img(src='/images/na.png', height='150', width='150')
                            tr
                                td(align='left', valign='top', colspan='2', height='10')
                    br
            tr
                td(align='center', valign='top')  
            tr
                td(colspan='3', align='left', height='25', valign='middle', bgcolor='#de7612', style='color:#ffffff; font-size:20px; padding-left:25px;')
                    strong Treasurer
            tr
                td(align='center', valign='top', style='border-left:#CCCCCC solid 1px; border-right:#CCCCCC solid 1px;')
                    table(width='95%', border='0', cellspacing='0', cellpadding='0', style='border:#CCCCCC solid 1px;')
                        tbody
                            tr
                                td(width='73%', align='left', valign='top', style='color:#333333; font-size:16px; padding-left:5px; line-height:25px;')
                                    strong Anand Rana
                                    br
                                    br
                                    |                       Special Correspondent,  Hari Bhoomi, Delhi
                                    br
                                    strong Address :-
                                    br
                                    strong Res :-
                                    strong Office :-
                                    strong Mobile :-
                                    |  9818246804
                                    br
                                    strong Email :- 
                                    | rana.apr@gmail.com
                                td(width='27%', align='left', valign='top')
                                    img(src='/images/anand rana delhi_1421390834.jpg', height='150', width='150')
                            tr
                                td(align='left', valign='top', colspan='2', height='10')
                    br
            tr
                td(colspan='3', align='left', height='25', valign='middle')  
            tr
                td(colspan='3', align='left', height='25', valign='middle', bgcolor='#de7612', style='color:#ffffff; font-size:20px; padding-left:25px;')
                    strong Executive Members
            tr
                td(align='center', valign='top', style='border-left:#CCCCCC solid 1px; border-right:#CCCCCC solid 1px;')
                    table(width='95%', border='0', cellspacing='0', cellpadding='0', style='border:#CCCCCC solid 1px;')
                        tbody
                            tr
                                td(width='73%', align='left', valign='top', style='color:#333333; font-size:16px; padding-left:5px; line-height:25px;')
                                    strong Usha Pahwa
                                    br
                                    |                       Feature Editor
                                    br
                                    |                       Punjab Kesari
                                    br
                                    strong Address :-
                                    br
                                    strong Res :-
                                    strong Office :-
                                    strong Mobile :-
                                    |   09810515045
                                    br
                                    strong Email :- 
                                    | ushamedia@gmail.com
                                td(width='27%', align='left', valign='top')
                                    img(src='/images/1_1419936099.jpg', height='150', width='150')
                            tr
                                td(align='left', valign='top', colspan='2', height='10')
                    br
                    table(width='95%', border='0', cellspacing='0', cellpadding='0', style='border:#CCCCCC solid 1px;')
                        tbody
                            tr
                                td(width='73%', align='left', valign='top', style='color:#333333; font-size:16px; padding-left:5px; line-height:25px;')
                                    strong Prajnananda Chaudhuri
                                    br
                                    |                       Special Correspondent
                                    br
                                    |                       Anand Bazar Patika
                                    br
                                    strong Address :-
                                    br
                                    strong Res :-
                                    strong Office :-
                                    strong Mobile :-
                                    |  09831159968
                                    br
                                    strong Email :- 
                                    | prajnananda.chaudhuri@abp.in
                                td(width='27%', align='left', valign='top')
                                    img(src='/images/Prajnananda_1421390970.jpg', height='150', width='150')
                            tr
                                td(align='left', valign='top', colspan='2', height='10')
                    br
                    table(width='95%', border='0', cellspacing='0', cellpadding='0', style='border:#CCCCCC solid 1px;')
                        tbody
                            tr
                                td(width='73%', align='left', valign='top', style='color:#333333; font-size:16px; padding-left:5px; line-height:25px;')
                                    strong Asim Kumar Mitra
                                    br
                                    |                       Senior Journalist, West Bengal
                                    br
                                    br
                                    strong Address :-
                                    br
                                    strong Res :-
                                    strong Office :-
                                    strong Mobile :-
                                    |  09331095198
                                    br
                                    strong Email :- 
                                    | asimmitrakumar@gmail.com
                                td(width='27%', align='left', valign='top')
                                    img(src='/images/na.png', height='150', width='150')
                            tr
                                td(align='left', valign='top', colspan='2', height='10')
                    br
                    table(width='95%', border='0', cellspacing='0', cellpadding='0', style='border:#CCCCCC solid 1px;')
                        tbody
                            tr
                                td(width='73%', align='left', valign='top', style='color:#333333; font-size:16px; padding-left:5px; line-height:25px;')
                                    strong K N Gupta
                                    br
                                    |                       Senior Journalist, Delhi
                                    br
                                    br
                                    strong Address :-
                                    br
                                    strong Res :-
                                    strong Office :-
                                    strong Mobile :-
                                    |  09811131588
                                    br
                                    strong Email :- 
                                    | knguptas@gmail.com
                                td(width='27%', align='left', valign='top')
                                    img(src='/images/na.png', height='150', width='150')
                            tr
                                td(align='left', valign='top', colspan='2', height='10')
                    br
                    table(width='95%', border='0', cellspacing='0', cellpadding='0', style='border:#CCCCCC solid 1px;')
                        tbody
                            tr
                                td(width='73%', align='left', valign='top', style='color:#333333; font-size:16px; padding-left:5px; line-height:25px;')
                                    strong Pratap Rao
                                    br
                                    |                       Senior Journalist Rajasthan
                                    br
                                    br
                                    strong Address :-
                                    br
                                    strong Res :-
                                    strong Office :-
                                    strong Mobile :-
                                    |  09772222418
                                    br
                                    strong Email :- 
                                    | pratap.srinath@gmail.com
                                td(width='27%', align='left', valign='top')
                                    img(src='/images/na.png', height='150', width='150')
                            tr
                                td(align='left', valign='top', colspan='2', height='10')
                    br
                    table(width='95%', border='0', cellspacing='0', cellpadding='0', style='border:#CCCCCC solid 1px;')
                        tbody
                            tr
                                td(width='73%', align='left', valign='top', style='color:#333333; font-size:16px; padding-left:5px; line-height:25px;')
                                    strong Sandip Malik, Haryana
                                    br
                                    br
                                    br
                                    strong Address :-
                                    br
                                    strong Res :-
                                    strong Office :-
                                    strong Mobile :-
                                    |  09416268381
                                    br
                                    strong Email :- 
                                    | sandeepmalikjind@gmail.com
                                td(width='27%', align='left', valign='top')
                                    img(src='/images/na.png', height='150', width='150')
                            tr
                                td(align='left', valign='top', colspan='2', height='10')
                    br
                    table(width='95%', border='0', cellspacing='0', cellpadding='0', style='border:#CCCCCC solid 1px;')
                        tbody
                            tr
                                td(width='73%', align='left', valign='top', style='color:#333333; font-size:16px; padding-left:5px; line-height:25px;')
                                    strong Praffula Das, Odisha
                                    br
                                    |                       Bureau Chief
                                    br
                                    |                       NAXATRA TV Odisha,768002
                                    br
                                    strong Address :-
                                    br
                                    strong Res :-
                                    strong Office :-
                                    strong Mobile :-
                                    |  094372 19897 
                                    br
                                    strong Email :- 
                                    | pkd_sbp@rediffmail.com
                                td(width='27%', align='left', valign='top')
                                    img(src='/images/na.png', height='150', width='150')
                            tr
                                td(align='left', valign='top', colspan='2', height='10')
                    br
                    table(width='95%', border='0', cellspacing='0', cellpadding='0', style='border:#CCCCCC solid 1px;')
                        tbody
                            tr
                                td(width='73%', align='left', valign='top', style='color:#333333; font-size:16px; padding-left:5px; line-height:25px;')
                                    strong Nirbhay Saxena, Uttar Pradesh
                                    br
                                    br
                                    br
                                    strong Address :-
                                    br
                                    strong Res :-
                                    strong Office :-
                                    strong Mobile :-
                                    |   9411005249
                                    br
                                    strong Email :- 
                                    | nirbhaysaxena@gmail.com
                                td(width='27%', align='left', valign='top')
                                    img(src='/images/na.png', height='150', width='150')
                            tr
                                td(align='left', valign='top', colspan='2', height='10')
                    br
                    table(width='95%', border='0', cellspacing='0', cellpadding='0', style='border:#CCCCCC solid 1px;')
                        tbody
                            tr
                                td(width='73%', align='left', valign='top', style='color:#333333; font-size:16px; padding-left:5px; line-height:25px;')
                                    strong Sunil Pandey
                                    br
                                    |                       Bureau Chief
                                    br
                                    |                       Jansatta,  Haridwar
                                    br
                                    strong Address :-
                                    br
                                    strong Res :-
                                    strong Office :-
                                    strong Mobile :-
                                    |  09319023555
                                    br
                                    strong Email :- 
                                    | sunilpandey.com@gmail.com
                                td(width='27%', align='left', valign='top')
                                    img(src='/images/na.png', height='150', width='150')
                            tr
                                td(align='left', valign='top', colspan='2', height='10')
                    br
                    table(width='95%', border='0', cellspacing='0', cellpadding='0', style='border:#CCCCCC solid 1px;')
                        tbody
                            tr
                                td(width='73%', align='left', valign='top', style='color:#333333; font-size:16px; padding-left:5px; line-height:25px;')
                                    strong Rakesh Praveer, Bihar
                                    br
                                    |                       Senior Journalist, Patna
                                    br
                                    br
                                    strong Address :-
                                    br
                                    strong Res :-
                                    strong Office :-
                                    strong Mobile :-
                                    |  09334333950 
                                    br
                                    strong Email :- 
                                    | rakeshpravir40@gmail.com
                                td(width='27%', align='left', valign='top')
                                    img(src='/images/na.png', height='150', width='150')
                            tr
                                td(align='left', valign='top', colspan='2', height='10')
                    br
                    table(width='95%', border='0', cellspacing='0', cellpadding='0', style='border:#CCCCCC solid 1px;')
                        tbody
                            tr
                                td(width='73%', align='left', valign='top', style='color:#333333; font-size:16px; padding-left:5px; line-height:25px;')
                                    strong S Kumar
                                    br
                                    br
                                    |                       India News
                                    br
                                    strong Address :-
                                    br
                                    strong Res :-
                                    strong Office :-
                                    strong Mobile :-
                                    |  9981500370
                                    br
                                    strong Email :- 
                                    | shiva.shubh@gmail.com , skumar.delhi70@gmail.com
                                td(width='27%', align='left', valign='top')
                                    img(src='/images/na.png', height='150', width='150')
                            tr
                                td(align='left', valign='top', colspan='2', height='10')
                    br
                    table(width='95%', border='0', cellspacing='0', cellpadding='0', style='border:#CCCCCC solid 1px;')
                        tbody
                            tr
                                td(width='73%', align='left', valign='top', style='color:#333333; font-size:16px; padding-left:5px; line-height:25px;')
                                    strong Sheo Kumar Agarwal
                                    br
                                    |                       Senior Journalist, Jharkhand
                                    br
                                    br
                                    strong Address :-
                                    br
                                    strong Res :-
                                    strong Office :-
                                    strong Mobile :-
                                    |  09386620006, 09608300001
                                    br
                                    strong Email :- 
                                    | sheokumaragarwal@yahoo.in
                                td(width='27%', align='left', valign='top')
                                    img(src='/images/na.png', height='150', width='150')
                            tr
                                td(align='left', valign='top', colspan='2', height='10')
                    br
                    table(width='95%', border='0', cellspacing='0', cellpadding='0', style='border:#CCCCCC solid 1px;')
                        tbody
                            tr
                                td(width='73%', align='left', valign='top', style='color:#333333; font-size:16px; padding-left:5px; line-height:25px;')
                                    strong Ra Bihari
                                    br
                                    br
                                    br
                                    strong Address :-
                                    br
                                    strong Res :-
                                    strong Office :-
                                    strong Mobile :-
                                    |  09810291706
                                    br
                                    strong Email :- 
                                    | rbihari@gmail.com
                                td(width='27%', align='left', valign='top')
                                    img(src='/images/ra_1419936728.jpg', height='150', width='150')
                            tr
                                td(align='left', valign='top', colspan='2', height='10')
                    br
            tr
                td(align='center', valign='top', style='border-left:#CCCCCC solid 1px; border-right:#CCCCCC solid 1px;')  
            tr
                td(align='left', valign='top')  
            tr
                td(align='left', valign='top')  

    // ============FOOTER=============
    #footer