extends ../../theme_cat/layout
include ../../theme_cat/allMixin
block content
    .header.container
        include ../../theme_cat/partials/_header
    include ../../theme_cat/partials/_navArea
    div.container
      table.slide(width='95%', border='0', cellspacing='0', cellpadding='0', style='border:#CCCCCC solid 1px; font-family:GARAMOND; font-size:18px;')
        tbody
            tr
                td(colspan='2', align='left', valign='top', style='padding-left:5px; font-size:18px; color:#de7612; font-weight:bold; font-family:GARAMOND') INK WORLD
                td(align='left', valign='middle')  
            tr
                td(align='center', valign='middle', height='20', style='color:#333333;')
                    strong S.No.
                td(align='left', valign='middle', style='color:#333333;')
                    strong Caption
                td(align='left', valign='middle', style='color:#333333;')
                    strong View     /    Download  
            tr(bgcolor='#eeeeee')
                td(width='6%', align='center', valign='middle', height='25', style='color:#333333;') 1
                td(width='66%', align='left', valign='middle', style='color:#333333;') NUJ Souvenir17
                td(width='28%', align='left', valign='middle', style='color:#333333; font-family:GARAMOND')
                    a(href='mediaGalary/NUJ_Souvenir17.pdf', target='_blank', title='VIEW FILE ') View 
                    |      /    
                    a(href='download/NUJ_Souvenir17.pdf', title='DOWNLOAD FILE ')
                        | Download  
                        
            tr
                td(width='6%', align='center', valign='middle', height='25', style='color:#333333;') 2
                td(width='66%', align='left', valign='middle', style='color:#333333;') Page-60 INKWORLD(Oct-Nov 2011)
                td(width='28%', align='left', valign='middle', style='color:#333333; font-family:GARAMOND')
                    a(href='mediaGalary/1325852936_inkworld page-60.PDF', target='_blank', title='VIEW FILE ') View 
                    |      /    
                    a(href='download/1325852936_inkworld page-60.PDF', title='DOWNLOAD FILE ')
                        | Download  
                        
            tr(bgcolor='#eeeeee')
                td(width='6%', align='center', valign='middle', height='25', style='color:#333333;') 3
                td(width='66%', align='left', valign='middle', style='color:#333333;') Page-59 INKWORLD(Oct-Nov 2011)
                td(width='28%', align='left', valign='middle', style='color:#333333; font-family:GARAMOND')
                    a(href='mediaGalary/1325852883_inkworld page-59.PDF', target='_blank', title='VIEW FILE ') View 
                    |      /    
                    a(href='download/1325852883_inkworld page-59.PDF', title='DOWNLOAD FILE ')
                        | Download  
                        
            tr
                td(width='6%', align='center', valign='middle', height='25', style='color:#333333;') 4
                td(width='66%', align='left', valign='middle', style='color:#333333;') Page-58 INKWORLD(Oct-Nov 2011)
                td(width='28%', align='left', valign='middle', style='color:#333333; font-family:GARAMOND')
                    a(href='mediaGalary/1325852833_inkworld page-58.PDF', target='_blank', title='VIEW FILE ') View 
                    |      /    
                    a(href='download/1325852833_inkworld page-58.PDF', title='DOWNLOAD FILE ')
                        | Download  
                        
            tr(bgcolor='#eeeeee')
                td(width='6%', align='center', valign='middle', height='25', style='color:#333333;') 5
                td(width='66%', align='left', valign='middle', style='color:#333333;') Page-57 INKWORLD(Oct-Nov 2011)
                td(width='28%', align='left', valign='middle', style='color:#333333; font-family:GARAMOND')
                    a(href='mediaGalary/1325852779_inkworld page-57.PDF', target='_blank', title='VIEW FILE ') View 
                    |      /    
                    a(href='download/1325852779_inkworld page-57.PDF', title='DOWNLOAD FILE ')
                        | Download  
                        
            tr
                td(width='6%', align='center', valign='middle', height='25', style='color:#333333;') 6
                td(width='66%', align='left', valign='middle', style='color:#333333;') Page-56 INKWORLD(Oct-Nov 2011)
                td(width='28%', align='left', valign='middle', style='color:#333333; font-family:GARAMOND')
                    a(href='mediaGalary/1325852740_inkworld page-56.PDF', target='_blank', title='VIEW FILE ') View 
                    |      /    
                    a(href='download/1325852740_inkworld page-56.PDF', title='DOWNLOAD FILE ')
                        | Download  
                        
            tr(bgcolor='#eeeeee')
                td(width='6%', align='center', valign='middle', height='25', style='color:#333333;') 7
                td(width='66%', align='left', valign='middle', style='color:#333333;') Page-55 INKWORLD(Oct-Nov 2011)
                td(width='28%', align='left', valign='middle', style='color:#333333; font-family:GARAMOND')
                    a(href='mediaGalary/1325852701_inkworld page-55.PDF', target='_blank', title='VIEW FILE ') View 
                    |      /    
                    a(href='download/1325852701_inkworld page-55.PDF', title='DOWNLOAD FILE ')
                        | Download  
                        
            tr
                td(width='6%', align='center', valign='middle', height='25', style='color:#333333;') 8
                td(width='66%', align='left', valign='middle', style='color:#333333;') Page-54 INKWORLD(Oct-Nov 2011)
                td(width='28%', align='left', valign='middle', style='color:#333333; font-family:GARAMOND')
                    a(href='mediaGalary/1325852682_inkworld page-54.PDF', target='_blank', title='VIEW FILE ') View 
                    |      /    
                    a(href='download/1325852682_inkworld page-54.PDF', title='DOWNLOAD FILE ')
                        | Download  
                        
            tr(bgcolor='#eeeeee')
                td(width='6%', align='center', valign='middle', height='25', style='color:#333333;') 9
                td(width='66%', align='left', valign='middle', style='color:#333333;') Page-53 INKWORLD(Oct-Nov 2011)
                td(width='28%', align='left', valign='middle', style='color:#333333; font-family:GARAMOND')
                    a(href='mediaGalary/1325852657_inkworld page-53.PDF', target='_blank', title='VIEW FILE ') View 
                    |      /    
                    a(href='download/1325852657_inkworld page-53.PDF', title='DOWNLOAD FILE ')
                        | Download  
                        
            tr
                td(width='6%', align='center', valign='middle', height='25', style='color:#333333;') 10
                td(width='66%', align='left', valign='middle', style='color:#333333;') Page-52 INKWORLD(Oct-Nov 2011)
                td(width='28%', align='left', valign='middle', style='color:#333333; font-family:GARAMOND')
                    a(href='mediaGalary/1325852634_inkworld page-52.PDF', target='_blank', title='VIEW FILE ') View 
                    |      /    
                    a(href='download/1325852634_inkworld page-52.PDF', title='DOWNLOAD FILE ')
                        | Download  
                        
            tr(bgcolor='#eeeeee')
                td(width='6%', align='center', valign='middle', height='25', style='color:#333333;') 11
                td(width='66%', align='left', valign='middle', style='color:#333333;') Page-51 INKWORLD(Oct-Nov 2011)
                td(width='28%', align='left', valign='middle', style='color:#333333; font-family:GARAMOND')
                    a(href='mediaGalary/1325852613_inkworld page-51.PDF', target='_blank', title='VIEW FILE ') View 
                    |      /    
                    a(href='download/1325852613_inkworld page-51.PDF', title='DOWNLOAD FILE ')
                        | Download  
                        
            tr
                td(width='6%', align='center', valign='middle', height='25', style='color:#333333;') 12
                td(width='66%', align='left', valign='middle', style='color:#333333;') Page-50 INKWORLD(Oct-Nov 2011)
                td(width='28%', align='left', valign='middle', style='color:#333333; font-family:GARAMOND')
                    a(href='mediaGalary/1325852583_inkworld page-50.PDF', target='_blank', title='VIEW FILE ') View 
                    |      /    
                    a(href='download/1325852583_inkworld page-50.PDF', title='DOWNLOAD FILE ')
                        | Download  
                        
            tr(bgcolor='#eeeeee')
                td(width='6%', align='center', valign='middle', height='25', style='color:#333333;') 13
                td(width='66%', align='left', valign='middle', style='color:#333333;') Page-49 INKWORLD(Oct-Nov 2011)
                td(width='28%', align='left', valign='middle', style='color:#333333; font-family:GARAMOND')
                    a(href='mediaGalary/1325852550_inkworld page-49.PDF', target='_blank', title='VIEW FILE ') View 
                    |      /    
                    a(href='download/1325852550_inkworld page-49.PDF', title='DOWNLOAD FILE ')
                        | Download  
                        
            tr
                td(width='6%', align='center', valign='middle', height='25', style='color:#333333;') 14
                td(width='66%', align='left', valign='middle', style='color:#333333;') Page-48 INKWORLD(Oct-Nov 2011)
                td(width='28%', align='left', valign='middle', style='color:#333333; font-family:GARAMOND')
                    a(href='mediaGalary/1325852499_inkworld page-48.PDF', target='_blank', title='VIEW FILE ') View 
                    |      /    
                    a(href='download/1325852499_inkworld page-48.PDF', title='DOWNLOAD FILE ')
                        | Download  
                        
            tr(bgcolor='#eeeeee')
                td(width='6%', align='center', valign='middle', height='25', style='color:#333333;') 15
                td(width='66%', align='left', valign='middle', style='color:#333333;') Page-47 INKWORLD(Oct-Nov 2011)
                td(width='28%', align='left', valign='middle', style='color:#333333; font-family:GARAMOND')
                    a(href='mediaGalary/1325852452_inkworld page-47.PDF', target='_blank', title='VIEW FILE ') View 
                    |      /    
                    a(href='download/1325852452_inkworld page-47.PDF', title='DOWNLOAD FILE ')
                        | Download  
                        
            tr
                td(width='6%', align='center', valign='middle', height='25', style='color:#333333;') 16
                td(width='66%', align='left', valign='middle', style='color:#333333;') Page-46 INKWORLD(Oct-Nov 2011)
                td(width='28%', align='left', valign='middle', style='color:#333333; font-family:GARAMOND')
                    a(href='mediaGalary/1325852348_inkworld page-46.PDF', target='_blank', title='VIEW FILE ') View 
                    |      /    
                    a(href='download/1325852348_inkworld page-46.PDF', title='DOWNLOAD FILE ')
                        | Download  
                        
            tr(bgcolor='#eeeeee')
                td(width='6%', align='center', valign='middle', height='25', style='color:#333333;') 17
                td(width='66%', align='left', valign='middle', style='color:#333333;') Page-45 INKWORLD(Oct-Nov 2011)
                td(width='28%', align='left', valign='middle', style='color:#333333; font-family:GARAMOND')
                    a(href='mediaGalary/1325852284_inkworld page-45.jpg', target='_blank', title='VIEW FILE ') View 
                    |      /    
                    a(href='download/1325852284_inkworld page-45.jpg', title='DOWNLOAD FILE ')
                        | Download  
                        
            tr
                td(width='6%', align='center', valign='middle', height='25', style='color:#333333;') 18
                td(width='66%', align='left', valign='middle', style='color:#333333;') Page-44 INKWORLD(Oct-Nov 2011)
                td(width='28%', align='left', valign='middle', style='color:#333333; font-family:GARAMOND')
                    a(href='mediaGalary/1325852246_inkworld page-44.PDF', target='_blank', title='VIEW FILE ') View 
                    |      /    
                    a(href='download/1325852246_inkworld page-44.PDF', title='DOWNLOAD FILE ')
                        | Download  
                        
            tr(bgcolor='#eeeeee')
                td(width='6%', align='center', valign='middle', height='25', style='color:#333333;') 19
                td(width='66%', align='left', valign='middle', style='color:#333333;') Page-43 INKWORLD(Oct-Nov 2011)
                td(width='28%', align='left', valign='middle', style='color:#333333; font-family:GARAMOND')
                    a(href='mediaGalary/1325852192_inkworld page-43.PDF', target='_blank', title='VIEW FILE ') View 
                    |      /    
                    a(href='download/1325852192_inkworld page-43.PDF', title='DOWNLOAD FILE ')
                        | Download  
                        
            tr
                td(width='6%', align='center', valign='middle', height='25', style='color:#333333;') 20
                td(width='66%', align='left', valign='middle', style='color:#333333;') Page-42 INKWORLD(Oct-Nov 2011)
                td(width='28%', align='left', valign='middle', style='color:#333333; font-family:GARAMOND')
                    a(href='mediaGalary/1325852154_inkworld page-42.PDF', target='_blank', title='VIEW FILE ') View 
                    |      /    
                    a(href='download/1325852154_inkworld page-42.PDF', title='DOWNLOAD FILE ')
                        | Download  
                        
            tr(bgcolor='#eeeeee')
                td(width='6%', align='center', valign='middle', height='25', style='color:#333333;') 21
                td(width='66%', align='left', valign='middle', style='color:#333333;') Page-41 INKWORLD(Oct-Nov 2011)
                td(width='28%', align='left', valign='middle', style='color:#333333; font-family:GARAMOND')
                    a(href='mediaGalary/1325852124_inkworld page-41.PDF', target='_blank', title='VIEW FILE ') View 
                    |      /    
                    a(href='download/1325852124_inkworld page-41.PDF', title='DOWNLOAD FILE ')
                        | Download  
                        
            tr
                td(width='6%', align='center', valign='middle', height='25', style='color:#333333;') 22
                td(width='66%', align='left', valign='middle', style='color:#333333;') Page-40 INKWORLD(Oct-Nov 2011)
                td(width='28%', align='left', valign='middle', style='color:#333333; font-family:GARAMOND')
                    a(href='mediaGalary/1325852079_inkworld page-40.PDF', target='_blank', title='VIEW FILE ') View 
                    |      /    
                    a(href='download/1325852079_inkworld page-40.PDF', title='DOWNLOAD FILE ')
                        | Download  
                        
            tr(bgcolor='#eeeeee')
                td(width='6%', align='center', valign='middle', height='25', style='color:#333333;') 23
                td(width='66%', align='left', valign='middle', style='color:#333333;') Page-39INKWORLD(Oct-Nov 2011)
                td(width='28%', align='left', valign='middle', style='color:#333333; font-family:GARAMOND')
                    a(href='mediaGalary/1325852052_inkworld page-39.PDF', target='_blank', title='VIEW FILE ') View 
                    |      /    
                    a(href='download/1325852052_inkworld page-39.PDF', title='DOWNLOAD FILE ')
                        | Download  
                        
            tr
                td(width='6%', align='center', valign='middle', height='25', style='color:#333333;') 24
                td(width='66%', align='left', valign='middle', style='color:#333333;') Page-38 INKWORLD(Oct-Nov 2011)
                td(width='28%', align='left', valign='middle', style='color:#333333; font-family:GARAMOND')
                    a(href='mediaGalary/1325852005_inkworld page-38.PDF', target='_blank', title='VIEW FILE ') View 
                    |      /    
                    a(href='download/1325852005_inkworld page-38.PDF', title='DOWNLOAD FILE ')
                        | Download  
                        
            tr(bgcolor='#eeeeee')
                td(width='6%', align='center', valign='middle', height='25', style='color:#333333;') 25
                td(width='66%', align='left', valign='middle', style='color:#333333;') Page-37 INKWORLD(Oct-Nov 2011)
                td(width='28%', align='left', valign='middle', style='color:#333333; font-family:GARAMOND')
                    a(href='mediaGalary/1325851984_inkworld page-37.PDF', target='_blank', title='VIEW FILE ') View 
                    |      /    
                    a(href='download/1325851984_inkworld page-37.PDF', title='DOWNLOAD FILE ')
                        | Download  
                        
            tr
                td(width='6%', align='center', valign='middle', height='25', style='color:#333333;') 26
                td(width='66%', align='left', valign='middle', style='color:#333333;') Page-36 INKWORLD(Oct-Nov 2011)
                td(width='28%', align='left', valign='middle', style='color:#333333; font-family:GARAMOND')
                    a(href='mediaGalary/1325851906_inkworld page-36.PDF', target='_blank', title='VIEW FILE ') View 
                    |      /    
                    a(href='download/1325851906_inkworld page-36.PDF', title='DOWNLOAD FILE ')
                        | Download  
                        
            tr(bgcolor='#eeeeee')
                td(width='6%', align='center', valign='middle', height='25', style='color:#333333;') 27
                td(width='66%', align='left', valign='middle', style='color:#333333;') Page-35 INKWORLD(Oct-Nov 2011)
                td(width='28%', align='left', valign='middle', style='color:#333333; font-family:GARAMOND')
                    a(href='mediaGalary/1325849467_inkworld page-35.PDF', target='_blank', title='VIEW FILE ') View 
                    |      /    
                    a(href='download/1325849467_inkworld page-35.PDF', title='DOWNLOAD FILE ')
                        | Download  
                        
            tr
                td(width='6%', align='center', valign='middle', height='25', style='color:#333333;') 28
                td(width='66%', align='left', valign='middle', style='color:#333333;') Page-34 INKWORLD(Oct-Nov 2011)
                td(width='28%', align='left', valign='middle', style='color:#333333; font-family:GARAMOND')
                    a(href='mediaGalary/1325849358_inkworld page-34.PDF', target='_blank', title='VIEW FILE ') View 
                    |      /    
                    a(href='download/1325849358_inkworld page-34.PDF', title='DOWNLOAD FILE ')
                        | Download  
                        
            tr(bgcolor='#eeeeee')
                td(width='6%', align='center', valign='middle', height='25', style='color:#333333;') 29
                td(width='66%', align='left', valign='middle', style='color:#333333;') Page-33 INKWORLD(Oct-Nov 2011)
                td(width='28%', align='left', valign='middle', style='color:#333333; font-family:GARAMOND')
                    a(href='mediaGalary/1325849252_inkworld page-33.PDF', target='_blank', title='VIEW FILE ') View 
                    |      /    
                    a(href='download/1325849252_inkworld page-33.PDF', title='DOWNLOAD FILE ')
                        | Download  
                        
            tr
                td(width='6%', align='center', valign='middle', height='25', style='color:#333333;') 30
                td(width='66%', align='left', valign='middle', style='color:#333333;') Page-32 INKWORLD(Oct-Nov 2011)
                td(width='28%', align='left', valign='middle', style='color:#333333; font-family:GARAMOND')
                    a(href='mediaGalary/1325849206_inkworld page-32.PDF', target='_blank', title='VIEW FILE ') View 
                    |      /    
                    a(href='download/1325849206_inkworld page-32.PDF', title='DOWNLOAD FILE ')
                        | Download  
                        
            tr(bgcolor='#eeeeee')
                td(width='6%', align='center', valign='middle', height='25', style='color:#333333;') 31
                td(width='66%', align='left', valign='middle', style='color:#333333;') Page-31 INKWORLD(Oct-Nov 2011)
                td(width='28%', align='left', valign='middle', style='color:#333333; font-family:GARAMOND')
                    a(href='mediaGalary/1325849009_inkworld page-31.PDF', target='_blank', title='VIEW FILE ') View 
                    |      /    
                    a(href='download/1325849009_inkworld page-31.PDF', title='DOWNLOAD FILE ')
                        | Download  
                        
            tr
                td(width='6%', align='center', valign='middle', height='25', style='color:#333333;') 32
                td(width='66%', align='left', valign='middle', style='color:#333333;') Page-30 INKWORLD(Oct-Nov 2011)
                td(width='28%', align='left', valign='middle', style='color:#333333; font-family:GARAMOND')
                    a(href='mediaGalary/1325848942_inkworld page-30.PDF', target='_blank', title='VIEW FILE ') View 
                    |      /    
                    a(href='download/1325848942_inkworld page-30.PDF', title='DOWNLOAD FILE ')
                        | Download  
                        
            tr(bgcolor='#eeeeee')
                td(width='6%', align='center', valign='middle', height='25', style='color:#333333;') 33
                td(width='66%', align='left', valign='middle', style='color:#333333;') Page-29 INKWORLD(Oct-Nov 2011)
                td(width='28%', align='left', valign='middle', style='color:#333333; font-family:GARAMOND')
                    a(href='mediaGalary/1325848898_inkworld page-29.PDF', target='_blank', title='VIEW FILE ') View 
                    |      /    
                    a(href='download/1325848898_inkworld page-29.PDF', title='DOWNLOAD FILE ')
                        | Download  
                        
            tr
                td(width='6%', align='center', valign='middle', height='25', style='color:#333333;') 34
                td(width='66%', align='left', valign='middle', style='color:#333333;') Page-28 INKWORLD(Oct-Nov 2011)
                td(width='28%', align='left', valign='middle', style='color:#333333; font-family:GARAMOND')
                    a(href='mediaGalary/1325848836_inkworld page-28.PDF', target='_blank', title='VIEW FILE ') View 
                    |      /    
                    a(href='download/1325848836_inkworld page-28.PDF', title='DOWNLOAD FILE ')
                        | Download  
                        
            tr(bgcolor='#eeeeee')
                td(width='6%', align='center', valign='middle', height='25', style='color:#333333;') 35
                td(width='66%', align='left', valign='middle', style='color:#333333;') Page-27 INKWORLD(Oct-Nov 2011)
                td(width='28%', align='left', valign='middle', style='color:#333333; font-family:GARAMOND')
                    a(href='mediaGalary/1325848778_inkworld page-27.PDF', target='_blank', title='VIEW FILE ') View 
                    |      /    
                    a(href='download/1325848778_inkworld page-27.PDF', title='DOWNLOAD FILE ')
                        | Download  
                        
            tr
                td(width='6%', align='center', valign='middle', height='25', style='color:#333333;') 36
                td(width='66%', align='left', valign='middle', style='color:#333333;') Page-26 INKWORLD(Oct-Nov 2011)
                td(width='28%', align='left', valign='middle', style='color:#333333; font-family:GARAMOND')
                    a(href='mediaGalary/1325848707_inkworld page-26.PDF', target='_blank', title='VIEW FILE ') View 
                    |      /    
                    a(href='download/1325848707_inkworld page-26.PDF', title='DOWNLOAD FILE ')
                        | Download  
                        
            tr(bgcolor='#eeeeee')
                td(width='6%', align='center', valign='middle', height='25', style='color:#333333;') 37
                td(width='66%', align='left', valign='middle', style='color:#333333;') Page-25 INKWORLD(Oct-Nov 2011)
                td(width='28%', align='left', valign='middle', style='color:#333333; font-family:GARAMOND')
                    a(href='mediaGalary/1325848603_inkworld page-25.PDF', target='_blank', title='VIEW FILE ') View 
                    |      /    
                    a(href='download/1325848603_inkworld page-25.PDF', title='DOWNLOAD FILE ')
                        | Download  
                        
            tr
                td(width='6%', align='center', valign='middle', height='25', style='color:#333333;') 38
                td(width='66%', align='left', valign='middle', style='color:#333333;') Page-24 INKWORLD(Oct-Nov 2011)
                td(width='28%', align='left', valign='middle', style='color:#333333; font-family:GARAMOND')
                    a(href='mediaGalary/1325848542_inkworld page-24.PDF', target='_blank', title='VIEW FILE ') View 
                    |      /    
                    a(href='download/1325848542_inkworld page-24.PDF', title='DOWNLOAD FILE ')
                        | Download  
                        
            tr(bgcolor='#eeeeee')
                td(width='6%', align='center', valign='middle', height='25', style='color:#333333;') 39
                td(width='66%', align='left', valign='middle', style='color:#333333;') Page-23 INKWORLD(Oct-Nov 2011)
                td(width='28%', align='left', valign='middle', style='color:#333333; font-family:GARAMOND')
                    a(href='mediaGalary/1325848515_inkworld page-23.PDF', target='_blank', title='VIEW FILE ') View 
                    |      /    
                    a(href='download/1325848515_inkworld page-23.PDF', title='DOWNLOAD FILE ')
                        | Download  
                        
            tr
                td(width='6%', align='center', valign='middle', height='25', style='color:#333333;') 40
                td(width='66%', align='left', valign='middle', style='color:#333333;') Page-22INKWORLD(Oct-Nov 2011)
                td(width='28%', align='left', valign='middle', style='color:#333333; font-family:GARAMOND')
                    a(href='mediaGalary/1325848489_inkworld page-22.PDF', target='_blank', title='VIEW FILE ') View 
                    |      /    
                    a(href='download/1325848489_inkworld page-22.PDF', title='DOWNLOAD FILE ')
                        | Download  
                        
            tr(bgcolor='#eeeeee')
                td(width='6%', align='center', valign='middle', height='25', style='color:#333333;') 41
                td(width='66%', align='left', valign='middle', style='color:#333333;') Page-21 INKWORLD(Oct-Nov 2011)
                td(width='28%', align='left', valign='middle', style='color:#333333; font-family:GARAMOND')
                    a(href='mediaGalary/1325848462_inkworld page-21.PDF', target='_blank', title='VIEW FILE ') View 
                    |      /    
                    a(href='download/1325848462_inkworld page-21.PDF', title='DOWNLOAD FILE ')
                        | Download  
                        
            tr
                td(width='6%', align='center', valign='middle', height='25', style='color:#333333;') 42
                td(width='66%', align='left', valign='middle', style='color:#333333;') Page-20 INKWORLD(Oct-Nov 2011)
                td(width='28%', align='left', valign='middle', style='color:#333333; font-family:GARAMOND')
                    a(href='mediaGalary/1325848432_inkworld page-20.PDF', target='_blank', title='VIEW FILE ') View 
                    |      /    
                    a(href='download/1325848432_inkworld page-20.PDF', title='DOWNLOAD FILE ')
                        | Download  
                        
            tr(bgcolor='#eeeeee')
                td(width='6%', align='center', valign='middle', height='25', style='color:#333333;') 43
                td(width='66%', align='left', valign='middle', style='color:#333333;') Page-19 INKWORLD(Oct-Nov 2011)
                td(width='28%', align='left', valign='middle', style='color:#333333; font-family:GARAMOND')
                    a(href='mediaGalary/1325848401_inkworld page-19.PDF', target='_blank', title='VIEW FILE ') View 
                    |      /    
                    a(href='download/1325848401_inkworld page-19.PDF', title='DOWNLOAD FILE ')
                        | Download  
                        
            tr
                td(width='6%', align='center', valign='middle', height='25', style='color:#333333;') 44
                td(width='66%', align='left', valign='middle', style='color:#333333;') Page-18 INKWORLD(Oct-Nov 2011)
                td(width='28%', align='left', valign='middle', style='color:#333333; font-family:GARAMOND')
                    a(href='mediaGalary/1325848379_inkworld page-18.PDF', target='_blank', title='VIEW FILE ') View 
                    |      /    
                    a(href='download/1325848379_inkworld page-18.PDF', title='DOWNLOAD FILE ')
                        | Download  
                        
            tr(bgcolor='#eeeeee')
                td(width='6%', align='center', valign='middle', height='25', style='color:#333333;') 45
                td(width='66%', align='left', valign='middle', style='color:#333333;') Page-17 INKWORLD(Oct-Nov 2011)
                td(width='28%', align='left', valign='middle', style='color:#333333; font-family:GARAMOND')
                    a(href='mediaGalary/1325848353_inkworld page-17.PDF', target='_blank', title='VIEW FILE ') View 
                    |      /    
                    a(href='download/1325848353_inkworld page-17.PDF', title='DOWNLOAD FILE ')
                        | Download  
                        
            tr
                td(width='6%', align='center', valign='middle', height='25', style='color:#333333;') 46
                td(width='66%', align='left', valign='middle', style='color:#333333;') Page-16 INKWORLD(Oct-Nov 2011)
                td(width='28%', align='left', valign='middle', style='color:#333333; font-family:GARAMOND')
                    a(href='mediaGalary/1325848322_inkworld page-16.PDF', target='_blank', title='VIEW FILE ') View 
                    |      /    
                    a(href='download/1325848322_inkworld page-16.PDF', title='DOWNLOAD FILE ')
                        | Download  
                        
            tr(bgcolor='#eeeeee')
                td(width='6%', align='center', valign='middle', height='25', style='color:#333333;') 47
                td(width='66%', align='left', valign='middle', style='color:#333333;') Page-15 INKWORLD(Oct-Nov 2011)
                td(width='28%', align='left', valign='middle', style='color:#333333; font-family:GARAMOND')
                    a(href='mediaGalary/1325848295_inkworld page-15.PDF', target='_blank', title='VIEW FILE ') View 
                    |      /    
                    a(href='download/1325848295_inkworld page-15.PDF', title='DOWNLOAD FILE ')
                        | Download  
                        
            tr
                td(width='6%', align='center', valign='middle', height='25', style='color:#333333;') 48
                td(width='66%', align='left', valign='middle', style='color:#333333;') Page-14 INKWORLD(Oct-Nov 2011)
                td(width='28%', align='left', valign='middle', style='color:#333333; font-family:GARAMOND')
                    a(href='mediaGalary/1325848251_inkworld page-14.PDF', target='_blank', title='VIEW FILE ') View 
                    |      /    
                    a(href='download/1325848251_inkworld page-14.PDF', title='DOWNLOAD FILE ')
                        | Download  
                        
            tr(bgcolor='#eeeeee')
                td(width='6%', align='center', valign='middle', height='25', style='color:#333333;') 49
                td(width='66%', align='left', valign='middle', style='color:#333333;') Page-13 INKWORLD(Oct-Nov 2011)
                td(width='28%', align='left', valign='middle', style='color:#333333; font-family:GARAMOND')
                    a(href='mediaGalary/1325848215_inkworld page-13.PDF', target='_blank', title='VIEW FILE ') View 
                    |      /    
                    a(href='download/1325848215_inkworld page-13.PDF', title='DOWNLOAD FILE ')
                        | Download  
                        
            tr
                td(width='6%', align='center', valign='middle', height='25', style='color:#333333;') 50
                td(width='66%', align='left', valign='middle', style='color:#333333;') Page-12 INKWORLD(Oct-Nov 2011)
                td(width='28%', align='left', valign='middle', style='color:#333333; font-family:GARAMOND')
                    a(href='mediaGalary/1325848178_inkworld page-12.PDF', target='_blank', title='VIEW FILE ') View 
                    |      /    
                    a(href='download/1325848178_inkworld page-12.PDF', title='DOWNLOAD FILE ')
                        | Download  
                        
            tr(bgcolor='#eeeeee')
                td(width='6%', align='center', valign='middle', height='25', style='color:#333333;') 51
                td(width='66%', align='left', valign='middle', style='color:#333333;') Page-11 INKWORLD(Oct-Nov 2011)
                td(width='28%', align='left', valign='middle', style='color:#333333; font-family:GARAMOND')
                    a(href='mediaGalary/1325847635_inkworld page-11.PDF', target='_blank', title='VIEW FILE ') View 
                    |      /    
                    a(href='download/1325847635_inkworld page-11.PDF', title='DOWNLOAD FILE ')
                        | Download  
                        
            tr
                td(width='6%', align='center', valign='middle', height='25', style='color:#333333;') 52
                td(width='66%', align='left', valign='middle', style='color:#333333;') Page-10 INKWORLD(Oct-Nov 2011)
                td(width='28%', align='left', valign='middle', style='color:#333333; font-family:GARAMOND')
                    a(href='mediaGalary/1325847499_inkworld page-10.PDF', target='_blank', title='VIEW FILE ') View 
                    |      /    
                    a(href='download/1325847499_inkworld page-10.PDF', title='DOWNLOAD FILE ')
                        | Download  
                        
            tr(bgcolor='#eeeeee')
                td(width='6%', align='center', valign='middle', height='25', style='color:#333333;') 53
                td(width='66%', align='left', valign='middle', style='color:#333333;') Page-9 INKWORLD(Oct-Nov 2011)
                td(width='28%', align='left', valign='middle', style='color:#333333; font-family:GARAMOND')
                    a(href='mediaGalary/1325847460_inkworld page-09.PDF', target='_blank', title='VIEW FILE ') View 
                    |      /    
                    a(href='download/1325847460_inkworld page-09.PDF', title='DOWNLOAD FILE ')
                        | Download  
                        
            tr
                td(width='6%', align='center', valign='middle', height='25', style='color:#333333;') 54
                td(width='66%', align='left', valign='middle', style='color:#333333;') Page-8 INKWORLD(Oct-Nov 2011)
                td(width='28%', align='left', valign='middle', style='color:#333333; font-family:GARAMOND')
                    a(href='mediaGalary/1325847340_inkworld page-08.PDF', target='_blank', title='VIEW FILE ') View 
                    |      /    
                    a(href='download/1325847340_inkworld page-08.PDF', title='DOWNLOAD FILE ')
                        | Download  
                        
            tr(bgcolor='#eeeeee')
                td(width='6%', align='center', valign='middle', height='25', style='color:#333333;') 55
                td(width='66%', align='left', valign='middle', style='color:#333333;') Page-7 INKWORLD(Oct-Nov 2011)
                td(width='28%', align='left', valign='middle', style='color:#333333; font-family:GARAMOND')
                    a(href='mediaGalary/1325847306_inkworld page-07.PDF', target='_blank', title='VIEW FILE ') View 
                    |      /    
                    a(href='download/1325847306_inkworld page-07.PDF', title='DOWNLOAD FILE ')
                        | Download  
                        
            tr
                td(width='6%', align='center', valign='middle', height='25', style='color:#333333;') 56
                td(width='66%', align='left', valign='middle', style='color:#333333;') Page-6 INKWORLD(Oct-Nov 2011)
                td(width='28%', align='left', valign='middle', style='color:#333333; font-family:GARAMOND')
                    a(href='mediaGalary/1325847275_inkworld page-06.PDF', target='_blank', title='VIEW FILE ') View 
                    |      /    
                    a(href='download/1325847275_inkworld page-06.PDF', title='DOWNLOAD FILE ')
                        | Download  
                        
            tr(bgcolor='#eeeeee')
                td(width='6%', align='center', valign='middle', height='25', style='color:#333333;') 57
                td(width='66%', align='left', valign='middle', style='color:#333333;') Page-5 INKWORLD(Oct-Nov 2011)
                td(width='28%', align='left', valign='middle', style='color:#333333; font-family:GARAMOND')
                    a(href='mediaGalary/1325842689_inkworld page-05.PDF', target='_blank', title='VIEW FILE ') View 
                    |      /    
                    a(href='download/1325842689_inkworld page-05.PDF', title='DOWNLOAD FILE ')
                        | Download  
                        
            tr
                td(width='6%', align='center', valign='middle', height='25', style='color:#333333;') 58
                td(width='66%', align='left', valign='middle', style='color:#333333;') Page-4 INKWORLD(Oct-Nov 2011)
                td(width='28%', align='left', valign='middle', style='color:#333333; font-family:GARAMOND')
                    a(href='mediaGalary/1325842641_p4 final.pdf', target='_blank', title='VIEW FILE ') View 
                    |      /    
                    a(href='download/1325842641_p4 final.pdf', title='DOWNLOAD FILE ')
                        | Download  
                        
            tr(bgcolor='#eeeeee')
                td(width='6%', align='center', valign='middle', height='25', style='color:#333333;') 59
                td(width='66%', align='left', valign='middle', style='color:#333333;') Page-3 INKWORLD(Oct-Nov 2011)
                td(width='28%', align='left', valign='middle', style='color:#333333; font-family:GARAMOND')
                    a(href='mediaGalary/1325842409_inkworld page-03.PDF', target='_blank', title='VIEW FILE ') View 
                    |      /    
                    a(href='download/1325842409_inkworld page-03.PDF', title='DOWNLOAD FILE ')
                        | Download  
                        
            tr
                td(width='6%', align='center', valign='middle', height='25', style='color:#333333;') 60
                td(width='66%', align='left', valign='middle', style='color:#333333;') Page-2 INKWORLD(Oct-Nov 2011)
                td(width='28%', align='left', valign='middle', style='color:#333333; font-family:GARAMOND')
                    a(href='mediaGalary/1325842226_inkworld page-02.PDF', target='_blank', title='VIEW FILE ') View 
                    |      /    
                    a(href='download/1325842226_inkworld page-02.PDF', title='DOWNLOAD FILE ')
                        | Download  
                        
            tr(bgcolor='#eeeeee')
                td(width='6%', align='center', valign='middle', height='25', style='color:#333333;') 61
                td(width='66%', align='left', valign='middle', style='color:#333333;') Fornt Page of INKWORLD(Oct-Nov 2011)
                td(width='28%', align='left', valign='middle', style='color:#333333; font-family:GARAMOND')
                    a(href='mediaGalary/1325841829_inkworld page-01.PDF', target='_blank', title='VIEW FILE ') View 
                    |      /    
                    a(href='download/1325841829_inkworld page-01.PDF', title='DOWNLOAD FILE ')
                        | Download  
                        
            tr
                td(width='6%', align='center', valign='middle', height='25', style='color:#333333;') 62
                td(width='66%', align='left', valign='middle', style='color:#333333;') InkWorld,August 2011,Page 1
                td(width='28%', align='left', valign='middle', style='color:#333333; font-family:GARAMOND')
                    a(href='mediaGalary/1319808578_page1.jpg', target='_blank', title='VIEW FILE ') View 
                    |      /    
                    a(href='download/1319808578_page1.jpg', title='DOWNLOAD FILE ')
                        | Download  
                        
            tr(bgcolor='#eeeeee')
                td(width='6%', align='center', valign='middle', height='25', style='color:#333333;') 63
                td(width='66%', align='left', valign='middle', style='color:#333333;')
                td(width='28%', align='left', valign='middle', style='color:#333333; font-family:GARAMOND')
                    a(href='mediaGalary/1319724405_page 40.PDF', target='_blank', title='VIEW FILE ') View 
                    |      /    
                    a(href='download/1319724405_page 40.PDF', title='DOWNLOAD FILE ')
                        | Download  
                        
            tr
                td(width='6%', align='center', valign='middle', height='25', style='color:#333333;') 64
                td(width='66%', align='left', valign='middle', style='color:#333333;')
                td(width='28%', align='left', valign='middle', style='color:#333333; font-family:GARAMOND')
                    a(href='mediaGalary/1319724282_page 40.PDF', target='_blank', title='VIEW FILE ') View 
                    |      /    
                    a(href='download/1319724282_page 40.PDF', title='DOWNLOAD FILE ')
                        | Download  
                        
            tr(bgcolor='#eeeeee')
                td(width='6%', align='center', valign='middle', height='25', style='color:#333333;') 65
                td(width='66%', align='left', valign='middle', style='color:#333333;')
                td(width='28%', align='left', valign='middle', style='color:#333333; font-family:GARAMOND')
                    a(href='mediaGalary/1319724140_page 39.PDF', target='_blank', title='VIEW FILE ') View 
                    |      /    
                    a(href='download/1319724140_page 39.PDF', title='DOWNLOAD FILE ')
                        | Download  
                        
            tr
                td(width='6%', align='center', valign='middle', height='25', style='color:#333333;') 66
                td(width='66%', align='left', valign='middle', style='color:#333333;')
                td(width='28%', align='left', valign='middle', style='color:#333333; font-family:GARAMOND')
                    a(href='mediaGalary/1319724019_page 39.PDF', target='_blank', title='VIEW FILE ') View 
                    |      /    
                    a(href='download/1319724019_page 39.PDF', title='DOWNLOAD FILE ')
                        | Download  
                        
            tr(bgcolor='#eeeeee')
                td(width='6%', align='center', valign='middle', height='25', style='color:#333333;') 67
                td(width='66%', align='left', valign='middle', style='color:#333333;')
                td(width='28%', align='left', valign='middle', style='color:#333333; font-family:GARAMOND')
                    a(href='mediaGalary/1319723795_page 38.PDF', target='_blank', title='VIEW FILE ') View 
                    |      /    
                    a(href='download/1319723795_page 38.PDF', title='DOWNLOAD FILE ')
                        | Download  
                        
            tr
                td(width='6%', align='center', valign='middle', height='25', style='color:#333333;') 68
                td(width='66%', align='left', valign='middle', style='color:#333333;')
                td(width='28%', align='left', valign='middle', style='color:#333333; font-family:GARAMOND')
                    a(href='mediaGalary/1319723712_page 37.PDF', target='_blank', title='VIEW FILE ') View 
                    |      /    
                    a(href='download/1319723712_page 37.PDF', title='DOWNLOAD FILE ')
                        | Download  
                        
            tr(bgcolor='#eeeeee')
                td(width='6%', align='center', valign='middle', height='25', style='color:#333333;') 69
                td(width='66%', align='left', valign='middle', style='color:#333333;')
                td(width='28%', align='left', valign='middle', style='color:#333333; font-family:GARAMOND')
                    a(href='mediaGalary/1319723652_page 35.PDF', target='_blank', title='VIEW FILE ') View 
                    |      /    
                    a(href='download/1319723652_page 35.PDF', title='DOWNLOAD FILE ')
                        | Download  
                        
            tr
                td(width='6%', align='center', valign='middle', height='25', style='color:#333333;') 70
                td(width='66%', align='left', valign='middle', style='color:#333333;')
                td(width='28%', align='left', valign='middle', style='color:#333333; font-family:GARAMOND')
                    a(href='mediaGalary/1319723627_page 33.PDF', target='_blank', title='VIEW FILE ') View 
                    |      /    
                    a(href='download/1319723627_page 33.PDF', title='DOWNLOAD FILE ')
                        | Download  
                        
            tr(bgcolor='#eeeeee')
                td(width='6%', align='center', valign='middle', height='25', style='color:#333333;') 71
                td(width='66%', align='left', valign='middle', style='color:#333333;')
                td(width='28%', align='left', valign='middle', style='color:#333333; font-family:GARAMOND')
                    a(href='mediaGalary/1319723591_page 31.PDF', target='_blank', title='VIEW FILE ') View 
                    |      /    
                    a(href='download/1319723591_page 31.PDF', title='DOWNLOAD FILE ')
                        | Download  
                        
            tr
                td(width='6%', align='center', valign='middle', height='25', style='color:#333333;') 72
                td(width='66%', align='left', valign='middle', style='color:#333333;')
                td(width='28%', align='left', valign='middle', style='color:#333333; font-family:GARAMOND')
                    a(href='mediaGalary/1319723586_page 31.PDF', target='_blank', title='VIEW FILE ') View 
                    |      /    
                    a(href='download/1319723586_page 31.PDF', title='DOWNLOAD FILE ')
                        | Download  
                        
            tr(bgcolor='#eeeeee')
                td(width='6%', align='center', valign='middle', height='25', style='color:#333333;') 73
                td(width='66%', align='left', valign='middle', style='color:#333333;')
                td(width='28%', align='left', valign='middle', style='color:#333333; font-family:GARAMOND')
                    a(href='mediaGalary/1319723556_page 30.PDF', target='_blank', title='VIEW FILE ') View 
                    |      /    
                    a(href='download/1319723556_page 30.PDF', title='DOWNLOAD FILE ')
                        | Download  
                        
            tr
                td(width='6%', align='center', valign='middle', height='25', style='color:#333333;') 74
                td(width='66%', align='left', valign='middle', style='color:#333333;')
                td(width='28%', align='left', valign='middle', style='color:#333333; font-family:GARAMOND')
                    a(href='mediaGalary/1319723538_page 29.PDF', target='_blank', title='VIEW FILE ') View 
                    |      /    
                    a(href='download/1319723538_page 29.PDF', title='DOWNLOAD FILE ')
                        | Download  
                        
            tr(bgcolor='#eeeeee')
                td(width='6%', align='center', valign='middle', height='25', style='color:#333333;') 75
                td(width='66%', align='left', valign='middle', style='color:#333333;')
                td(width='28%', align='left', valign='middle', style='color:#333333; font-family:GARAMOND')
                    a(href='mediaGalary/1319723504_page 28.PDF', target='_blank', title='VIEW FILE ') View 
                    |      /    
                    a(href='download/1319723504_page 28.PDF', title='DOWNLOAD FILE ')
                        | Download  
                        
            tr
                td(width='6%', align='center', valign='middle', height='25', style='color:#333333;') 76
                td(width='66%', align='left', valign='middle', style='color:#333333;')
                td(width='28%', align='left', valign='middle', style='color:#333333; font-family:GARAMOND')
                    a(href='mediaGalary/1319723445_page 26.PDF', target='_blank', title='VIEW FILE ') View 
                    |      /    
                    a(href='download/1319723445_page 26.PDF', title='DOWNLOAD FILE ')
                        | Download  
                        
            tr(bgcolor='#eeeeee')
                td(width='6%', align='center', valign='middle', height='25', style='color:#333333;') 77
                td(width='66%', align='left', valign='middle', style='color:#333333;')
                td(width='28%', align='left', valign='middle', style='color:#333333; font-family:GARAMOND')
                    a(href='mediaGalary/1319723359_page 25.PDF', target='_blank', title='VIEW FILE ') View 
                    |      /    
                    a(href='download/1319723359_page 25.PDF', title='DOWNLOAD FILE ')
                        | Download  
                        
            tr
                td(width='6%', align='center', valign='middle', height='25', style='color:#333333;') 78
                td(width='66%', align='left', valign='middle', style='color:#333333;')
                td(width='28%', align='left', valign='middle', style='color:#333333; font-family:GARAMOND')
                    a(href='mediaGalary/1319723334_page 24.PDF', target='_blank', title='VIEW FILE ') View 
                    |      /    
                    a(href='download/1319723334_page 24.PDF', title='DOWNLOAD FILE ')
                        | Download  
                        
            tr(bgcolor='#eeeeee')
                td(width='6%', align='center', valign='middle', height='25', style='color:#333333;') 79
                td(width='66%', align='left', valign='middle', style='color:#333333;')
                td(width='28%', align='left', valign='middle', style='color:#333333; font-family:GARAMOND')
                    a(href='mediaGalary/1319723229_page 23.PDF', target='_blank', title='VIEW FILE ') View 
                    |      /    
                    a(href='download/1319723229_page 23.PDF', title='DOWNLOAD FILE ')
                        | Download  
                        
            tr
                td(width='6%', align='center', valign='middle', height='25', style='color:#333333;') 80
                td(width='66%', align='left', valign='middle', style='color:#333333;')
                td(width='28%', align='left', valign='middle', style='color:#333333; font-family:GARAMOND')
                    a(href='mediaGalary/1319721655_page 21.PDF', target='_blank', title='VIEW FILE ') View 
                    |      /    
                    a(href='download/1319721655_page 21.PDF', title='DOWNLOAD FILE ')
                        | Download  
                        
            tr(bgcolor='#eeeeee')
                td(width='6%', align='center', valign='middle', height='25', style='color:#333333;') 81
                td(width='66%', align='left', valign='middle', style='color:#333333;')
                td(width='28%', align='left', valign='middle', style='color:#333333; font-family:GARAMOND')
                    a(href='mediaGalary/1319721506_page 19.PDF', target='_blank', title='VIEW FILE ') View 
                    |      /    
                    a(href='download/1319721506_page 19.PDF', title='DOWNLOAD FILE ')
                        | Download  
                        
            tr
                td(width='6%', align='center', valign='middle', height='25', style='color:#333333;') 82
                td(width='66%', align='left', valign='middle', style='color:#333333;')
                td(width='28%', align='left', valign='middle', style='color:#333333; font-family:GARAMOND')
                    a(href='mediaGalary/1319721389_page 18.PDF', target='_blank', title='VIEW FILE ') View 
                    |      /    
                    a(href='download/1319721389_page 18.PDF', title='DOWNLOAD FILE ')
                        | Download  
                        
            tr(bgcolor='#eeeeee')
                td(width='6%', align='center', valign='middle', height='25', style='color:#333333;') 83
                td(width='66%', align='left', valign='middle', style='color:#333333;')
                td(width='28%', align='left', valign='middle', style='color:#333333; font-family:GARAMOND')
                    a(href='mediaGalary/1319721373_page 17.PDF', target='_blank', title='VIEW FILE ') View 
                    |      /    
                    a(href='download/1319721373_page 17.PDF', title='DOWNLOAD FILE ')
                        | Download  
                        
            tr
                td(width='6%', align='center', valign='middle', height='25', style='color:#333333;') 84
                td(width='66%', align='left', valign='middle', style='color:#333333;')
                td(width='28%', align='left', valign='middle', style='color:#333333; font-family:GARAMOND')
                    a(href='mediaGalary/1319721356_page 16.PDF', target='_blank', title='VIEW FILE ') View 
                    |      /    
                    a(href='download/1319721356_page 16.PDF', title='DOWNLOAD FILE ')
                        | Download  
                        
            tr(bgcolor='#eeeeee')
                td(width='6%', align='center', valign='middle', height='25', style='color:#333333;') 85
                td(width='66%', align='left', valign='middle', style='color:#333333;')
                td(width='28%', align='left', valign='middle', style='color:#333333; font-family:GARAMOND')
                    a(href='mediaGalary/1319721340_page 15.PDF', target='_blank', title='VIEW FILE ') View 
                    |      /    
                    a(href='download/1319721340_page 15.PDF', title='DOWNLOAD FILE ')
                        | Download  
                        
            tr
                td(width='6%', align='center', valign='middle', height='25', style='color:#333333;') 86
                td(width='66%', align='left', valign='middle', style='color:#333333;')
                td(width='28%', align='left', valign='middle', style='color:#333333; font-family:GARAMOND')
                    a(href='mediaGalary/1319721313_page 14.PDF', target='_blank', title='VIEW FILE ') View 
                    |      /    
                    a(href='download/1319721313_page 14.PDF', title='DOWNLOAD FILE ')
                        | Download  
                        
            tr(bgcolor='#eeeeee')
                td(width='6%', align='center', valign='middle', height='25', style='color:#333333;') 87
                td(width='66%', align='left', valign='middle', style='color:#333333;')
                td(width='28%', align='left', valign='middle', style='color:#333333; font-family:GARAMOND')
                    a(href='mediaGalary/1319721297_page 13.PDF', target='_blank', title='VIEW FILE ') View 
                    |      /    
                    a(href='download/1319721297_page 13.PDF', title='DOWNLOAD FILE ')
                        | Download  
                        
            tr
                td(width='6%', align='center', valign='middle', height='25', style='color:#333333;') 88
                td(width='66%', align='left', valign='middle', style='color:#333333;')
                td(width='28%', align='left', valign='middle', style='color:#333333; font-family:GARAMOND')
                    a(href='mediaGalary/1319721272_page 12.PDF', target='_blank', title='VIEW FILE ') View 
                    |      /    
                    a(href='download/1319721272_page 12.PDF', title='DOWNLOAD FILE ')
                        | Download  
                        
            tr(bgcolor='#eeeeee')
                td(width='6%', align='center', valign='middle', height='25', style='color:#333333;') 89
                td(width='66%', align='left', valign='middle', style='color:#333333;')
                td(width='28%', align='left', valign='middle', style='color:#333333; font-family:GARAMOND')
                    a(href='mediaGalary/1319721235_page 11.PDF', target='_blank', title='VIEW FILE ') View 
                    |      /    
                    a(href='download/1319721235_page 11.PDF', title='DOWNLOAD FILE ')
                        | Download  
                        
            tr
                td(width='6%', align='center', valign='middle', height='25', style='color:#333333;') 90
                td(width='66%', align='left', valign='middle', style='color:#333333;')
                td(width='28%', align='left', valign='middle', style='color:#333333; font-family:GARAMOND')
                    a(href='mediaGalary/1319721207_page 11.PDF', target='_blank', title='VIEW FILE ') View 
                    |      /    
                    a(href='download/1319721207_page 11.PDF', title='DOWNLOAD FILE ')
                        | Download  
                        
            tr(bgcolor='#eeeeee')
                td(width='6%', align='center', valign='middle', height='25', style='color:#333333;') 91
                td(width='66%', align='left', valign='middle', style='color:#333333;')
                td(width='28%', align='left', valign='middle', style='color:#333333; font-family:GARAMOND')
                    a(href='mediaGalary/1319721180_page 09.PDF', target='_blank', title='VIEW FILE ') View 
                    |      /    
                    a(href='download/1319721180_page 09.PDF', title='DOWNLOAD FILE ')
                        | Download  
                        
            tr
                td(width='6%', align='center', valign='middle', height='25', style='color:#333333;') 92
                td(width='66%', align='left', valign='middle', style='color:#333333;')
                td(width='28%', align='left', valign='middle', style='color:#333333; font-family:GARAMOND')
                    a(href='mediaGalary/1319721153_page 08.PDF', target='_blank', title='VIEW FILE ') View 
                    |      /    
                    a(href='download/1319721153_page 08.PDF', title='DOWNLOAD FILE ')
                        | Download  
                        
            tr(bgcolor='#eeeeee')
                td(width='6%', align='center', valign='middle', height='25', style='color:#333333;') 93
                td(width='66%', align='left', valign='middle', style='color:#333333;')
                td(width='28%', align='left', valign='middle', style='color:#333333; font-family:GARAMOND')
                    a(href='mediaGalary/1319721068_page 08.PDF', target='_blank', title='VIEW FILE ') View 
                    |      /    
                    a(href='download/1319721068_page 08.PDF', title='DOWNLOAD FILE ')
                        | Download  
                        
            tr
                td(width='6%', align='center', valign='middle', height='25', style='color:#333333;') 94
                td(width='66%', align='left', valign='middle', style='color:#333333;')
                td(width='28%', align='left', valign='middle', style='color:#333333; font-family:GARAMOND')
                    a(href='mediaGalary/1319721028_page 07.PDF', target='_blank', title='VIEW FILE ') View 
                    |      /    
                    a(href='download/1319721028_page 07.PDF', title='DOWNLOAD FILE ')
                        | Download  
                        
            tr(bgcolor='#eeeeee')
                td(width='6%', align='center', valign='middle', height='25', style='color:#333333;') 95
                td(width='66%', align='left', valign='middle', style='color:#333333;')
                td(width='28%', align='left', valign='middle', style='color:#333333; font-family:GARAMOND')
                    a(href='mediaGalary/1319721012_page 06.PDF', target='_blank', title='VIEW FILE ') View 
                    |      /    
                    a(href='download/1319721012_page 06.PDF', title='DOWNLOAD FILE ')
                        | Download  
                        
            tr
                td(width='6%', align='center', valign='middle', height='25', style='color:#333333;') 96
                td(width='66%', align='left', valign='middle', style='color:#333333;')
                td(width='28%', align='left', valign='middle', style='color:#333333; font-family:GARAMOND')
                    a(href='mediaGalary/1319720997_page 05.PDF', target='_blank', title='VIEW FILE ') View 
                    |      /    
                    a(href='download/1319720997_page 05.PDF', title='DOWNLOAD FILE ')
                        | Download  
                        
            tr(bgcolor='#eeeeee')
                td(width='6%', align='center', valign='middle', height='25', style='color:#333333;') 97
                td(width='66%', align='left', valign='middle', style='color:#333333;')
                td(width='28%', align='left', valign='middle', style='color:#333333; font-family:GARAMOND')
                    a(href='mediaGalary/1319720911_page 04.PDF', target='_blank', title='VIEW FILE ') View 
                    |      /    
                    a(href='download/1319720911_page 04.PDF', title='DOWNLOAD FILE ')
                        | Download  
                        
            tr
                td(width='6%', align='center', valign='middle', height='25', style='color:#333333;') 98
                td(width='66%', align='left', valign='middle', style='color:#333333;')
                td(width='28%', align='left', valign='middle', style='color:#333333; font-family:GARAMOND')
                    a(href='mediaGalary/1319720839_page 03.PDF', target='_blank', title='VIEW FILE ') View 
                    |      /    
                    a(href='download/1319720839_page 03.PDF', title='DOWNLOAD FILE ')
                        | Download  
                        


    // ============FOOTER=============
    #footer