extends ../../theme_cat/layout
include ../../theme_cat/allMixin
block content
    .header.container
        include ../../theme_cat/partials/_header
    include ../../theme_cat/partials/_navArea
    div.container
      div(style='padding:20px; line-height:25px;')
        font(style='font-size:18px; color:#de7612; font-weight:bold;')       NUJ (I) SCHOOL OF JOURNALISM & COMMUNICATION
        br
        p(align='justify')
            | The 
            strong National Union of Journalists (India)
            |  set up NUJ (I) School of Journalism and Communication in 1992 to undertake the  urgent need for upgrading the professional skills of journalists working in the  print and electronic media. The seasoned and senior journalists who did the  groundwork for setting up this organization realized the fact that this  profession being absolutely practical and entirely based on realism was very  demanding and it was imperative for its practitioners to be always familiar  with the latest in every field. Just as news becomes stale hour after hour, so  do all the skills and technologies after a certain span of time making it  incumbent for the persons concerned to keep on updating them. It is in this  context that the School was conceived, set up and got registered under the  Societies Registration Act (XXI of 1860). The School devotes a major part of  its endeavour and resources to research and advance orientation encompassing  both the print and electronic media. It also organizes workshops and seminars  on professional matters for working journalists.
        p(align='justify')
            | The impressive growth of the Press in  various national languages has crystallized one fact that the future is not  only bright but also belongs to what is currently called the language Press.  The NUJ (I) School, therefore, lays greater stress on the training of  journalists in the language Press and help them prepare, within its modest  means, to undertake the onerous responsibilities with knowledge, ability,  competence and dedication.
        p(align='justify')
            | The NUJ (I) School of Journalism and  Communication is unique in every aspect. It is different from all others in  existence. It is not a school or an institute where basic training and  information is given to graduates about journalism followed by a degree or a  diploma. It cannot be compared with any university or college or private  institute or even the prestigious Delhi-based Indian Institute of Mass  Communication because it does not impart any basic training. Its operation  starts not even where these institutes’ ends. Its role begins where journalists  have already completed a decade or more in active profession. It imparts no  basic training but trains those who have reached a saturation point in  professional upliftment and are groping for chances to enhance and update their  skills. It is not surprising then that the NUJ (I) members are approached by  almost all institutes conducting courses in Journalism every year to set  question papers for their students and also examine the answer sheets and also  invite them as guest faculty to deliver highly professional lectures on  subjects related to practical journalism to help their students to have an  insight into the journalistic world. No wonder then that some of our senior members  are employed by these institutes on regular/part-time basis to teach their  students – it is true even in case of the IIMC. 
            br
            |                   For the past few years journalism has  been undergoing a metamorphosis. Newspapers have started devoting more space to  behind the scene activities not only in politics but also in several other  areas including boardrooms and to human rights violations as also rural  problems and demands. Working journalists are called upon to perform variegated  jobs. Envioronment, arts and culture, fashion, marital problems, architecture,  eating out, scientific researches and developments, agricultural requirements  in tune with the latest research and findings as also agronomy — in fact there  is no end to the specialist writers they need. The large number of new  features, glosses and supplements, the behind the news write-ups, the dynamic  displays and aggressive headlines—it is a picture totally different from what  we were accustomed to earlier. These innovations have been the outcome of the  fertile brains of working journalists. The NUJ (I) School’s programme  encompasses these all and much more.
        span.txt1
            p
                font(size='2')
                    br
                font(style='font-size:18px; color:#de7612; font-weight:bold;')   REFRESHER COURSES & WORKSHOPS
                br
                |                  The School has already launched a  series of refresher courses, especially for the journalists in the language  Press on various aspects of the national scene with a view to equipping the  reporters and the sub-editors with a deeper understanding of the socio-economic  and political situation in the country. These include short-term courses on  budget reporting, crime reporting, corporate reporting, trade union  development, covering environmental issues and culutural and entertainment  activities, appreciation courses in nuclear energy and Internet hand-on courses  et al. A cyber journalism initiative was launched in July 1998 with Prime Minister  A B Vajpayee flagging it off at our biennial convention in Punjab. 
                br
                |                   Since the School’s main objective is  to upgrade the skills of working journalists it holds workshops on various  subjects at different places in the country to help them have the best possible  training by experts like the one on nuclear energy at the Bhabha Atomic  Research Centre at Mumbai, the Trade Union Development workshop in Delhi, New  Trends in Reporting at Ludhina, Ecoligical crisis in Punjab at Amritsar,  Development Journalism at Hisar in Haryana, and INTERNET workshops at Lucknow,  Delhi and Chandigarh. . 
                br
                |                   The NUJ (I) School of Journalism and  Communication organized with the help of International Federation of  Journalists (IFJ) a major workshop in December 1997 on MEDIA TRADE UNIONISM at  Lodi Hotel in New Delhi. IFJ Advisor Lee Yong See was the chief guest. Union  Labour Minister, Kumamangalam and Delhi Chief Minister Sahib Singh Verma were  among those who addressed the workshop. Representatives from various journalist  unions from all over the country actively participated in the workshop. 
                br
                |                   The School organized a seminar on  Broadcasting Bill sponsored by the National Telematic Forum in New Delhi on  June 12, 1997. A workshop on reporting of atomic energy was also organized in  the same month in Mumbai that was sponsored by the Department of Atomic Energy.  So far, four batches each comprising 16-18 journalists from all over the  country have attended these workshops in Mumbai and other atomic plants in  India. 
                br
                |                   Besides, the School organized  workshops on CRIME REPORTING on August 19,1998: On CORPORATE REPORTING on  October 9, 1998 in collaboration with ASSOCHAM, on COMPUTER TRAINING on  November 28, 1998 with the help of NIIT, and on e-Commerce on July 21,1999 in  New Delhi with the help of FICCI.
        span.txt1
            p
                span.txt1
        span.txt1
            p
                font(style='font-size:18px; color:#de7612; font-weight:bold;') IFJ SPONSORED PROJECTS
                br
                |                         The NUJ (I) School has always remained in active touch with  the International Federation of Journalists, Brussels that has affiliates  unions in more than 100 countries with a combined membership of over half a  million. The IFJ General Secretary Aidan White visited New Delhi in September  1997 and June 1998. During these visits, he participated in our seminar at  Kolkatta. The NUJ (I) organized a trade union development workshop in 
                br
                |                   The NUJ(I) and its regional units have been organizing a  large number of workshops, seminars, discussions, classes, to improve the  quality of their members. Some of these events have found sponsors from  different agencies including governmental ones. We have trained journalists in  reporting on new areas like nuclear energy, developmental journalism, crime  reporting, human rights, child rights, problems of gender equality,  discrimination and empowerment, corporate reporting, public health awareness,  environmental problems etc. Some of these events were organized in  collaboration with the IFJ. 
                br
                |                   The workshop on child rights and the media, the reporting on  poverty related issues (organized with sponsorship of UNDP also), were  additional dividends out of this relationship. NUJ(I) as a member of the IFJ  delegation of working journalists to the ILO sponsored conference on this  subject in 1991 made a significant contribution to the conference under the  leadership of Christopher Warren. It also contributed to Asian journalists  conference in Tokyo, the women journalists conferences in Tokyo, Kuala Lumpur  and Seoul organized by the IFJ. 
                br
                br
            p
                strong
                    | NUJ (I) School of  Journalism and Communicaiton organised a seminar on MEDIA CREDIBILITY AND  ACCOUNTABILITY at Delhi in March 2004 that was inaugurated by Arun Jaitley,  Minister for Law and Justice, and presided over by the Chairman of the Press  Council of India. Chairman of the Editors Guild of India, Harijai Singh,  chaired one of the sessions. The School in collaboration with Kheti Virasat  organised a workshop on Ecological Crisis in Punjab and Media at Amritsar in  April 2004.

    // ============FOOTER=============
    #footer