extends ../../theme_cat/layout
include ../../theme_cat/allMixin
block content
    .header.container
        include ../../theme_cat/partials/_header
    include ../../theme_cat/partials/_navArea
    div.container
      div(style='padding:20px; line-height:25px;')
        font(style='font-size:18px; color:#de7612; font-weight:bold;')       About JOURNALISTS WELFARE FOUNDATION ( JWF )
        br
        p
            | This Deed of the Trust is  executed on this _____________day of ______________2000 at New Delhi by Shri  Shyam Khosla, Journalist, resident of A-208, Surajmal Vihar, Delhi-92, Shri R.  Prabhu, Journalist, resident of  A-11,  Andrewsganj Extension, New Dehil-49, Dr. N K Trikha, Journalist, resident of  B-5, Press Enclave, Saket, New Delhi- 17, Shri Hemant Kr Vishnoi, Journalist,  resident of A-7/47, Krishan Nagar, Delhi-51 and Shri M D Gangwar, Journalist,  resident of A-15, Mansarovar Park, Delhi 32 (Hereinafter called the founders).
        p
            | 2. That the founders are  desirous of establishing in perpetuity a fund for the following aims and  objectives:
        p
            | i)          To promote, safeguard and defend the professional interests,  welfare and status of working journalists;
            br
            |                   ii)         To promote and maintain the highest standards of  professional conduct and     integrity  and to strive for and defend the freedom and independence of the media;
            br
            |                   iii)        To provide financial assistance to journalists in need and to  give pension, unemployment, sickness and death benefits or other kinds of  benefits to members of the National Union of Journalists (India) and its  affiliates in the states. 
            br
            |                   iv)        To give financial assistance to the National Union of Journalists  (India) and its affiliate units so that they can strengthen the trade union  movement among media workers, including working journalists;
            br
            |                   v)         To arrange for training of journalists to improve their  professional skills and to establish and maintain institutes of journalism and  to give financial support to institutes and schools of journalism established  by the National Union of Journalists (India) and its affiliate units;
            br
            |                   vi)        To institute fellowships to help journalists conduct research  and publish books on media related subjects;
            br
            |                   vii)       To strive for the betterment of working conditions of  journalists, especially with regard to salary, remuneration, conditions of  service, tenure of office, allowances and facilities for the due discharge of  their responsibilities without fear or favour;
            br
            |                   viii)      To help safeguard and promote interests of journalists  generally, and to help them  secure  employment;
            br
            |                   ix)        To work for and promote legislation for the economic and  professional welfare of journalists and for the proper development of the media  free from outside control;
            br
            |                   x)         To establish and maintain libraries for the use of media  persons and to promote amenities for recreation and cultural activities;
            br
            |                   xi)        To collect, classify and circulate statistics and other information  relating to the media and to do all things conducive to the growth of a free  and powerful media;
            br
            |                   xii)       To publish newspapers, journals, research papers, reports,  booklets, brochures, and books and to set up media news agencies for print and  electronic media and to own, maintain and run printing presses and acquire  modern information technologies for the dissemination of information;
            br
            |                   xiii)      To own, construct and maintain buildings for the benefits of  journalists, to acquire property of every kind, to sell, mortgage or otherwise  alienate or convert them into money or to raise funds through donations or  otherwise and to do all such things that are incidental or conducive to  attainment of the above objectives or any of them.
        p
            | 3.   AND WHEREAS for the above said purposes, the  founders have collected RS. 11,000 (Rupees eleven thousand only) that are  available with them.
        p
            | 4.   AND WHEREAS the Trust will be called  JOURNALISTS WELFARE FOUNDATION (hereinafter called Foundation). The office of  the Foundation shall remain in the National Capital Region of Delhi and at  present it is at NUJ (I) office, 7, Jantar Mantar Road, New Delhi-1.
        p
            | 5.   Whereas the founders hereby declare and make  it known to all those present or may come that they give, transfer and assign  absolutely of all encumbrances unto the JOURNALISTS WELFARE FOUNDATION. Now,  therefore this Deed of Trust declares and witnesses as follows:
        p
            | 6.   There will be at present seven members of the  Foundation known as Trustees of the Foundation and together will be termed as  Board of Trustees. However, the number of trustees shall not be less than five  and more than nine at any time. The following are the members of the Board of  Trustees of the Foundation:
        p
            | i)          Shri Shyam Khosla, Journalist, resident of A-208, Surajmal  Vihar, Delhi-92;
            br
            |                   ii)         Shri R Prabhu, Journalist, resident of A-11,Andrewganj  Extension, New Delhi-21
            br
            |                   iii)        Dr. N K Trikha, Journalist, resident of B-5, Press Enclave,  Saket, New Delhi-17;  
            br
            |                   iv)        Shri Hemant Kr Vishnoi, Journalist, resident of A-7/47,  Krishan Nagar, Delhi-51
            br
            |                   v)         Shri M D Gangwar, Journalist, resident of A-15, Mansrovar  Park, Delhi-32;
            br
            |                   vi)        Shri P.K. Roy, Journalist, Near Sanskrit School, Gandhi  Nagar, Lucknow 226001;
            br
            |                   vii)       Shri Gulab Batra, Journalist, 5/135, Malviya Nagar, Jaipur.
        p
            | 7.   All the above mentioned Trustees shall be  life Trustees. A life Trustee shall cease to be a member of the Board of  Trustees if the remaining members of the Board unanimously adopt a resolution  to that effect at a meeting of the Board specifically called for this purpose  for reasons to be stated in writing.
        p
            | 8.         A vacancy or vacancies in the Board of Trustees of the  Foundation caused by resignation, death or removal, as the case may be, shall  be filled in by the remaining members through a resolution to be adopted at a  meeting specifically called for the purpose by a 2/3 majority of the members  present and a simple majority of the existing members of the Board of Trustees.
        p
            font(style='font-size:18px; color:#de7612; font-weight:bold;') 9. OFFICE BEARERS
            br
            |                   There will be the following  offices of the Foundation:
            br
            | i)          Chairman;
            br
            | ii)         Vice Chairman;
            br
            | iii)        Secretary;
            br
            | iv)        Treasurer.
        span.txt1
            p
                br
                font(style='font-size:18px; color:#de7612; font-weight:bold;') 10 ELECTIONS
                br
                |                       All office bearers of the  Foundation will be elected by the member of the Board of the Trustees of the  Foundation from amongst themselves at a meeting of the Board of Trustees  specifically called for this purpose. All office bearers shall hold office for  a period of three years. They will be eligible for re-election with the proviso  that no office bearer shall hold office for more than two consecutive terms.  Fifty per cent of the existing members of the Foundation shall constitute the  quorum for such a meeting.
        p
            | The first office bearers of  the Board of Trustees of the Foundation for the term 2000-03 shall be:
        p
            | OFFICE             NAME               OCUPATION                      ADDRESS                            SIGNATURE
        p
            | Chairman         Shyam Khosla                         Journalist         A-208  Surajmal Vihar,
            br
            |                   Delhi-  110092
            br
            |                   Vice Chairman R.Prabhu                                  Journalist         A-11,  Andrewsganj Extension
            br
            |                   New  Delhi 110049
            br
            |                   Secretary          Hemant Kr Vishnoi      Journalist         A-7/47,  Krishan Nagar
            br
            |                   Delhi-92
            br
            |                   Treasurer         M.D.Gangwar                          Journalist         A-17,  Mansrovar Park,
            br
            |                   Delhi-32
        span.txt1
            p
                font(size='2')
                    br
                br
                font(style='font-size:18px; color:#de7612; font-weight:bold;') 11.  POWERS AND DUTIES OF OFFICE BEARERS
                br
                |                           i)  CHAIRMAN
        p
            | Chairman of the Foundation  shall preside over all meetings of the Board of Trustees of the Foundation. The  Chairman shall have overall control and supervision over the affairs of the  Foundation and its activities. He shall have the power to sanction expenditure  up to RS. 20,000 at a time for the benefit of and carrying out the aims and  objectives of the Trust. All such expenses shall be reported to the next  meeting of the Foundation for approval.
        p ii) VICE CHAIRMAN
        p
            | Vice Chairman shall preside  over the meetings of the Board of Trustees of the Foundation in the absence of  the Chairman. He shall act as Chairman in the event of the office of the  Chairman falling vacant due to death, resignation or any other reason till a  new Chairman is elected by the Foundation.
        p iii) SECRETARY
        p
            | a)   The Secretary shall be responsible for  keeping and maintaining an accurate record of the meetings of the Board of  Trustees and carrying on all correspondence on behalf of the Foundation;
            br
            |                   b)    He shall be responsible for calling meetings  of the Board of Trustees in consultation with the Chairman and circulating the  agenda of the meeting along with the notice of the meeting;
            br
            |                   c)   He shall keep all documents of the Foundation  in safe custody either in the office of the Foundation or any other place in  consultation with the Chairman of the Foundation; 
            br
            |                   d)   He shall comply with the directions of the  Board of Trustees of the Foundation and the Chairman from time to time in the  discharge of his duties in the best interests of the Foundation. 
            br
            |                   e)   He will sue and be sued on behalf of the  Foundation.
        p iv) TREASURER
        p
            | a)   The Treasurer shall be responsible for  keeping an accurate account of the income and expenditure of the Foundation and  all projects and activities undertaken by the Foundation and make all entries  in the books of accounts, including cash book, ledger, receipt books and  vouchers.
            br
            |                   b)   The Treasurer may keep the accounts himself  or under his supervision by a qualified accountant in consultation with the  Secretary.
            br
            |                   c)   All receipts and vouchers of income and  expenditure shall be signed by him and counter-signed by the Secretary.
        |                 d)         He shall be responsible for doing all necessary things as  directed by the Board of Trustees of the Foundation or the Chairman or the  Secretary from time to time in respect of the accounts and handling of the  funds of the Foundation.
        span.txt1
            p
                font(style='font-size:18px; color:#de7612; font-weight:bold;') 12. POWERS OF THE BOARD OF TRUSTEES
                br
                |                     i)          The Board of Trustees shall be fully empowered to carry out  the above mentioned aims and objectives of the Foundation in the Union of India  and the funds of the Foundation or the income thereon shall be spent and  utilized for fulfilling the aims and objectives of the Foundation. 
                br
                | ii)         The Board of Trustees shall manage, supervise and control  all its funds, properties and affairs to the best of its abilities and shall be  competent to take decisions and approve the plans in pursuance of the aims and  objectives of the Foundation. The Board may make any grant, donation,  scholarship or financial assistance for the furtherance of the aims and  objectives of the Foundation.
                br
                | iii)        The Board of Trustees may acquire, purchase, accept as gift  or donation or contribution, sell or dispose off or otherwise transfer,  temporarily or permanently, any property, movable or immovable to carry out the  purpose of the Foundation to the benefit and in the best interest of the  Foundation, its beneficiaries and its assets and liabilities. The donations or  contributions in cash or kind or otherwise may be accepted from person or  persons, Union and State Governments, firms, companies, societies, bodies,  corporations, charitable trusts or institutions or associations for and on  behalf of the Foundation or for any one or more objectives of the Foundation  upon such terms and conditions as the Board may in its discretion think fit and  which are not inconsistent with the objectives of the Foundation. The Board of  Trustees may also take over the management of any Trust or public institution  on such terms as they may think fit and may manage the same.
                br
                | iv)        The Board of Trustees shall also be at liberty to sell, to  carry out any charitable purpose as defined under section 2(15) of the Income  Tax Act, 1961, and otherwise such portions of the movable and immovable  properties forming part of the Foundation either by public auction or by  private contract at such price or prices and on such terms and conditions  relating to the title or otherwise in all respects as the case may be in its  absolute discretion and to buy, rescind or vary any contract for the sale  thereof and to resell the same without being answerable for any loss occasioned  thereby and for that purpose to execute all necessary conveyances, transfers or  other assurances and to pass valid and factual receipts and discharges for all  moneys received by it and authorize any or one or more trustees to sign,  execute any sale deed or other assurances of behalf of the Foundation and the  Board of Trustees and to get the same registered according to law. 
                br
                | v)         The Board of Trustees may raise or  borrow money required for the purposes of the Foundation on a mortgage,  hypothecation, pledge or pawn of the properties of the Foundation or any part  thereof, with or without any security and at such rate of interest and or on  such terms and conditions as it may, in its absolute discretion thin fit.  
                br
                | vi)        The Board of Trustees shall be competent to make rules, take  decisions and pass resolutions for the regulation and the conduct of the  business and working of the Foundation, its administration and all its affairs  and concerns and also to vary, alter and amend the same from time to time as  the Board of Trustees may in their absolute discretion deem fit and proper.
                br
                | vii)       The surviving or continuing trustees may act notwithstanding  any vacancy in the Board of Trustees provided, however, that if the number of  trustees fall below five, the Board shall not, except for the purposes of  filling any vacancy, acts so long as the number is below the said minimum.
                br
                | viii)      The Board of Trustees may appoint, suspend, remove, punish or  dismiss any employee in the interest of efficient functioning to achieve the  aims and objectives of the Foundation and all of its concerns.
                br
                | ix)        The Board of Trustees shall be competent to do all acts,  deeds and things necessary to promote the interest of the Foundation, its aims  and objectives and its beneficiaries generally that may not be in any way  contrary to, or in contradiction of the objectives and purposes of the  Foundation.
                br
                | x)         The Board of Trustees shall cause true and accurate accounts  to be kept from year to year according to the financial year of all moneys  received and spent and all matters in respect thereof in course of the  management of the Foundation properties or in relation to the carrying out the  objects and purposes of Trust as well as of all assets, credits and effects of  the Foundation property.
                br
                | xi)        The Board of Trustees may appoint a person of integrity or a  Chartered Accountant to act as an auditor from time to time and get the  accounts audited by him every year before presenting the audited accounts  before the Board for Approval.
                br
                | xii)       The Board of Trustees may decide to invest the funds of the  Foundation in such a manner, as it may consider proper. However, no investment  shall be made in such a manner as to defeat the aims and objectives of the  Trust or as prohibited under the Income Tax Act, 196l.  
                br
                | xiii)      Any conveyance, mortgage, lease or any other deed, document and  assurances may be signed, executed and registered by any one or more of the  Trustees authorized by the Board of Trustees by a resolution and any such  document shall be deemed to have been signed, executed and registered by and on  behalf of the Board of the Trustees.
                br
                | xiv)      The Board of Trustees may from time to time constitute  committees comprising of members and well wishers to aid and assist in the  furtherance of the objectives of the Foundation
            p
                br
                font(style='font-size:18px; color:#de7612; font-weight:bold;') 13. INDEMNITY OF TRUSTEES
                br
                |                         The members of the Board of  Trustees shall be respectively chargeable for such moneys, stocks, shares,  funds and securities as they actually receive notwithstanding their  respectively signing a receipt jointly with others for the sake of conformity  and shall be answerable and accountable for their own acts, receipts, neglects  and defaults but shall not be answerable for any other member of the Board nor  for any banker, broker or other person with whom or into whose hands any  property of the Foundation may come or be deposited or placed nor for the  insufficiency or deficiency of any stocks, shares, funds or other security nor  otherwise for involuntary losses, unless the same shall happen through their  willful default or neglect.
                br
                br
                font(style='font-size:18px; color:#de7612; font-weight:bold;') 14.  RIGHT OF REIMBRUSEMENT OF EXPENSES
                br
                |                         Every Trustee may reimburse  himself or pay or discharge out of the Foundation property all expenses  incurred in or for the execution of the Foundation or realization, reservation  or benefit of the Foundation property or the protection and support of the  beneficiaries or any of their duties including reasonable travelling allowances  but will not be entitled to any remuneration for his troubles, skill and loss  of time in executing the work of the Foundation. 
                br
                br
                font(style='font-size:18px; color:#de7612; font-weight:bold;')
                    | 15. DISQUALIFICATIN FOR BEING APPOINTED OR CONTINUING AS MEMBERS OF THE BOARD OF TRUSTEES
                br
                |                         a) A person shall be  disqualified for being appointed or for continuing as a member of the Board of  Trustees if he is:
                br
                | i)          Less than 21 years of age;
                br
                | ii)         Undischarged insolvent;
                br
                | iii)        Found to be a person of unsound mind;
                br
                | iv)        A person convicted of any offence involving moral turpitude  or has been removed from any office by a court order for corruption or  mismanagement.
        p
            | b) A person shall cease to be  a Trustee in any of the following events;
            br
            |                   i)          If he dies;
            br
            |                   ii)         Becomes insolvent;
            br
            |                   iii)        If he becomes insane
            br
            |                   iv)        If he resigns his office in writing;
            br
            |                   v)         If he is asked to resign by all the remaining members of the  Board of Trustees.
        span.txt1
            p
                font(style='font-size:18px; color:#de7612; font-weight:bold;') 16.   MEETINGS
            p
                | i)  An ordinary meeting of the Board of Trustees shall be held  once in every three calendar months at such time and place as the Board or the  Chairman may decide. A week’s clear notice shall be given for holding an  ordinary meeting. The Secretary will issue the notice and agenda of the meeting  in consultation with the Chairman.
                br
                | ii)         An emergency meeting may be held with a three days clear  notice if so desired by the Chairman or requisitioned by atleast three members  of the Board of the Trustees.
                br
                | iii)        The quorum for ordinary and emergency meetings shall be four.  If a meeting is adjourned for want of quorum, it may be held at the same venue  and time after 24 hours. No quorum will be necessary for such meetings.  However, a quorum of four will be essential for amending the deed of the Trust  or for removing or appointing new members for the Board of the Trustees.
                br
                | iv)        All matters will be decided by a majority of votes by show of  hands. The Chairman shall have a casting vote in the event of a tie. However,  any decision about the amendments to the deed of the Trust and removal and  appointment of members of the Board of Trustees shall be by a 2/3rd majority members present and voting and not  less than a simple majority of the existing members of the Board. 
                br
                | v)         The ruling of the Chairman on any point of order shall be  final and conclusive. 
                br
                | vi)        The minutes of the proceedings of every meeting of the Board  of Trustees shall be entered in the minutes book to be kept for that purpose by  the Secretary. These will be circulated to all members of the Board of Trustees  within 10 days of the meeting. These shall be confirmed at the next meeting and  signed by the Chairman in confirmation as conclusive evidence of the business  and other matters transacted at such meetings.
                br
                | vii)       Chairman and Secretary may invite any person as a special  invitee to the meetings of the Board of Trustees. Such special invitees,  however, will have no voting rights.
                font(size='2')
                    br
                font(style='font-size:18px; color:#de7612; font-weight:bold;') 17.    FUNDS
                br
                |                   i)          For the present a sum of RS 11,000 (Rupees eleven thousand  only) has been provided by the founding trustees to form the nucleus of the  Trust. The income arising out of the said amount and other funds raised by the  Board of Trustees as donations or contributions from members of the public,  institutions, firms, governments or charitable trusts may be spent to achieve  the aims and objectives of the Foundation and shall be kept in the name of the  Foundation.
                br
                | ii)         The funds of the Foundation may be deposited in a scheduled  bank or with a reliable firm of repute as decided by the Board of Trustees from  time to time. The accounts will be operated by the Chairman, Secretary and the  Treasurer of the Foundation or any two of the above as decided upon by the  Board of Trustees from time to time.
                font(size='2')
                    br
        p
            font(style='font-size:18px; color:#de7612; font-weight:bold;') 18.  CORPORATE CHARACTER and AMENDMENTS
            br
            |                   i)          The Foundation shall be a corporate body and shall sue or  be sued in its corporate name through its Secretary who may appoint an attorney  or advocate for prosecuting, defending or doing any other act necessary for the  prosecution or defence of the suit, appeal, revision or any other legal  proceedings and give him the power that are required to do so.
        |           ii)         The Board of Trustees, if necessary, may make any amendment,  in a meeting specifically called for the purpose. All decisions will be by a  2/3d majority of members present and voting. The quorum for such a meeting  shall be 50 per cent of the existing members of the Board of Trustees.
        p
            | 19.     The  Foundation shall be a non-profit body and the entire income and properties of  the Foundation shall be utilized towards the promotion of its aims and  objectives.
        p
            | 20. The Foundation’s activities shall be open to  persons of either sex and of whatever race, religion, creed or caste.
        p
            | 21. The value of the property hereby conveyed and  settled upon the Board of the Trustees is RS 11,000 on which the stamp duty has  been paid as on a settlement deed.
        p FOR AND ON BEHALF OF:
        p  
        p 1. Shyam Khosla     Journalist        A-208, Surajmal Vihar, Delhi-92     
        p  
        p
            | 2. R.Prabhu             Journalist        A-11, Andrewsganj Extension, New  Delhi-49
        p  
        p 3. Dr N K Trikha     Journalist        B-5, Press Enclave, Saket, New Delhi 17
        p  
        p 4. Hemant Kr Vishnoi     Journalist    A-7/47, Krishan Nagar, Delhi 51
        p  
        p 5.  M D  Gangwar        Journalist     A-15, Mansrovar Park, Delhi 32
        p
            span.txt1
                font(size='2')
                    br

    // ============FOOTER=============
    #footer