extends ../../theme_cat/layout
include ../../theme_cat/allMixin
block content
    .header.container
        include ../../theme_cat/partials/_header
    include ../../theme_cat/partials/_navArea
    div.container
      table(width='95%', border='0', cellspacing='0', cellpadding='0')
        tbody
            tr
                td(align='left', valign='top')  
            tr
                td(align='center', valign='top', style='border:#CCCCCC solid 1px; border-bottom:none;')  
            tr
                td(align='left', valign='top', style='border-left:#CCCCCC solid 1px; border-right:#CCCCCC solid 1px; padding-left:5px; color:#de7612; font-size:20px;')
                    strong JWF OFFICE BEARERS 
            tr
                td(align='center', valign='top', style='border-left:#CCCCCC solid 1px; border-right:#CCCCCC solid 1px;')  
            tr
                td(colspan='3', align='left', height='25', valign='middle', bgcolor='#de7612', style='color:#ffffff; font-size:20px; padding-left:25px;')
                    strong Chairman
            tr
                td(align='center', valign='top', style='border-left:#CCCCCC solid 1px; border-right:#CCCCCC solid 1px;')
                    table(width='95%', border='0', cellspacing='0', cellpadding='0', style='border:#CCCCCC solid 1px;')
                        tbody
                            tr
                                td(width='83%', align='left', valign='top', style='color:#333333; font-size:16px; padding-left:5px; line-height:25px;')
                                    strong Dr N K Trikha
                                    br
                                    br
                                    br
                                    strong Address :-
                                    br
                                    strong Res :-
                                    strong Office :-
                                    strong Mobile :-
                                    |  9811293497, 9968686828 
                                    br
                                    strong Email :- 
                                    | trikhank@gmail.com
                                td(width='17%', align='left', valign='top')
                                    img(src='/images/dr nk trikha_1421391904.jpg', height='150', width='150')
                            tr
                                td(align='left', valign='top', colspan='2', height='10')
                    br
            tr
                td(align='center', valign='top', style='border-left:#CCCCCC solid 1px; border-right:#CCCCCC solid 1px;')  
            tr
                td(colspan='3', align='left', height='25', valign='middle', bgcolor='#de7612', style='color:#ffffff; font-size:20px; padding-left:25px;')
                    strong Vice Chairman
            tr
                td(align='center', valign='top', style='border-left:#CCCCCC solid 1px; border-right:#CCCCCC solid 1px;')
                    table(width='95%', border='0', cellspacing='0', cellpadding='0', style='border:#CCCCCC solid 1px;')
                        tbody
                            tr
                                td(width='83%', align='left', valign='top', style='color:#333333; font-size:16px; padding-left:5px; line-height:25px;')
                                    strong Shri R Rajendra Prabhu
                                    br
                                    br
                                    br
                                    strong Address :-
                                    br
                                    strong Res :-
                                    strong Office :-
                                    |  0120-4128079 
                                    strong Mobile :-
                                    |  9811274594
                                    br
                                    strong Email :- 
                                    | r.rprabhu@yahoo.in
                                td(width='17%', align='left', valign='top')
                                    img(src='/images/na.png', height='150', width='150')
                            tr
                                td(align='left', valign='top', colspan='2', height='10')
                    br
            tr
                td(align='center', valign='top', style='border-left:#CCCCCC solid 1px; border-right:#CCCCCC solid 1px;')  
            tr
                td(align='center', valign='top', style='border-left:#CCCCCC solid 1px; border-right:#CCCCCC solid 1px;')  
            tr
                td(align='left', height='25', valign='middle', bgcolor='#de7612', style='color:#ffffff; font-size:20px; padding-left:25px;')
                    strong Secretaries
            tr
                td(align='center', valign='top', style='border-left:#CCCCCC solid 1px; border-right:#CCCCCC solid 1px;')
                    table(width='95%', border='0', cellspacing='0', cellpadding='0', style='border:#CCCCCC solid 1px;')
                        tbody
                            tr
                                td(width='83%', align='left', valign='top', style='color:#333333; font-size:16px; padding-left:5px; line-height:25px;')
                                    strong Ras Bihari
                                    br
                                    br
                                    br
                                    strong Address :-
                                    br
                                    strong Res :-
                                    strong Office :-
                                    strong Mobile :-
                                    |  9810291706
                                    br
                                    strong Email :- 
                                    | rbihari@gmail.com
                                td(width='17%', align='left', valign='top')
                                    img(src='/images/ra_1419936811.jpg', height='150', width='150')
                            tr
                                td(align='left', valign='top', colspan='2', height='10')
                    br
            tr
                td(align='center', valign='top', style='border-left:#CCCCCC solid 1px; border-right:#CCCCCC solid 1px;')  
            tr
                td(align='left', height='25', valign='middle', bgcolor='#de7612', style='color:#ffffff; font-size:20px; padding-left:25px;')
                    strong Treasurer
            tr
                td(align='center', valign='top', style='border:#CCCCCC solid 1px;')
                    table(width='95%', border='0', cellspacing='0', cellpadding='0', style='border:#CCCCCC solid 1px;')
                        tbody
                            tr
                                td(width='83%', align='left', valign='top', style='color:#333333; font-size:16px; padding-left:5px; line-height:25px;')
                                    strong Ashok Malik
                                    br
                                    br
                                    br
                                    strong Address :-
                                    br
                                    strong Res :-
                                    strong Office :-
                                    strong Mobile :-
                                    |  9814640774
                                    br
                                    strong Email :- 
                                    | ashokmalik@gmail.com
                                td(width='17%', align='left', valign='top')
                                    img(src='/images/na.png', height='150', width='150')
                            tr
                                td(align='left', valign='top', colspan='2', height='10')
                    br
            tr
                td(align='center', valign='top', style='border-left:#CCCCCC solid 1px; border-right:#CCCCCC solid 1px;')  
            tr
                td(colspan='3', align='left', height='25', valign='middle', bgcolor='#de7612', style='color:#ffffff; font-size:20px; padding-left:25px;')
                    strong Executive Members
            tr
                td(align='center', valign='top', style='borde:#CCCCCC solid 1px;')
                    table(width='95%', border='0', cellspacing='0', cellpadding='0', style='border:#CCCCCC solid 1px;')
                        tbody
                            tr
                                td(width='83%', align='left', valign='top', style='color:#333333; font-size:16px; padding-left:5px; line-height:25px;')
                                    strong Shri A N Mishra
                                    br
                                    br
                                    br
                                    strong Address :-
                                    br
                                    strong Res :-
                                    strong Office :-
                                    strong Mobile :-
                                    |  09811140061 , 09560880055, 09893033969
                                    br
                                    strong Email :- 
                                    | mishraachyutananda06@gmail.com
                                td(width='17%', align='left', valign='top')
                                    img(src='/images/na.png', height='150', width='150')
                            tr
                                td(align='left', valign='top', colspan='2', height='10')
                    br
                    table(width='95%', border='0', cellspacing='0', cellpadding='0', style='border:#CCCCCC solid 1px;')
                        tbody
                            tr
                                td(width='83%', align='left', valign='top', style='color:#333333; font-size:16px; padding-left:5px; line-height:25px;')
                                    strong Shri P K Roy (Uttar Pradesh), 
                                    br
                                    br
                                    br
                                    strong Address :-
                                    br
                                    strong Res :-
                                    strong Office :-
                                    strong Mobile :-
                                    |  09838831389
                                    br
                                    strong Email :- 
                                    | pkroylko@gmail.com
                                td(width='17%', align='left', valign='top')
                                    img(src='/images/na.png', height='150', width='150')
                            tr
                                td(align='left', valign='top', colspan='2', height='10')
                    br
                    table(width='95%', border='0', cellspacing='0', cellpadding='0', style='border:#CCCCCC solid 1px;')
                        tbody
                            tr
                                td(width='83%', align='left', valign='top', style='color:#333333; font-size:16px; padding-left:5px; line-height:25px;')
                                    strong Uppala Lakshman (Andhra Pradesh)
                                    br
                                    br
                                    br
                                    strong Address :-
                                    br
                                    strong Res :-
                                    |  040-27675568 
                                    strong Office :-
                                    strong Mobile :-
                                    |  09391049959
                                    br
                                    strong Email :- 
                                    | ulaxman2001@yahoo.co.in
                                td(width='17%', align='left', valign='top')
                                    img(src='/images/1_1419937305.png', height='150', width='150')
                            tr
                                td(align='left', valign='top', colspan='2', height='10')
                    br
                    table(width='95%', border='0', cellspacing='0', cellpadding='0', style='border:#CCCCCC solid 1px;')
                        tbody
                            tr
                                td(width='83%', align='left', valign='top', style='color:#333333; font-size:16px; padding-left:5px; line-height:25px;')
                                    strong Prajnananda Chaudhuri
                                    br
                                    br
                                    |                       Special Correspondent, Anand Bazar Patika
                                    br
                                    strong Address :-
                                    br
                                    strong Res :-
                                    strong Office :-
                                    strong Mobile :-
                                    |  09831159968
                                    br
                                    strong Email :- 
                                    | prajnananda.chaudhuri@abp.in
                                td(width='17%', align='left', valign='top')
                                    img(src='/images/Prajnananda_1421392056.jpg', height='150', width='150')
                            tr
                                td(align='left', valign='top', colspan='2', height='10')
                    br
                    table(width='95%', border='0', cellspacing='0', cellpadding='0', style='border:#CCCCCC solid 1px;')
                        tbody
                            tr
                                td(width='83%', align='left', valign='top', style='color:#333333; font-size:16px; padding-left:5px; line-height:25px;')
                                    strong Suresh Sharma, Madhya Pradesh
                                    br
                                    br
                                    |                       Chief Editor Shikharvani
                                    br
                                    strong Address :-
                                    br
                                    strong Res :-
                                    strong Office :-
                                    strong Mobile :-
                                    |  09425011551
                                    br
                                    strong Email :- 
                                    | shikharvani@gmail.com,  sureshsharma52@gmail.com
                                td(width='17%', align='left', valign='top')
                                    img(src='/images/suresh sharma bhopal_1421392151.jpg', height='150', width='150')
                            tr
                                td(align='left', valign='top', colspan='2', height='10')
                    br
            tr
                td(align='center', valign='top', style='border:#CCCCCC solid 1px; ')  
            tr
                td(align='left', valign='top')  

    // ============FOOTER=============
    #footer