extends ../../theme_cat/layout
include ../../theme_cat/allMixin
block content
    .header.container
        include ../../theme_cat/partials/_header
    include ../../theme_cat/partials/_navArea
    div.container
      table(width='100%', border='0', cellspacing='0', cellpadding='0')
        tbody
            tr
                td(align='center', valign='top')
                    table(width='95%', border='0', cellspacing='0', cellpadding='0')
                        tbody
                            tr
                                td(align='left', valign='top')  
                            tr
                                td(align='left', valign='top', style='border-left:#CCCCCC solid 1px; border-right:#CCCCCC solid 1px;  border-top:#CCCCCC solid 1px;  padding-left:5px; color:#de7612s; font-size:15px;')
                                    strong JAMMU & KASHMIR UNION OF JOURNALISTS 
                            tr
                                td(colspan='3', align='left', height='25', valign='middle', bgcolor='#de7612', style='color:#ffffff; font-size:15px; padding-left:5px;')
                                    strong President
                            tr
                                td(align='center', valign='top', style='border-left:#CCCCCC solid 1px; border-right:#CCCCCC solid 1px;')
                            tr
                                td(align='left', height='25', valign='middle', bgcolor='#de7612', style='color:#ffffff; font-size:15px; padding-left:5px;')
                                    strong  General Secretary 
                            tr
                                td(align='center', valign='top', style='border-left:#CCCCCC solid 1px; border-right:#CCCCCC solid 1px; border-bottom:#CCCCCC solid 1px;')
                            tr
                                td(align='left', valign='top')  
                    table(width='95%', border='0', cellspacing='0', cellpadding='0')
                        tbody
                            tr
                                td(align='left', valign='top', style='border-left:#CCCCCC solid 1px; border-right:#CCCCCC solid 1px; border-top:#CCCCCC solid 1px;   padding-left:5px; color:#de7612; font-size:15px;')
                                    strong HIMACHAL PRADESH UNION OF JOURNALISTS 
                            tr
                                td(colspan='3', align='left', height='25', valign='middle', bgcolor='#de7612', style='color:#ffffff; font-size:15px; padding-left:5px;')
                                    strong President
                            tr
                                td(align='center', valign='top', style='border-left:#CCCCCC solid 1px; border-right:#CCCCCC solid 1px;')
                                    table(width='95%', border='0', cellspacing='0', cellpadding='0', style='border:#CCCCCC solid 1px;')
                                        tbody
                                            tr
                                                td(width='89%', align='left', valign='top', style='color:#333333; font-size:16px; padding-left:5px; line-height:25px;')
                                                    strong Shri Roshan Lal Bali 
                                                    br
                                                    |                               National Union Of Journalists
                                                    br
                                                    |                               Dainik Tribune
                                                    br
                                                    strong Address :-
                                                    |  Purana Bazar, Sunder nagar,Distt-mandi(h.p.)
                                                    br
                                                    strong Phone
                                                    strong Res :-
                                                    |  01907-26300 
                                                    strong Off. :-
                                                    |  01907-265665 
                                                    strong Mob. :-
                                                    |  09418651999,09816073028
                                                    br
                                                    strong Email :- 
                                                    | bhatia.baddi@gmail.com 
                                                    br
                                                td(width='11%', align='left', valign='top')
                                                    img(src='/images/na.png', height='100', width='100')
                                            tr
                                                td(align='left', valign='top', colspan='2', height='10')
                                    br
                            tr
                                td(align='left', height='25', valign='middle', bgcolor='#de7612', style='color:#ffffff; font-size:15px; padding-left:5px;')
                                    strong  General Secretary 
                            tr
                                td(align='center', valign='top', style='border-left:#CCCCCC solid 1px; border-right:#CCCCCC solid 1px; border-bottom:#CCCCCC solid 1px;')
                                    table(width='95%', border='0', cellspacing='0', cellpadding='0', style='border:#CCCCCC solid 1px;')
                                        tbody
                                            tr
                                                td(width='89%', align='left', valign='top', style='color:#333333; font-size:16px; padding-left:5px; line-height:25px;')
                                                    strong Shri Yograj Bhatia
                                                    br
                                                    |                               Dainik Tribune
                                                    br
                                                    br
                                                    strong Address :-
                                                    |  V+PO-Guru Majra,Tehsil-Baddi, Distt-Solan,Himachal-174101
                                                    br
                                                    strong Phone
                                                    strong Res :-
                                                    strong Off. :-
                                                    strong Mob. :-
                                                    |  9418042095, 98160-42067
                                                    br
                                                    strong Email :- 
                                                    | bhatia.baddi@gmail.com
                                                td(width='11%', align='left', valign='top')
                                                    img(src='/images/na.png', height='100', width='100')
                                            tr
                                                td(align='left', valign='top', colspan='2', height='10')
                                    br
                            tr
                                td(align='left', valign='top')  
                    table(width='95%', border='0', cellspacing='0', cellpadding='0')
                        tbody
                            tr
                                td(align='left', valign='top', style='border-left:#CCCCCC solid 1px; border-right:#CCCCCC solid 1px;  border-top:#CCCCCC solid 1px;   padding-left:5px; color:#de7612; font-size:15px;')
                                    strong PUNJAB UNION OF JOURNALISTS  
                            tr
                                td(colspan='3', align='left', height='25', valign='middle', bgcolor='#de7612', style='color:#ffffff; font-size:15px; padding-left:5px;')
                                    strong President
                            tr
                                td(align='center', valign='top', style='border-left:#CCCCCC solid 1px; border-right:#CCCCCC solid 1px;')
                                    table(width='95%', border='0', cellspacing='0', cellpadding='0', style='border:#CCCCCC solid 1px;')
                                        tbody
                                            tr
                                                td(width='89%', align='left', valign='top', style='color:#333333; font-size:16px; padding-left:5px; line-height:25px;')
                                                    strong Shri H.S. Lall 
                                                    br
                                                    |                               National Union Of Journalists
                                                    br
                                                    |                               Nujindia
                                                    br
                                                    strong Address :-
                                                    |  N/A
                                                    br
                                                    strong Phone
                                                    strong Res :-
                                                    |  01628-228555/777  
                                                    strong Off. :-
                                                    |  N/A 
                                                    strong Mob. :-
                                                    |  09216860000
                                                    br
                                                    strong Email :- 
                                                    | harjindersinghlall@yahoo.com 
                                                    br
                                                td(width='11%', align='left', valign='top')
                                                    img(src='/images/na.png', height='100', width='100')
                                            tr
                                                td(align='left', valign='top', colspan='2', height='10')
                                    br
                            tr
                                td(align='left', height='25', valign='middle', bgcolor='#de7612', style='color:#ffffff; font-size:15px; padding-left:5px;')
                                    strong  General Secretary 
                            tr
                                td(align='center', valign='top', style='border-left:#CCCCCC solid 1px; border-right:#CCCCCC solid 1px; border-bottom:#CCCCCC solid 1px;')
                                    table(width='95%', border='0', cellspacing='0', cellpadding='0', style='border:#CCCCCC solid 1px;')
                                        tbody
                                            tr
                                                td(width='89%', align='left', valign='top', style='color:#333333; font-size:16px; padding-left:5px; line-height:25px;')
                                                    strong Shri Yashpal Singh Heran
                                                    br
                                                    |                               National Union Of Journalists
                                                    br
                                                    |                               Nujindia
                                                    br
                                                    strong Address :-
                                                    |  N/A
                                                    br
                                                    strong Phone
                                                    strong Res :-
                                                    |  09417037277  
                                                    strong Off. :-
                                                    |  09417037277  
                                                    strong Mob. :-
                                                    |  09417037277 
                                                    br
                                                    strong Email :- 
                                                    | pehredar@gmail.com
                                                td(width='11%', align='left', valign='top')
                                                    img(src='/images/na.png', height='100', width='100')
                                            tr
                                                td(align='left', valign='top', colspan='2', height='10')
                                    br
                            tr
                                td(align='left', valign='top')  
                    table(width='95%', border='0', cellspacing='0', cellpadding='0')
                        tbody
                            tr
                                td(align='left', valign='top', style='border-left:#CCCCCC solid 1px; border-right:#CCCCCC solid 1px;  border-top:#CCCCCC solid 1px;  padding-left:5px; color:#de7612; font-size:15px;')
                                    strong CHANDIGARH JOURNALISTS  ASSOCIATION
                            tr
                                td(colspan='3', align='left', height='25', valign='middle', bgcolor='#de7612', style='color:#ffffff; font-size:15px; padding-left:5px;')
                                    strong President
                            tr
                                td(align='center', valign='top', style='border-left:#CCCCCC solid 1px; border-right:#CCCCCC solid 1px;')
                                    table(width='95%', border='0', cellspacing='0', cellpadding='0', style='border:#CCCCCC solid 1px;')
                                        tbody
                                            tr
                                                td(width='89%', align='left', valign='top', style='color:#333333; font-size:16px; padding-left:5px; line-height:25px;')
                                                    strong Shri Ashok Malik 
                                                    br
                                                    |                               National Union Of Journalists
                                                    br
                                                    |                               Nujindia
                                                    br
                                                    strong Address :-
                                                    |  1086, Sector-44B, Chandigarh
                                                    br
                                                    strong Phone
                                                    strong Res :-
                                                    |  09814640774 
                                                    strong Off. :-
                                                    |  N/A 
                                                    strong Mob. :-
                                                    |  N/A
                                                    br
                                                    strong Email :- 
                                                    | mail.ashokmalik@gmail.com
                                                    br
                                                td(width='11%', align='left', valign='top')
                                                    img(src='/images/na.png', height='100', width='100')
                                            tr
                                                td(align='left', valign='top', colspan='2', height='10')
                                    br
                            tr
                                td(align='left', height='25', valign='middle', bgcolor='#de7612', style='color:#ffffff; font-size:15px; padding-left:5px;')
                                    strong  General Secretary 
                            tr
                                td(align='center', valign='top', style='border-left:#CCCCCC solid 1px; border-right:#CCCCCC solid 1px; border-bottom:#CCCCCC solid 1px;')
                                    table(width='95%', border='0', cellspacing='0', cellpadding='0', style='border:#CCCCCC solid 1px;')
                                        tbody
                                            tr
                                                td(width='89%', align='left', valign='top', style='color:#333333; font-size:16px; padding-left:5px; line-height:25px;')
                                                    strong Shri Avtar Singh
                                                    br
                                                    |                               National Union Of Journalists
                                                    br
                                                    |                               Nujindia
                                                    br
                                                    strong Address :-
                                                    |  3006, The Tribune Friends Apartments, Sector : 50-D, Chandigarh;47
                                                    br
                                                    strong Phone
                                                    strong Res :-
                                                    |  0172-2610548 
                                                    strong Off. :-
                                                    |  0172-2680229 
                                                    strong Mob. :-
                                                    |  09872661281
                                                    br
                                                    strong Email :- 
                                                    | avtarbhanwara@gmail.com
                                                td(width='11%', align='left', valign='top')
                                                    img(src='/images/na.png', height='100', width='100')
                                            tr
                                                td(align='left', valign='top', colspan='2', height='10')
                                    br
                            tr
                                td(align='left', valign='top')  
                    table(width='95%', border='0', cellspacing='0', cellpadding='0')
                        tbody
                            tr
                                td(align='left', valign='top', style='border-left:#CCCCCC solid 1px; border-top:#CCCCCC solid 1px;    border-right:#CCCCCC solid 1px; padding-left:5px; color:#de7612; font-size:15px;')
                                    strong HARYANA UNION OF JOURNALISTS
                            tr
                                td(colspan='3', align='left', height='25', valign='middle', bgcolor='#de7612', style='color:#ffffff; font-size:15px; padding-left:5px;')
                                    strong President
                            tr
                                td(align='center', valign='top', style='border-left:#CCCCCC solid 1px; border-right:#CCCCCC solid 1px;')
                                    table(width='95%', border='0', cellspacing='0', cellpadding='0', style='border:#CCCCCC solid 1px;')
                                        tbody
                                            tr
                                                td(width='89%', align='left', valign='top', style='color:#333333; font-size:16px; padding-left:5px; line-height:25px;')
                                                    strong Shri Sanjay Rathi 
                                                    br
                                                    |                               National Union Of Journalists
                                                    br
                                                    |                               Pratham Impact
                                                    br
                                                    strong Address :-
                                                    |  H.No.865 Sector 3,Rohtak: 124001, Haryana
                                                    br
                                                    strong Phone
                                                    strong Res :-
                                                    strong Off. :-
                                                    strong Mob. :-
                                                    |  N/A
                                                    br
                                                    strong Email :- 
                                                    | rathisanjay8@gmail.com/ ratheesanjay@rediffmail.co
                                                    br
                                                td(width='11%', align='left', valign='top')
                                                    img(src='/images/Sanjay Rathee9_1421390614.jpg', height='100', width='100')
                                            tr
                                                td(align='left', valign='top', colspan='2', height='10')
                                    br
                            tr
                                td(align='left', height='25', valign='middle', bgcolor='#de7612', style='color:#ffffff; font-size:15px; padding-left:5px;')
                                    strong  General Secretary 
                            tr
                                td(align='center', valign='top', style='border-left:#CCCCCC solid 1px; border-right:#CCCCCC solid 1px;  border-bottom:#CCCCCC solid 1px;')
                            tr
                                td(align='left', valign='top')  
            tr
                td(align='left', valign='top')  

    // ============FOOTER=============
    #footer