extends ../../theme_cat/layout
include ../../theme_cat/allMixin
block content
    .header.container
        include ../../theme_cat/partials/_header
    include ../../theme_cat/partials/_navArea
    div.container
      h3 History of NATIONAL UNION OF JOURNALIST (I)
      p 1. The name of the association shall be “The National Union of Journalists (India).”
      p 2.     The Registered office of the National Union of Journalists shall be located at 7, Jantar Mantar Road, Second Floor, New Delhi.
      p 3.         The aims and objects of the National Union of Journalists (India) are :-
        br
        | a)         To promote, safeguard, and defend the professional interests, welfare, and status of working journalists;
        br
        | b)         To promote and maintain the highest standards of professional conduct and integrity.
        br
        | c)       To strive for and defend the freedom and independence of the Press;
        br
        | d)         To strive for the betterment of working conditions of journalists, especially in regard to salary, remuneration, conditions of service tenure of office, allowances and facilities and privileges for the due discharge of their responsibilities without fear or favour;
        br
        | e)         To safeguard and promote the interests of journalists generally, and to help members to secure employment where necessary;
        br
        | f)         To establish benevolent and pension funds, employment, sickness and death benefits or other kinds of benefits for its members;
        br
        | g)         To promote bipartite or tripartite wage agreements on an all-India basis;
        br
        | h)       To work for and promote legislation for the economic and professional welfare of journalists, freedom and independence of the Press and self-regulation by the media industry and for the proper development of the newspaper industry free from outside control;
        br
        | i)          To arrange for the proper training of journalists and improving their standards of work;
        br
        | j)          To establish and maintain institutes of journalism at State and all-India levels;
        br
        | k)         To promote amenities for recreation and scope for social and cultural activities;
        br
        | l)          To establish and maintain libraries for the use of its members;
        br
        | m)        To collect, classify and circulate statistics and other information relating to the Press and to do all things conducive to the growth of a free Press;
        br
        | n)         To conduct, maintain, and publish journals on behalf of the NUJ(I); to own, maintain, and run a printing press;
        br
        | o)         To encourage, promote and invest in journalist cooperatives; to start newspapers and news agencies and electronic news channels;
        br
        | p)         To build up and administer funds for the provision of legal aid, pension and other benefit;
        br
        | q)         To act on behalf of the members and state units in any manner whatsoever connected with their avocation and employment;
        br
        | r)          To own, construct and maintain buildings for the benefits of its members and the NUJ(I), to acquire property of every kind, to sell, mortgage, or otherwise alienate or convert them into money or to create or constitute, maintain or conduct trusts in respect of them, or to administer and manage trust for the benefit of its members;
        br
        | s)         To conduct the affairs of the NUJ(I), and its constituent units on trade union lines without any outside political control or influence directly or indirectly in any manner;
        br
        | t)          To develop contacts with organisations having similar objects within the country and other countries. No state unit shall have any direct contacts with any organization in any other country without the express permission of the NUJ(I).
        br
        | u)         To secure representation for journalists through their respective organisations or delegations that are sent abroad by the Government of India or any State Government and also on commissions and committees set up by these on which representation of non-officials is desired and which are required to ascertain public opinion to make recommendations on the basis thereof;
        br
        | v)         To do all such things as are incidental or conducive to the attainment of the above objectives or any of them.
        br
        | w)    To promote unions of allied professions and crafts and establish linkage with them.
      p 4.       Subject to the provisions of this Constitution and the Rules framed thereunder, the membership of the National Union of Journalists (India) shall be open to all working journalists based in or in relation to India and abroad employed by Indian media. 
      p 5.         Membership shall be of the following kinds:-
        br
        | a)       Direct Members : Persons not less than 18 years of age who are qualified under section 4 of this Constitution and who have worked as journalists for at least six months in States where no affiliated union exists.
        br
        | b)         Corporate :- State units of working journalists.Composite unions are not included in this category.
        br
        | c)         Honorary members : Members who retire from work on account of age or infirmity or who have done outstanding service to the profession or the organisation.
        br
        | d)     Associate members : Members of teaching faculties in departments of journalism and communications in universities and institutes, and media experts. They will have no voting rights.
      p 6.  The annual subscription of direct member shall be Rs 200 and of associate member Rs 500. The subscription is payable in advance. Every member shall pay an admission fee of Rs150.
      p 7.  In the case of corporate membership, the applicant Union shall pay a fee of Rs 1000 at the time of affiliation in addition to Rs 20 per year for every member on its rolls as per Section 6. The affiliated unions shall be responsible for collection and remittance of the dues from members to the NUJ(I).
      p 7(a)      Members of the NUJ(I) shall have to pay through their respective State units annual subscription of the INKWORLD along with membership fee.
      p 8(a)           Direct members and members of affiliated unions are entitled to attend, address and vote at any general body meeting, annual or extraordinary, of their Unions.
      p 8(b)           Any person subscribing to the ideals and objectives of the NUJ(I) may be allowed to attend its conferences as Observers on the recommendation of a State Unit. The total number of such observers shall not exceed 1/4th of the total number of delegates from that state. The Observers shall have no right to vote but may be allowed to participate in the deliberations subject to the permission of the Chair. The Observers shall pay a fee of Rs 200 to the NUJ(I) as Observer fee.
      p 8(c): President or Secretary General of the NUJ(I) or any other person so authorised by them may remind an affiliated union to hold elections of its executive and office bearers after the latter complete their term. In the event of the affiliated unit not holding elections three months after the expiry of the term, the NUJ(I) may appoint a returning officer to conduct elections on the basis of the latest list of members available. The affiliated union shall cooperate with the Returning Officer in all possible manner in the conduct of fair and free elections.
      p 8(d): In the event of an affiliated union refusing or showing reluctance in cooperating with the Returning Officer so appointed by the NUJ(I), the National Executive may appoint a convenor to conduct the affairs of the affiliated union till a new executive is elected.
      p 8(e) : The NUJ(I) may disaffiliate any of its affiliated unit on one or more of the following grounds:
        br
        | i) Failure to hold election of the state executive committee even after reminders from NUJ(I);
        br
        | ii) Indulging in anti-NUJ(I) activities;
        br
        | iii) Failure to pay quota money for more than four years and other dues to NUJ(I);
        br
        | iv) Wilfully disregarding the directions of the National Executive.
        br
        | v)  The decision to disaffiliate a unit will be subject to the approval of the National Executive with a 2/3rd majority of the members present and voting and an absolute majority of the total members of the National Executive.
        br
        | f) In the event of any organization such as a trust/society or any other body corporate sponsored or promoted by the NUJ(I) the National Executive of the NUJ(I) shall have the power of overall direction and supervision of it notwithstanding the provision of such bodies contrary to those of this Constitution.
      p NATIONAL EXECUTIVE 
      p 9.         The governing body to whom, by the Constitution of the NUJ(I) and the Rules framed thereunder, the management of its affairs is entrusted shall be called National Executive.
        br
        | (a).The National Executive shall consist of one President, five Vice Presidents, one Secretary General, five secretaries, one treasurer and 31 other members. President and General Secretaries of the State Units shall be permanent invitees to the meetings of the National Executive.
        br
        | (b) One vice-president and one secretary shall  be from each of the following five regions :
        br
        | NORTH: Jammu & Kashmir, Himachal Pradesh, Punjab, Chandigarh and Haryana
        br
        | SOUTH: Andhra Pradesh, Tamil Nadu, Karnataka, Kerala and Pudduicherry.
        br
        | EAST: North East, Bihar, Jharkhand, West Bengal &Orissa
        br
        | West:Rajasthan, Gujarat, Madhya Pradesh, Chhatisgarh,Maharashtra & Goa.
        br
        | Central:Uttar Pradesh, Uttrakhand and Delhi.
        br
        | The voting will take place on all-India basis with Union Council members as voters.
        br
        | No state in a zone shall have a Vice President or Secretary for the third consecutive term.
      p 10.     If any member, direct or corporate, fails to pay the dues to the NUJ(I), the Secretary General or any person so authorised by him shall remove the defaulting member from the Membership Register of the NUJ(I). The  defaulting members shall not be entitled to any of privileges of the NUJ(I).
      p 11.     The National Executive shall meet as often as is necessary and atleast twice a year and shall work as the executive of the federation.
      p 12.            The quorum for a meeting of the National Executive shall be one third of its elected members.
        br
        | (a). The National Executive may initiate action to set up new units in areas where they do not exist and may also take all necessary and appropriate steps to activate inactive units.
      p 13.       The management of the business and funds of the NUJ(I) shall be vested in the National Executive which shall have power to incur all necessary expenses for the maintenance and carrying out of the objects and aims of the constitution and the rules thereunder and of the policies laid down by the Union Council and Delegates Conference.
      p 14.       The Secretary General or any other Secretary authorised by the National Executive shall prepare the report of the activities of the NUJ(I) along with the audited statement of accounts for approval by the National Executive and present it to the delegates session for acceptance.
      p UNION COUNCIL 
      p 15.     The Union Council shall consist of representatives who shall be elected at the rate of one per 50 members. They shall be elected at the State level. If the membership at the State level is less than 50 then that State shall be entitled to send one member to the Union council. The quota of members for each State shall be fixed by the National Executive on the basis of the number of members on the National Membership Register.
      p 16.       Vacancies on the Union Council shall be filled by the President in consultation with the unit concerned.
      p 17. The quorum for the Union Council shall be one fifth of its membership.
      p 18.     There shall be one delegate for every 25 members or part thereof in excess of seven and the delegates shall be elected fifteen days before the date of the Conference. The Union Council members shall be delegates to the conference.
      p ELECTIONS 
      p 19.       There will be a National Election Commission responsible for coordinating, overseeing and, where necessary, conducting elections at the Centre and the States. The Commission will scrutinize the list of members of Union Council, delegates for biennial convention of the NUJ (I) and members of the State level affiliates. It will also function as an appellate body about all elections. It will comprise three to five members appointed by the President and Secretary General with the approval of the National Executive.      
        br
        | (a)   All elections to the various bodies of the NUJ (I) shall be held in the manner prescribed hereinafter.
      p 20. The National Executive shall be constituted in the manner prescribed hereunder:-
        br
        | a) The entire process of election of the National Executive, save the polling, if any, shall be completed at least 15 days before the biennial conference and the polling, if necessary, shall be held on the opening day of the conference.
        br
        | b)  The President and the Secretary General shall be elected by delegates to the biennial conference, the members of the Union Council and Presidents as well as General Secretaries of the State units at the biennial conference. No person who has served as President or Secretary General shall be elected to either office for a consecutive term.
        br
        | c)         The office-bearers other than the President and the Secretary General and members of the National Executive shall be elected by the members of Union Council by proportional representation through the system of  preferential vote.
        br
        | d)         The national executive shall appoint a returning officer for conducting the aforesaid elections.
        br
        | e)         The elections of delegates and members of the Union Council shall be completed at least 15 days before the date of the biennial conference.
        br
        | f)         The Secretary General or any Secretary so authorised by the National Executive shall fix the programme of elections to the National Executive. The election of the Union Council members and delegates shall be conducted by respective state units on the basis of a quota fixed by Secretary General or any Secretary so authorised by the National Executive at the rate prescribed in Clause 15 and Clause 18 respectively.
        br
        | g)     Secretary General in consultation with the President may appoint an organising secretary from among the elected members of the National  Executive to assist him in discharge of his duties.
      p 21.  a)  Every delegate shall pay a fee of Rs 100/- to the NUJ(I) at the time of filing the nomination. This fee will not be returned except in case of valid withdrawals.
        br
        | b)         Every candidate for the Union Council shall pay a fee of Rs 150 to the NUJ(I) at the time of filing the nomination. This fee shall not be returned except in case of valid withdrawals.
        br
        | c)       Every candidate for the post of President or the Secretary General shall pay a fee of Rs 500 to the NUJ (I) at the time of filing nomination. This fee shall not be returned except in the case of valid withdrawals.
        br
        | d) The nomination to the posts of President and Secretary General shall be valid only if they are endorsed by at least three state units of different zones.
        br
        | e) Any person contesting election to the post of national office-bearers /national executive must be a member of a state unit for at least three years. He/she should not be a member of any other parallel union or organization whose aims and interests are inimical to those of the NUJ (I).
      p 22.     The term of office of the National Executive shall be two years. It shall be obligatory for the National Executive to hold the next biennial conference by the end of its term or no later than 90 days thereafter.
        br
        | (a)    If, due to some avoidable circumstances, the National Executive is unable to hold the biennial conference within the extended period it shall be given another 30 days for the purpose.

        br
        | (b)    If the conference is still not held, the National Executive shall stand superseded by the Election Commission which will set up an Adhoc Convening Committee of seven members. This committee will run the day-to-day affairs of the NUJ(I) and organizing the biennial conference within one month in consultation with the state units. The Convening Committee discussion shall be final in regard to dates and the place of the conference.

      p 23. The President shall preside over all meetings of the national Executive, Union Council, and the general meetings of the Delegates. He shall have one original vote and a casting vote on all resolutions at all meetings and the right of casting vote at all elections and meetings. The President shall also, at any time he deems proper, communicate to the NUJ(I) or to the National Executive  such matters and shall make such suggestions as may, in his opinion, tend to promote the welfare of the members and increase the usefulness of the NUJ(I) and shall perform such other duties as may be incidental to the office of the president.
      p 24.       The Vice-Presidents shall perform such functions as may be assigned to them by the President from time to time. In the absence of the President, one of them, to be nominated by the National Executive for the purpose, shall have all the powers and perform the duties of the president.
      p 25.       The Secretary General shall be the Chief Executive of the NUJ (I). He shall be in charge of the office of the Union. He shall administer the work of the National Union of Journalists (India) under the guidance and on behalf of the President; he shall carry on all correspondence of the Union, maintain minutes of the meeting of the Union, fix the quota of Union Council and Delegates Conference, maintain the National Membership register, fix the programme of elections in consultation with the National Executive, sign all bills, authorise expenditure and be  responsible for the accounts; he shall convene all meetings of the National Executive. Union Council, Delegates Conference. He shall act and perform his functions in accordance with the provision of the constitution and the rules framed thereunder. He shall sue or be used in a court of law on behalf of the Union and shall  himself or through any person authorized by him, represent the National Union or members thereof in all professional and industrial or other disputes.
      p 26.       The Treasurer shall maintain an account of all the income of the general and special funds of the National Union and shall keep the funds of the National Union in the manner prescribed by the constitution and the rules framed thereunder in a bank or banks approved by the National Executive for the purpose. He shall be responsible for the movable and immovable property of the National Union.
      p 27.       The Secretaries shall perform such functions as may be assigned to them by the Secretary General and the National Executive and generally assist the Secretary General in the discharge of his duties. In the absence of the Secretary General, the National Executive may assign his functions and duties to one of the secretaries.
        br
        | (a).           The Organising Secretary shall perform such functions as are assigned to him by the Secretary General.
      p 28.       There shall be a National Register of Members, which shall be maintained up to date by the Secretary General. The state units also must maintain a record of their members with their qualification, photographs, office and residential address and telephone numbers as per NUJ (I) proforma. This list should be sent annually along with quota money to the NUJ (I) head office for inclusion in the National Register of Journalists. The membership register, accounts books, and other prescribed registers shall be in the custody of the Treasurer and shall be maintained by officers responsible. The register and other books shall be open for inspection by any officer or member of the Union after a fortnight’s notice at the central office of the Union during the prescribed hours.
        br
        | (a).   The outgoing Secretary General shall handover charge to the incoming Secretary General at the Delegates Conference.
      p UNION FUND 
      p 29.       The Common Fund of the National Council shall include:
        br
        | (i)(a)    Subscription; admission fees; b) affiliation fees; fees from delegates, Union Council members; c) interest on investment; d) donations; e) income from the journals and other resources; f) special subscriptions and levies by the Union; g) grants; and h) other miscellaneous receipts.
        br
        | ii)       The Treasure can retain in the office of the Union amount upto Rs 5000. Any amount in excess of Rs 5000 shall be deposited in one or more accounts, either savings or current or both to be opened in the name of the National Union of Journalists (India) with approved bank or banks. The account or accounts shall be operated by the Treasurer and the Secretary General or a member of the National Executive to be chosen by the Executive at its first meeting. Withdrawals may be made under the signatures of any two of the three.
        br
        | iii)        All expenditures shall be authorised by the Secretary General.
        br
        |  iv) The funds of the Union shall be invested in Government securities, fixed deposits in recognised banks, or in share of journalists cooperatives sponsored by the Union, as decided by the National Executive from time to time.
        br
        | v) Special funds of the Union shall be spent for the purpose for which they are raised; these special funds shall form part of the Common Fund. They shall be operated in the same manner as the common fund of the NUJ (I).
        br
        | vi) The National Executive shall administer all funds, special and general, and other assets in accordance with the provisions of the constitution and the resolutions of the Union Council and the Delegates Conference.
        br
        | vii) Subject to the decision of the Union Council, the funds of the Union shall be spent in furtherance of the following objects and no other: 
        br
        | a)         the furtherance in general of any or all of the aims and objects of the Union and propagation of its policy; b) conducting of any campaign for the furtherance of any or all of the objects of the Union or any of the resolutions of the National Executive, Union Council, and the Delegates Conference; the conduct of industrial disputes at all-India level; the conduct of any duly authorised strike or any other action; c) the payment of salaries of the staff of the Union and traveling and other allowances of the officers of the Union; d) the prosecution or defence of any legal proceeding of which Union and its members are a party in furtherance of the objects of the union in Section 3 of this constitution; e) to create a pension fund; f) the payment of such relief and benefits to its members; and g) any other work consistent with the provisions of the constitution and the rules framed thereunder.
      p 30.       Subject to the financial position of the NUJ(I), the National Executive shall decide from time to time the benefits and reliefs to be given to its members.
      p 31.       The Secretary General shall arrange for the annual audit of the funds of the Union by a Chartered Accountant or a firm of Chartered Accountants approved by the National Executive and yearly report shall form part of Secretary’s Report and shall be presented before to the delegates and others in the manner prescribed in Section 14 of this Constitution.
      p POWERS OF THE UNION COUNCIL 
      p 32.       The powers of the Union Council are :
        br
        | a)         The Union Council shall lay down the policy of the Union keeping in view the provisions of the constitution;
        br
        | b)         The Union Council shall have the power to review the decisions and actions of the National Executive from time to time;
        br
        | c)       The Union Council shall have the power to adjudicate on any matter referred to it by the Delegates Session and the National Executive in respect of any dispute in or between state units. 
        br
        | d)         Where the constitution is silent or / and where a point of dispute arises between the Union and Corporate member constitution the decision of the Union Council shall prevail;
        br
        | e)         The Union Council shall exercise all powers as may be assigned to it by the Delegates Conference;
      p 33.       One month’s clear notice is necessary for the Delegates Conference and fifteen days for the extraordinary Delegates Conference;
      p 34.       Fifteen days clear notice is necessary for a meeting of the Union Council and 10 days for an extraordinary meeting of the Union Council.
      p 35.       Ten days’ clear notice is necessary for an ordinary meeting of the National Executive. An extra-ordinary meeting of the National Executive may be convened after a notice of four clear days by telegram.
      p 36.     On any matter which requires urgent action and where a meeting of the National Executive cannot be convened without preparation, the decision can be taken by circulation. In the event of circulation the decision should be approved by 30 members. The decision so obtained shall be placed before the National Executive at its next meeting.
      p 37.     If one-third of the valid members of the Union express in writing lack of confidence in either the President or the Secretary General or any other office bearer or member of the National Executive or the National Executive as a whole, an extraordinary meeting of the Union Council shall be convened to discuss the no-confidence motion and take appropriate decision on the matter. In the case of no-confidence motion it shall be deemed to be validly approved if the motion has the support of three fourths majority of the members of the Union Council present, provided the said majority is not less than the ordinary majority of the total strength of the Council. The decision of the Union Council shall become final only if the decision of the Council is approved by three fourths of the delegates present at a special meeting convened within 45 days from the date of Union Council meeting so held to take the decision approving the no-confidence motion, provided that the said majority in the Delegates meeting is not less than the ordinary majority of the total number of delegates. If the Union Council decision is approved, the new office bearers shall be elected in the manner prescribed by the constitution.
      p 38.       In the case of  vacancy in the post of president, the national executive shall elect from amongst the vice-presidents an interim President.
      p 39.       A special meeting of National Executive can be requisitioned by one- third of its members by giving 10 days notice in writing to discuss a definite urgent matter to the Secretary General, and the Secretary General shall convene the meeting within 10 days of the date of notice.
      p 40        A special meeting of the Union Council can be requisitioned by one-third of the strength of the Council by giving 15 days’ notice in writing to the Secretary General to discuss a definite urgent matter, and the Secretary General shall convene the meeting within 15 days from the date of receipt of notice.
      p 41.       A special delegates meeting can be requisitioned by one-third of the total delegates by giving one month’s notice to the Secretary General in writing to discuss a definite urgent matter and the National Executive shall convene the meeting within three months from the date of notice.
      p 42.     If any member, direct or corporate, acts against the interest of the union or contravenes any of the provisions of the constitution of the Union or of the corporate members; the National Executive will consider the matter and submit a report to the Union Council. The Union Council shall consider the report and the statement of the offending member, and take appropriate decision. .
      p 43.     The National Executive shall frame amend or modify or revise rules in keeping with the provisions of the constitution for conduct of the day-to-day  work of the Union, the National Executive, the Union Council, its office bearers and for the conduct of elections and other matters. The said rules shall be placed  before the Union Council for appropriate decision, and the rules, as certified by the Union Council will be placed before the Delegates’ Conference. The rules shall come into force from the date as decided by the Union Council.
      p 44.     All resolutions or decisions taken by the National Executive, the Union Council and the Delegates’ Conference shall take effective and come into force on the date on which they are passed unless the date from which they shall come into effect and come into operation be otherwise expressly stated in such resolutions or decisions.
      p 45.       While the Secretary General shall take every step for the delivery of the notices of the meetings of the Union or its bodies, the non-receipt of the notice by any member shall not invalidate any proceedings of any meeting. Publication of the notice of general and special meetings in the official organ of the Union or in the Press within the prescribed time shall constitute sufficient notice.
      p 46.       No business shall be transacted at any meeting unless a quorum of members is present at the commencement of the meeting and during the progress of the meeting.
      p 47.       The president may with the consent of the meeting adjourn any meeting from time to time and from place to place, but no business shall be transacted at any adjourned meeting other than the business left unfinished at the meeting for which the adjournment took place.
      p 48.       In the case of a requisitioned meeting, if the quorum is not there at its commencement, the meeting shall be adjourned and reconvened after an hour. If the quorum is still not there the meeting shall be dissolved. 
      p 49.       The Constitution of the Union may be amended by the Delegates’ Conference by a two-third majority of the delegates present, provided such majority is not less than the ordinary majority of all the delegates elected, provided further that no amendment shall be placed before the Delegates’ Conference without a scrutiny by the Union Council.
      p 50        The President and the Secretary General or the members so authorised by them shall be members of all the committees of the Union.
      p 51.       The Union shall not be dissolved except by a specific resolution passed by two-third of the total delegates and Presidents and General Secretaries of the Corporate Members of the Union at an extraordinary meeting convened specifically for the purpose.
      p 52.       The funds and property of the Union shall be disbursed in accordance with the decision of the same conference in case it is decided to dissolve the Union, provided that 45 days’ clear notice is given individually to all the members of the Union along with two specific resolutions -- one for dissolution and another for the disposal of funds and properties in the event of dissolution by registered post acknowledgment due, provided further that the said two resolutions are confirmed by four-fifths of the majority of all the members.
      p 53.   NUJ (I) may affiliate with any international organisation of journalists having similar objectives subject to the approval of the Union Council.
    // ============FOOTER=============
    #footer