extends ../../theme_cat/layout
include ../../theme_cat/allMixin
block content
    .header.container
        include ../../theme_cat/partials/_header
    include ../../theme_cat/partials/_navArea
    div.container
      table(width='95%', border='0', cellspacing='0', cellpadding='0')
        tbody
            tr
                td(align='left', valign='top')  
            tr
                td(align='center', valign='top', style='border:#CCCCCC solid 1px; border-bottom:none;')  
            tr
                td(align='left', valign='top', style='border-left:#CCCCCC solid 1px; border-right:#CCCCCC solid 1px; padding-left:5px; color:#de7612; font-size:20px;')
                    strong NUJ (I)  OFFICE BEARERS 
            tr
                td(align='center', valign='top', style='border-left:#CCCCCC solid 1px; border-right:#CCCCCC solid 1px;')  
            tr
                td(colspan='3', align='left', height='25', valign='middle', bgcolor='#de7612', style='color:#ffffff; font-size:20px; padding-left:25px;')
                    strong President
            tr
                td(align='center', valign='top', style='border-left:#CCCCCC solid 1px; border-right:#CCCCCC solid 1px;')
                    table(width='95%', border='0', cellspacing='0', cellpadding='0', style='border:#CCCCCC solid 1px;')
                        tbody
                            tr
                                td(width='73%', align='left', valign='top', style='color:#333333; font-size:16px; padding-left:5px; line-height:25px;')
                                    strong Ras Bihari
                                    br
                                    |                       Executive Editor
                                    br
                                    |                       Hindusthan Samachar
                                    br
                                    strong Address :-
                                    |  3A, 199CA, Rachna Vaishali Ghaziabad, Uttar Pradesh.
                                    br
                                    strong Res :-
                                    |  01204377220 
                                    strong Office :-
                                    strong Mobile :-
                                    |  9810291706
                                    br
                                    strong Email :- 
                                    | rbihari@gmail.com
                                td(width='27%', align='left', valign='top')
                                    img(src='/images/RB1_1442658718.jpg', height='150', width='150')
                            tr
                                td(align='left', valign='top', colspan='2', height='10')
                    br
            tr
                td(align='center', valign='top', style='border-top:#CCCCCC solid 1px;')  
            tr
                td(align='left', height='25', valign='middle', bgcolor='#de7612', style='color:#ffffff; font-size:20px; padding-left:25px;')
                    strong  Secretary General
            tr
                td(align='center', valign='top', style='border-left:#CCCCCC solid 1px; border-right:#CCCCCC solid 1px;')
                    table(width='95%', border='0', cellspacing='0', cellpadding='0', style='border:#CCCCCC solid 1px;')
                        tbody
                            tr
                                td(width='72%', align='left', valign='top', style='color:#333333; font-size:16px; padding-left:5px; line-height:25px;')
                                    strong Ratan Dixit
                                    br
                                    |                       Executive Editor
                                    br
                                    |                       Janmorcha
                                    br
                                    strong Address :-
                                    |  646 A/1, HIG Colony, Mumfordganj, Allahabad, Uttar Pradesh, India.
                                    br
                                    strong Res :-
                                    strong Office :-
                                    |  01123368610 
                                    strong Mobile :-
                                    |  09415616418
                                    br
                                    strong Email :- 
                                    | kdixit16@gmail.com
                                td(width='28%', align='left', valign='top')
                                    img(src='/images/ratan dixit3_1446029515.jpg', height='150', width='150')
                            tr
                                td(align='left', valign='top', colspan='2', height='10')
            tr
                td(align='center', valign='top', style='border-left:#CCCCCC solid 1px; border-right:#CCCCCC solid 1px; border-bottom:#CCCCCC solid 1px;')  
            tr
                td(align='center', valign='top')  
            tr
                td(align='left', height='25', valign='middle', bgcolor='#de7612', style='color:#ffffff; font-size:20px; padding-left:25px;')
                    strong Treasurer
            tr
                td(align='center', valign='top', style='border:#CCCCCC solid 1px;')
                    table(width='95%', border='0', cellspacing='0', cellpadding='0', style='border:#CCCCCC solid 1px;')
                        tbody
                            tr
                                td(width='72%', align='left', valign='top', style='color:#333333; font-size:16px; padding-left:5px; line-height:25px;')
                                    strong Dadhibal Yadav
                                    br
                                    br
                                    br
                                    strong Address :-
                                    |  A-165/Flat G-4, Shalimar Garden Extn-II, Sahibabad, Ghaziabad, Uttarpradesh, INDIA
                                    br
                                    strong Res :-
                                    strong Office :-
                                    |  01123368610 
                                    strong Mobile :-
                                    |  9871332244
                                    br
                                    strong Email :- 
                                    | Email:dadhibalyadav@gmail.com
                                td(width='28%', align='left', valign='top')
                                    img(src='/images/DB_1446027815.jpg', height='150', width='150')
                            tr
                                td(align='left', valign='top', colspan='2', height='10')
            tr
                td(align='center', valign='top')  
            tr
                td(colspan='3', align='left', height='25', valign='middle', bgcolor='#de7612', style='color:#ffffff; font-size:20px; padding-left:25px;')
                    strong Vice Presidents
            tr
                td(align='center', valign='top', style='border-left:#CCCCCC solid 1px; border-right:#CCCCCC solid 1px;')
                    table(width='95%', border='0', cellspacing='0', cellpadding='0', style='border:#CCCCCC solid 1px;')
                        tbody
                            tr
                                td(width='73%', align='left', valign='top', style='color:#333333; font-size:16px; padding-left:5px; line-height:25px;')
                                    strong Suresh Sharma
                                    br
                                    |                       Editor
                                    br
                                    |                        Shikharvani
                                    br
                                    strong Address :-
                                    |  F-120/12 Shivaji Nagar Bhopal 462016
                                    br
                                    strong Res :-
                                    strong Office :-
                                    strong Mobile :-
                                    |  09425011551
                                    br
                                    strong Email :- 
                                td(width='27%', align='left', valign='top')
                                    img(src='/images/suresh sharma bhopal_1446030168.jpg', height='150', width='150')
                            tr
                                td(align='left', valign='top', colspan='2', height='10')
                    br
                    table(width='95%', border='0', cellspacing='0', cellpadding='0', style='border:#CCCCCC solid 1px;')
                        tbody
                            tr
                                td(width='73%', align='left', valign='top', style='color:#333333; font-size:16px; padding-left:5px; line-height:25px;')
                                    strong Shankar Prasad Mishra
                                    br
                                    |                       Senior Journalist
                                    br
                                    br
                                    strong Address :-
                                    |  At/PO Chandrashekar Nagar, College Square, Bollangir : 767001, Odisha.
                                    br
                                    strong Res :-
                                    |  09861071142  
                                    strong Office :-
                                    strong Mobile :-
                                    |  9437223970
                                    br
                                    strong Email :- 
                                    | shankar.pr.mishra@gmail.com
                                td(width='27%', align='left', valign='top')
                                    img(src='/images/Sankar_Prasad_Mishra__1446030076.jpg', height='150', width='150')
                            tr
                                td(align='left', valign='top', colspan='2', height='10')
                    br
                    table(width='95%', border='0', cellspacing='0', cellpadding='0', style='border:#CCCCCC solid 1px;')
                        tbody
                            tr
                                td(width='73%', align='left', valign='top', style='color:#333333; font-size:16px; padding-left:5px; line-height:25px;')
                                    strong Braham Dutt Sharma
                                    br
                                    |                       Editor
                                    br
                                    |                        Doon Mail
                                    br
                                    strong Address :-
                                    |  C-5, Officers Colony,  Race Course, Dehradoon
                                    br
                                    strong Res :-
                                    strong Office :-
                                    strong Mobile :-
                                    |  09412058150
                                    br
                                    strong Email :- 
                                    | rajeevduklan@gmail.com
                                td(width='27%', align='left', valign='top')
                                    img(src='/images/na.png', height='150', width='150')
                            tr
                                td(align='left', valign='top', colspan='2', height='10')
                    br
                    table(width='95%', border='0', cellspacing='0', cellpadding='0', style='border:#CCCCCC solid 1px;')
                        tbody
                            tr
                                td(width='73%', align='left', valign='top', style='color:#333333; font-size:16px; padding-left:5px; line-height:25px;')
                                    strong Amarnath Vashishth
                                    br
                                    |                       News Editor
                                    br
                                    |                       Dainik Tribune,
                                    br
                                    strong Address :-
                                    |  G-204 Rail Vihar, M.D.C.,  Sector-04, Panchkula, Haryana Chandigarh
                                    br
                                    strong Res :-
                                    strong Office :-
                                    strong Mobile :-
                                    |  09412058150
                                    br
                                    strong Email :- 
                                    | amarnathtribune@gmail.com
                                td(width='27%', align='left', valign='top')
                                    img(src='/images/AMARNATH_1446029733.jpg', height='150', width='150')
                            tr
                                td(align='left', valign='top', colspan='2', height='10')
                    br
            tr
                td(align='center', valign='top', style='border-left:#CCCCCC solid 1px; border-right:#CCCCCC solid 1px; border-bottom:#CCCCCC solid 1px;')  
            tr
                td(align='left', height='25', valign='middle')  
            tr
                td(align='left', height='25', valign='middle', bgcolor='#de7612', style='color:#ffffff; font-size:20px; padding-left:25px;')
                    strong Secretaries
            tr
                td(align='center', valign='top', style='border-left:#CCCCCC solid 1px; border-right:#CCCCCC solid 1px;')
                    table(width='95%', border='0', cellspacing='0', cellpadding='0', style='border:#CCCCCC solid 1px;')
                        tbody
                            tr
                                td(width='72%', align='left', valign='top', style='color:#333333; font-size:16px; padding-left:5px; line-height:25px;')
                                    strong Sandeep Malik
                                    br
                                    |                       Sr. Reporter
                                    br
                                    |                       Punjab Kesari
                                    br
                                    strong Address :-
                                    |  Kothi No. 1231, Urban Estate,  JIND-126102, Haryana (India)
                                    br
                                    strong Res :-
                                    strong Office :-
                                    strong Mobile :-
                                    |  09416268381
                                    br
                                    strong Email :- 
                                    | sandeepmalikjind@gmail.com
                                td(width='28%', align='left', valign='top')
                                    img(src='/images/Sandeep Malik Haryana_1446031113.jpg', height='150', width='150')
                            tr
                                td(align='left', valign='top', colspan='2', height='10')
                    br
                    table(width='95%', border='0', cellspacing='0', cellpadding='0', style='border:#CCCCCC solid 1px;')
                        tbody
                            tr
                                td(width='72%', align='left', valign='top', style='color:#333333; font-size:16px; padding-left:5px; line-height:25px;')
                                    strong Manoj Verma 
                                    br
                                    |                       Political Editor
                                    br
                                    |                        Channel1
                                    br
                                    strong Address :-
                                    |  151-D, Pkt-A Dilshad Garden Delhi.
                                    br
                                    strong Res :-
                                    strong Office :-
                                    strong Mobile :-
                                    |  09711809141
                                    br
                                    strong Email :- 
                                    | manojvermadj@gmail.com manojvermadj@rediffmail.com
                                td(width='28%', align='left', valign='top')
                                    img(src='/images/manoj verma_1446030293.jpg', height='150', width='150')
                            tr
                                td(align='left', valign='top', colspan='2', height='10')
                    br
                    table(width='95%', border='0', cellspacing='0', cellpadding='0', style='border:#CCCCCC solid 1px;')
                        tbody
                            tr
                                td(width='72%', align='left', valign='top', style='color:#333333; font-size:16px; padding-left:5px; line-height:25px;')
                                    strong Dheeraj Gupta
                                    br
                                    |                       Corrrespondent 
                                    br
                                    |                       PTI Bhasha
                                    br
                                    strong Address :-
                                    |  51, Shaheed Bhagat Singh Colony Bheem Ganj Mandi, Kota
                                    br
                                    strong Res :-
                                    strong Office :-
                                    strong Mobile :-
                                    |  09414186801
                                    br
                                    strong Email :- 
                                    | dheerajtej@rediffmail.com dheerajtej@gmail.com
                                td(width='28%', align='left', valign='top')
                                    img(src='/images/DHEERAJ_1446030801.jpg', height='150', width='150')
                            tr
                                td(align='left', valign='top', colspan='2', height='10')
                    br
                    table(width='95%', border='0', cellspacing='0', cellpadding='0', style='border:#CCCCCC solid 1px;')
                        tbody
                            tr
                                td(width='72%', align='left', valign='top', style='color:#333333; font-size:16px; padding-left:5px; line-height:25px;')
                                    strong Bhupen Goswami
                                    br
                                    |                       Rashtriya Khabar
                                    br
                                    |                       Corrrespondent 
                                    br
                                    strong Address :-
                                    |  House No- 205, Near Ganesh Mandir,  Batahghuli Road ,Panjabari, P.O. Baghar Bori, P.S. Satgaon, Panj
                                    br
                                    strong Res :-
                                    |  099570-62495 
                                    strong Office :-
                                    |  09854072296/ 
                                    strong Mobile :-
                                    |  098643-01664
                                    br
                                    strong Email :- 
                                    | goswamibhupen@gmail.com, jaa1980gs@gmail.com
                                td(width='28%', align='left', valign='top')
                                    img(src='/images/BHPEN_1446030702.jpg', height='150', width='150')
                            tr
                                td(align='left', valign='top', colspan='2', height='10')
                    br
            tr
                td(colspan='3', align='left', height='25', valign='middle', bgcolor='#de7612', style='color:#ffffff; font-size:20px; padding-left:25px;')
                    strong Organising Secretary
            tr
                td(align='center', valign='top', style='border-left:#CCCCCC solid 1px; border-right:#CCCCCC solid 1px;')
            tr
                td(align='center', valign='top', style='border-left:#CCCCCC solid 1px; border-right:#CCCCCC solid 1px; border-bottom:#CCCCCC solid 1px;')  
            tr
                td(align='center', valign='top')  
            tr
                td(align='left', valign='top')  

    // ============FOOTER=============
    #footer