.col-md-6
    .row
        .col-md-12
            .panel-body
                h3 PRESIDENT'S DESK
    .row    
        .col-md-12
            .panel-body
                .col-md-5
                    .wrap_this_image
                        img(src="/images/ratanji.jpg")
                .col-md-7
                    p Executive Editor, Janmorcha,
                    p 646 A/1, HIG Colony,
                    p Mumfordganj, Allahabad,
                    p Uttar Pradesh, India.
                    p rkdixit16@gmail.com &nbsp;&nbsp;&nbsp;&nbsp; Mb : 09415616418
.col-md-6.ml-1
    .row
        .col-md-12
            .panel-body
                h3 SECRETARY GEN.
    .row
        .col-md-12
            .panel-body
                .col-md-5
                    .wrap_this_image
                        img(src="/images/ratanji.jpg")
                .col-md-7
                    p Executive Editor, Janmorcha,
                    p 646 A/1, HIG Colony,
                    p Mumfordganj, Allahabad,
                    p Uttar Pradesh, India.
                    p rkdixit16@gmail.com &nbsp;&nbsp;&nbsp;&nbsp; Mb : 09415616418