div(style="border:1px solid #ccc; background: #f0f0f0;", class="clearfix")
	.row
		.col-md-7
			img(src="/images/ad_imgs/pnihocal.jpg")
		.col-md-5
			h1
				| India's Biggest News Network.
			a(href="/contact-us", class="hocal_link", target="_blank") Join Us
	.row
		.col-md-12
			h3.center
				| Free Digital presence
			h4.center
				| &rarr; Website &nbsp; &nbsp; &rarr; App &nbsp; &nbsp; &rarr; CMS
				br
				| &rarr; Social &nbsp; &nbsp; &rarr; Reporter tools &nbsp; &nbsp; &rarr; Money monitization
				br
				br
	.row
		.col-md-6
			a(href="http://www.hocalwire.com/contact-us", class="hocal_link", target="_blank") Contact Us
		.col-md-6
			a(href="http://www.hocalwire.com/all-partners", class="hocal_link", target="_blank") Our Partners