extends ../../theme_cat/layout
include ../../theme_cat/allMixin
block content
    .header.container
        include ../../theme_cat/partials/_header
    include ../../theme_cat/partials/_navArea
    div.container
      table(width='100%', border='0', cellspacing='0', cellpadding='0')
        tbody
            tr
                td(align='center', valign='top')
                    table(width='95%', border='0', cellspacing='0', cellpadding='0')
                        tbody
                            tr
                                td(align='left', valign='top')  
                            tr
                                td(align='left', valign='top', style='border-left:#CCCCCC solid 1px; border-right:#CCCCCC solid 1px;  border-top:#CCCCCC solid 1px;  padding-left:5px; color:#de7612s; font-size:15px;')
                                    strong JOURNALISTS ASSOCIATION OF ANDHRA PRADESH 
                            tr
                                td(colspan='3', align='left', height='25', valign='middle', bgcolor='#de7612', style='color:#ffffff; font-size:15px; padding-left:5px;')
                                    strong President
                            tr
                                td(align='center', valign='top', style='border-left:#CCCCCC solid 1px; border-right:#CCCCCC solid 1px;')
                                    table(width='95%', border='0', cellspacing='0', cellpadding='0', style='border:#CCCCCC solid 1px;')
                                        tbody
                                            tr
                                                td(width='87%', align='left', valign='top', style='color:#333333; font-size:16px; padding-left:5px; line-height:25px;')
                                                    strong Shri M.D.V.S.R. Punnam Raju 
                                                    br
                                                    br
                                                    |                             Editor, Sunflower News Daily
                                                    br
                                                    strong Address :-
                                                    |  Challepalli village, Avanigadda (M), Krishna Dist., Andhra Pradesh
                                                    br
                                                    strong Phone
                                                    strong Res :-
                                                    strong Off. :-
                                                    strong Mob. :-
                                                    |  09440175497
                                                    br
                                                    strong Email :- 
                                                    | mdvsrpraju.raju@gmail.com
                                                    br
                                                td(width='13%', align='left', valign='top')
                                                    img(src='/images/punnam raju_1421246832.jpg', height='100', width='100')
                                            tr
                                                td(align='left', valign='top', colspan='2', height='10')
                                    br
                            tr
                                td(align='left', height='25', valign='middle', bgcolor='#de7612', style='color:#ffffff; font-size:15px; padding-left:5px;')
                                    strong  General Secretary 
                            tr
                                td(align='center', valign='top', style='border-left:#CCCCCC solid 1px; border-right:#CCCCCC solid 1px; border-bottom:#CCCCCC solid 1px;')
                                    table(width='95%', border='0', cellspacing='0', cellpadding='0', style='border:#CCCCCC solid 1px;')
                                        tbody
                                            tr
                                                td(width='89%', align='left', valign='top', style='color:#333333; font-size:16px; padding-left:5px; line-height:25px;')
                                                    strong M. YUGANDHAR REDDY
                                                    br
                                                    |                             GENERAL SECRETARY
                                                    br
                                                    br
                                                    strong Address :-
                                                    |  VISAKAPATNAM
                                                    br
                                                    strong Phone
                                                    strong Res :-
                                                    strong Off. :-
                                                    strong Mob. :-
                                                    br
                                                    strong Email :- 
                                                td(width='11%', align='left', valign='top')
                                                    img(src='/images/na.png', height='100', width='100')
                                            tr
                                                td(align='left', valign='top', colspan='2', height='10')
                                    br
                            tr
                                td(align='left', valign='top')  
                    table(width='95%', border='0', cellspacing='0', cellpadding='0')
                        tbody
                            tr
                                td(align='left', valign='top', style='border-left:#CCCCCC solid 1px; border-right:#CCCCCC solid 1px; border-top:#CCCCCC solid 1px;   padding-left:5px; color:#de7612; font-size:15px;')
                                    strong JOURNALISTS ASSOCIATION OF TAMILNADU
                            tr
                                td(colspan='3', align='left', height='25', valign='middle', bgcolor='#de7612', style='color:#ffffff; font-size:15px; padding-left:5px;')
                                    strong President
                            tr
                                td(align='center', valign='top', style='border-left:#CCCCCC solid 1px; border-right:#CCCCCC solid 1px;')
                                    table(width='95%', border='0', cellspacing='0', cellpadding='0', style='border:#CCCCCC solid 1px;')
                                        tbody
                                            tr
                                                td(width='89%', align='left', valign='top', style='color:#333333; font-size:16px; padding-left:5px; line-height:25px;')
                                                    strong Shri R Rajagopal 
                                                    br
                                                    |                               National Union Of Journalists
                                                    br
                                                    |                               Nujindia
                                                    br
                                                    strong Address :-
                                                    |  4/54, Kaviarasu, Kannadasan Nagar, Chennai : 600 118
                                                    br
                                                    strong Phone
                                                    strong Res :-
                                                    |  044 25541577 
                                                    strong Off. :-
                                                    |  N/A 
                                                    strong Mob. :-
                                                    |  09282441796, 09840270506
                                                    br
                                                    strong Email :- 
                                                    | N/A
                                                    br
                                                td(width='11%', align='left', valign='top')
                                                    img(src='/images/na.png', height='100', width='100')
                                            tr
                                                td(align='left', valign='top', colspan='2', height='10')
                                    br
                            tr
                                td(align='left', height='25', valign='middle', bgcolor='#de7612', style='color:#ffffff; font-size:15px; padding-left:5px;')
                                    strong  General Secretary 
                            tr
                                td(align='center', valign='top', style='border-left:#CCCCCC solid 1px; border-right:#CCCCCC solid 1px; border-bottom:#CCCCCC solid 1px;')
                                    table(width='95%', border='0', cellspacing='0', cellpadding='0', style='border:#CCCCCC solid 1px;')
                                        tbody
                                            tr
                                                td(width='89%', align='left', valign='top', style='color:#333333; font-size:16px; padding-left:5px; line-height:25px;')
                                                    strong Shri C Balasubramanian
                                                    br
                                                    br
                                                    br
                                                    strong Address :-
                                                    |  71/34 Big Street, Manavalan News Mart, Opposite to T.U.C.S, Triplicane,  Chennai: 600 605 
                                                    br
                                                    strong Phone
                                                    strong Res :-
                                                    strong Off. :-
                                                    strong Mob. :-
                                                    |  09840231177 
                                                    br
                                                    strong Email :- 
                                                    | balasubram2002@yahoo.com
                                                td(width='11%', align='left', valign='top')
                                                    img(src='/images/na.png', height='100', width='100')
                                            tr
                                                td(align='left', valign='top', colspan='2', height='10')
                                    br
                            tr
                                td(align='left', valign='top')  
                    table(width='95%', border='0', cellspacing='0', cellpadding='0')
                        tbody
                            tr
                                td(align='left', valign='top', style='border-left:#CCCCCC solid 1px; border-right:#CCCCCC solid 1px;  border-top:#CCCCCC solid 1px;   padding-left:5px; color:#de7612; font-size:15px;')
                                    strong JOURNALISTS ASSOCIATION OF KARNATAKA 
                            tr
                                td(colspan='3', align='left', height='25', valign='middle', bgcolor='#de7612', style='color:#ffffff; font-size:15px; padding-left:5px;')
                                    strong President
                            tr
                                td(align='center', valign='top', style='border-left:#CCCCCC solid 1px; border-right:#CCCCCC solid 1px;')
                                    table(width='95%', border='0', cellspacing='0', cellpadding='0', style='border:#CCCCCC solid 1px;')
                                        tbody
                                            tr
                                                td(width='89%', align='left', valign='top', style='color:#333333; font-size:16px; padding-left:5px; line-height:25px;')
                                                    strong Shri Harish Chandra Bhat 
                                                    br
                                                    |                               National Union Of Journalists
                                                    br
                                                    |                               Nujindia
                                                    br
                                                    strong Address :-
                                                    |  49,KHB Colony Gandhi nagar, Yehahanka-560064,Bangalore.
                                                    br
                                                    strong Phone
                                                    strong Res :-
                                                    |  080-28460640 
                                                    strong Off. :-
                                                    |  09481474077 
                                                    strong Mob. :-
                                                    |  09481474077
                                                    br
                                                    strong Email :- 
                                                    | bhatbh@yahoo.com, bhatbh@gmail.com
                                                    br
                                                td(width='11%', align='left', valign='top')
                                                    img(src='/images/na.png', height='100', width='100')
                                            tr
                                                td(align='left', valign='top', colspan='2', height='10')
                                    br
                            tr
                                td(align='left', height='25', valign='middle', bgcolor='#de7612', style='color:#ffffff; font-size:15px; padding-left:5px;')
                                    strong  General Secretary 
                            tr
                                td(align='center', valign='top', style='border-left:#CCCCCC solid 1px; border-right:#CCCCCC solid 1px; border-bottom:#CCCCCC solid 1px;')
                                    table(width='95%', border='0', cellspacing='0', cellpadding='0', style='border:#CCCCCC solid 1px;')
                                        tbody
                                            tr
                                                td(width='89%', align='left', valign='top', style='color:#333333; font-size:16px; padding-left:5px; line-height:25px;')
                                                    strong Shri Shantaram S
                                                    br
                                                    br
                                                    br
                                                    strong Address :-
                                                    |  1103-7th main.9th Cross, Sreenivasnaar, Bangalore-500050
                                                    br
                                                    strong Phone
                                                    strong Res :-
                                                    strong Off. :-
                                                    strong Mob. :-
                                                    |  09448332447,08026796553
                                                    br
                                                    strong Email :- 
                                                    | shantharam.s@rediffmail.com
                                                td(width='11%', align='left', valign='top')
                                                    img(src='/images/na.png', height='100', width='100')
                                            tr
                                                td(align='left', valign='top', colspan='2', height='10')
                                    br
                            tr
                                td(align='left', valign='top')  
                    table(width='95%', border='0', cellspacing='0', cellpadding='0')
                        tbody
                            tr
                                td(align='left', valign='top', style='border-left:#CCCCCC solid 1px; border-right:#CCCCCC solid 1px;  border-top:#CCCCCC solid 1px;  padding-left:5px; color:#de7612; font-size:15px;')
                                    strong JOURNALISTS ASSOCIATION OF KERALA 
                            tr
                                td(colspan='3', align='left', height='25', valign='middle', bgcolor='#de7612', style='color:#ffffff; font-size:15px; padding-left:5px;')
                                    strong President
                            tr
                                td(align='center', valign='top', style='border-left:#CCCCCC solid 1px; border-right:#CCCCCC solid 1px;')
                            tr
                                td(align='left', height='25', valign='middle', bgcolor='#de7612', style='color:#ffffff; font-size:15px; padding-left:5px;')
                                    strong  General Secretary 
                            tr
                                td(align='center', valign='top', style='border-left:#CCCCCC solid 1px; border-right:#CCCCCC solid 1px; border-bottom:#CCCCCC solid 1px;')
                            tr
                                td(align='left', valign='top')  
                    table(width='95%', border='0', cellspacing='0', cellpadding='0')
                        tbody
                            tr
                                td(align='left', valign='top', style='border-left:#CCCCCC solid 1px; border-top:#CCCCCC solid 1px;    border-right:#CCCCCC solid 1px; padding-left:5px; color:#de7612; font-size:15px;')
                                    strong PONDICHERRY UNION OF JOURNALISTS
                            tr
                                td(colspan='3', align='left', height='25', valign='middle', bgcolor='#de7612', style='color:#ffffff; font-size:15px; padding-left:5px;')
                                    strong President
                            tr
                                td(align='center', valign='top', style='border-left:#CCCCCC solid 1px; border-right:#CCCCCC solid 1px;')
                            tr
                                td(align='left', height='25', valign='middle', bgcolor='#de7612', style='color:#ffffff; font-size:15px; padding-left:5px;')
                                    strong  General Secretary 
                            tr
                                td(align='center', valign='top', style='border-left:#CCCCCC solid 1px; border-right:#CCCCCC solid 1px; border-bottom:#CCCCCC solid 1px;')
                            tr
                                td(align='left', valign='top')  
            tr
                td(align='left', valign='top')  

    // ============FOOTER=============
    #footer