extends ../../theme_cat/layout
include ../../theme_cat/allMixin
block content
    .header.container
        include ../../theme_cat/partials/_header
    include ../../theme_cat/partials/_navArea
    div.container
      table(width='95%', border='0', cellspacing='0', cellpadding='0', style='border:#CCCCCC solid 1px; background:#eeeeee')
        tbody
            tr
                td(width='30', align='center', valign='middle', height='25')
                    strong 1. 
                td.slide(width='805', align='left', valign='middle')
                    strong
                        | IN THE SUPREME COURT OF INDIA
                        | ,
                        | CIVIL ORIGINAL JURISDICTION
                        br
                        |             WRIT PETITION (CIVIL) NO. 246 OF 2011
                td.bt1.slide(width='189', align='left', valign='middle')
                    a(href='Supreme-Courte.pdf', target='_blank')  View / Download 
                td.bt1.slide(width='103', align='left', valign='middle')
                    a(href='Supreme-Courte.pdf', target='_blank')
                        img(src='images/pdficon.gif', title='view PDF Format', alt='view PDF Format')
            tr
                td(align='center', valign='middle', height='25')  
                td.slide(align='left', valign='middle')  
                td.bt1(align='left', valign='middle')  
                td.bt1(align='left', valign='middle')  
            tr
                td(align='center', valign='middle', height='25')
                    strong 2.
                td.slide(align='left', valign='middle')
                    strong
                        | NUJ-Highlights of SC verdict , Apex Court says Employers “cannot be allowed
                        | To take advantage of their own wrongs”
                td.bt1.slide(width='189', align='left', valign='middle')
                    a(href='WAGEBOARD.pptx', target='_blank')  View / Detail
                td.bt1.slide(width='103', align='left', valign='middle')
                    a(href='WAGEBOARD.pptx', target='_blank')
                        img(src='images/pdficon.gif', title='view PDF Format', alt='view PDF Format')
            tr
                td(align='center', valign='middle', height='25')  
                td.slide(align='left', valign='middle')  
                td.bt1(align='left', valign='middle')  
                td.bt1(align='left', valign='middle')  
            tr
                td(align='center', valign='middle', height='25') 3.
                td.slide(align='left', valign='middle')
                    strong Wage Board PTI
                td.bt1.slide(width='189', align='left', valign='middle')
                    a(href='WAGEBOARD-PTI-.pptx', target='_blank')  View / Detail
                td.bt1.slide(width='103', align='left', valign='middle')
                    a(href='WAGEBOARD-PTI-.pptx', target='_blank')
                        img(src='images/pdficon.gif', title='view PDF Format', alt='view PDF Format')

    // ============FOOTER=============
    #footer