extends ../../theme_cat/layout
include ../../theme_cat/allMixin
block content
    .header.container
        include ../../theme_cat/partials/_header
    include ../../theme_cat/partials/_navArea
    div.container
      table(width='100%', border='0', cellspacing='0', cellpadding='0')
        tbody
            tr
                td(align='center', valign='top')
                    table(width='95%', border='0', cellspacing='0', cellpadding='0')
                        tbody
                            tr
                                td(align='left', valign='top', style='border:#CCCCCC solid 1px; padding-left:5px; color:#de7612s; font-size:15px;')
                                    strong JOURNALISTS UNION OF MADHYA PRADESH 
                            tr
                                td(colspan='3', align='left', height='25', valign='middle', bgcolor='#de7612', style='color:#ffffff; font-size:15px; padding-left:5px;')
                                    strong President
                            tr
                                td(align='center', valign='top', style='border-left:#CCCCCC solid 1px; border-right:#CCCCCC solid 1px;')
                                    table(width='95%', border='0', cellspacing='0', cellpadding='0', style='border:#CCCCCC solid 1px;')
                                        tbody
                                            tr
                                                td(width='87%', align='left', valign='top', style='color:#333333; font-size:16px; padding-left:5px; line-height:25px;')
                                                    strong Shri Suresh Sharma 
                                                    br
                                                    |                             National Union Of Journalists
                                                    br
                                                    |                             Nujindia
                                                    br
                                                    strong Address :-
                                                    |   F-120-12, Shivaji Nagar, Bhopal,
                                                    br
                                                    strong Phone
                                                    strong Res :-
                                                    strong Off. :-
                                                    strong Mob. :-
                                                    |  09425011551
                                                    br
                                                    strong Email :- 
                                                    | shikharvani@yahoo.co.in / sssureshsharma497@gmail.
                                                    br
                                                td(width='13%', align='left', valign='top')
                                                    img(src='/images/suresh sharma bhopal_1421389541.jpg', height='100', width='100')
                                            tr
                                                td(align='left', valign='top', colspan='2', height='10')
                                    br
                            tr
                                td(align='left', height='25', valign='middle', bgcolor='#de7612', style='color:#ffffff; font-size:15px; padding-left:5px;')
                                    strong  General Secretary 
                            tr
                                td(align='center', valign='top', style='border-left:#CCCCCC solid 1px; border-right:#CCCCCC solid 1px; border-bottom:#CCCCCC solid 1px;')
                                    table(width='95%', border='0', cellspacing='0', cellpadding='0', style='border:#CCCCCC solid 1px;')
                                        tbody
                                            tr
                                                td(width='89%', align='left', valign='top', style='color:#333333; font-size:16px; padding-left:5px; line-height:25px;')
                                                    strong Shri Om Prakash Farkiya
                                                    br
                                                    |                             National Union Of Journalists
                                                    br
                                                    |                             Nujindia
                                                    br
                                                    strong Address :-
                                                    |  1680-D, Sudama Nagar,Indore- 452009, Madhya Pradesh
                                                    br
                                                    strong Phone
                                                    strong Res :-
                                                    strong Off. :-
                                                    strong Mob. :-
                                                    |  09827270830
                                                    br
                                                    strong Email :- 
                                                    | indorebhraman@gmail.com
                                                td(width='11%', align='left', valign='top')
                                                    img(src='/images/na.png', height='100', width='100')
                                            tr
                                                td(align='left', valign='top', colspan='2', height='10')
                                    br
                    table(width='95%', border='0', cellspacing='0', cellpadding='0')
                        tbody
                            tr
                                td(align='left', valign='top')  
                            tr
                                td(align='left', valign='top', style='border-left:#CCCCCC solid 1px; border-right:#CCCCCC solid 1px; border-top:#CCCCCC solid 1px; padding-left:5px; color:#de7612; font-size:15px;')
                                    strong JOURNALISTS ASSOCIATION OF RAJASTHAN 
                            tr
                                td(colspan='3', align='left', height='25', valign='middle', bgcolor='#de7612', style='color:#ffffff; font-size:15px; padding-left:5px;')
                                    strong President
                            tr
                                td(align='center', valign='top', style='border-left:#CCCCCC solid 1px; border-right:#CCCCCC solid 1px;')
                                    table(width='95%', border='0', cellspacing='0', cellpadding='0', style='border:#CCCCCC solid 1px;')
                                        tbody
                                            tr
                                                td(width='88%', align='left', valign='top', style='color:#333333; font-size:16px; padding-left:5px; line-height:25px;')
                                                    strong Shri Neeraj Gupta
                                                    br
                                                    |                               Editor
                                                    br
                                                    |                               Journalists Association of Rajasthan
                                                    br
                                                    strong Address :-
                                                    |  --
                                                    br
                                                    strong Phone
                                                    strong Res :-
                                                    strong Off. :-
                                                    strong Mob. :-
                                                    |  9887037400, 9829037400
                                                    br
                                                    strong Email :- 
                                                    | neerajguptakota@rediffmail.com
                                                    br
                                                td(width='12%', align='left', valign='top')
                                                    img(src='/images/na.png', height='100', width='100')
                                            tr
                                                td(align='left', valign='top', colspan='2', height='10')
                                    br
                            tr
                                td(align='left', height='25', valign='middle', bgcolor='#de7612', style='color:#ffffff; font-size:15px; padding-left:5px;')
                                    strong  General Secretary 
                            tr
                                td(align='center', valign='top', style='border-left:#CCCCCC solid 1px; border-right:#CCCCCC solid 1px; border-bottom:#CCCCCC solid 1px;')
                                    table(width='95%', border='0', cellspacing='0', cellpadding='0', style='border:#CCCCCC solid 1px;')
                                        tbody
                                            tr
                                                td(width='89%', align='left', valign='top', style='color:#333333; font-size:16px; padding-left:5px; line-height:25px;')
                                                    strong Shri Ghanshyam Baghi
                                                    br
                                                    |                               --
                                                    br
                                                    |                               Senior Journalist
                                                    br
                                                    strong Address :-
                                                    |  --
                                                    br
                                                    strong Phone
                                                    strong Res :-
                                                    strong Off. :-
                                                    strong Mob. :-
                                                    |  09829335313
                                                    br
                                                    strong Email :- 
                                                    | gsbaghialw@gmail.com
                                                td(width='11%', align='left', valign='top')
                                                    img(src='/images/na.png', height='100', width='100')
                                            tr
                                                td(align='left', valign='top', colspan='2', height='10')
                                    br
                                    table(width='95%', border='0', cellspacing='0', cellpadding='0', style='border:#CCCCCC solid 1px;')
                                        tbody
                                            tr
                                                td(width='89%', align='left', valign='top', style='color:#333333; font-size:16px; padding-left:5px; line-height:25px;')
                                                    strong Shri Neeraj Gupta
                                                    br
                                                    br
                                                    br
                                                    strong Address :-
                                                    |  KOTA
                                                    br
                                                    strong Phone
                                                    strong Res :-
                                                    strong Off. :-
                                                    strong Mob. :-
                                                    br
                                                    strong Email :- 
                                                    | neerajguptakota@rediffmail.com
                                                td(width='11%', align='left', valign='top')
                                                    img(src='/images/na.png', height='100', width='100')
                                            tr
                                                td(align='left', valign='top', colspan='2', height='10')
                                    br
                    table(width='95%', border='0', cellspacing='0', cellpadding='0')
                        tbody
                            tr
                                td(align='left', valign='top')  
                            tr
                                td(align='left', valign='top', style='border-left:#CCCCCC solid 1px; border-right:#CCCCCC solid 1px; border-top:#CCCCCC solid 1px;  padding-left:5px; color:#de7612; font-size:15px;')
                                    strong CHATTISGARH ASSOCIATION OF JOURNALISTS 
                            tr
                                td(colspan='3', align='left', height='25', valign='middle', bgcolor='#de7612', style='color:#ffffff; font-size:15px; padding-left:5px;')
                                    strong President
                            tr
                                td(align='center', valign='top', style='border-left:#CCCCCC solid 1px; border-right:#CCCCCC solid 1px;')
                                    table(width='95%', border='0', cellspacing='0', cellpadding='0', style='border:#CCCCCC solid 1px;')
                                        tbody
                                            tr
                                                td(width='89%', align='left', valign='top', style='color:#333333; font-size:16px; padding-left:5px; line-height:25px;')
                                                    strong Shri Shiva Kumar
                                                    br
                                                    |                               National Union Of Journalists
                                                    br
                                                    |                               Nujindia
                                                    br
                                                    strong Address :-
                                                    |  N/A
                                                    br
                                                    strong Phone
                                                    strong Res :-
                                                    strong Off. :-
                                                    strong Mob. :-
                                                    |  09981500370
                                                    br
                                                    strong Email :- 
                                                    | N/A
                                                    br
                                                td(width='11%', align='left', valign='top')
                                                    img(src='/images/shiva kumar_1421390020.jpg', height='100', width='100')
                                            tr
                                                td(align='left', valign='top', colspan='2', height='10')
                                    br
                            tr
                                td(align='left', height='25', valign='middle', bgcolor='#de7612', style='color:#ffffff; font-size:15px; padding-left:5px;')
                                    strong  General Secretary 
                            tr
                                td(align='center', valign='top', style='border-left:#CCCCCC solid 1px; border-right:#CCCCCC solid 1px; border-bottom:#CCCCCC solid 1px;')
                                    table(width='95%', border='0', cellspacing='0', cellpadding='0', style='border:#CCCCCC solid 1px;')
                                        tbody
                                            tr
                                                td(width='89%', align='left', valign='top', style='color:#333333; font-size:16px; padding-left:5px; line-height:25px;')
                                                    strong Shri Kamlesh Sharma
                                                    br
                                                    |                               Senior Correspondent
                                                    br
                                                    |                               Nai Duniya 
                                                    br
                                                    strong Address :-
                                                    br
                                                    strong Phone
                                                    strong Res :-
                                                    |  09993093738  
                                                    strong Off. :-
                                                    |  09993093738  
                                                    strong Mob. :-
                                                    |  09993093738 
                                                    br
                                                    strong Email :- 
                                                td(width='11%', align='left', valign='top')
                                                    img(src='/images/na.png', height='100', width='100')
                                            tr
                                                td(align='left', valign='top', colspan='2', height='10')
                                    br
                    table(width='95%', border='0', cellspacing='0', cellpadding='0')
                        tbody
                            tr
                                td(align='left', valign='top')  
                            tr
                                td(align='left', valign='top', style='border-left:#CCCCCC solid 1px; border-right:#CCCCCC solid 1px; border-top:#CCCCCC solid 1px;  padding-left:5px; color:#de7612; font-size:15px;')
                                    strong GUJRAT JOURNALISTS ASSOCIATION  
                            tr
                                td(colspan='3', align='left', height='25', valign='middle', bgcolor='#de7612', style='color:#ffffff; font-size:15px; padding-left:5px;')
                                    strong President
                            tr
                                td(align='center', valign='top', style='border-left:#CCCCCC solid 1px; border-right:#CCCCCC solid 1px;')
                            tr
                                td(align='left', height='25', valign='middle', bgcolor='#de7612', style='color:#ffffff; font-size:15px; padding-left:5px;')
                                    strong  General Secretary 
                            tr
                                td(align='center', valign='top', style='border-left:#CCCCCC solid 1px; border-right:#CCCCCC solid 1px; border-bottom:#CCCCCC solid 1px;')
                            tr
                                td(align='left', valign='top')  
                    table(width='95%', border='0', cellspacing='0', cellpadding='0')
                        tbody
                            tr
                                td(align='left', valign='top', style='border-left:#CCCCCC solid 1px; border-right:#CCCCCC solid 1px; border-top:#CCCCCC solid 1px; padding-left:5px; color:#de7612; font-size:15px;')
                                    strong MAHARASTHRA UNION OF JOURNALISTS
                            tr
                                td(colspan='3', align='left', height='25', valign='middle', bgcolor='#de7612', style='color:#ffffff; font-size:15px; padding-left:5px;')
                                    strong CHIEF PATRONAGE
                            tr
                                td(align='center', valign='top', style='border-left:#CCCCCC solid 1px; border-right:#CCCCCC solid 1px;')
                                    table(width='95%', border='0', cellspacing='0', cellpadding='0', style='border:#CCCCCC solid 1px;')
                                        tbody
                                            tr
                                                td(width='89%', align='left', valign='top', style='color:#333333; font-size:16px; padding-left:5px; line-height:25px;')
                                                    strong S KUMAR
                                                    br
                                                    strong Address :-
                                                    |  Prabhadevi, Mumbai
                                                    br
                                                    strong Mob. :-
                                                    |   09892255534, 09981500370
                                                    br
                                                    strong Email :- 
                                                    | shiva.shubh@gmail.com
                                                    br
                                                td(width='11%', align='left', valign='top')
                                                    img(src='/images/s-kumar.jpg', height='100', width='100')
                                            tr
                                                td(align='left', valign='top', colspan='2', height='10')
                            tr
                                td(colspan='3', align='left', height='25', valign='middle', bgcolor='#de7612', style='color:#ffffff; font-size:15px; padding-left:5px;')
                                    strong President
                            tr
                                td(align='center', valign='top', style='border-left:#CCCCCC solid 1px; border-right:#CCCCCC solid 1px;')
                                    table(width='95%', border='0', cellspacing='0', cellpadding='0', style='border:#CCCCCC solid 1px;')
                                        tbody
                                            tr
                                                td(width='89%', align='left', valign='top', style='color:#333333; font-size:16px; padding-left:5px; line-height:25px;')
                                                    strong Dr. Uday Joshi 
                                                    br
                                                    |                               National Union Of Journalists
                                                    br
                                                    |                               Nujindia
                                                    br
                                                    strong Address :-
                                                    |  B/66 shruti  co Hsg Society Plot  No 198, Sec 6, Charkop, Kandivali ,west mumbai 67
                                                    br
                                                    strong Phone
                                                    strong Res :-
                                                    strong Off. :-
                                                    strong Mob. :-
                                                    |  7208524121
                                                    br
                                                    strong Email :- 
                                                    | urjoshi46@gmail.com 
                                                    br
                                                td(width='11%', align='left', valign='top')
                                                    img(src='/images/dr-joshi_1420709014.jpg', height='100', width='100')
                                            tr
                                                td(align='left', valign='top', colspan='2', height='10')
                                    br
                            tr
                                td(align='left', height='25', valign='middle', bgcolor='#de7612', style='color:#ffffff; font-size:15px; padding-left:5px;')
                                    strong  General Secretary 
                            tr
                                td(align='center', valign='top', style='border-left:#CCCCCC solid 1px; border-right:#CCCCCC solid 1px; border-bottom:#CCCCCC solid 1px;')
                                    table(width='95%', border='0', cellspacing='0', cellpadding='0', style='border:#CCCCCC solid 1px;')
                                        tbody
                                            tr
                                                td(width='89%', align='left', valign='top', style='color:#333333; font-size:16px; padding-left:5px; line-height:25px;')
                                                    strong Shittal kardekar
                                                    br
                                                    br
                                                    |                               NUJ
                                                    br
                                                    strong Address :-
                                                    |  2/59-60 khandke Bld 1st floor J K Sawant Marg  Dadar Mumbai  28 
                                                    br
                                                    strong Phone
                                                    strong Res :-
                                                    |  022-24216101 
                                                    strong Off. :-
                                                    strong Mob. :-
                                                    |  9867153426/9821209870
                                                    br
                                                    strong Email :- 
                                                    | damini111@rediffmail.com /karrdekar.s1@gmail.com
                                                td(width='11%', align='left', valign='top')
                                                    img(src='/images/shital_1420710141.jpg', height='100', width='100')
                                            tr
                                                td(align='left', valign='top', colspan='2', height='10')
                                    br
                            tr
                                td(align='left', valign='top')  
                    table(width='95%', border='0', cellspacing='0', cellpadding='0')
                        tbody
                            tr
                                td(align='left', valign='top', style='border-left:#CCCCCC solid 1px; border-right:#CCCCCC solid 1px; border-top:#CCCCCC solid 1px;  padding-left:5px; color:#de7612; font-size:15px;')
                                    strong GOA UNION OF JOURNALISTS 
                            tr
                                td(colspan='3', align='left', height='25', valign='middle', bgcolor='#de7612', style='color:#ffffff; font-size:15px; padding-left:5px;')
                                    strong President
                            tr
                                td(align='center', valign='top', style='border-left:#CCCCCC solid 1px; border-right:#CCCCCC solid 1px;')
                            tr
                                td(align='left', height='25', valign='middle', bgcolor='#de7612', style='color:#ffffff; font-size:15px; padding-left:5px;')
                                    strong  General Secretary 
                            tr
                                td(align='center', valign='top', style='border-left:#CCCCCC solid 1px; border-right:#CCCCCC solid 1px; border-bottom:#CCCCCC solid 1px;')

    // ============FOOTER=============
    #footer