extends ../../theme_cat/layout
include ../../theme_cat/allMixin
block content
    .header.container
        include ../../theme_cat/partials/_header
    include ../../theme_cat/partials/_navArea
    div.container
      p NATIONAL UNION OF JOURNALISTS (INDIA) 
      p Founded: January1972, Regn. No: 4612

      p Constitution 
      p National Union of Journalists (India)

      p AS AMENDED upto 
      p THE BIENNIAL CONFERENCE HELD 
      p AT AlIGARH, UTTARPRADESH, JUNE 15, 16, & 17, 2013

      p Registered office : 7, Jantar Mantar Road, 
      p Second Floor, New Delhi : 110001
      p Tele/fax : 011-23368610

       

      p E-mail : nujindia@gmail.com
      p Website :  www.nujindia.com
    // ============FOOTER=============
    #footer