body {
	background: repeating-linear-gradient( to right, #f6ba52, #f6ba52 10px, #f9d186 10px, #ffd180 20px );	
}

.header .paragraph-row {
	background: #005689;
}

.header .top-header {
	background: #00456e
}
.header {
	margin-bottom: 0px;
}
.section-title,a {
	color:#ff1c00;
}
.paragraph-row .follow-us-links .social_nav{
	float: right !important;
}
.paragraph-row .follow-us-links .social_nav li{
	float: right !important;
}
.paragraph-row .header-date-row {
	text-align: right !important;
}
.paragraph-row .header-date-row span {
    margin-right: 10px;
}
.cp-mega-menu {
	background: #f9ab23;
}
.cp-mega-menu .drop-down.full-width{
	width:100% !important;
	
}
.todays-date-time {
	color:#fff;
}
.header-logo{
	padding-left: 5px;
}
.cp-mega-menu .drop-down li a {
    color: #ffffff !important;
    background-color: #1c1c1c !important;
    border-bottom: none;
}
.cp-mega-menu .drop-down{
	background: #1c1c1c !important;
	border-top: 3px solid #333333;
}
.cp-mega-menu .drop-down.full-width.col-5>li{
	background: #1c1c1c !important;
}
.waves-button{
	color:#f2f2f2;
}
.cp-megamenu{
	border-bottom: 1px solid #333333 !important;
	border-top: 1px solid #333333 !important;
}
.top-header{
	background: #333333;
}
li.current {
    background: #080808;
}
.featured-news{
	max-height: 400px;
}
.news-item{
	max-height: 300px;
    overflow: hidden;
}
#top_head_banner{
	margin-top:20px;
}
.featured-news .news-cells .cell label a{
	color:#ed2824;
}
* {
    font-family: sans-serif;
}
.shows .section-body .show-grid .show-side ul li a p{
	font-size:16px;
}
.header .paragraph-row .column3{
	width: 14.893617021276595%;
}
.ot-tab-block{
	display: block !important;
}
.ot-tab-block .list-group li {
    display: inline-block !important;
    color: white;
    margin-right: 10px;
}
.section-title:after, .section-title:before {
    content: '';
    position: absolute;
    top: 50%;
    height: 0;
    width: 50%;
    border: 1px solid #333333;
    z-index: -1;
}
.section-title h3 {
	font-size: 20px;
}
@media (max-width: 767px){
	.main-title .post-intro {
		display: none;
	}
	.author_description .update_date {
		text-indent: 0%;
	}
	.author_description {
		display: flex;
	}
}
@media only screen and (max-width: 800px){
	.mobile-only-header .logo_area {
	    width: 40%;
	    position: fixed;
	    top:0px;
	    left: 37%;
	    width: 100px;
	}
	.header .header-logo{
		margin-top: 0px;
	}
	.news-item{
		max-height: 500px;
	}
	.cp-megamenu {
		min-height: 65px !important;
	}
	.header .top-header{
		display: none;
	}
	.cp-megamenu {
    	background: #005689;
	}
	.featured-news{
		max-height:1000px;
	}
	.breadcrumb-menu-wrapper{
		display: none;
	}
	.main-title .post-intro{
		display: block;
	}
	.author_description {
    display: block;
	}
	.update_date i{
		display: none;
	}
	.hide-me-on-mobile{
		display: none;
	}
	.dont-show{
		display: block !important;
	}
}
