include ../../theme_cow/allMixin
extends ../../theme_cow/layout
block content
        include ../../theme_cow/partials/_header
        include ../../theme_cow/partials/_navArea
        section.clearfix
            .left
                .huge-message1
                    h1.small-title All cowegories
                    .details-content-story
                        div(class="cp-authors")
                            div(class="row")
                              ul(class="cp-authors-grid")
                                -for(var i=0;i<env.partnerCatData.length;i++){
                                    li(class="col-md-4 col-sm-6")
                                        a(href="#{env.partnerCatData[i].url}",class="cp-author-box")
                                            
                                            h3  #{env.partnerCatData[i].name}
                                            // p ( #{env.partnerAuthorData[i].total_news} )
                                      
                                -}
            .right
                include ../../theme_cow/partials/_genricRightSection
            
        include ../../theme_cow/partials/_footer
