include ../../theme_cow/allMixin
extends ../../theme_cow/layout
block content
        include ../../theme_cow/partials/_header
        include ../../theme_cow/partials/_navArea
        section.clearfix
            .left
                h2 Contact Us
                    div(class="cp-post-content")
                        .contact-us-page
                            span.red-color.contact-us-headers Head Office
                            br
                            p(style='font-weight: 300;') 5E-4/81, Vrindavan Yojna,
                            p(style='font-weight: 300;') Raebareli Raod Lucknow-226029
                            p Phone Number: 
                                a(href='tel:09454506000' style='padding-left: 10px;font-weight: 300;') 09454506000
                                a(href='tel:08090249107' style='padding-left: 10px;font-weight: 300;') 08090249107
                            p Email:
                                a(href='mailto:khojinews@gmail.com' style='padding-left: 10px;font-weight: 300;') khojinews@gmail.com

                            br
                            span.red-color.contact-us-headers Editorial Office: 
                            br
                            p(style='font-weight: 300;') Plaza Market, Opposite City Centre
                            p(style='font-weight: 300;') Muzaffarnagar-251001 (Uttar Pradesh)
                            p Phone Number: 
                                a(href='tel:09412477100' style='padding-left: 10px;font-weight: 300;') 09412477100
                                a(href='tel:9837515048' style='padding-left: 10px;font-weight: 300;') 9837515048
                                a(href='tel:9897096982' style='padding-left: 10px;font-weight: 300;') 9897096982
                            p Email:
                                a(href='mailto:khojinews@gmail.com' style='padding-left: 10px;font-weight: 300;') khojinews@gmail.com

                            br
                            span.red-color.contact-us-headers Delhi Office: 
                            br
                            p(style='font-weight: 300;') J-3/32B, First Floor, Kherki Extension
                            p(style='font-weight: 300;') Malviya Nagar, New Delhi-110017
                            p Phone Number: 
                                a(href='tel:09810467866' style='padding-left: 10px;font-weight: 300;') 09810467866
                            p Email:
                                a(href='mailto:khojinews@gmail.com' style='padding-left: 10px;font-weight: 300;') khojinews@gmail.com

                            br
                            span.red-color.contact-us-headers Uttrakhand Office: 
                            br
                            p(style='font-weight: 300;') 44, Preeti Enclave, Majra,
                            p(style='font-weight: 300;') Shimla Chowk, Dehradun (Uttrakhand)
                            p Phone Number: 
                                a(href='tel:09412210600' style='padding-left: 10px;font-weight: 300;') 09412210600
                                a(href='tel:07599543566' style='padding-left: 10px;font-weight: 300;') 07599543566
                            p Email:
                                a(href='mailto:khojinews@gmail.com' style='padding-left: 10px;font-weight: 300;') khojinews@gmail.com
                           
            .right
                include ../../theme_cow/partials/_genricRightSection
            
        include ../../theme_cow/partials/_footer

