include ../../theme_cow/allMixin
extends ../../theme_cow/layout
block content
        include ../../theme_cow/partials/_header
        include ../../theme_cow/partials/_navArea
        section.clearfix
            .left
               .huge-message
                    b.big-title Error
                    b.small-title Unknown error occured
                    p
                        | There is something not right. Please check again later
                    a.icon-link(href='/')
                        span.icon-text ⌂
                        | Back to Homepage
            .right
                include ../../theme_cow/partials/_genricRightSection
            
        include ../../theme_cow/partials/_footer
