include ../../theme_panda/allMixin

extends ../../theme_panda/layout
block content
    div.wrapper
        .header
            include ../../theme_panda/partials/_topHeader
            include ../../theme_panda/partials/_navArea
        .top-tick
            .adBlock
                .mainBlock(align='center')
                    #level_top_ticker
        .topAd
            .adBlock
                .mainBlock(align='center')
                    #level_top_ad
        .container
            #centerScecMain.innerLeftScecMain
                    div(class="cp-authors")
                                    div(class="row")
                                      ul(class="cp-authors-grid")
                                        -for(var i=0;i<env.partnerCatData.length;i++){
                                            li(class="author-tag")
                                                a(href="#{env.partnerCatData[i].url}",class="cp-author-box")
                                                    
                                                    h3  #{env.partnerCatData[i].name}
                                        -}
            .rightScecMain
                include ../../theme_panda/partials/_detailRightSection
        .clear
        include ../../theme_panda/partials/_footer
