.w3-card-4 {
	background: #fff;
}
/*#external_search_element .gsc-input-box  {
	height:40px;
}
#external_search_element .gsc-input-box .gsc-input {
	height:30px !important;
}
#search {
	display: none;
}
#external_search_element  .gsc-search-box-tools .gsc-search-box .gsc-input {
	padding-right: 2px !important;
}
#external_search_element  .gsib_b {
	display: none;
}*/