extends ../../theme_cat/layout
include ../../theme_cat/allMixin
block content
    .header
      .container
        include ../../theme_cat/partials/_header
    include ../../theme_cat/partials/_navArea
    div.container.about-rastra-nirman
      .row
        .col-md-8
          h3 What is Rastra Nirman?? 
          p Sudarshan Rastra Nirman was an idea of Shri Suresh Chauvhanke ji which turned into reality. 
          p Rastra Nirman comprises of various entity: 
          p 1. 
            b Organization: 
            | Rastra nirman is not only an organization but it consists of group of organizations with a single goal of “Rastra Dharma” or duty towards nation. It is a revolutionary movement based on our cultural values with the aim of coordinating with with other organizations with similar mission & vision of contributing towards “Rastra Dharma” to achieve the vision of making Hindusthan as “Vishwaguru” 
          p It comprises of national as well as international talents of scientists, journalist, actors, poets, farmers, writers, players, saints etc who wanted to be a part of the change. 
          p 2. 
            b Our Instrument:  
            | Rastra Nirman is not only our ends but our means and we believe that if our means are strong the path of achieving our ends which is to make Vishwa Guru Hindusthan can be obtained. In today’s scenario anti-nationalist forces are adopting modern technology for doing conspiracy against our nation.  To tackle against this anti-nationalist forces , Rastra Nirman has adopted innovative technology in which media will play an important role for  establishing “Suprachar, Swabhiman, Sanskar & Samarthya” towards making of  VishwaGuru Hindusthan.  

          p 3. 
            b Our Goal:
            | To make “Nav-Hindusthan” free from anti-nationalist forces and comprising of nationalist, talented & capable people who can lead and enlighten the world socially, culturally, spiritually, financially & intellectually 

          p 4. 
            b Our Structure: 
            | As per Shri Suresh chavhanke ji, the need of the hour is more than giving blood for the nation we need to sweat for the nation. The more we sweat at the time of peace, the less we sweat at the time of turmoil. We need to be united as compared to our enemies, to tackle with this problem; Sudarshan Rastra Nirman group will train the volunteers and include them in the organization. 

          p 5. 
            b Participation: 
            | Your participation is welcomed as a member, volunteer, advisor or as a guide for Rastra Nirman & it can be through any ways physically, mentally or financially. 




          p 6.  
            b String:
            | The string of Rastra Nirman is “Suprachar, Swabhiman, Sanskar & Samarthya” to achieve the pathway of Sewa, Samarpan, Sangharsh & Swadeshi. 
          p 7.  
            b Resolution: 
            | Our resolution is to make “Vishwa Guru Hindusthan”. 
          p 8. 
            b Service:
            | Rastra nirman targets to mobilize all resources in a systematic and organized manner to tackle the grave issue of anti-nationalism with grim determination and it can be achieved if we are ready to give our service towards nation. 
          p 9.  
            b Dedication:
            | We believe that strength of nation depends on dedication of people to achieve any big mission. Our aim to inculcate the feeling of “Nation First” in each one of us. 
          p 10. 
            b Struggle: 
            | Change does not roll on the wheels of inevitability, but comes through continuous struggle. Rastra Nirman believes that Nation is our life and to make it the best we should be ready to struggle for it. 
          p 11.  
            b Swadeshi:  
            | A nation will always remain poor in wealth if it doesn’t bring the use of swadeshi items in daily life. Rastra Nirman motto is “Poorna Swadeshi” and to ensure that Swadeshi products becomes a habit in our nation. 
          p 12. 
            b Sudarshan: 
            | Sudarshan is derived from two words “Su” means auspicious and Darshan meaning “Vision” Rastra Nirman is dedicated towards creating “Nav Hindusthan” and Sudarshan news will also be a medium. 
        .col-md-4
          include ../../theme_cat/partials/_genericRightSection
    #footer