extends ../../theme_cat/layout
include ../../theme_cat/allMixin
block content
    .header
        .container
            include ../../theme_cat/partials/_header
    include ../../theme_cat/partials/_navArea
    div.container.table-responsive(style="text-align: center; margin-bottom:10px; overflow:hidden;")
        a(href="http://www.sudarshannews.com/join-mission", target="_blank", style="background: green; padding:5px; color:#fff; text-align:center; font-size:25px;") Register with rashtra nirmaan to donate.
    // ============FOOTER=============
    #footer