footer#footer-main
        .footer-content.container
            .footer-adress.text-center.col-xs-12.col-sm-4.col-md-4
                #hocal-ad-footer-left
            .footer-second.col-xs-12.col-sm-4.col-md-4
                .social-block.text-center
                    .social-share
                        a(href="https://www.facebook.com/SudarshanNews", target="_blank")
                            i.fa.fa-2x.fa-facebook
                        a(href="https://twitter.com/SudarshanNewsTV", target="_blank")
                            i.fa.fa-2x.fa-twitter
                        a(href="https://plus.google.com/101641358862136561160", target="_blank")
                            i.fa.fa-2x.fa-google-plus
                
            .footer-third.col-xs-12.col-sm-4.col-md-4
                #hocal-ad-footer-right
        .move-top-page
            ul(style="width:100%; text-align:center;")
                li(style="display: inline-block; padding-left:15px; padding-right:15px;")
                    a(href="/about-us") 
                        h4(style="color: #fff; font-weight: bold;") About Us
                li(style="display: inline-block; padding-left:15px; padding-right:15px;")
                    a(href="/mission") 
                        h4(style="color: #fff; font-weight: bold;") Mission
                li(style="display: inline-block; padding-left:15px; padding-right:15px;")
                    a(href="/contact-us") 
                        h4(style="color: #fff; font-weight: bold;") Contact Us  
include ../../theme_cat/partials/_footerBottom