extends ../../theme_cat/layout
include ../../theme_cat/allMixin
block content
    .header
        .container
            include ../../theme_cat/partials/_header
    include ../../theme_cat/partials/_navArea
    div.container.about-rastra-nirman
        .row
            .col-md-8
                h3 Mission:  
                p Rastra Nirman mission is to make “Hindusthan as Vishwa Guru” which is an ongoing process but in 12 months we are determined to connect  12 lakhs houses , 12 crore people  with the support of 12000 volunteers in 120 countries through various medium.  The agenda is to establish every Home as a Cultural Centre, Colleges/Universities as Guidance centre & Temples as Power centre. 
                br
                h3 Vision:  
                p Vision of Rastra Nirman is to establish Bharat as socially, culturally, spiritually, financially & intellectually a strong nation on the World forum.
            .col-md-4
              include ../../theme_cat/partials/_listingRightSection
         
    // ============FOOTER=============
    #footer