extends ../../theme_cat/layout
include ../../theme_cat/allMixin
block content
    .header
        .container
            include ../../theme_cat/partials/_header
    include ../../theme_cat/partials/_navArea
    div.container.about-rastra-nirman
        h3 Projects: 
        p As a part of short term objective, Rastra Nirman aims at starting 1200 development centres within 12 months in various part of our nation.  Through these centres we aim at uniting people as a unique entity & fountain head of a global movement over the years. 
        p Rastra Nirman Centres includes: 
        p Rastra Nirman Centre
        p Sanskar Centre
        p Satsang Centre
        p Swadeshi Centre
        p Dharmshakti Centre
        p Rastra Shakti Centre
        p Bhakti Shiksha Centre
        p Gram Uthan Centre
        p Itihas Centre
        p Shakti Centre
        p Naitik Shiksha Centre
        p Gau Seva Centre 
    #footer