div
  h3.white.centered.head-rastra 
    img(src="../images/rashtranirman_banner.png")
div.comment.more.white.body-rastra
  .centered
    | Welcome to Sudarshan Rastra Nirman website! 
  .centered
    img(src="../images/shivaji.png" style="width:150px; height:auto; border-radius: 50%;")
  br
  | Sudarshan group is headed by Shri Suresh Chavhanke ji, the Chairman, Management Director, distinguished journalist & the editor-in-chief of Sudarshan TV Channel group. He is not only an ardent follower of Hindu religion & Philosophy but is also a die-hard Patriot. 
  //- br
  //- .centered
  //-   a.button-rashtra(href="")
  br
  | He has included his vision of “Nation First” into actions and dreamt of establishing “Nav-Bharat” through an initiative called Sudarshan Rastra Nirman. His aim is “every hand should have work & every works should have hands”. Sudarshan Rastra Nirman is determined towards waking up lost pride of Bhartiya and re-establishing cultural nationalism.  
  br
  | Under the visionary leadership of Shri Suresh Chavhanke ji, Sudarshan group has taken up an initiative of Rastra Nirman for contributing towards society in a broader way. Rastra Nirman is a weapon to bring some form of social justice and livelihood to the people who are poor, deprived & vulnerable.
  br
  | Through good publicity Rastra Nirman aims at making anti-nationalist forces ineffective and common man capable, cultural then only monolithic, forceful and Nav-Bharat can be established. 
  br
  | It is the need of an hour to make Rastra Nirman as our goal of our life – think of it, dream of it, and live for it. Let the brain, muscles, nerves and every part of our body be full of supporting the cause of Rastra Nirman. 
