#carousel-example-generic.carousel.slide(data-ride='carousel')
    // Indicators
    ol.carousel-indicators
        li(data-target='#carousel-example-generic', data-slide-to='0')
        li.active(data-target='#carousel-example-generic', data-slide-to='1')
        li(data-target='#carousel-example-generic', data-slide-to='2')
    // Wrapper for slides
    .carousel-inner(role='listbox')
        .item
            img(src='/images/1.jpg', alt='')
            
        .item.active
            img(src='/images/2.jpg', alt='')
            
        .item
            img(src='/images/3.jpg', alt='')
            
    // Controls
    a.left.carousel-control(href='#carousel-example-generic', role='button', data-slide='prev')
        span.fa.fa-arrow-left(aria-hidden='true')
        span.sr-only Previous
    a.right.carousel-control(href='#carousel-example-generic', role='button', data-slide='next')
        span.fa.fa-arro-right(aria-hidden='true')
        span.sr-only Next
