include ../../theme_wolf/allMixin
extends ../../theme_wolf/layout
block content
    .boxed.active
        .wrapper
            include ../../theme_wolf/partials/_header
        section.content
            .wrapper
                .main-content.has-sidebar
                    #top-three-section
                        -if(data['top-three-section'] && data['top-three-section'].templateData && data['top-three-section'].templateData.mixinName){
                                                +#{data['top-three-section'].templateData.mixinName}(data['top-three-section'])
                        -}
                    .left-content
                        h1.banner Disclaimer
                        
                        .content-wrapper
                            p
                                | If you require any more information or have any questions about our site’s disclaimer, please feel free to contact us by email at http://www.royalbulletin.com/contact/.
                            h2 Disclaimers for www.royalbulletin.com:
                            p
                                | All the information on this website is published in good faith and for general information purpose only. http://www.royalbulletin.com does not make any warranties about the completeness, reliability and accuracy of this information. Any action you take upon the information you find on this website (http://www.royalbulletin.com), is strictly at your own risk. http://www.royalbulletin.com will not be liable for any losses and/or damages in connection with the use of our website.
                            p
                                | From our website, you can visit other websites by following hyperlinks to such external sites. While we strive to provide only quality links to useful and ethical websites, we have no control over the content and nature of these sites. These links to other websites do not imply a recommendation for all the content found on these sites. Site owners and content may change without notice and may occur before we have the opportunity to remove a link which may have gone ‘bad’.
                            p
                                | Please be also aware that when you leave our website, other sites may have different privacy policies and terms which are beyond our control. Please be sure to check the Privacy Policies of these sites as well as their “Terms of Service” before engaging in any business or uploading any information.
                            h3 Consent
                            p
                                | By using our website, you hereby consent to our disclaimer and agree to its terms.
                            h3 Update
                            p
                                | This site disclaimer was last updated on: Monday, March 6th, 2017
                                br
                                em
                                    | · Should we update, amend or make any changes to this document, those changes will be prominently posted here.
                            
                    aside#sidebar
                        include ../../theme_wolf/partials/_homeRightSection
            include ../../theme_wolf/partials/_footer
