.navbar-inverse, .sb-icon-search {
	background:#AA451E;
}

.navigation-breadcrumb {
	background: #e2e2e2 !important
}

#main-menu li ul li:hover {
  background: #AA451E;
}
#main-menu li ul {
    background-color:#AA451E;
}
#main-menu li ul li {
  border-top:1px solid #fff;
   
}
.single_post_content>h2,.single_sidebar>h2 {
	background: none repeat scroll 0 0 #AA451E;
}

.single_post_content>h2 span,.single_sidebar>h2 span {
	background: none repeat scroll 0 0 #ffffff;
}
.breadcrumb {
    border-left: 10px solid #008fd7;
}
.bsbig_fig>a img {
    max-height: 200px;
}
.bsbig_fig>a.featured_img img {
    max-height: 300px;
}

.reporter_content_row {
  width:100% !important;
}