include ../../theme_service/allMixin

extends ../../theme_service/layout
block content
    div.homepage
        include ../../theme_service/partials/_header
        section#about-us
            .container
                .center.wow.fadeInDown
                    .bg-404
                        .error404-content
                           
                            h1  Sorry this page never returned from a trip to server.
                            div.clearfix.error-button-wrapper
                                a.error-button(href="/") Go to HomePage
    include ../../theme_service/partials/_footer