include ../../theme_service/allMixin

extends ../../theme_service/layout
block content
    div.homepage
        include ../../theme_service/partials/_header
        section#about-us
            .about_us_banner
                .container
                    .row
                        .row
                                .col-md-12.col-sm-12.col-xs-12.clearfix
                                    h1.center #{env.partnerData.partnerName || "About Us"}
                                    h2.lead.big.center
                                        | One Stop News portal Solutions
                                    .row
                                        .col-md-12.col-sm-12.col-xs-12
                                            p Hocalwire was founded by a team of NIT, IIT & IIM grads, with more than 25 years of combined experience in technology development and process engineering. Mentored by seasonsed professionals from the media industry , with more than two decades of experience in publishing, news room mangement, digital media management and social media management for News.
                                    .row
                                        .col-md-3.col-sm-12.col-xs-12
                                            img(width='300', src='/images/digital.png', class='digital_india_logo')
                                        .col-md-9.col-sm-9.col-xs-12
                                            p Together, we represent a technology focused Media tech team, who are working hard towards making a difference in the way news industry operates. The focus of Hocalwire technology is to give access to superior technology and tools, to medium and large scale media players.   
                                    .row
                                        .col-md-12.col-sm-12.col-xs-12
                                            p We are focused at giving the best in class performance and content strategy to improve the digital presence and monetization of the online traffic. With the current trends of improved digital connectivity, digital mode of consumption of content is a quintessential offering of all media houses/ content players. With the focus on improving digital connectivity, India has embarked on an ambitious mission of transforming itself into a "Digital India". We stand testimony to the concepts of Make in India" & Digital India", and strongly believe that we will deliver world class technology made locally. We look towards enabling technology and processes, to help support the digital news ecosystem in its journey to improve its digital presence.                                    
                                    
                                    
                                    
                                    
                                    

            .our_experties
                .container
                    .skill-wrap.clearfix
                        .center.wow.fadeInDown
                            h2 Our Expertise

                            p.lead
                                | We complement our Partner's capabilities with best in class technology for managing a News Ecosystem. 
                        .row
                            .col-md-12.col-sm-12.col-xs-12.overflow_auto
                                ul.ca-menu
                                    li.blue#World_class_technology
                                        a(href='#World_class_technology')
                                            .ca-content
                                                h2.ca-main World Class Technology
                                                h3.ca-sub One stop destination for all your technology needs
                                    li.green#revenue_optimization
                                        a(href='#revenue_optimization')
                                            .ca-content
                                                h2.ca-main Revenue Optimization
                                                h3.ca-sub Multiple Revenue Channels for optimizing your revenue
                                    li.yellow#operations_management
                                        a(href='#operations_management')
                                            .ca-content
                                                h2.ca-main Operations Management
                                                h3.ca-sub Processes and Tools, to make your daily Operations easy
                                    li.red#seo_social_media
                                        a(href='#seo_social_media')
                                            .ca-content
                                                h2.ca-main SEO & Social Media
                                                h3.ca-sub Dedicated focus on improving SEO & Social Media Reach

                        //- .row
                        //-     .col-sm-3
                        //-         .cube
                        //-             .flippety
                        //-                 h3 Technology
                        //-             .flop
                        //-                 h4 Nodejs
                        //-                 p sndjks hdjksnd bjksdk jbsjjs jc

                                          
                        //-     .col-sm-3
                        //-         .cube
                        //-             .flippety
                        //-                 h3 Revenue
                        //-             .flop
                        //-                 h4 dolor
                        //-                 p sjkkdjskdjs kdjkdjskjdjs kdsjkdjskdjsdksjdk

                        //-     .col-sm-3
                        //-         .cube
                        //-             .flippety
                        //-                 h3 SEO
                        //-             .flop
                        //-                 h4 Analytics 
                        //-                 p djskdj skjdsjk djskdjsk djskdsjkds
                                        
                        //-     .col-sm-3
                        //-         .cube
                        //-             .flippety
                        //-                 h3 Social
                        //-             .flop
                        //-                 h4 facebook twitter
                        //-                 p jksjdk sdskjdkj snkk snskjcn 
                                           
                                    
            .our_team   
                .container
                    include ../../theme_service/partials/_ourTeam
            .testimonials
                .container
                    include ../../theme_service/partials/_requestDemoNow

            include ../../theme_service/partials/_footer
             

        