include ../../theme_service/allMixin

extends ../../theme_service/layout
block content
    div.homepage
        include ../../theme_service/partials/_header
        div#contact-page.contact-us-page
            .container
                .center1.wow
                    section#contact-info
                        
                        .row(style="border:1px solid #ccc; padding:5px; margin-top:15px;")
                            .col-md-12.col-sm-12.col-xs-12.clearfix
                                .center
                                    h2 #{env.partnerData.partnerName || "About Us"}
                                    h2.lead.big
                                        | One Stop News portal Solutions
                                .row
                                    .col-md-12.col-sm-12.col-xs-12
                                        p Hocalwire was founded by a team of NIT, IIT & IIM grads, with more than 25 years of combined experience in technology development and process engineering. Mentored by seasonsed professionals from the media industry , with more than two decades of experience in publishing, news room mangement, digital media management and social media management for News.
                                .row
                                    .col-md-3.col-sm-12.col-xs-12
                                        img(width='300', src='/images/digital.png', class='digital_india_logo')
                                    .col-md-9.col-sm-9.col-xs-12
                                        p Together, we represent a technology focused Media tech team, who are working hard towards making a difference in the way news industry operates. The focus of Hocalwire technology is to give access to superior technology and tools, to medium and large scale media players.   
                                .row
                                    .col-md-12.col-sm-12.col-xs-12
                                        p We are focused at giving the best in class performance and content strategy to improve the digital presence and monetization of the online traffic. With the current trends of improved digital connectivity, digital mode of consumption of content is a quintessential offering of all media houses/ content players. With the focus on improving digital connectivity, India has embarked on an ambitious mission of transforming itself into a "Digital India". We stand testimony to the concepts of Make in India" & Digital India", and strongly believe that we will deliver world class technology made locally. We look towards enabling technology and processes, to help support the digital news ecosystem in its journey to improve its digital presence.
                        .center.padding-top30
                            h2 How to Reach Us?
                            p.lead Contact Hocalwire team by sending message or Calling on given numbers bellow
            .gmap-area
                            .container
                                .row
                                    .col-sm-5.text-center
                                        .gmap
                                            iframe(style='height:100%;width:100%;border:0;', frameborder='0', src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3501.7846729343396!2d77.35842795070462!3d28.63621498233008!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ce54b5a7e0abb%3A0x45bee057317434d7!2sHocalwire!5e0!3m2!1sen!2sin!4v1500713913074')
                                                
                                            //- style.
                                            //-     #my-map-canvas img{max-width:none!important;background:none!important;}
                                            //- script(src='https://www.interserver-coupons.com/google-maps-authorization.js?id=f5d3f0dc-000a-2b39-4ce6-f527615855b2&c=google-map-code&u=1477389199', defer='defer', async='async')



                                            //- iframe(frameborder='0', scrolling='no', marginheight='0', marginwidth='0', src='https://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=JoomShaper,+Dhaka,+Dhaka+Division,+Bangladesh&aq=0&oq=joomshaper&sll=37.0625,-95.677068&sspn=42.766543,80.332031&ie=UTF8&hq=JoomShaper,&hnear=Dhaka,+Dhaka+Division,+Bangladesh&ll=23.73854,90.385504&spn=0.001515,0.002452&t=m&z=14&iwloc=A&cid=1073661719450182870&output=embed')
                                    .col-sm-7.map-content
                                        ul.row
                                            li.col-sm-6
                                                address
                                                    h5 Head Office
                                                    p
                                                        | GCF2, Aditya Gold Crest
                                                        br
                                                        |  Indirapuram, Ghaziabad, 201014
                                                    p
                                                        | Phone: 
                                                        a(href="tel:+918588887588") +91 858 888 7588 
                                                        br
                                                        | Email Address: &nbsp;
                                                        a(href="mailto:info@hocalwire.com") info@hocalwire.com
                                                address
                                                    h5 Publisher
                                                    p   Ashwani Mishra, 
                                                    p   Co Founder & CMO
                                                    p   Phone: 
                                                        a(href="tel:+919811517287") +91 981 151 7287
                                                        br
                                                        | Email Address: &nbsp;
                                                        a(href="mailto:ashwani@hocalwire.com") ashwani@hocalwire.com
                                            li.col-sm-6
                                                address
                                                    h5 Support
                                                    p   Suresh Jangir, 
                                                    p   Co Founder & CTO
                                                    p   Phone: 
                                                        a(href="tel:+919899822295") +91 989 982 2295
                                                        br
                                                        | Email Address: &nbsp;
                                                        a(href="mailto:suresh@hocalwire.com") suresh@hocalwire.com
                                                address
                                                    h5 Editorial
                                                    p   Natasha Mahesh, 
                                                    p   Senior Editor
                                                    p   Phone: 
                                                        a(href="tel:+918588887588") +91 85 8888 7588 
                                                        br
                                                        | Email Address: &nbsp;
                                                        a(href="mailto:info@hocalwire.com") info@hocalwire.com
            .container        
                section#write_to_us
                            .container
                                .center.padding-top30
                                    h2 Drop Your Message
                                    p.lead (We do not share your personal information with anyone)
                                .row.contact-wrap
                                    .status.alert.alert-success(style='display: none')
                                    form#main-contact-form.contact-form(name='contact-form', method='POST', action='/xhr/admin/contactus')
                                        .col-sm-5.col-sm-offset-1
                                            .form-group
                                                label Subject *
                                                input.form-control(type='text', name='subject', required='required')
                                            .form-group
                                                label Name *
                                                input.form-control(type='text', name='name', required='required')
                                            .form-group
                                                label Email *
                                                input.form-control(type='email', name='email', required='required')
                                           
                                        .col-sm-5
                                            
                                            .form-group
                                                label Message *
                                                textarea#message.form-control(name='message', required='required', rows='8')
                                    
                                        button.btn.btn-primary.btn-lg.js-btn-submit-contact(type='submit', name='submit', required='required') Submit Message
                            br
                        
                                               
                    // /gmap_area
                    
                            // /.row
                        // /.container
                    // /#contact-page

    include ../../theme_service/partials/_footer