
extends ../../theme_service/layout
block content
    div.pricing-page
        include ../../theme_service/partials/_header
        section#content1.content.pricing-page
            .container.home_pricing
                .center.wow.fadeInDown1.padding-top30
                    h2.mar-bottom0 Our Packages
                    h3.lead.big
                                        | Choose the best fit for your company from the services we offer.
                .row
                    .col-xs-12.col-sm-12.wow.fadeInDown1.tab-content
                        //- .tab-wrap
                        //-     .media
                        //-         .parrent.pull-left
                        //- ul.nav.nav-tabs.nav-justified
                        //-     li.active
                        //-         a.tehnical(href='#tab1', data-toggle='tab') Ally Connect
                        //-     li
                        //-         a.tehnical(href='#tab2', data-toggle='tab') Ally Room
                        //-     //- li
                        //-     //-     a.tehnical(href='#tab3', data-toggle='tab') PR Wire Services
                        //-     li
                        //-         a.tehnical(href='#tab3', data-toggle='tab') Ally Suite
                        //-         //- .parrent.media-body
                        //-         //-     .tab-content
                        //-         //-         #tab1.tab-pane.fade
                        //-         //-             .media
                        //-         //-                 //- .pull-left
                        //-         //-                 //-     img.img-responsive(src='images/tab2.png')
                        //-         //-   
                        //-                       .media-body
                        .pricing-area.text-center
                            .plan1.price-one.wow.fadeInDown
                                ul
                                    li.head_price
                                        h2 Ally Connect
                                        h3.head_desc Social media management tools
                        //- .pricing-area
                        //-     .price-one
                        //-         .heading-one
                        //-             a.tehnical(href='#tab1', data-toggle='tab') Ally Connect
                        #tab1.tab-pane.active.pricing-area
                            span.details
                                p Use social media to learn about your customers. Acquire new customers, engage existing customers and build brand.Automatically share and schedule your blog posts to social media customized for each network and scheduled for the best times to post to profiles, pages and groups.
                            table(style='width:100%;')
                                thead
                                  tr
                                    th.empty_row  
                                    th.empty_row  
                                    th.heading 
                                        .pricing-area.text-center
                                                ul
                                                    li.heading-one.heading
                                                        span Beginner
                                    th.heading 
                                        .pricing-area.text-center
                                            
                                                ul
                                                    li.heading-two.heading
                                                        span Professional
                                    th.heading 
                                        .pricing-area.text-center
                                                ul
                                                    li.heading-three.heading
                                                        span Enterprise
                                tbody
                                  
                                  tr
                                    td.feature(rowspan='7',aria-hidden='true' class="no_border")
                                    td.sub_feature Logins
                                    td.cross 1
                                    td.tick 5
                                    td.tick Unlimited
                                  //- tr.visible-xs(aria-hidden='true')
                                  tr
                                    td.sub_feature Social Handles
                                    td.cross 3
                                    td.cross 15
                                    td.tick Unlimited
                                  
                                  tr
                                    td.sub_feature Posts per day
                                    td.cross 20
                                    td.cross 100
                                    td.tick Unlimited
                                  //- tr.visible-xs(aria-hidden='true')
                                  
                                  tr
                                    td.sub_feature Team Manage
                                    td.cross x
                                    td.tick ✔
                                    td.tick ✔
                                  tr
                                    td.sub_feature Account Manager
                                    td.cross x
                                    td.cross x
                                    td.tick ✔
                                  tr.plan-area
                                    td.sub_feature.no_border
                                    td.cross 
                                        li(class="plan-action")
                                            a(href="/contact-us#write_to_us" class="btn btn-primary") Contact us
                                    td.cross 
                                        li(class="plan-action")
                                            a(href="/contact-us#write_to_us" class="btn btn-primary") Contact us
                                    td.tick 
                                        li(class="plan-action")
                                            a(href="/contact-us#write_to_us" class="btn btn-primary") Contact us
                        br
                        br
                        .pricing-area.text-center
                            .plan1.price-two.wow.fadeInDown
                                ul
                                    li.head_price
                                        h2 Ally Room
                                        h3.head_desc News room management tools
                        //- a.tehnical(href='#tab2', data-toggle='tab') Ally Room

                        #tab2.tab-pane.false.pricing-area.active
                            span.details
                                p Use Ally Room to manage your editorial staff efficiently. Manage your reporter network and its growth with integrated tools, Do on demand reporting and enabled TV news room systems. 
                            table(style='width:100%;')
                                thead
                                  tr
                                    th.empty_row  
                                    th.empty_row  
                                    th.heading 
                                        .pricing-area.text-center
                                                ul
                                                    li.heading-one.heading
                                                        span Beginner
                                    th.heading 
                                        .pricing-area.text-center
                                            
                                                ul
                                                    li.heading-two.heading
                                                        span Professional
                                    th.heading 
                                        .pricing-area.text-center
                                                ul
                                                    li.heading-three.heading
                                                        span Enterprise
                                tbody
                                  
                                  tr
                                    td.feature(rowspan='7',aria-hidden='true' class="no_border")
                                    td.sub_feature Editor Accounts
                                    td.cross 5
                                    td.tick 20
                                    td.tick Unlimited
                                  //- tr.visible-xs(aria-hidden='true')
                                  tr
                                    td.sub_feature Reporter Web/App
                                    td.cross 5
                                    td.cross 50
                                    td.tick Unlimited
                                  
                                  tr
                                    td.sub_feature On-Demand Reporting
                                    td.cross x
                                    td.cross x
                                    td.tick ✔
                                  //- tr.visible-xs(aria-hidden='true')
                                  
                                  tr
                                    td.sub_feature Citizen Logins
                                    td.cross 100
                                    td.tick 2000
                                    td.tick Unlimited
                                  tr
                                    td.sub_feature TV Room
                                    td.cross x
                                    td.cross ✔ 
                                    td.tick ✔
                                  tr.plan-area
                                    td.sub_feature.no_border
                                    td.cross 
                                        li(class="plan-action")
                                            a(href="/contact-us#write_to_us" class="btn btn-primary") Contact us
                                    td.cross 
                                        li(class="plan-action")
                                            a(href="/contact-us#write_to_us" class="btn btn-primary") Contact us
                                    td.tick 
                                        li(class="plan-action")
                                            a(href="/contact-us#write_to_us" class="btn btn-primary") Contact us
                        br
                        br
                        .pricing-area.text-center
                            .plan1.price-three.wow.fadeInDown
                                ul
                                    li.head_price
                                        h2 Ally Suite
                                        h3.head_desc End to end media management tools
                        //- a.tehnical(href='#tab3', data-toggle='tab') 
                        #tab3.tab-pane.false.pricing-area.active
                            span.details
                                p Ally Suite allows publishers to enable complete digital presense of brand by using best in class front-end and back-end technology and techniques with proper social and SEO strategy
                            table(style='width:100%;')
                                thead
                                  tr
                                    th.empty_row  
                                    th.empty_row  
                                    th.heading 
                                        .pricing-area.text-center
                                                ul
                                                    li.heading-one.heading
                                                        span Beginner
                                    th.heading 
                                        .pricing-area.text-center
                                            
                                                ul
                                                    li.heading-two.heading
                                                        span Professional
                                    th.heading 
                                        .pricing-area.text-center
                                                ul
                                                    li.heading-three.heading
                                                        span Enterprise
                                tbody
                                  
                                  tr
                                    td.feature(rowspan='9',aria-hidden='true' class="no_border")
                                    td.sub_feature Responsive Website
                                    td.tick ✔
                                    td.tick ✔
                                    td.tick ✔
                                  //- tr.visible-xs(aria-hidden='true')
                                  tr
                                    td.sub_feature Android App
                                    td.cross x
                                    td.tick ✔
                                    td.tick ✔
                                  tr
                                    td.sub_feature iOS App
                                    td.cross x
                                    td.cross x
                                    td.tick ✔
                                  
                                  tr
                                    td.sub_feature CMS
                                    td.cross Room Beginner
                                    td.cross Room Professional
                                    td.tick Room Enterprise
                                  //- tr.visible-xs(aria-hidden='true')
                                  
                                  tr
                                    td.sub_feature Social
                                    td.cross Connect Beginner
                                    td.tick Connect Professional
                                    td.tick Connect Enterprise
                                  tr
                                    td.sub_feature SEO
                                    td.cross Beginner
                                    td.cross Professional
                                    td.tick Advance
                                  tr
                                    td.sub_feature RSS
                                    td.cross Basic
                                    td.cross Custom & News
                                    td.tick Enterprise
                                  tr
                                    td.sub_feature Account Manager
                                    td.cross x
                                    td.cross ✔
                                    td.tick ✔
                                  tr.plan-area
                                    td.sub_feature.no_border
                                    td.cross 
                                        li(class="plan-action")
                                            a(href="/contact-us#write_to_us" class="btn btn-primary") Contact us
                                    td.cross 
                                        li(class="plan-action")
                                            a(href="/contact-us#write_to_us" class="btn btn-primary") Contact us
                                    td.tick 
                                        li(class="plan-action")
                                            a(href="/contact-us#write_to_us" class="btn btn-primary") Contact us
                        //- table.pricing-area(style='width:100%;')
                        //-     thead
                        //-       tr.plan-area
                        //-         th.empty_row  
                        //-         th.empty_row  ashwani mishra
                        //-         th.heading 
                        //-             li(class="plan-action")
                        //-                 a(href="" class="btn btn-primary") Sign up
                        //-         th.heading 
                        //-             li(class="plan-action")
                        //-                 a(href="" class="btn btn-primary") Sign up
                        //-         th.heading 
                        //-             li(class="plan-action")
                        //-                 a(href="" class="btn btn-primary") Sign up
                    //- .col-xs-12.col-sm-4.wow.fadeInDown
                        include _whyLikeUs
                        //- .testimonial
                        //-     h2 Testimonials
                        //-     .media.testimonial-inner
                        //-         .pull-left
                        //-             img.img-responsive.img-circle(src='images/testimonials1.png')
                        //-         .media-body
                        //-             p
                        //-                 | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                        //-             span
                        //-                 strong -John Doe/
                        //-                 |  Director of corlate.com
                        //-     .media.testimonial-inner
                        //-         .pull-left
                        //-             img.img-responsive.img-circle(src='images/testimonials1.png')
                        //-         .media-body
                        //-             p
                        //-                 | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                        //-             span
                        //-                 strong -John Doe/
                        //-                 |  Director of corlate.com
                // /.row
            // /.container
        // /#content
        center
            .pm-button
                a(href='https://www.payumoney.com/paybypayumoney/#/276253')
                    img(src='https://www.payumoney.com//media/images/payby_payumoney/buttons/231.png')

        include ../../theme_service/partials/_footer
                // /pricing-area
            // /container
        // /pricing-page
