include ../../theme_service/allMixin

extends ../../theme_service/layout
block content
    div.homepage
        include ../../theme_service/partials/_header
        
        include ../../theme_service/partials/_features
        section#feature.transparent-bg
            .container
                .clients-area.center.wow.fadeInDown
                    h2 What our client says
                .row
                    .col-md-3.wow.fadeInDown
                        .clients-comments.text-center
                            img.img-circle(src='/images/testi1.jpg', alt='')
                            h3
                                | &quot; Outstanding work, The team is extremely responsive, professional, and skilled. An exceptional service and experience. &quot;
                            h4
                                span Durbar Ganguly 
                                    br
                                    |   Editor in Chief, Millennium Post
                    .col-md-3.wow.fadeInDown
                        .clients-comments.text-center
                            img.img-circle(src='/images/testi3.jpg', alt='')
                            h3
                                | &quot; Great job, This team is going to grow leaps and bounds, their professional approach and superior quality work speaks for itself. &quot;
                            h4
                                span Sunita Gupta 
                                    br
                                    |   President, A2Z News Channel
                    .col-md-3.wow.fadeInDown
                        .clients-comments.text-center
                            img.img-circle(src='/images/testi2.jpg', alt='')
                            h3
                                | &quot; A wonderful team made of talented people, they made us realize the full potential of our news portal. We consider them as part of our team. &quot;
                            h4
                                span Suryakant Pathak 
                                    br
                                    |   Managing Director, Janta Ki Awaz
                    .col-md-3.wow.fadeInDown
                        .clients-comments.text-center
                            img.img-circle(src='/images/testi4.jpg', alt='')
                            h3
                                | &quot; Awesome team, our account manager Natasha made sure we get the best in class service.&quot;
                            h4
                                span Shiv Kumar Mishra 
                                    br
                                    |   Chief Editor, Special Coverage News
                    
                    
                    
        include ../../theme_service/partials/_footer    
            // /.container
        // /#feature
