.footer-widgets
        .wrapper
            .col-md-12
                .comments-block.ot-tab-block.active
                    ul.list-group
                        li
                            a(href='/contact-us', target='') Contact Us
                        li
                            a(href='/about-us', target='') About Us
                        li
                            a(href='/privacy-policy', target='')  Privacy Policy
                        li
                            a(href='/disclaimer', target='') Disclaimer
                        li
                            a(href='/all-authors', target='') All Authors
                        li
                            a(href='/all-categories', target='') All Categories
            
.footer-copyright
    .wrapper
        p.left
        | © site name (All Rights Reserved)
        p.right
            strong
                | Hocalwire.com