extends ../../theme_dolphin/layout
include ../../theme_dolphin/allMixin
block content
    include ../../theme_dolphin/partials/_header
    div.container
        
        include ../../theme_dolphin/partials/_navArea
        div#contentSection
            div.row.row_main#article-post-page
                div(class="col-md-12")
                    #level_top_full
                        -if(data['level_top_full'] && data['level_top_full'].templateData && data['level_top_full'].templateData.mixinName){
                            +#{data['level_top_full'].templateData.mixinName}(data['level_top_full'])
                        -}
                div(class="col-lg-12 col-md-12 col-sm-12")

                    div(class="top_left_content")
                        div.breadcrumb-static
                            include ../../theme_dolphin/partials/_breadcrumb
                            h1(style="color:black") About Us
                            b Special Coverage News 
                            span is an online publisher of news and information covering news of 10 states and 200 districts, has online readership of over 30 lakh user per month. Head office Located in New Delhi / NCR, Special Coverage News is No.1 online Hindi newspaper both as per Circulation & Readership.
                            br
                            br
                            b Special Coverage 
                            span is one of the top Hindi newspapers in Delhi and known as best source of Hindi news in India. Special Coverage News is one of the largest Hindi newspaper groups of India .Special Coverage has earned a reputation as the leading online Hindi newspaper of India that provides news and information to its readers by focusing on crime news, politics news, business news, education news, Bollywood news, interview and opinion of expert people in their domain.
                            br
                            br
                            span As being a Reputed Media Company In India, Special Coverage News provide latest news from all around the world to our readers. Special Coverage News offers latest news in Hindi with useful content. Special Coverage News is creating awareness and truth by its news to society.
                            br
                            br
                            .right-col
                              ul.arrow-list
                                    
                                li
                                  a(href='/') Go to homepage    
                    
                    +socialShare("/about-us","About Us",true)
                        
                //- div(class="col-lg-4 col-md-4 col-sm-4")
                //-     aside(class="right_content")
                //-         include ../../theme_dolphin/partials/_genericRightSection
            #ad_first_middle
            div.row.row_main
                div(class="col-lg-12 col-md-12 col-sm-12")   
                     include ../../theme_dolphin/partials/_genericMiddleSection
            div.row.row_main
                div(class="col-lg-12 col-md-12 col-sm-12")
                    #level_bottom_full
                        -if(data['level_bottom_full'] && data['level_bottom_full'].templateData && data['level_bottom_full'].templateData.mixinName){
                            +#{data['level_bottom_full'].templateData.mixinName}(data['level_bottom_full'])
                        -}
                    div.comments-wrapper
                        #comments
                            
                        
        include ../../theme_dolphin/partials/_footer
    
                 