
style.
    .navbar {
        margin: -8px -8px 0px -8px;
    }
    .navbar .container{
      text-align:center;
      padding:2px;
    }
    .navbar .container{
      text-align:center;
      padding:2px;
    }
    .text {
        font-size:16px;
    }
    .link {
      font-weight:bold;
      font-size:17px;
    }
    .blue {
      color: blue;
    }

div.navbar
  div.navbar-inner(style="background: #F7C805;padding-left: 10px;padding-right: 10px;")
      div.container
        a.no-ajaxy.brand(href='/')
          img(src='/images/logo.png', width='120', height='40', alt='Logo')
h1(style="font-size:20px;text-align:center") Privacy Policy


div.text Protecting your privacy is important to Ally Technologies India Pvt Ltd. This policy explains the privacy while using Hocalwire (Ally Technologies India Pvt Ltd ) which is part of the Ally Technologies India Pvt Ltd. By using or submitting any information at Hocalwire you agree to Hocalwire collection, use and disclosure of your personal information in accordance with this policy. If you do not agree with this policy, you may not use or submit content at Hocalwire.
br
br
div.link.blue The Information We Collect and How We Use It
div.text The information we collect falls into two categories: (1) Personal information that you provide to us when you register to use our Web site, and (2) certain anonymous information that we collect as you navigate through the Hocalwire page and Apps. Below is a description of each type of information we collect and how we use it:


br
div.disclaimer
  | © 2015 Copyright, Ally Technologies India Pvt Ltd