html
  head
    meta(charset='utf-8')
    title Special Coverage news
    img(src="/xhr/admin/getGifTrackingImage?newsid=28799&timestamp=#{new Date().getTime()}",class="hide1")
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    style(type='text/css').
      .entry-thumb img {
        height: auto;
        max-width: 100%;
        vertical-align: middle;
        border: 0;
      }
      .entry-title {
        font-size: 24px;
        font-weight: bold;
      }
      blockquote {
        background-color: #f4f4f4;
        color: #999;
        font-family: Georgia,"Times New Roman",Times,serif;
        font-size: 13px;
        font-style: italic;
        line-height: 24px;
        padding: 10px 15px 10px 20px;
        margin: 0 0 20px;
        border-left: 5px solid #eee;
        border-left-color: #e03d3d;
      }
  body.kopa-single-2
    
    .wrapper.kopa-shadow(style='width: 100%;')
      .row-fluid
        .span12.clearfix
          #main-content(style='padding: 15px;')
            #main-col
              .entry-box.clearfix
                .entry-thumb
                  img(src='http://specialcoveragenews.in/content/servlet/RDESController?command=rdm.Picture&sessionId=RDWEB3UK4I8IZ4SEG41PJTCR6SACZDOHO4MGK&app=rdes&partner=specialcoveragehindi&type=7&uid=nullFNLTFrm84sGv1kk7vmWbO3LZ0D29ICxJ2636160&tempId=123456123456', alt='')
                header
                  h1.entry-title 15 अगस्‍त को AAP में शामिल हो सकते है सिद्धू, करेंगे पार्टी के लिए प्रचार: रिपोर्ट
                .details-content-story
                    p
                    div
                      b नई दिल्ली
                      | : राज्यसभा की मेंबरशिप से इस्तीफा दे चुके बीजेपी नेता 
                      b नवजोत सिंह सिद्धू
                      b आम आदमी पार्टी
                      |  (AAP) में शामिल होंगे। सूत्रों के हवाले से खबर है कि इस बात की घोषणा 15 अगस्त को संभव है। कहा यह भी जा रहा है कि वह पंजाब में AAP पार्टी की ओर 
                      b सीएम उम्मीदवार
                      |  नहीं बल्कि 
                      b स्टार प्रचारक
                      |  होंगे। बता दें कि सिद्धू ने हाल ही में 
                      b राज्‍यसभा सांसद
                      |  के पद से इस्‍तीफा दे दिया था। इसके बाद से ही उनके आप में जाने की अटकलें थीं। हालांकि, सिद्धू ने मीडिया के सामने आकर पार्टी छोड़ने की वजह बताई, लेकिन आप ज्‍वाइन करने को लेकर कुछ नहीं कहा था।
                    div
                      br
                    div
                      | रिपोर्ट्स के मुताबिक, 
                      b नवजोत सिंह सिद्धू आम आदमी पार्टी
                      |  के लिए पंजाब में 
                      b स्टार कैपेनर
                      |  होंगे। हालांकि, 
                      b पंजाब में सीएम कैंडिडेट
                      |  बनाए जाने को लेकर अभी कोई जानकारी नहीं मिली। बता दें कि सिद्धू ने 18 जुलाई को राज्यसभा से इस्तीफा दिया था। सिद्धू को वर्तमान सरकार ने राज्यसभा पहुंचाया था। पिछले हफ्ते प्रेस कॉन्फ्रेंस कर उन्होंने पंजाब के हित की बात की थी। लेकिन उन्होंने इन सवालों का जवाब नहीं दिया था कि वे किस पार्टी में जाएंगे? या बीजेपी छोड़ी या नहीं।
                    div
                      | इस्तीफा देने के बाद दिल्ली में एक प्रेस कॉन्फ्रेंस कर नवजोत सिंह सिद्धू ने अपना पक्ष रखते हुए कहा था कि 'मैंने इस्तीफा दिया क्योंकि मुझसे कहा गया था कि पंजाब की तरफ मुंह नहीं करोगे।' सिद्धू ने आगे कहा 'मुझसे कहा गया कि तुम पंजाब से दूर रहोगे। धर्मों में सबसे बड़ा धर्म राष्ट्रधर्म होता है। तो फिर कैसे मैं अपनी जड़, अपना वतन छोड़ दूं।' सिद्धू ने बीजेपी का नाम नहीं लिया लेकिन यह ज़रूर कहा कि 'मोदी की लहर ने सिर्फ विपक्ष को ही नहीं सिद्धू को भी डुबो दिया।' दूसरी तरफ आम आदमी पार्टी में शामिल होने वाले सवाल को सिद्धू टाल गए और उन्होंने कहा कि 'जहां पंजाब का हित होगा, वहां जाऊंगा।'
                      br
                    div
                      | सिद्धू की पत्‍नी भी बीजेपी से विधायक हैं। इस बात की अटकलें भी हैं कि उनकी पत्‍नी भी आम आदमी पार्टी में जा सकती हैं। सिद्धू और उनकी पत्‍नी, दोनों का ही लंबे वक्‍त से अकाली दल से विवाद चल रहा था। शायद इसलिए ही बीजेपी आलाकमान ने सिद्धू को पंजाब से दूर रहने की हिदायत दी थी।
                    div
                      br
                    div
                      | सूत्रों के मुताबिक, सिद्धू का 29 जुलाई को आप ज्वाइन करना तय था। लेकिन 29 तारीख को ही 
                      b बिक्रम मजीठिया के मानहानि के मामले
                      |  में 
                      b केजरीवाल को अमृतसर कोर्ट में पेश होना है
                      | । इसके बाद 30 जुलाई से दो हफ्ते के लिए केजरी छुट्टी पर जा सकते हैं। ऐसा हुआ तो वे 12 अगस्त को लौटेंगे। ऐसे में, सिद्धू 13 अगस्त के बाद ही आप में शामिल हो सकते हैं।
                    p

            // main-col
            .clear
          // main-content
        // span12
      // row-fluid
    // wrapper
