include ../../theme_bear/allMixin
extends ../../theme_bear/layout
block content
    .boxed.active
        .wrapper
            include ../../theme_bear/partials/_header
        section.content
            .wrapper
                .main-content.has-sidebar
                    #top-three-section
                        -if(data['top-three-section'] && data['top-three-section'].templateData && data['top-three-section'].templateData.mixinName){
                                                +#{data['top-three-section'].templateData.mixinName}(data['top-three-section'])
                        -}
                    .left-content
                       .bg-404
                            .error404-content
                               
                                h1  Sorry this page never returned from a trip to server.
                                div.clearfix.error-button-wrapper
                                    a.error-button(href="/") Go to HomePage
                    aside#sidebar
                        include ../../theme_bear/partials/_homeRightSection
                include ../../theme_bear/partials/_footer
