include ../../theme_zebra/allMixin
extends ../../theme_zebra/layout
block content
   div.container
     include ../../theme_zebra/partials/_header
     include ../../theme_zebra/partials/_navArea
     div#contentSection
        div.row
              div(class="col-lg-8 col-md-8 col-sm-8")
                  .left_content
                    // start contact area
                    .contact_area
                      h2 About Us
                      p
                        | Arnav bharat is Gonda, UP hindi print paper which has its online presence and covers the news on state, national and international political issues.
                     
              div(class="col-lg-4 col-md-4 col-sm-4")
                  aside(class="right_content")
                      include ../../theme_zebra/partials/_homeRightSection
                div(class="col-lg-12 col-md-12 col-sm-12")
                    #level_bottom_full
                        -if(data['level_bottom_full'] && data['level_bottom_full'].templateData && data['level_bottom_full'].templateData.mixinName){
                            +#{data['level_bottom_full'].templateData.mixinName}(data['level_bottom_full'])
                        -}
        include ../../theme_zebra/partials/_footer