include ../../theme_wolf/allMixin
extends ../../theme_wolf/layout
block content
    .boxed.active
        .wrapper
            include ../../theme_wolf/partials/_header
        section.content
            .wrapper
                .main-content.has-sidebar
                    #top-three-section
                        -if(data['top-three-section'] && data['top-three-section'].templateData && data['top-three-section'].templateData.mixinName){
                                                +#{data['top-three-section'].templateData.mixinName}(data['top-three-section'])
                        -}
                    .left-content
                        h1.banner.margin-bottom10 Contact Us
                        .paragraph-row
                            .column12
                                .column6.left
                                    h3 Contact Us at:
                                    p 303, Star Infinity Tower,
                                    p Plot No.-14, Sector-14,
                                    p Kaushambi,
                                    p Ghaziabad-201001-U.P
                                    p Ph: 0120-4981887
                                    //- p email: xxxxxx@gmail.com
                                    //- p Web: www.xxxxxxxxx.xx
                                .column6.left
                                    iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3501.8558208250934!2d77.3239279507046!3d28.634082982331012!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390cfb2cae7a41a3%3A0x3362a8838a904b26!2sStar+Infinity+Tower!5e0!3m2!1sen!2sin!4v1500554076285', width='100%', height='300', frameborder='0', style='border:0', allowfullscreen='')

                            //- .column12.no-margin-left
                            //-     .column6.left
                            //-         h3 Correspondence Address:
                            //-         p xxxxxx xxxx xxxxxx,
                            //-         p xxxxx xxxx,
                            //-         p xxxxxx xxxx xxx,
                            //-         p email: xxxxxxx@gmail.com
                                
                            //-     .column6.left
                            //-         | map will come here

                                    
                    aside#sidebar
                        include ../../theme_wolf/partials/_homeRightSection
            include ../../theme_bear/partials/_footer
