extends ../../theme_cat/layout
include ../../theme_cat/allMixin
block content
    .header.container
        include ../../theme_cat/partials/_header
    include ../../theme_cat/partials/_navArea
    div.container.about-rastra-nirman
      h3 What is Rastra Nirman?? 
      p Bhartiya Society has addressed the cow as “Gau Mata” because cow is seen as a maternal figure, a care taker of her people. 
      p In the Manu-samhita, it is mentioned that : A guru, a teacher, a father, a mother, a brahmana, a cow and a yogi all should never be killed.
      p  There is no wealth that is equal to cows. To talk about cows, to hear others speak about cows, to offer gifts of cows to worthy people and to see cows are all auspicious activities. On Earth cows represent high energy and are endued with the elements of strength and energetic exertion. There are also elements of great wisdom in cows and they are bestowers of great happiness upon all creatures. Cows constitute the stairs that lead to heaven. Cows are adored in heaven. Cows are goddesses competent to grant every righteous wish and desire. 
      p But in the present era, cows are breed only for exploitation & slaughter. The condition of cow has degraded drastically starting from Ancient Bharat to post Independence.
      p To contribute towards this rising issue Shri Suresh Chauvanhke ji has taken an initiative as  a strong movement called “Save Cow” to protect the indigenous breed of cow from being an extinct species in near future. 
      p We wanted to spread the message across that a living cow make us millionaire while a dead cow in the form of meat weakens the economy & increase the number of patients
    #footer