extends ../../theme_cat/layout
include ../../theme_cat/allMixin
block content
    .header.container
        include ../../theme_cat/partials/_header
    include ../../theme_cat/partials/_navArea
    div.container.about-rastra-nirman
        h3 Our Activities:  
        p In past Sudarshan group has already done many activities for saving native breeds of cow like Sudarshan group has fought for the cause and ensured that slaughter houses has been closed in many places. 
		p We are passionate about saving & serving indigenous cow and making them economically more effective by attaching one Goshala with each village and making every village self-reliant. 
		p To achieve our goal our approaches are: 
		p We are doing and we will do huge campaigning to generate awareness about indigenous breed of cow to the society. 
		p We will conduct seminars and competitions in school & colleges to create demand of desi cow’s products and its value addition in our life
		p We have a plan of displaying a world class documentary movie on cow slaughter in school/colleges/govt. offices. 
		p Along with ICAR Scientist (Indian Council of Agricultural Research) we will conduct meeting with villager’s farmers and will educate our farmers that 1 cow is equal to 1 cottage industry and 1 Goshala is equal to a small scale industry because if they sell cow products like ghee, curd, milk, biogas, gomutra etc they can earn huge profits.  Sudarshan group will also help farmers in connecting with Goshala or vice-versa so that old cows are not sold out in slaughter houses. 
		p Sudarshan group will Arrange Goshala management/certification courses.  
		p Sudarshan group is planning to request Govt to create separate Ministry for cows to get focused approach from government on this issue. 
		p Sudarshan group will request govt to stop cross-breeding of cows and to focus on upgrading it
		p Encourage political parties to give cows instead of laptops, bicycles etc because cows can also be looked upon as a source of employment generation. 
		p We have a plan for staring a huge campaign to ensure that indigenous breed of cows gets the status of “Rastra Mata”. 
    // ============FOOTER=============
    #footer