footer#footer-main
        .footer-content.container
            .footer-adress.text-center.col-xs-12.col-sm-4.col-md-4
                #hocal-ad-footer-left
            .footer-second.col-xs-12.col-sm-4.col-md-4
                .social-block.text-center
                    .social-share
                        a(href="https://www.facebook.com/SudarshanNews", target="_blank")
                            i.fa.fa-2x.fa-facebook
                        a(href="https://twitter.com/SudarshanNewsTV", target="_blank")
                            i.fa.fa-2x.fa-twitter
                        a(href="https://plus.google.com/101641358862136561160", target="_blank")
                            i.fa.fa-2x.fa-google-plus
            .footer-third.col-xs-12.col-sm-4.col-md-4
                #hocal-ad-footer-right
        .move-top-page
include ../../theme_cat/partials/_footerBottom