extends ../../theme_cat/layout
include ../../theme_cat/allMixin
block content
    .header.container
        include ../../theme_cat/partials/_header
    include ../../theme_cat/partials/_navArea
    div.container.about-rastra-nirman
        h3 Mission:  
        p The main objective of Save Cow movement is to protect the native breed of cows and spread awareness in every nooks & corners of our nation. The indigenous breeds of cows are crucial part of the country’s ecological heritage. 
		p We aims at increasing the demand of indigenous cow product & create a market for desi cow products, so that cow-products becomes a necessity in our daily life which in turn will save our mother cow from being slaughtered. 
    // ============FOOTER=============
    #footer