div.savecow
  div
  h3 Save Cow
  div.comment.more
    | Serving the cow is serving the lord & a way to fulfill our obligation towards society. Understanding the importance & recognition given by our society to cow which has been inherited from past, Sudarshan group under the guidance & leadership of Sri Suresh Chavhanke ji has come forward towards making its own contribution in this direction after successfully completing several revolutionary campaigns for cow protection which is still going on in our country. 
    br
    | Shri Suresh Chavhankeji is a man with a dynamic, versatile and multi-talented personality. He is not only an ardent follower of Hindu religion & Philosophy but is also a die-hard Patriot. He is Editor-in-chief and Chairman of Sudarshan TV channel group. Shri Chavhanke ji is a distinguished journalist, noted TV presenter and a well known social thinker. 
    br
    | He has been honoured with several prestigious awards for his services and contribution in Indian Culture and Journalism. 
    br
    | Full credit for taking up this objective of saving cow goes to Shri Chauhanke ji and under his visionary leadership Corporate Social Responsibility department of Sudarshan group has taken up a resolution of cow-conservation. 
    br
    | We all know that Cows are the goddesses of the gods and the refuge of all auspiciousness. Cows bestow every kind of happiness and for these reason they always are worshippable. Cows are the support of all the worlds for by their milk they nourish terrestrials’ beings and by their ghee offered in sacrifice they nourish many celestial realms. Nothing is superior to cows.
    br
    | Let each one of us scrutinize our past performance and make present promises to ourself to contribute in every possible way to achieve the cherished goal of full protection of desi breed of cow species.