extends ../../theme_cat/layout
include ../../theme_cat/allMixin
block content
    .header.container
        include ../../theme_cat/partials/_header
    include ../../theme_cat/partials/_navArea
    div.container.about-rastra-nirman
        h3 Our Vision:  
        p Our vision is to spread awareness to society that a single cow can be looked upon as a cottage industry, one Goshala can be converted into one small scale industry and a village can be made self –reliant by converting it as Gau Gram. 
		p Our aim is to attach one Gaushala with every village which will create more employment opportunities with less investment which in turn will improve standard of living of villagers.  
    // ============FOOTER=============
    #footer