extends ../../theme_dragon/layout
include ../../theme_dragon/allMixin
block content
    div(class="boxed")
         include ../../theme_dragon/partials/_header
        div(class="clear-float")
        div.content.margin10
            div.wrapper
                div.news-ticker-area#news_ticker_area
                    -if(data['news_ticker_area'] && data['news_ticker_area'].templateData && data['news_ticker_area'].templateData.mixinName){
                        +#{data['news_ticker_area'].templateData.mixinName}(data['news_ticker_area'])
                    -}
                #level_top_full
                    -if(data['level_top_full'] && data['level_top_full'].templateData && data['level_top_full'].templateData.mixinName){
                        +#{data['level_top_full'].templateData.mixinName}(data['level_top_full'])
                    -}
                div(class="main-content-left")
                  .content-article-title
                    h1 News MX Disclaimer
                    .right-title-side
                      br
                      a(href='/')
                        span.icon-text ⌂
                        | Back To Homepage
                  .shortcode-content
                      .paragraph-block
                        
                        p(style='font-size: 16px !important;')
                          b By accessing NEWSMX.TV  you have read, understood and agree to be legally bound by the terms of the following disclaimer and user agreement:
                        p(style='font-size: 16px !important;')
                          | This Site is owned and operated by NEWXMX and contains material which is derived in whole or in part from material supplied by the Company, various new agencies and other sources, and is protected by international copyright and trademark laws. The restrictions on use of the material and content on this web  Site by the Subscriber are specified below. Except where specifically authorised, the Subscriber may not modify, copy, reproduce, republish, upload, post, transmit or distribute in any way any material from this site including code and software.
                        
                        p(style='font-size: 16px !important;')
                          | NEWSMX has taken due care and caution in compilation of data for its web site. The views and investment tips expressed if any by investment experts on newsmx are their own, and not that of the website or its management. newsmx advises users to check with certified experts before taking any investment decision. However, newsmx does not guarantee the accuracy, adequacy or completeness of any information and is not responsible for any errors or omissions or for the results obtained from the use of such information. newsmx especially states that it has no financial liability whatsoever to any user on account of the use of information provided on its website. The Stock Market data has been provided on this site through moneycontrol.com for information purposes only.

                        p(style='font-size: 16px !important;')
                          | The Company shall have the right at any time to change or modify the terms and conditions applicable to Subscriber's use of the newsmx.tv Site, or any part thereof, or to impose new conditions, including but not limited to, adding fees and charges for use. Such changes, modifications, additions or deletions shall be effective immediately upon notice thereof, which may be given by means including but not limited to, posting on the newsmx.tv Site, or by electronic or conventional mail, or by any other means by which Subscriber obtains notice thereof. Any use of the newsmx.tv Site by Subscriber after such notice shall be deemed to constitute acceptance by Subscriber of such changes, modifications or 
                        br
                        b Terms of Use : &nbsp;
                        p(style='font-size: 16px !important;')
                          | By visiting our site you are agreeing to be bound by the following terms and conditions. We may change these terms and conditions at any time. Your continued use of NEWSMX.TV means that you accept any new or modified terms and conditions that we come up with. Please re-visit the `Terms of Use' link at our site from time to time to stay abreast of any changes that we may introduce.
                        p(style='font-size: 16px !important;')
                          | The term NEWSMX.TV ' is used through this entire Terms of Use document to refer to the website, its owners and the employees and associates of the owner
                          | The term ` NEWSMX.TV  is used through this entire Terms of Use document to refer to the website, its owners and the employees and associates of the owner
                        br
                        br
                        b 1) REGISTRATION
                        p(style='font-size: 14px !important;')
                          | By registering, you certify that all information you provide, now or in the future, is accurate. Your registration at NEWSMX.TV is valid for 90 days from the date you first login and is automatically renewed for a period of 90 days every time you login thereafter. If you do not login at NEWSMX.TV for a continuous period of 90 days your registration could be automatically cancelled. NEWSMX.TV reserves the right, in its sole discretion, to deny you access to this website or any portion thereof without notice for the following reasons (a) immediately by NEWSMX.TV for any unauthorized access or use by you (b) immediately by NEWSMX.TV  if you assign or transfer (or attempt the same) any rights granted to you under this Agreement; (c) immediately, if you violate any of the other terms and conditions of this User Agreement
                        br
                        br
                        b 2) LICENSE: 
                        br
                        p(style='font-size: 14px !important;')
                          | NEWSMX.TV hereby grants you a limited, non-exclusive, non-assignable and non-transferable license to access NEWSMX.TV provided and expressly conditioned upon your agreement that all such access and use shall be governed by all of the terms and conditions set forth in this USER AGREEMENT.
                        b 3) COPYRIGHT & NO RETRANSMISSION OF INFORMATION:
                        p(style='font-size: 14px !important;')
                          | NEWSMX.TV as well as the design and information contained in this site is the valuable, exclusive property of  NEWSMX.TV, and nothing in this Agreement shall be construed as transferring or assigning any such ownership rights to you or any other person or entity.
                          br
                          | You may not resell, redistribute, broadcast or transfer information, software and applications or use the information, software and applications provided by NEWSMX.TV in a searchable, machine-readable database unless separately and specifically authorized in writing by NEWSMX.TV prior to such use. You may not rent, lease, sublicense, distribute, transfer, copy, reproduce, publicly display, publish, adapt, store or time-share NEWSMX.TV, any part thereof, or any of the software, application or information received or accessed therefrom to or through any other person or entity unless separately and specifically authorized in writing by NEWSMX.TV prior to such use. In addition, you may not remove, alter or obscure any copyright, legal or proprietary notices in or on any portions of NEWSMX.TV without prior written authorization. Except as set forth herein, any other use of the information, software or application contained in this site requires the prior written consent of GBN and may require a separate fee.

                        b 4) DELAYS IN SERVICES:
                        p(style='font-size: 14px !important;')
                          | Neither NEWSMX.TV (including its and their directors, employees, affiliates, agents, representatives or subcontractors) shall be liable for any loss or liability resulting, directly or indirectly, from delays or interruptions due to electronic or mechanical equipment failures, telephone interconnect problems, defects, weather, strikes, walkouts, fire, acts of God, riots, armed conflicts, acts of war, or other like causes. NEWSMX.TV shall have no responsibility to provide you access to NEWSMX.TV while interruption of NEWSMX.TV is due to any such cause shall continue.
                        b 5) LIABILITY DISCLAIMER:
                        p(style='font-size: 14px !important;')
                          | YOU EXPRESSLY AGREE THAT USE OF THE WEBSITE IS AT YOUR SOLE RISK.
                          | THE CONTENTS, INFORMATION, SOFTWARE, PRODUCTS, FEATURES AND SERVICES PUBLISHED ON THIS WEB SITE MAY INCLUDE INACCURACIES OR TYPOGRAPHICAL ERRORS. CHANGES ARE PERIODICALLY ADDED TO THE CONTENTS HEREIN.NEWSMX.TV AND/OR ITS RESPECTIVE SUPPLIERS MAY MAKE IMPROVEMENTS AND/OR CHANGES IN THIS WEB SITE AT ANY TIME. THIS WEB SITE MAY BE TEMPORARILY UNAVAILABLE FROM TIME TO TIME DUE TO REQUIRED MAINTENANCE, TELECOMMUNICATIONS INTERRUPTIONS, OR OTHER DISRUPTIONS. NEWSMX.TV (AND ITS OWNERS, SUPPLIERS, CONSULTANTS, ADVERTISERS, AFFILIATES, PARTNERS, EMPLOYEES OR ANY OTHER ASSOCIATED ENTITIES, ALL COLLECTIVELY REFERRED TO AS ASSOCIATED ENTITIES HEREAFTER) SHALL NOT BE LIABLE TO USER OR MEMBER OR ANY THIRD PARTY SHOULD NEWSMX.TV EXERCISE ITS RIGHT TO MODIFY OR DISCONTINUE ANY OR ALL OF THE CONTENTS, INFORMATION, SOFTWARE, PRODUCTS, FEATURES AND SERVICES PUBLISHED ON THIS WEBSITE.
                          | IN NO EVENT SHALL NEWSMX.TV AND/OR ITS ASSOCIATED ENTITIES BE LIABLE FOR ANY DIRECT, INDIRECT, PUNITIVE, INCIDENTAL, SPECIAL OR CONSEQUENTIAL DAMAGES ARISING OUT OF OR IN ANY WAY CONNECTED WITH THE USE OF THIS WEB SITE OR WITH THE DELAY OR INABILITY TO USE THIS WEBSITE, OR FOR ANY CONTENTS, INFORMATION, SOFTWARE, PRODUCTS, FEATURES AND SERVICES OBTAINED THROUGH THIS WEB SITE, OR OTHERWISE ARISING OUT OF THE USE OF THIS WEB SITE, WHETHER BASED ON CONTRACT, TORT, STRICT LIABILITY OR OTHERWISE, EVEN IF NEWSMX.TV OR ANY OF ITS ASSOCIATED ENTITIES HAS BEEN ADVISED OF THE POSSIBILITY OF DAMAGES.

                        b 6) USE OF MESSAGE BOARDS, CHAT ROOMS AND OTHER COMMUNICATION FORUMS:
                        p(style='font-size: 14px !important;')
                          | If this Web site may contain message/bulletin boards, chat rooms, or other message or communication facilities (collectively, "Forums"), you agree to use the Forums only to send and receive messages and material that are proper and related to the particular Forum. By way of example, and not as a limitation, you agree that when using a Forum, you shall not do any of the following:

                          | • Defame, abuse, harass, stalk, threaten or otherwise violate the legal rights (such as rights of privacy and publicity) of others.
                          | • Publish, post, distribute or disseminate any defamatory, infringing, obscene, indecent or unlawful material or information.
                          | • Upload files that contain software or other material protected by intellectual property laws (or by rights of privacy of publicity) unless you own or control the rights thereto or have received all necessary consents.
                          | • Upload files that contain viruses, corrupted files, or any other similar software or programs that may damage the operation of another’s computer.
                          | • Conduct or forward surveys, contests, or chain letters.
                          | • Download any file posted by another user of a Forum that you know, or reasonably should know, cannot be legally distributed in such manner.
                          br
                          | All Forums are public and not private communications. Chats, postings, conferences, and other communications by other users are not endorsed by NEWSMX.TV, and such communications shall not be considered reviewed, screened, or approved by NEWSMX.TV.NEWSMX.TV reserves the right for any reason to remove without notice any contents of the Forums received from users, including without limitation message board postings.


                        b 7) EQUIPMENT AND OPERATION:
                        p(style='font-size: 14px !important;')
                          | You shall provide and maintain all telephone/internet and other equipment necessary to access NEWSMX.TV, and the costs of any such equipment and/or telephone/internet connections or use, including any applicable taxes, shall be borne solely by you. You are responsible for operating your own equipment used to access NEWSMX.TV.
                        b 8) LINKS TO THIRD PARTY SITES
                        p(style='font-size: 14px !important;')
                          | The links in this site will allow you to leave NEWSMX.TV. The linked sites are not under the control of NEWSMX.TV. NEWSMX.TV has not reviewed, nor approved these sites and is not responsible for the contents or omissions of any linked site or any links contained in a linked site. The inclusion of any linked site does not imply endorsement by NEWSMX.TV of the site. Third party links to NEWSMX.TV shall be governed by a separate agreement.
                        b 9) INDEMNIFICATION:
                        p(style='font-size: 14px !important;')
                          | YOU SHALL INDEMNIFY, DEFEND AND HOLD HARMLESS NEWSMX.TV (INCLUDING ITS AND THEIR OFFICERS, DIRECTORS, EMPLOYEES, AFFILIATES, GROUP COMPANIES, AGENTS, REPRESENTATIVES OR SUBCONTRACTORS) FROM ANY AND ALL CLAIMS AND LOSSES IMPOSED ON, INCURRED BY OR ASSERTED AS A RESULT OF OR RELATED TO: (a) your access and use of NEWSMX.TV (b) any non-compliance by user with the terms and conditions hereof; or (c) any third party actions related to users receipt and use of the information, whether authorized or unauthorized. Any clause declared invalid shall be deemed severable and not affect the validity or enforceability of the remainder. These terms may only be amended in a writing signed by NEWSMX.TV.
                        b 10) CONFLICTING TERMS:
                        p(style='font-size: 14px !important;')
                          | If there is any conflict between this User Agreement and other documents, this User Agreement shall govern, whether such order or other documents is prior to or subsequent to this User Agreement, or is signed or acknowledged by any director, officer, employee, representative or agent of NEWSMX.TV.
                        b 11) CONFIDENTIALITY/NON-COMPETITION CLAUSE:
                        p(style='font-size: 14px !important;')
                          | You agree to keep the information received from the NEWSMX.TV and services CONFIDENTIAL and will NOT Disclose the knowledge gained to other any person or firm for any reason. You hereby consent to the Jurisdiction of the Courts of New Delhi, India with respect to violation of any part of this Agreement.
                        b 12) TERMINATION:
                        p(style='font-size: 14px !important;')
                          | This User Agreement and the license rights granted hereunder shall remain in full force and effect unless terminated or canceled for any of the following reasons: (a) immediately by NEWSMX.TV for any unauthorized access or use by you (b) immediately by NEWSMX.TV if you assign or transfer (or attempt the same) any rights granted to you under this Agreement; (c) immediately, if you violate any of the other terms and conditions of this User Agreement. Termination or cancellation of this Agreement shall not effect any right or relief to which NEWSMX.TV may be entitled, at law or in equity. Upon termination of this User Agreement, all rights granted to you will terminate and revert to NEWSMX.TV. Except as set forth herein, regardless of the reason for cancellation or termination of this User Agreement, the fee charged if any for access to NEWSMX.TV is non-refundable for any reason.
                        b 13) JURISDICTION:
                        p(style='font-size: 14px !important;')
                          | The terms of this agreement are exclusively based on and subject to Indian law. You hereby consent to the exclusive jurisdiction and venue of courts in New Delhi, India in all disputes arising out of or relating to the use of this website. Use of this website is unauthorized in any jurisdiction that does not give effect to all provisions of these terms and conditions, including without limitation this paragraph



                    .spacer-break-2.with-icon(style='background-color:#e6e6e6;color:#e6e6e6;')
                      span.icon-text 
                div(class="main-content-right")
                    include ../../theme_dragon/partials/_othersRightSection
                .clear-float
        include ../../theme_dragon/partials/_footer