
include ../../theme_bee/allMixin
extends ../../theme_bee/layout
block content
    include ../../theme_bee/partials/_header
    div.container
        include ../../theme_bee/partials/_navArea
        .main-content.row.mtop15
            .row-seventy.main-c
                .bg-404
                  .error404-content
                     
                      h1  Sorry this page never returned from a trip to server.
                      div.clearfix.error-button-wrapper
                          a.error-button(href="/") Go to HomePage
            .row-thirty.c-bar
                   include ../../theme_bee/partials/_genericRightSection
    include ../../theme_bee/partials/_footer
