extends ../../theme_snake/layout
include ../../theme_snake/allMixin
block content

    div.site_container
        include ../../theme_snake/partials/_header
        include ../../theme_snake/partials/_navarea_new
        .page
          .page_header.clearfix
            .page_header_left
              h1.page_title About Us
            //- .page_header_right
            //-   ul.bread_crumb
            //-     li
            //-       a(title='Home', href='home.html')
            //-         | Home
            //-     li.separator.icon_small_arrow.right_gray
            //-     li
            //-       | Pages
            //-     li.separator.icon_small_arrow.right_gray
            //-     li
            //-       | About
          //- .page_layout.clearfix
          //-   .divider_block.clearfix
          //-     hr.divider.first
          //-     hr.divider.subheader_arrow
          //-     hr.divider.last
          //-   .row.page_margin_top
          //-     .column.column_1_2
          //-       img.responsive.pr_preload(src='images/samples/510x374/image_09.jpg', alt='img')
          //-     .column.column_1_2
          //-       h1.about_title Top Stories from
          //-       h2.about_subtitle Around the World
          //-       h3.page_margin_top
          //-         | Politicians have looked weak in the face of such natural disaster, with many facing criticism from local.
          //-       p.text.padding_top_0.page_margin_top
          //-         | Politicians have looked weak in the face of such natural disaster, with many facing criticism from local residents for doing little more than turning up as “flood tourists” at the site of disasters, incapable of helping those in crisis and only there for a photo.
          //-   .row.page_margin_top_section
          //-     .column.column_1_3.border_top
          //-       ul.page_margin_top
          //-         li.item_content.clearfix
          //-           span.features_icon.printer.animated_element.animation-scale(title='Engaging Oppurtunities')
          //-           .text
          //-             h3 Engaging Oppurtunities
          //-             p
          //-               | Maecenas mauris elementum, est morbi interdum cursus at elite imperdiet libero. Proin odios nulla.
          //-     .column.column_1_3.border_top
          //-       ul.page_margin_top
          //-         li.item_content.clearfix
          //-           span.features_icon.calendar.animated_element.animation-scale(title='Source of Daily News')
          //-           .text
          //-             h3 Source of Daily News
          //-             p
          //-               | Maecenas mauris elementum, est morbi interdum cursus at elite imperdiet libero. Proin odios nulla.
          //-     .column.column_1_3.border_top
          //-       ul.page_margin_top
          //-         li.item_content.clearfix
          //-           span.features_icon.graph.animated_element.animation-scale(title='Rankings and Ratings')
          //-           .text
          //-             h3 Rankings and Ratings
          //-             p
          //-               | Maecenas mauris elementum, est morbi interdum cursus at elite imperdiet libero. Proin odios nulla.
          //-   .row.page_margin_top_section
          //-     .column_1_1
          //-       h4.box_header
          //-         | Our Valuable Team Members
          //-       .horizontal_carousel_container.page_margin_top
          //-         ul.horizontal_carousel.autoplay-1.scroll-1.visible-4.navigation-1.easing-easeInOutQuint.duration-750
          //-           li.author
          //-             a(href='author.html', title='Debora Hilton')
          //-               img(src='images/samples/Team_330x242/image_01.jpg', alt='img')
          //-             h6 EDITOR
          //-             h4
          //-               a(href='author.html', title='Debora Hilton') Debora Hilton
          //-             p
          //-               | Maecenas novum mauris elementum est morbi interdum at ague cursus elite imperdiet libero. Proin an odios dapibus integer.
          //-             ul.social_icons.margin_top_10.clearfix
          //-               li
          //-                 a.social_icon.facebook(target='_blank', title='', href='http://facebook.com/QuanticaLabs')
          //-               li
          //-                 a.social_icon.twitter(target='_blank', title='', href='https://twitter.com/QuanticaLabs')
          //-               li
          //-                 a.social_icon.skype(title='', href='#')
          //-           li.author
          //-             a(href='author.html', title='Anna Shubina')
          //-               img(src='images/samples/Team_330x242/image_02.jpg', alt='img')
          //-             h6 EDITOR
          //-             h4
          //-               a(href='author.html', title='Anna Shubina') Anna Shubina
          //-             p
          //-               | Maecenas novum mauris elementum est morbi interdum at ague cursus elite imperdiet libero. Proin an odios dapibus integer.
          //-             ul.social_icons.margin_top_10.clearfix
          //-               li
          //-                 a.social_icon.facebook(target='_blank', title='', href='http://facebook.com/QuanticaLabs')
          //-               li
          //-                 a.social_icon.twitter(target='_blank', title='', href='https://twitter.com/QuanticaLabs')
          //-               li
          //-                 a.social_icon.skype(title='', href='#')
          //-           li.author
          //-             a(href='author.html', title='Lian Holden')
          //-               img(src='images/samples/Team_330x242/image_03.jpg', alt='img')
          //-             h6 PUBLISHER
          //-             h4
          //-               a(href='author.html', title='Lian Holden') Lian Holden
          //-             p
          //-               | Maecenas novum mauris elementum est morbi interdum at ague cursus elite imperdiet libero. Proin an odios dapibus integer.
          //-             ul.social_icons.margin_top_10.clearfix
          //-               li
          //-                 a.social_icon.facebook(target='_blank', title='', href='http://facebook.com/QuanticaLabs')
          //-               li
          //-                 a.social_icon.twitter(target='_blank', title='', href='https://twitter.com/QuanticaLabs')
          //-               li
          //-                 a.social_icon.skype(title='', href='#')
          //-           li.author
          //-             a(href='author.html', title='Heather Dale')
          //-               img(src='images/samples/Team_330x242/image_04.jpg', alt='img')
          //-             h6 ILLUSTRATOR
          //-             h4
          //-               a(href='author.html', title='Heather Dale') Heather Dale
          //-             p
          //-               | Maecenas novum mauris elementum est morbi interdum at ague cursus elite imperdiet libero. Proin an odios dapibus integer.
          //-             ul.social_icons.margin_top_10.clearfix
          //-               li
          //-                 a.social_icon.facebook(target='_blank', title='', href='http://facebook.com/QuanticaLabs')
          //-               li
          //-                 a.social_icon.twitter(target='_blank', title='', href='https://twitter.com/QuanticaLabs')
          //-               li
          //-                 a.social_icon.skype(title='', href='#')
          //-           li.author
          //-             a(href='author.html', title='Mary Doe')
          //-               img(src='images/samples/Team_330x242/image_05.jpg', alt='img')
          //-             h6 EDITOR
          //-             h4
          //-               a(href='author.html', title='Mary Doe') Mary Doe
          //-             p
          //-               | Maecenas novum mauris elementum est morbi interdum at ague cursus elite imperdiet libero. Proin an odios dapibus integer.
          //-             ul.social_icons.margin_top_10.clearfix
          //-               li
          //-                 a.social_icon.facebook(target='_blank', title='', href='http://facebook.com/QuanticaLabs')
          //-               li
          //-                 a.social_icon.twitter(target='_blank', title='', href='https://twitter.com/QuanticaLabs')
          //-               li
          //-                 a.social_icon.skype(title='', href='#')
          //-   .row.page_margin_top_section
          //-     .column.column_1_2
          //-       ul.accordion.medium.clearfix
          //-         li
          //-           #accordion-cras-rutrum
          //-             h4 Cras rutrum leo at odio volutpat id blandit fugiats?
          //-           ul
          //-             li.item_content.clearfix
          //-               span.features_icon.pin.animated_element.animation-scale(title='Engaging Oppurtunities and Top Benefits')
          //-               .text
          //-                 h5 Engaging Oppurtunities and Top Benefits
          //-                 p
          //-                   | Maecenas mauris elementum, est morbi interdum cursus at elite imperdiet libero. Proin odios dapibus integer an nulla augue pharetra cursus.
          //-             li.item_content.clearfix
          //-               span.features_icon.quote.animated_element.animation-scale(title='Press Office, Licensees and Employment')
          //-               .text
          //-                 h5 Press Office, Licensees and Employment
          //-                 p
          //-                   | Maecenas mauris elementum, est morbi interdum cursus at elite imperdiet libero. Proin odios dapibus integer an nulla augue pharetra cursus.
          //-         li
          //-           #accordion-donec-fermentum
          //-             h4 Donec fermentum porttitor nunc amet gravida?
          //-           ul
          //-             li.item_content.clearfix
          //-               span.features_icon.app.animated_element.animation-scale(title='Engaging Oppurtunities and Top Benefits')
          //-               .text
          //-                 h5 Engaging Oppurtunities and Top Benefits
          //-                 p
          //-                   | Maecenas mauris elementum, est morbi interdum cursus at elite imperdiet libero. Proin odios dapibus integer an nulla augue pharetra cursus.
          //-             li.item_content.clearfix
          //-               span.features_icon.clock.animated_element.animation-scale(title='Press Office, Licensees and Employment')
          //-               .text
          //-                 h5 Press Office, Licensees and Employment
          //-                 p
          //-                   | Maecenas mauris elementum, est morbi interdum cursus at elite imperdiet libero. Proin odios dapibus integer an nulla augue pharetra cursus.
          //-         li
          //-           #accordion-aenean-faucibus
          //-             h4 Aenean faucibus sapien a odio varius?
          //-           ul
          //-             li.item_content.clearfix
          //-               span.features_icon.image.animated_element.animation-scale(title='Engaging Oppurtunities and Top Benefits')
          //-               .text
          //-                 h5 Engaging Oppurtunities and Top Benefits
          //-                 p
          //-                   | Maecenas mauris elementum, est morbi interdum cursus at elite imperdiet libero. Proin odios dapibus integer an nulla augue pharetra cursus.
          //-             li.item_content.clearfix
          //-               span.features_icon.video.animated_element.animation-scale(title='Press Office, Licensees and Employment')
          //-               .text
          //-                 h5 Press Office, Licensees and Employment
          //-                 p
          //-                   | Maecenas mauris elementum, est morbi interdum cursus at elite imperdiet libero. Proin odios dapibus integer an nulla augue pharetra cursus.
          //-         li
          //-           #accordion-donec-pilvinar
          //-             h4 Donec pulvinar lectus quis laoreet vestibulum?
          //-           ul
          //-             li.item_content.clearfix
          //-               span.features_icon.envelope.animated_element.animation-scale(title='Engaging Oppurtunities and Top Benefits')
          //-               .text
          //-                 h5 Engaging Oppurtunities and Top Benefits
          //-                 p
          //-                   | Maecenas mauris elementum, est morbi interdum cursus at elite imperdiet libero. Proin odios dapibus integer an nulla augue pharetra cursus.
          //-             li.item_content.clearfix
          //-               span.features_icon.mobile.animated_element.animation-scale(title='Press Office, Licensees and Employment')
          //-               .text
          //-                 h5 Press Office, Licensees and Employment
          //-                 p
          //-                   | Maecenas mauris elementum, est morbi interdum cursus at elite imperdiet libero. Proin odios dapibus integer an nulla augue pharetra cursus.
          //-     .column.column_1_2
          //-       h4.box_header Press Office News
          //-       ul.blog.small
          //-         li.post
          //-           a(href='post.html', title='Engaging Oppurtunities and Top Benefits')
          //-             img(src='images/samples/100x100/image_06.jpg', alt='img')
          //-           .post_content
          //-             h5
          //-               a(href='post.html', title='Engaging Oppurtunities and Top Benefits') Engaging Oppurtunities and Top Benefits
          //-             p
          //-               | Maecenas mauris elementum, est morbi interdum cursus at elite imperdiet libero. Proin odios dapibus integer an nulla augue pharetra cursus.
          //-         li.post
          //-           a(href='post_small_image.html', title='Advertising With PressRoom')
          //-             img(src='images/samples/100x100/image_12.jpg', alt='img')
          //-           .post_content
          //-             h5
          //-               a(href='post_small_image.html', title='Advertising With PressRoom') Advertising With PressRoom
          //-             p
          //-               | Maecenas mauris elementum, est morbi interdum cursus at elite imperdiet libero. Proin odios dapibus integer an nulla augue pharetra cursus.
          //-         li.post
          //-           a(href='post_small_image.html', title='Press Office, Licensees and Employment')
          //-             img(src='images/samples/100x100/image_02.jpg', alt='img')
          //-           .post_content
          //-             h5
          //-               a(href='post_small_image.html', title='Press Office, Licensees and Employment') Press Office, Licensees and Employment
          //-             p
          //-               | Maecenas mauris elementum, est morbi interdum cursus at elite imperdiet libero. Proin odios dapibus integer an nulla augue pharetra cursus.
        include ../../theme_snake/partials/_footer










                //- include ../../theme_snake/partials/_navArea
                //- div#contentSection
                //-     div.row.row_main#article-post-page
                //-         div(class="col-md-12")
                //-             #level_top_full
                //-                 -if(data['level_top_full'] && data['level_top_full'].templateData && data['level_top_full'].templateData.mixinName){
                //-                     +#{data['level_top_full'].templateData.mixinName}(data['level_top_full'])
                //-                 -}
                //-         div(class="col-lg-12 col-md-12 col-sm-12")

                //-             div(class="top_left_content")
                //-                 div.breadcrumb-static
                //-                   //- include ../../theme_snake/partials/_breadcrumb
                //-                 h2 Public Khabar
                //-                 p More About Us
                            
                //-             +socialShare("/about-us","About Us",true)
                                
                //-         //- div(class="col-lg-4 col-md-4 col-sm-4")
                //-         //-     aside(class="right_content")
                //-         //-         include ../../theme_snake/partials/_genericRightSection
                //-     #ad_first_middle
                //-     div.row.row_main
                //-         div(class="col-lg-12 col-md-12 col-sm-12")   
                //-              include ../../theme_snake/partials/_genericMiddleSection
                //-     div.row.row_main
                //-         div(class="col-lg-12 col-md-12 col-sm-12")
                //-             #level_bottom_full
                //-                 -if(data['level_bottom_full'] && data['level_bottom_full'].templateData && data['level_bottom_full'].templateData.mixinName){
                //-                     +#{data['level_bottom_full'].templateData.mixinName}(data['level_bottom_full'])
                //-                 -}
                //-             div.comments-wrapper
                //-                 #comments
                                    
                                
                //- include ../../theme_snake/partials/_footer
            
                         