extends ../../theme_snake/layout
include ../../theme_snake/allMixin
block content
     div.site_container
        include ../../theme_snake/partials/_header
        include ../../theme_snake/partials/_navarea_new
        .page
            .page_header.clearfix
                .page_header_left
                  h1.page_title All Author
            .page_layout.clearfix
                .divider_block.clearfix
                  hr.divider.first
                  hr.divider.subheader_arrow
                  hr.divider.last
                div.row
                    div.column.column_2_3
                        ul(class="cp-authors-grid")
                            -for(var i=0;i<env.partnerAuthorData.length;i++){
                                -if(env.partnerAuthorData[i].total_news && env.partnerAuthorData[i].total_news>=0){
                                    li(class="column column_1_4")
                                        a(href="#{env.partnerAuthorData[i].url}",class="cp-author-box")
                                            div(class="cp-thumb")
                                                img(src="#{env.partnerAuthorData[i].imageUrl}")
                                            h3  #{env.partnerAuthorData[i].name}
                                            p ( #{env.partnerAuthorData[i].total_news} )
                                -}
                                  
                            -}
                    div.column.column_1_3
                        #contact_page_right_section

        include ../../theme_snake/partials/_footer

