extends ../../theme_snake/layout
include ../../theme_snake/allMixin
block content
    div.site_container
        include ../../theme_snake/partials/_header
        include ../../theme_snake/partials/_navarea_new
        .page
            .page_header.clearfix
                .page_header_left
                    h1.page_title 
                        | Oops some error occured
            .page_layout.clearfix
                .divider_block.clearfix
                    hr.divider.first
                    hr.divider.subheader_arrow
                    hr.divider.last
                div.row
                    div.column.column_2_3
                        h1.about_title 
                            | Something went wrong 
                        h2.about_subtitle 
                            | Now we know the error we will fix it as soon as possible.
                        
                        p.text.padding_top_0.page_margin_top
                            | Kindly check your configuration and log....

                    div.column.column_1_3
                        #contact_page_right_section

        include ../../theme_snake/partials/_footer
            