extends ../../theme_dolphin/layout
include ../../theme_dolphin/allMixin
block content
    include ../../theme_dolphin/partials/_header
    div.container
        
        include ../../theme_dolphin/partials/_navArea
        div#contentSection
            div.row.row_main#article-post-page
                div(class="col-md-12")
                    #level_top_full
                        -if(data['level_top_full'] && data['level_top_full'].templateData && data['level_top_full'].templateData.mixinName){
                            +#{data['level_top_full'].templateData.mixinName}(data['level_top_full'])
                        -}
                div(class="col-lg-12 col-md-12 col-sm-12")

                    div(class="top_left_content")
                        div.breadcrumb-static
                          include ../../theme_dolphin/partials/_breadcrumb
                        h2 The RSS Feed
                        div.row.row_main
                            div(class="col-lg-12 col-md-12 col-sm-12") 
                                p
                                    b What is RSS
                                p RSS (Really Simple Syndication or Rich Site Summary) is an XML-based format for sharing and distributing Web content. Using an RSS aggregator, one can view and use data feeds from various sources, such as thehawkindia.com, including headlines, summaries, links to full stories.
                                p 
                                    b Benefits of RSS
                                p RSS allows regular users of the web to stay informed by retrieving the latest content from various sites they are interested in. One saves time by not needing to visit each site individually.
                                p 
                                    b About RSS Aggregators 
                                p RSS/News Aggregators (also called Readers) download and display RSS feeds. A number of free and commercial News Aggregators are available for download. Many aggregators are separate, "stand-alone" programmes, others let one add RSS feeds to a Web page.
                                p 
                                    b To Use the Service
                                p 1. Copy the URL/shortcut that corresponds to the topic that interests you.
                                p 2. Paste the URL into your reader.
                        div.row.row_main
                            div(class="") 
                                ul(class="rss-feed-block") 
                                    li.title-heading-bar Global News
                                    li.rss-feed-row.clearfix

                                        div.col-lg-3.col-md-3.col-sm-3.heading-row
                                            span(class="rss-feed-row-heading") All News
                                        div.col-lg-8.col-md-8.col-sm-8
                                            span(class="rss-feed-row-link") 
                                                input(value="http://thehawk.in/feeds.xml")
                                        span(class="rss-feed-row-image pull-right")
                                            a(href="http://thehawk.in/feed.xml") 
                                                img(src="/images/rsssubscribe.jpg")
                                    li.rss-feed-row.clearfix

                                        div.col-lg-3.col-md-3.col-sm-3.heading-row
                                            span(class="rss-feed-row-heading") Latest News
                                        div.col-lg-8.col-md-8.col-sm-8
                                            span(class="rss-feed-row-link") 
                                                input(value="http://thehawk.in/categories/latest-news/feed")
                                        span(class="rss-feed-row-image pull-right")
                                            a(href="http://thehawk.in/categories/latest-news/feed") 
                                                img(src="/images/rsssubscribe.jpg")
                                   
                                    li.rss-feed-row.clearfix

                                        div.col-lg-3.col-md-3.col-sm-3.heading-row
                                            span(class="rss-feed-row-heading") National News
                                        div.col-lg-8.col-md-8.col-sm-8
                                            span(class="rss-feed-row-link") 
                                                input(value="http://thehawk.in/categories/india-news/feed")
                                        span(class="rss-feed-row-image pull-right")
                                            a(href="http://thehawk.in/categories/india-news/feed") 
                                                img(src="/images/rsssubscribe.jpg")


                                    li.rss-feed-row.clearfix

                                        div.col-lg-3.col-md-3.col-sm-3.heading-row
                                            span(class="rss-feed-row-heading") Business News
                                        div.col-lg-8.col-md-8.col-sm-8
                                            span(class="rss-feed-row-link") 
                                                input(value="http://thehawk.in/categories/business/feed")
                                        span(class="rss-feed-row-image pull-right")
                                            a(href="http://thehawk.in/categories/business/feed") 
                                                img(src="/images/rsssubscribe.jpg")

                                    li.rss-feed-row.clearfix

                                        div.col-lg-3.col-md-3.col-sm-3.heading-row
                                            span(class="rss-feed-row-heading") Finance News
                                        div.col-lg-8.col-md-8.col-sm-8
                                            span(class="rss-feed-row-link") 
                                                input(value="http://thehawk.in/categories/finance/feed")
                                        span(class="rss-feed-row-image pull-right")
                                            a(href="http://thehawk.in/categories/finance/feed") 
                                                img(src="/images/rsssubscribe.jpg")

                                    li.rss-feed-row.clearfix

                                        div.col-lg-3.col-md-3.col-sm-3.heading-row
                                            span(class="rss-feed-row-heading") Sports News
                                        div.col-lg-8.col-md-8.col-sm-8
                                            span(class="rss-feed-row-link") 
                                                input(value="http://thehawk.in/categories/sports/feed")
                                        span(class="rss-feed-row-image pull-right")
                                            a(href="http://thehawk.in/categories/sports/feed") 
                                                img(src="/images/rsssubscribe.jpg")
                                    
                                    li.rss-feed-row.clearfix

                                        div.col-lg-3.col-md-3.col-sm-3.heading-row
                                            span(class="rss-feed-row-heading") World News
                                        div.col-lg-8.col-md-8.col-sm-8
                                            span(class="rss-feed-row-link") 
                                                input(value="http://thehawk.in/categories/world/feed")
                                        span(class="rss-feed-row-image pull-right")
                                            a(href="http://thehawk.in/categories/world/feed") 
                                                img(src="/images/rsssubscribe.jpg")
                                    li.rss-feed-row.clearfix

                                        div.col-lg-3.col-md-3.col-sm-3.heading-row
                                            span(class="rss-feed-row-heading") Entertainment News
                                        div.col-lg-8.col-md-8.col-sm-8
                                            span(class="rss-feed-row-link") 
                                                input(value="http://thehawk.in/categories/entertainment/feed")
                                        span(class="rss-feed-row-image pull-right")
                                            a(href="http://thehawk.in/categories/entertainment/feed") 
                                                img(src="/images/rsssubscribe.jpg")
                                    li.rss-feed-row.clearfix

                                        div.col-lg-3.col-md-3.col-sm-3.heading-row
                                            span(class="rss-feed-row-heading") Tech News
                                        div.col-lg-8.col-md-8.col-sm-8
                                            span(class="rss-feed-row-link") 
                                                input(value="http://thehawk.in/categories/technology/feed")
                                        span(class="rss-feed-row-image pull-right")
                                            a(href="http://thehawk.in/categories/technology/feed") 
                                                img(src="/images/rsssubscribe.jpg")
                                    li.rss-feed-row.clearfix

                                        div.col-lg-3.col-md-3.col-sm-3.heading-row
                                            span(class="rss-feed-row-heading") Life Style News
                                        div.col-lg-8.col-md-8.col-sm-8
                                            span(class="rss-feed-row-link") 
                                                input(value="http://thehawk.in/categories/lifestyle/feed")
                                        span(class="rss-feed-row-image pull-right")
                                            a(href="http://thehawk.in/categories/lifestyle/feed") 
                                                img(src="/images/rsssubscribe.jpg")
                                    li.rss-feed-row.clearfix

                                        div.col-lg-3.col-md-3.col-sm-3.heading-row
                                            span(class="rss-feed-row-heading") Fashion News
                                        div.col-lg-8.col-md-8.col-sm-8
                                            span(class="rss-feed-row-link") 
                                                input(value="http://thehawk.in/categories/fashion/feed")
                                        span(class="rss-feed-row-image pull-right")
                                            a(href="http://thehawk.in/categories/fashion/feed") 
                                                img(src="/images/rsssubscribe.jpg")
                                ul(class="rss-feed-block") 
                                    li.title-heading-bar States
                                    
                                    li.rss-feed-row.clearfix

                                        div.col-lg-3.col-md-3.col-sm-3.heading-row
                                            span(class="rss-feed-row-heading") U.P. News
                                        div.col-lg-8.col-md-8.col-sm-8
                                            span(class="rss-feed-row-link") 
                                                input(value="http://thehawk.in/categories/uttar-pradesh-news/feed")
                                        span(class="rss-feed-row-image pull-right")
                                            a(href="http://thehawk.in/categories/uttar-pradesh-news/feed") 
                                                img(src="/images/rsssubscribe.jpg")
                                   
                                    li.rss-feed-row.clearfix

                                        div.col-lg-3.col-md-3.col-sm-3.heading-row
                                            span(class="rss-feed-row-heading") Uttarakhand News
                                        div.col-lg-8.col-md-8.col-sm-8
                                            span(class="rss-feed-row-link") 
                                                input(value="http://thehawk.in/categories/uttarakhand-news/feed")
                                        span(class="rss-feed-row-image pull-right")
                                            a(href="http://thehawk.in/categories/uttarakhand-news/feed") 
                                                img(src="/images/rsssubscribe.jpg")


                                    li.rss-feed-row.clearfix

                                        div.col-lg-3.col-md-3.col-sm-3.heading-row
                                            span(class="rss-feed-row-heading") Punjab News
                                        div.col-lg-8.col-md-8.col-sm-8
                                            span(class="rss-feed-row-link") 
                                                input(value="http://thehawk.in/categories/punjab/feed")
                                        span(class="rss-feed-row-image pull-right")
                                            a(href="http://thehawk.in/categories/punjab/feed") 
                                                img(src="/images/rsssubscribe.jpg")

                                    li.rss-feed-row.clearfix

                                        div.col-lg-3.col-md-3.col-sm-3.heading-row
                                            span(class="rss-feed-row-heading") Maharashtra News
                                        div.col-lg-8.col-md-8.col-sm-8
                                            span(class="rss-feed-row-link") 
                                                input(value="http://thehawk.in/categories/maharashtra/feed")
                                        span(class="rss-feed-row-image pull-right")
                                            a(href="http://thehawk.in/categories/maharashtra/feed") 
                                                img(src="/images/rsssubscribe.jpg")

                                    li.rss-feed-row.clearfix

                                        div.col-lg-3.col-md-3.col-sm-3.heading-row
                                            span(class="rss-feed-row-heading") Tamil Nadu News
                                        div.col-lg-8.col-md-8.col-sm-8
                                            span(class="rss-feed-row-link") 
                                                input(value="http://thehawk.in/categories/tamil-nadu/feed")
                                        span(class="rss-feed-row-image pull-right")
                                            a(href="http://thehawk.in/categories/tamil-nadu/feed") 
                                                img(src="/images/rsssubscribe.jpg")
                                    
                                    li.rss-feed-row.clearfix

                                        div.col-lg-3.col-md-3.col-sm-3.heading-row
                                            span(class="rss-feed-row-heading") Himachal Pradesh News
                                        div.col-lg-8.col-md-8.col-sm-8
                                            span(class="rss-feed-row-link") 
                                                input(value="http://thehawk.in/categories/himachal-pradesh/feed")
                                        span(class="rss-feed-row-image pull-right")
                                            a(href="http://thehawk.in/categories/himachal-pradesh/feed") 
                                                img(src="/images/rsssubscribe.jpg")
                                    li.rss-feed-row.clearfix

                                        div.col-lg-3.col-md-3.col-sm-3.heading-row
                                            span(class="rss-feed-row-heading") Madhya Pradesh News
                                        div.col-lg-8.col-md-8.col-sm-8
                                            span(class="rss-feed-row-link") 
                                                input(value="http://thehawk.in/categories/madhya-pradesh/feed")
                                        span(class="rss-feed-row-image pull-right")
                                            a(href="http://thehawk.in/categories/madhya-pradesh/feed") 
                                                img(src="/images/rsssubscribe.jpg")
                                    li.rss-feed-row.clearfix

                                        div.col-lg-3.col-md-3.col-sm-3.heading-row
                                            span(class="rss-feed-row-heading") Haryana News
                                        div.col-lg-8.col-md-8.col-sm-8
                                            span(class="rss-feed-row-link") 
                                                input(value="http://thehawk.in/categories/haryana/feed")
                                        span(class="rss-feed-row-image pull-right")
                                            a(href="http://thehawk.in/categories/haryana/feed") 
                                                img(src="/images/rsssubscribe.jpg")
                                    li.rss-feed-row.clearfix

                                        div.col-lg-3.col-md-3.col-sm-3.heading-row
                                            span(class="rss-feed-row-heading") Kerla News
                                        div.col-lg-8.col-md-8.col-sm-8
                                            span(class="rss-feed-row-link") 
                                                input(value="http://thehawk.in/categories/kerla/feed")
                                        span(class="rss-feed-row-image pull-right")
                                            a(href="http://thehawk.in/categories/kerla/feed") 
                                                img(src="/images/rsssubscribe.jpg")
                                    li.rss-feed-row.clearfix

                                        div.col-lg-3.col-md-3.col-sm-3.heading-row
                                            span(class="rss-feed-row-heading") Bihar News
                                        div.col-lg-8.col-md-8.col-sm-8
                                            span(class="rss-feed-row-link") 
                                                input(value="http://thehawk.in/categories/bihar/feed")
                                        span(class="rss-feed-row-image pull-right")
                                            a(href="http://thehawk.in/categories/bihar/feed") 
                                                img(src="/images/rsssubscribe.jpg")

                    +socialShare("/about-us","About Us",true)
                        
                //- div(class="col-lg-4 col-md-4 col-sm-4")
                //-     aside(class="right_content")
                //-         include ../../theme_dolphin/partials/_genericRightSection
            #ad_first_middle
            div.row.row_main
                div(class="col-lg-12 col-md-12 col-sm-12")   
                     include ../../theme_dolphin/partials/_genericMiddleSection
            div.row.row_main
                div(class="col-lg-12 col-md-12 col-sm-12")
                    #level_bottom_full
                        -if(data['level_bottom_full'] && data['level_bottom_full'].templateData && data['level_bottom_full'].templateData.mixinName){
                            +#{data['level_bottom_full'].templateData.mixinName}(data['level_bottom_full'])
                        -}
                    div.comments-wrapper
                        #comments
                            
                        
        include ../../theme_dolphin/partials/_footer
    
                 