body img, iframe, video {
  max-width:100%;
}
body {
  padding: 0px !important;
  overflow-x: hidden;
}
.hide{
  display:none !important;
}
.prettyphoto img:hover,img.prettyphoto:hover{
    opacity: .9; 
    transform: scale(1.05);
   
}
.width_full{
  width: 280px !important;
}
.no-zoom img:hover,img.no-zoom:hover{
    opacity: 1; 
    transform: none;
   
}

.epaper-filter {
  background: #e0e0e0;
  border:1px solid #CCC;
  padding: 8px 10px;
  margin-bottom: 15px;
  
}
.bg-404{
  background: url(/images/404.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  background-blend-mode:screen;
}
.error-button{
  background: #fff;
  color:#000;
  padding:10px;
  font-size: 2em;
}
.error404-content{
  background: rgba(0, 0, 0, 0.75);
}
.error404-content h1{
  color: #fff;
    padding: 25px;
    line-height: 1;
    font-size: 4em;
    text-align: center;
}
.error-button-wrapper{
  text-align: center;
  padding-bottom: 30px;
}
.fb-mar-right-5{
    margin-right:5px;
}
.filter-heading {
  font-size: 14px;
  padding: 0px 5px;
}
.wrapper_epaper {
    border: 1px solid #CCC;
    background: #F7F8F9;
    padding: 5px;
    margin-right: 5px;
}
.wrapper_epaper .center {
    text-align: center;
}
.wrapper_epaper .right {
    float: right;
}
.epaper-apply {
    display: inline-block;
    background: #337ab7;
    padding: 10px 10px;
    color: white;
    margin-bottom: 10px;
    height: 100%;
}
.epaper-filter-item {
  width:33%;
  padding-left:5px;
  padding-right:5px;
}
.epaper-apply {
  background: #32aae1;
  border-radius: 3px;
  padding: 5px 20px;
  text-align: center;
  font-size: 16px;
  float: right;
}
#pdf.fullscreen{
    z-index: 9999; 
    width: 100%; 
    height: 90%; 
    position: fixed; 
    top: 0; 
    left: 0; 
}
#content {
  height:100%;
}
#pdf.full-view {
  height:98%;
}
#pdf #pdf_content {
  min-height: 600px;
  height:100%;
  width: 100%
}
#pdf .full-screen.action-btn {
    display: inline;
    background: #337ab7;
    padding: 10px 30px;
    color: white;
    margin-bottom: 20px;
    height: 100%;
    position: relative;
    top: 15px;
    right: 15px;
    margin-right:10px;
}
#pdf .external-link-page .full-screen.action-btn {
    top: 0px;
}
#pdf.fullscreen .external-link-page .full-screen.action-btn{
    top: 15px;
}
#pdf .external-link-page .full-screen.action-btn#external-link-btn {
  background: red;
}
#pdf .full-screen-btn-wrapper {
    text-align: right;
}
#pdf {
  background: #ccc;
}
#epaper-datepicker {
  color: #505050;
  font-size: 13px;
  padding: 5px;
  margin-bottom: 10px;
  display: inline-block;
}
.cp-post-tools .tiles-small-details{
  display: inline-block !important;
}
.select-style {
    display: inline-block;
    border: 1px solid #ccc;
    width: 120px;
    border-radius: 3px;
    overflow: hidden;
    /*background: #fafafa url("../../images/arrowdown.gif") no-repeat 90% 50%;*/
}

.select-style select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.select-style select:focus {
    outline: none;
}
.epaper-heading {
  padding: 15px 0px;
  font-size: 18px;
  font-weight: bold;
}
.goto-next-page-post{
    text-align: center !important;
    padding-bottom: 20px !important;
    font-size: 20px !important;
    font-weight: bold !important;
}
.newsSocialIcons li.whatsapp,.sticky li.whatsapp{
      border: 0px solid #19d639;
    background-color: #24bc3d;
}
#plans,#plans ul,#plans ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

#pricePlans:after {
  content: '';
  display: table;
  clear: both;
}

#pricePlans {
  zoom: 1;
}

#pricePlans {
  max-width: 69em;
  margin: 0 auto;
}

#pricePlans #plans .plan {
  background: #fff;
  float: left;
  width: 100%;
  text-align: center;
  border-radius: 5px;
  margin: 0 0 20px 0;
  border: 1px solid #eaeaea;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.planContainer .title h2 {
  font-size: 2.125em;
  font-weight: 300;
  color: #3e4f6a;
  margin: 0;
  padding: .6em 0;
}

.planContainer .title h2.bestPlanTitle {
  background: #3e4f6a;
  color: #fff;
  border-radius: 5px 5px 0 0;
}


.planContainer .price p {
  background: #3e4f6a;
  color: #fff;
  font-size: 1.2em;
  font-weight: 700;
  height: 2.6em;
  line-height: 2.6em;
  margin: 0 0 1em;
}

.planContainer .price p.bestPlanPrice {
  background: #f7814d;
}

.planContainer .price p span {
  color: #8394ae;
}

.planContainer .options {
  margin-top: 10em;
}

.planContainer .options li {
  font-weight: 700;
  color: #364762;
  line-height: 2.5;
}

.planContainer .options li span {
  font-weight: 400;
  color: #979797;
}

.planContainer .button a {
  text-transform: uppercase;
  text-decoration: none;
  color: #3e4f6a;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 2.8em;
  border: 2px solid #3e4f6a;
  display: inline-block;
  width: 80%;
  height: 2.8em;
  border-radius: 4px;
  margin: 1.5em 0 1.8em;
}

.planContainer .button a.bestPlanButton {
  color: #fff;
  background: #f7814d;
  border: 2px solid #f7814d;
}

#credits {
  text-align: center;
  font-size: .8em;
  font-style: italic;
  color: #777;
}

#credits a {
  color: #333;
}

#credits a:hover {
  text-decoration: none;
}





a img {
  max-width:100%;
  /*margin:2px;*/
}
#fixed-bottom-content {
    position: fixed;
    width: 100%;
    background: transparent;
    bottom: 0px;
    z-index: 999;
    min-height: 85px;
}
.main-article-content iframe {
  /*min-height:300px;*/
  width:100%;
}
/*social media icon show hide on hover*/
/*.showSharedIcon{
  display: block;
  padding-left:5px;
  width: 100%;
}*/

/*.showSharedIcon .newsSocialIcons ul {
    width: 230px;
    float: left;
}*/
.newsSocialIcons li a {
    color: #FFF;
}
.newsSocialIcons li a:hover {
    text-decoration: none !important;
}
.newsSocialIcons li a i {
    margin-right: 4px;
}

.newsSocialIcons {
    width:100%;
    display: inline-block;
    text-align: right;
    
}
.newsSocialIcons a {
    padding:5px;
    display: inline-block;
}

.newsSocialIcons ul, .hocalwire-cp-authors-social{
    width: 100%;
    padding-left: 0px;
}
.hocalwire-cp-authors-social{
    text-align: center;
}

.newsSocialIcons li {
    list-style: none !important;
    width: 25px;
    height: 25px;
    text-decoration: none;
    font-family: Oswald !important;
    text-transform: uppercase;
    background: transparent;
    opacity: 1;
    line-height: 30px;
    padding: 0;
    margin: 0 3px;
}

.newsSocialIcons li a {
    color: #FFF;
    height:21px;
}

.newsSocialIcons li a:hover {
    text-decoration: none !important;
}

.newsSocialIcons li a i {
    margin-right: 4px;
}

.newsSocialIcons li.facebook {
    border: 0px solid #314b83;
    background-color: #4769A5;
}
 
.newsSocialIcons li.pintrest{
  border: 0px;
    background-color: #d50c22;
}
.newsSocialIcons li.twitter {
    border: 0px solid #0092ba;
    background-color: #65CCEF;
}

.newsSocialIcons li.googleplus {
    border: 0px solid #ab2b1d;
    background-color: #bf3727;
}
.newsSocialIcons li.gplus {
    border: 0px solid #ab2b1d;
    background-color: #bf3727;
}
.newsSocialIcons li.linkedin {
    border: 0px solid #278cc0;
    background-color: #2ba3e1;
}

.newsSocialIcons li.tumblr {
    border: 0px solid #2C3C4C;
    background-color: #34495e;
}

.newsSocialIcons li.pinterest {
    border: 0px solid #ae1319;
    background-color: #cd252b;
}
.newsSocialIcons li.email {
    border: 0px solid #4b3b3b;
    background-color: #4b3b3b;
}
.newsSocialIcons li.mail {
    border: 0px solid #18AE91;
    background-color: #1abc9c;
}
.sticky li.mail,.sticky li.email{
    border: 0px solid #4b3b3b;
    background-color: #4b3b3b;
}
.newsSocialIcons li.print {
    border: 0px solid #000;
    background-color: #000;
}
.sticky li.print,.sticky li.print{
    border: 0px solid #000;
    background-color: #000;
}
.newsSocialIcons li.youtube {
    border: 0px solid #e62117;
    background-color: #e62117;
}

.newsSocialIcons li img {
  vertical-align: top;
}
.newsSocialIcons ul{
  border-radius: 3px;
  padding:5px;
  z-index:10;
  /*width: 260px;*/
  float: left;
  clear: both;
}


.newsSocialIcons.right-navigation ul li + li{
  display: none;
  float: left;
  border-radius: 30px;
  padding-top: 2px;
   
}
.newsSocialIcons li{
  float: left;
  border-radius: 30px;
  
}
.listing-social-share .newsSocialIcons li {
    border-radius: 30px !important;
}
.margin-top10 {
  margin-top: 10px;
}
/*floating social icons*/
.sticky-container{
    position: fixed;
    top:40%;
    z-index: 11111111111;

}
.sticky-container ul li p{
  padding: 5px; 
   
}
.sticky li.facebook {
    border: 0px solid #314b83;
    background-color: #4769A5;
}

.sticky li.twitter {
    border: 0px solid #0092ba;
    background-color: #65CCEF;
}

.sticky li.googleplus {
    border: 0px solid #ab2b1d;
    background-color: #bf3727;
}
.sticky li.gplus {
    border: 0px solid #ab2b1d;
    background-color: #bf3727;
}
.sticky li.linkedin {
    border: 0px solid #278cc0;
    background-color: #2ba3e1;
}

.sticky li.tumblr {
    border: 0px solid #2C3C4C;
    background-color: #34495e;
}

.sticky li.pinterest {
    border: 0px solid #ae1319;
    background-color: #cd252b;
}

.sticky li.mail {
    border: 0px solid #18AE91;
    background-color: #1abc9c;
}
.sticky li.youtube {
    border: 0px solid #e62117;
    background-color: #e62117;
}
.follow-us-links ul{
    float: none !important;
    position: relative !important;
    margin: auto;
    width: 125px !important;
}

#toggle-view-menu {
    max-height: 500px;
    overflow-x: hidden;
    overflow-y: scroll;
}

a img {
  max-width:100%;
}
#fixed-bottom-content {
    position: fixed;
    width: 100%;
    background: transparent;
    bottom: 0px;
    z-index: 999;
    min-height: 85px;
}
.main-article-content iframe {
  /*min-height:300px;*/
  width:100%;
}

.pswp__zoom-wrap {
  /*transform: none !important;*/
}
/*.pswp__zoom-wrap .pswp__img {
  width:100% !important;
  height: auto !important;
}*/
#gallery .pswp__caption__center  {
  max-width: 100% !important;
  text-align: center;
}
#gallery .pswp__caption__center h4 {
  font-weight: bold;
  color:#fff;
}



.pintrest-style-grid {
  -webkit-column-count: 3;
    max-width: 100%;
}
.pintrest-style-grid li{
  display: inline-block;
}
@media screen and (max-width: 767px) { 
    .pintrest-style-grid { -webkit-column-count: 2; }
    .common-user-pages .form {
      width:350px;
    }
    .common-user-pages .form input[type="text"] { width: 300px; }
    .common-user-pages .form input[type="email"] { width: 300px; }
    .common-user-pages .form input[type="password"] { width: 300px; }
   
}
@media screen and (max-width: 480px) { 
    .pintrest-style-grid {-webkit-column-count: 1; }
     #toggle-view-menu {
        max-height: 400px;
      }
}
#gallery {
  z-index: 99999;
}

.fab{
  background: #03A9F4;
  width: 35px;
  height: 35px;
  /*border-radius: 50%;*/
  text-align:center;
  color: #FFF;
  box-shadow:0px 0px 3px rgba(0,0,0,0.5),3px 3px 3px rgba(0,0,0,0.25);
  position: fixed;
  /*bottom: 1 / 4 * 3 * 64px;*/
  right: 1 / 4 * 3 * 64px;
  font-size: 2.6667em;
  display: inline-block;
  cursor: default;
  bottom: 100px;
  right: 10px;
  z-index: 10;
  box-sizing: border-box;
}

/*.fab span,.fab *{
  vertical-align:middle;
}*/

.fab.child{
  right: (64px - 1 / 3 * 2 * 64px) / 2 + 1 / 4 * 3 * 64px;;
  width: 1 / 3 * 2 * 64px;
  height: 1 / 3 * 2 * 64px;
  display: none;
  opacity: 0;
  font-size: 2em;
}

/*.black() when (lightness(#03A9F4) > 50%){
  .fab{
    color: #000;
  }
}*/

/*.black();*/

.backdrop{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ECECEC;
  opacity: 0.3;
  display: none;
}
#masterfab img{
  margin: auto;
  display: block;
  height: auto;
}
#masterfab{
  padding: 10px; 
  max-width: 35px;
  box-sizing: border-box;
}
/*
  post page content image should not out of page on hover/zoom
*/
.details-content-story {
  overflow: hidden; 
}
.short_desc h2{
      margin: 10px 0px;
    font-size: 17px;
    line-height: 24px;
    font-weight: normal;
    font-style: italic;
    color: #676767;
}
.image_caption{
  width:100%;
  display:block;
  padding: 3px 10px;
  background: #eee;
  color:#747474;
  font-size: 13px;
}

/*.td-scroll-up {
    cursor: pointer;
    position: fixed;
    bottom: 169px;
    right: 55px;
    width: 35px;
    height: 35px;
    background-color: #434343;
    z-index: 9999;
    transform: translate3d(0, 70px, 0);
    -webkit-transform: translate3d(0, 70px, 0);
    -moz-transform: translate3d(0, 70px, 0);
    -ms-transform: translate3d(0, 70px, 0);
    -o-transform: translate3d(0, 70px, 0);
    -webkit-transition: transform 0.4s cubic-bezier(0.55, 0, 0.1, 1) 0s;
    -moz-transition: transform 0.4s cubic-bezier(0.55, 0, 0.1, 1) 0s;
    -o-transition: transform 0.4s cubic-bezier(0.55, 0, 0.1, 1) 0s;
    transition: transform 0.4s cubic-bezier(0.55, 0, 0.1, 1) 0s;
}
.td-scroll-up a{
  color: white;
  font-size: 25px;
  display: block;
  text-align: center;
}*/
.cd-top {
  cursor: pointer;
    position: fixed;
    bottom: 100px;
    right: 55px;
    width: 35px;
    height: 35px;
    background-color: #434343;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgba(232, 98, 86, 0.8) url(/images/cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
  z-index:9999;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}
.no-touch .cd-top:hover {
  background-color: #e86256;
  opacity: 1;
}
#mobile-menu span img{
  max-height: 40px;
}
.social-link {
  border:1px solid #e1e1e1;
  padding:10px 25px;
  margin-bottom:2px;
}
.social-link li {
  list-style:none;
  float:left;
  color: #333;
  font-size:13px;
  margin:0 0 0 15px;
}
.social-link li:first-child {  
  margin:0;
}
.social-link li a {
  color:#000;
  font-size:14px;
}

.blog-share-socials.mixed-social-wrapper {
  width:100%;
  position: relative;
}
.blog-share-socials.mixed-social-wrapper li.mixed-social-li.facebook-mixed {
  width:105px;
}
.blog-share-socials.mixed-social-wrapper li.mixed-social-li.twitter-mixed {
  width:60px;
}
.blog-share-socials.mixed-social-wrapper li.mixed-social-li.facebook-mixed .fb_iframe_widget{
  position: absolute;
  margin-top: -10px;
}
.blog-share-socials.mixed-social-wrapper li.mixed-social-li.facebook-mixed.closed .fb_iframe_widget{
  left: 40px;
}
.blog-share-socials.mixed-social-wrapper li.mixed-social-li.facebook-mixed.open .fb_iframe_widget{
  left: 0px;
}
.popup {
  position:fixed; z-index:2; top:60px; left:50%;
  width:460px; height:270px; background:#fff;
    -moz-box-shadow:4px 4px 30px #130507;
    -webkit-box-shadow:4px 4px 30px #130507;
  box-shadow:4px 4px 30px #130507;
    -moz-transition:top 800ms;
    -o-transition:top 800ms;
    -webkit-transition:top 800ms;
  transition:top 800ms;
}
  .p_content { width:100%; text-align:center; font-size:23px; padding:110px 0 0; }
  .p_anch {
    float:left; position:relative; z-index:1; width:100%;
    margin:80px 0 0 0; text-align:center; font-size:18px;
  }
  .p_anch a { color:#000; }
  .p_anch a:hover { text-decoration:none; }
  .p_anch_bottom { margin:1500px 0 0 0; padding:0 0 50px 0; }
  .p_close { position:absolute; top:0; right:0; width:30px; height:12px; padding:15px 11px 0 0; }
  .p_close span { display:block; width:23px; height:5px; background:#333; }
  .p_close span:first-child {
      -ms-transform:rotate(45deg);
      -webkit-transform:rotate(45deg);
    transform:rotate(45deg);
  }
  .p_close span:last-child {
    margin:-5px 0 0;
      -ms-transform:rotate(135deg);
      -webkit-transform:rotate(135deg);
    transform:rotate(135deg);
  }
  .p_body {
    position:fixed; top:0; left:0; width:100%; height:100%;
    background:#000; opacity:0.7;
      -moz-transition:opacity 800ms;
      -o-transition:opacity 800ms;
      -webkit-transition:opacity 800ms;
    transition:opacity 800ms;
  }
/****************** author layout***********************************/
.hocalwire-cp-authors-grid, .hocalwire-cp-authors-social {
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 0px;
}
.hocalwire-cp-author-box {
    display: block;
    background: #f8f5ff;
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid #eae7e7;
    padding: 10px;
    min-height: 270px;
}
.hocalwire-cp-category-box {
    display: block;
    background: #f8f5ff;
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid #eae7e7;
    padding: 10px;
}
.name_author{
  width: 100%;
  margin-top:10px;
}
.hocalwire-cp-thumb {
    width: 150px;
    height: 150px;
    margin: 0 auto; 
    border: 1px solid #eae7e7;
    overflow: hidden;
}
.hocalwire-cp-thumb-round {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto; 
    border: 1px solid #eae7e7;
    overflow: hidden;
}
.hocalwire-cp-author-box a{
  text-align: center;
}
.hocalwire-cp-thumb img {
    width: 100%;
    height: auto;
}
a img {
    max-width: 100%;
}
.hocalwire-row {
    margin-right: 15px;
    margin-left: 15px;
}
.hocalwire-cp-authors .hocalwire-row .row{
  display: flex;
}
.hocalwire-cp-authors .hocalwire-col-md-4{
  width:100% !important;
}
.pt10{
  padding-top: 10px;
}

.hocalwire-col-md-12 {
  width: 100%;
  float: left;
}
.hocalwire-col-md-4{
  width: 33%;
  float: left;
  margin-bottom: 10px;
}
.hocalwire-col-md-2{
  width: 16%;
  float: left;
  margin-bottom: 10px;
}
.hocalwire-col-md-6{
  width: 50%;
  padding-left: 15px;
  padding-right:15px;
  float: left;
}
.hocalwire-col-md-9{
  width: 75%;
  float: left;
}
.hocalwire-col-md-3 {
  width: 25%;
  float: left;
}
.hocalwire-cp-author-box h3 {
    font-size: 15px;
}
.author-content {
    background: #F7F8F9;
    text-align: center;
    color: #5690c2;
    border: 1px solid #dae2ea;
    padding-top: 10px;
}
.author-content-details {
    background: #FFF;
    text-align: center;
    margin-top: 5px;
    color: #5690c2;
    border: 1px solid #ccc;
    padding-bottom: 10px;
    padding-top: 10px;
}
.hocal-grid {
  padding: 5px;
  margin-bottom: 5px;
}
.hocalwire-cp-authors {
  background: #FFF;
  border: 1px solid #CCC;
  padding: 10px;
}
.hocalwire-cp-authors-social li{
  width: 30px;
  height: 30px;
  padding: 5px;
  margin: 5px;
  display: inline-block;
}
.hocalwire-cp-authors-social li.facebook {
    border: 0px solid #314b83;
    background-color: #4769A5;
}

.hocalwire-cp-authors-social li.twitter {
    border: 0px solid #0092ba;
    background-color: #65CCEF;
}

.hocalwire-cp-authors-social li.googleplus {
    border: 0px solid #ab2b1d;
    background-color: #bf3727;
}
.hocalwire-cp-authors-social li.gplus {
    border: 0px solid #ab2b1d;
    background-color: #bf3727;
}
.hocalwire-cp-authors-social li.linkedin {
    border: 0px solid #278cc0;
    background-color: #2ba3e1;
}
.clf:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clf { display: inline-block; }
/* start commented backslash hack \*/
* html .clf { height: 1%; }
.clf { display: block; }
/* close commented backslash hack */
/* JS-styles — declaratively */


.error.common-error {
  color:red;
}
@media screen and (max-width: 480px){
  .hocalwire-col-md-4{
  width: 100%;
}
.col_half{
  width:100% !important;
}
}
@media screen and (min-width: 481px) and (max-width: 768px) {

#pricePlans #plans .plan {
  width: 49%;
  margin: 0 2% 20px 0;
}

#pricePlans #plans > li:nth-child(2n) {
  margin-right: 0;
}
.hocalwire-col-md-4{
  width: 47%;
}
.bg_carousel > .col_half{
  width:100% !important;
}

}

@media screen and (min-width: 769px) and (max-width: 1024px) {

#pricePlans #plans .plan {
  width: 49%;
  margin: 0 2% 20px 0;
}
#top_one_big_other_four{
  display: flex;
  flex-flow: row wrap;
}
.hocalwire-col-md-4{
  width: 30%;
}

#pricePlans #plans > li:nth-child(2n) {
  margin-right: 0;
}

}

@media screen and (min-width: 1025px) {

#pricePlans {
  margin: 2em auto;
}
.hocalwire-col-md-4{
  width: 30%;
}
#pricePlans #plans .plan {
  width: 24%;
  margin: 0 1.33% 20px 0;

  -webkit-transition: all .25s;
     -moz-transition: all .25s;
      -ms-transition: all .25s;
       -o-transition: all .25s;
          transition: all .25s;
}

#pricePlans #plans > li:last-child {
  margin-right: 0;
}

#pricePlans #plans .plan:hover {
  -webkit-transform: scale(1.04);
     -moz-transform: scale(1.04);
      -ms-transform: scale(1.04);
       -o-transform: scale(1.04);
          transform: scale(1.04);
}

.planContainer .button a {
  -webkit-transition: all .25s;
     -moz-transition: all .25s;
      -ms-transition: all .25s;
       -o-transition: all .25s;
          transition: all .25s;
}

.planContainer .button a:hover {
  background: #3e4f6a;
  color: #fff;
}

.planContainer .button a.bestPlanButton:hover {
  background: #ff9c70;
  border: 2px solid #ff9c70;
}

}

.js__popup {z-index: 999;}
  .js__p_start {}
  .js__p_close {}
  .js__p_body {z-index: 998;}
  .js__slide_top { height:0; overflow:hidden; top:0; }
  .js__fadeout { height:0; overflow:hidden; opacity:0; }


.popup.js__popup {

}
@-webkit-keyframes placeHolderShimmer{
    0%{
        background-position:-468px 0
    }
    100%{
        background-position:468px 0
    }
}

@keyframes placeHolderShimmer{
    0%{
        background-position:-468px 0
    }
    100%{
        background-position:468px 0
    }
}

.mixin-loader-wrapper {
    background-color: #e9eaed;
    color: #141823;
    padding: 5px;
    border: 1px solid #ccc;
    margin: 0 auto 1em;
}

.mixin-loader-item {
    background: #fff;
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    border-radius: 3px;
    padding: 12px;

    margin: 0 auto;

}
.placeholder_top {
  background: #fff;
  padding:5px;
}
.mixin-placeholder-details-wrapper {
    /*position: absolute;*/
    z-index: 99;
    left: 30%;
    display: inline-block;
    top: 50px;
    color: #000;
    background: #0f0f0f;
    color: #fff;
    padding: 10px;
}
.placeholder_top .animated-background {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: placeHolderShimmer;
    animation-name: placeHolderShimmer;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: #eeeeee;
    background: -webkit-gradient(linear, left top, right top, color-stop(8%, #eeeeee), color-stop(18%, #dddddd), color-stop(33%, #eeeeee));
    background: -webkit-linear-gradient(left, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background: linear-gradient(to right,  #eeeeee 8%,#dddddd 18%,#eeeeee 33%);
    -webkit-background-size: 800px 104px;
    background-size: 800px 104px;
   
}
.img,.content {
  margin:auto;
}
.hocal_col {
  width:100%;
  padding-top:5px;
  padding-bottom:5px;
}
.padding_10 {
  padding:10%;
}
.padding_20 {
  padding:20%;
}
.placeholder_top .img.small {
    height:60px;
    max-width:80px;
}
.placeholder_top .img.medium {
    height:150px;
    max-width:250px;
    
}
.placeholder_top .img.big {
    height:300px;
    max-width:500px;

}
.placeholder_top .img.supper-big {
    height:450px;
    max-width:750px;
}
.content {
  margin-bottom: 10px;
}

.placeholder_top .content.small {
  height: 10px;
  padding-left:5px;
  padding-right:5px;
}
.placeholder_top .content.medium {
  height: 20px;
  padding-left:10px;
  padding-right:10px;
  
}
.placeholder_top .content.large {
  height: 30px;
  padding-left:15px;
  padding-right:15px;
  
}
.hocal_col_12 {
  width:100%;
}
.hocal_col_9 {
  width:75%;
}
.hocal_col_8 {
  width:60%;
}
.hocal_col_6 {
  width:50%;
}

.hocal_col_4 {
  width:33%;
}
.hocal_col_3 {
  width:25%;
}
.hocal_row {
  display: block;
}
.hocal_col {
  display: block;
  float: left;
  position: relative;
}
.author-content h4{
  padding-top:10px;
}
.author_desc h4 a{
  font-size:15px;
}
.placeholder_top .play {
  display:block;
  width: 0; 
  height: 0; 
  border-top: $size solid transparent;
  border-bottom: $size solid transparent;
  border-left: ($size*$ratio) solid $foreground;
  margin: ($size * 2) auto $size auto;
  position:relative;
  z-index:1;
  transition: all $transition-time;
  -webkit-transition: all $transition-time;
  -moz-transition: all $transition-time;
  left:($size*0.2);
}
.placeholder_top .play:before {
    content: '';
    position: absolute;
    top: -75px;
    left: -115px;
    bottom: -75px;
    right: -35px;
    border-radius: 50%;
    z-index: 2;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
}
.placeholder_top  .play:after {
    content: '';
    opacity: 0;
    transition: opacity 0.6s;
    -webkit-transition: opacity 0.6s;
    -moz-transition: opacity 0.6s;
}

.padding_2 {
  padding:2px;
}
.col6{
  width:49%;
  
}
.pad_right5{
  padding-right: 5px;
}
.col12{
  width: 100%;
}
.fleft{
  float:left;
}
@media only screen and (min-width: 800px){
  .desktop-inside-content{
    display: flex !important;
  }
}
@media only screen and (max-width: 799px){
  .mobile-inside-content{
    display: flex !important;
  }
}
.news_category_description {
    position: absolute;
    bottom: 0;
    z-index: 13;
    font-family: 'Open Sans',arial,sans-serif;
    font-size: 21px;
    font-weight: 600;
    line-height: 1;
    color: #fff;
    background: rgba(38, 38, 39, 0.57);
    margin-right: 0px;
    padding: 3px 6px 4px;
    display: block;
    transition: background-color .3s ease;
    vertical-align: top;
}
.hocal_small_image_wrapper img{
  height: auto;
  width: 100%;

}
.hocal_small_image_wrapper{
  height: 176px;
  background: #000 !important;
  overflow: hidden !important;
  margin-bottom: 5px !important;
  position: relative !important;
}
.small_img_desc{
  color:#fff !important;
  font-size:18px;
  line-height: 1.3em;
}
.hocal_big_image_wrapper {
    max-height: 360px !important;
    overflow: hidden;
    position: relative;
}
.hocal_big_image_wrapper img{
  height: auto;
  width: 100%;
}
.news_category_description a.header-link.main_header{
    color:#fff;
    font-size: 25px;
    line-height: 1.3em;
}
.news_category_date {
    position: absolute;
    top: 5px;
    font-family: 'Open Sans',arial,sans-serif;
    font-size: 11px;
    font-weight: 600;
    line-height: 1;
    background-color: #222;
    color: #fff;
    z-index: 12;
    margin-right: 5px;
    padding: 3px 6px 4px;
    display: block;
    vertical-align: top;
}
.flex{
  display: flex;
  flex-wrap: wrap;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
.video-element.note-video-clip {
  width:100%;
}

#floating-location-container #floating-button{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: #ff0000;
    position: fixed;
    bottom: 50%;
    right: 5px;
    cursor: pointer;
    box-shadow: 0px 2px 5px #666;
    z-index: 9999;
}

#floating-location-container .location{
    color: white;
    position: absolute;
    display: block;
    bottom: 0;
    right: 0;
    text-align: center;
    padding: 0;
    margin: 0;
    line-height: 55px;
    font-size: 38px;
    font-family: 'Roboto';
    font-weight: 300;
    animation: plus-out 0.3s;
    transition: all 0.3s;
    left: 12px;
    top: 13px;
    width: 30px;
    z-index: 9999;
}
#floating-logged-in-menu-container .float-nav {
    
    position: fixed;
    top: 50px;
    right: 5px;
    cursor: pointer;
    box-shadow: 0px 2px 5px #666;
    z-index: 999999;

}
#floating-logged-in-menu-container .float-nav > a.menu-btn {
  text-decoration: none;
  display: block;
  background-color: #cc3333;
  color: white;
  padding: 5px 15px 9px 12px;
  text-align: center;
  box-shadow: 2px 2px 8px #777;
  border-radius: 50%;
  box-sizing: content-box;
}
#floating-logged-in-menu-container .float-nav > a.menu-btn.active {
  transition: background-color 250ms linear;
  background-color: transparent;
  box-shadow: none;
}
#floating-logged-in-menu-container .float-nav > a.menu-btn.active > ul > li.line:nth-child(1) {
  border-width: 2px;
  -moz-transform: rotate(45deg) translate(4px, 6px);
  -ms-transform: rotate(45deg) translate(4px, 6px);
  -webkit-transform: rotate(45deg) translate(4px, 6px);
  transform: rotate(45deg) translate(4px, 6px);
}
#floating-logged-in-menu-container .float-nav > a.menu-btn.active > ul > li.line:nth-child(2) {
  visibility: hidden;
}
#floating-logged-in-menu-container .float-nav > a.menu-btn.active > ul > li.line:nth-child(3) {
  border-width: 2px;
  -moz-transform: rotate(-45deg) translate(8px, -10px);
  -ms-transform: rotate(-45deg) translate(8px, -10px);
  -webkit-transform: rotate(-45deg) translate(8px, -10px);
  transform: rotate(-45deg) translate(8px, -10px);
}
#floating-logged-in-menu-container .float-nav > a.menu-btn > ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#floating-logged-in-menu-container .float-nav > a.menu-btn > ul > li.line {
  border: 1px solid white;
  width: 100%;
  margin-bottom: 7px;
  -moz-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
}
#floating-logged-in-menu-container .float-nav > a.menu-btn > .menu-txt {
  width: 100%;
  text-align: center;
  font-size: 12px;
  font-family: sans-serif;
}

#floating-logged-in-menu-container .main-nav {
  display: none;
  opacity: 0;
  font-family: sans-serif;
  position: absolute;
  top: 60px;
  right: 20px;
  transition: opacity 250ms;
}
#floating-logged-in-menu-container .main-nav.active {
  display: block;
  opacity: 1;
  transition: opacity 250ms;
  z-index: 99999;
  position: fixed;
}
#floating-logged-in-menu-container .main-nav  ul {
  width: 100%;
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #cc3333;
  box-shadow: 2px 2px 8px #777;
  border-radius: 3px 3px 33.5px 3px;
}
#floating-logged-in-menu-container .main-nav  ul > li > a {
  text-decoration: none;
  display: block;
  font-weight: 200;
  padding: 10px 60px 5px 15px;
  color: white;
}
#floating-logged-in-menu-container .main-nav  ul > li > a:hover {
  font-weight: 400;
}

#floating-logged-in-menu-container #wrapper_button{
    width: 17px;
    height: 30px;
    background: #cc3333;
    position: fixed;
    top: 50px;
    right: 5px;
    cursor: pointer;
    box-shadow: 0px 2px 5px #666;
    z-index: 9999;
}
#floating-logged-in-menu-container .sticky-profile-menu{
    position: fixed;
    top: 120px;
    right: 5px;
    cursor: pointer;
    background: #fff;
    border-radius: 2px;
    padding: 2px;
    z-index: 99999;
}

#floating-logged-in-menu-container .avatar-img{
    color: white;
    position: absolute;
    display: block;
    bottom: 0;
    right: 0;
    text-align: center;
    padding: 0;
    margin: 0;
    line-height: 55px;
    font-size: 38px;
    font-family: 'Roboto';
    font-weight: 300;
    animation: plus-out 0.3s;
    transition: all 0.3s;
    left: 7px;
    top: 8px;
    width: 30px;
    z-index: 9999;
}
#floating-logged-in-menu-container .sticky-profile-menu li {
    font-size: 16px;
    padding: 2px;
    width: 100%;
}
#floating-logged-in-menu-container .sticky-profile-menu li img {
  max-width: 50px;
}
#floating-logged-in-menu-container .fab-menu.child {
  display: none;
}

#floating-logged-in-menu-container .menu-btn.mobile-container ul{
  display: none;
}
#floating-logged-in-menu-container .menu-btn.mobile-container ul li {
  width:30px;
}
#floating-logged-in-menu-container .menu-btn.mobile-container.logged-in-user img.logged-in {
  display: block;
}
#floating-logged-in-menu-container .menu-btn.mobile-container.logged-in-user img.non-logged-in {
  display: none;
}
#floating-logged-in-menu-container .menu-btn.mobile-container.non-logged-in-user img.logged-in {
  display: none;
}
#floating-logged-in-menu-container .menu-btn.mobile-container.non-logged-in-user img.non-logged-in {
  display: block;
}
#floating-logged-in-menu-container .menu-btn.mobile-container.non-logged-in-user.active img.non-logged-in,#floating-logged-in-menu-container .menu-btn.mobile-container.logged-in-user.active img.logged-in {
  display: none;
}

#floating-logged-in-menu-container .menu-btn.mobile-container.active ul{
  display: block;
  margin-top: 8px;
  width: 22px;
} 
#floating-logged-in-menu-container .menu-btn.mobile-container.active img {
  display: none;
}

#floating-logged-in-menu-container .avatar-img.non-logged-in {
  left: 11px;
  top: 3px;
}
#floating-logged-in-menu-container .js-logout-button,#floating-logged-in-menu-container .js-login-button {
  padding-top: 20px;
} 
.mtop10{
  margin-top: 8px;
}
.small-child{
  width:16.5% !important;
}
.small-child .image_wrapper{
    overflow: hidden;
    max-height:98px;
}
.small-child .image_wrapper img{
  width:100% !important;
  height:98px !important;
}
.col_half{
  width:50%;
}
.margin_left10{
  margin-left: 2%;
}
.col48{
  width:48%;
}
.bg_carousel{
  background: #fff;
  padding: 5px;
}
.margin_bottom15{
  margin-bottom: 15px;
}
#floating-extra-container{
    background: transparent;
    position: fixed;
    z-index: 99;
    bottom: 135px;
    right: 0px;
    cursor: pointer;

}


@media screen and (max-width: 768px) {
  .hocal_col_9, .hocal_col_8,.hocal_col_6,.hocal_col_4{
    width: 100%;
  }
  .col6{
  width:100%;
  
}
.hocal_small_image_wrapper{
  max-height: auto !important;
  height: auto !important;
  }
  .hocal_col_3 {
    width:50%;
  }
  /*.big_image_wrapper img{
    height: auto !important;
    width: 100%;*/
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .hocal_col_9, .hocal_col_8 {
    width:50%;
  }
  /*.hocal_col_6,.hocal_col_4{
    width: 100%;
  }*/
  .hocal_small_image_wrapper{
  max-height: auto !important;
  height: auto !important;
  }
  .hocal_col_3 {
    width:50%;
  }


}

@media screen and (min-width: 1025px) {

}


/* css for registration and other user - generic forms*/

.regenrate-validate p {
  margin-bottom: 10px;
  padding:2px;
}

.common-user-pages .form{
  background:#f7f7f7; width:470px; margin:0 auto; padding-left:50px; padding-top:25px;border: 1px solid #e2e2e2;;
}
.common-user-pages .form fieldset{border:0px; padding:0px; margin:0px;}
.common-user-pages .form p.contact { font-size: 12px; margin:0px 0px 5px 0;line-height: 14px;}

.common-user-pages .form input[type="text"] { width: 400px; }
.common-user-pages .form input[type="email"] { width: 400px; }
.common-user-pages .form input[type="password"] { width: 400px; }
.common-user-pages .form input.birthday{width:60px;}
.common-user-pages .form input.birthyear{width:120px;}
.common-user-pages .form label { color: #000; font-weight:bold;font-size: 12px;font-family:Arial, Helvetica; }
.common-user-pages .form label.month {width: 135px;}
.common-user-pages .form input, textarea { 
    background-color: #FFF;
    border: 1px solid #CCC;
    padding: 10px 7px; 
    color: #444444;
    font-size: 15px;
    margin-bottom: 15px;
    border-radius: 3px;
}
.common-user-pages .form input:focus, textarea:focus { border: 1px solid #ff5400; background-color: rgba(255, 255, 255, 1); }
.common-user-pages .form .select-style {
  -webkit-appearance: button;
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-padding-end: 20px;
  -webkit-padding-start: 2px;
  -webkit-user-select: none;
  background-image: url(images/select-arrow.png), 
    -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
  background-position: center right;
  background-repeat: no-repeat;
  border: 0px solid #FFF;
  color: #555;
  font-size: inherit;
  margin: 0;
  overflow: hidden;
  padding-top: 5px;
  padding-bottom: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;}
.common-user-pages .form .gender {
  width:410px;
  }
.common-user-pages .form .buttom{ 
    background: #1c9ab7;
    display: inline-block;
    padding: 10px 20px;
    color: #fbf7f7;
    text-decoration: none;
    font-weight: bold;
    line-height: 1;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 3px;
    -moz-box-shadow: 0 1px 3px #999;
    -webkit-box-shadow: 0 1px 3px #999;
    /* box-shadow: 0 1px 3px #999; */
    /* text-shadow: 0 -1px 1px #222; */
    border: none;
    position: relative;
    cursor: pointer;
    font-size: 17px;
    /* font-family: Verdana, Geneva, sans-serif; */
    margin: 10px;
}
.common-user-pages .form .buttom_wrapper {
      text-align: right;
}
.common-user-pages .form .buttom:hover  { background-color: #2a78f6; }
.common-user-pages .generate_otp_btn {
    float: right;
    margin-right: 10px;
}
.common-user-pages .regenrate-message {
    width: 100%;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 19px;
    color: #000;
}
.pagi_wrap {
    width: 100%;
    position: relative;
    
}
.pagi_wrap ul {
    margin: auto;
    display: block;
    text-align: center;
    width: 100%;
    position: relative;
}
.pagi_wrap ul li {
    display: inline-block;
    margin: 0px 15px;
    text-align: center;
    position: relative;
}
.pagi_wrap ul li.active a {
    cursor: default;
}
.pagi_wrap ul li span {
    color: #333;
    vertical-align: middle;
    display: inline-block;
    font-size: 20px;
    line-height: 45px;
    width: 45px;
    height: 45px;
    background: #dfebf9;
    text-align: center;
    border-radius: 50%;
}
.pagi_wrap ul li.active span {
    background: #ccc;
}

.share-text p:first-child {
    font-size: 1.3125em;
    font-weight: 700;
    letter-spacing: 1px;
}
.share-text p {
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.5px;
    color: #777777;
    text-align: center;
    text-transform: uppercase;
    line-height: 20px;
}
.share-icons-left-sticky {
    width: 100%;
}
.share-icons-left-sticky .share-buttons {
    width: 80%;
    margin: 0 auto;
}
.share-icons-left-sticky .share-buttons li {
    width: 35px;
    height: 35px;
    margin: 0 3px 8px;
    float: left;
}
.share-buttons li {
    display: block;
    width: auto;
    float: none;
    margin-right: 3px;
    height: auto;
}
.share-btn img{
    max-width: 100% !important;
    padding: 2px;
}
.share-buttons li {
    text-align: center;
    margin-bottom: 0;
    position: relative;
    display: inline-block;
    width: 20%;
    float: left;
    height: 2.5em;
}
.share-buttons li.facebook{
    background: #4769a5;
    padding: 5px;
    border-radius: 50%;
}
.share-buttons li.twitter{
  background: #65ccef;
    padding: 5px;
    border-radius: 50%;
}
.share-buttons li.googleplus{
  background: #bf3727;
    padding: 5px;
    border-radius: 50%;
}
.share-buttons li.linkedin{
  background: #2ba3e1;
    padding: 5px;
    border-radius: 50%;
}
.share-buttons li.tumblr{
  background: #34495e;
    padding: 5px;
    border-radius: 50%;
}
.share-buttons li.pinterest{
  background: #cd252b;
    padding: 5px;
    border-radius: 50%;
}
.share-buttons li.whatsapp{
  background: #34af23;
    padding: 5px;
    border-radius: 50%;
}
.share-buttons li.email{
  background: #4b3b3b;
    padding: 5px;
    border-radius: 50%;
}
.share-buttons li.print{
  background: #4b3b3b;
    padding: 5px;
    border-radius: 50%;
}
.fb-widget-cont {
    margin: 10px auto;
    text-align: center;
    position: relative;
}
/*.SC_TBlock {
  overflow: hidden;
}*/
.page_heading {
  text-align: center;
  font-size: 25px;
  border-bottom: 1px dotted #CCC;
  padding: 5px 30px;
}
.common-message {
    text-align: center;
    font-size: 20px;
    background: #F7F7F7;
}
.center {
  text-align: center;
}
@media screen and (max-width: 480px){
  .hocal_small_image_wrapper{
  height: auto !important;
  overflow: hidden !important;
  margin-bottom: 5px !important;
  position: relative !important;

}

.hocal_big_image_wrapper {
    max-height: auto !important;
    overflow: hidden;
    position: relative;
}
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .hocal_small_image_wrapper{
  height: auto !important;
  overflow: hidden !important;
  margin-bottom: 5px !important;
  position: relative !important;
}

.hocal_big_image_wrapper {
    max-height: auto !important;
    overflow: hidden;
    position: relative;
}
  #pricePlans #plans .plan {
    width: 49%;
    margin: 0 2% 20px 0;
  }

  #pricePlans #plans > li:nth-child(2n) {
    margin-right: 0;
  }

}

@media screen and (min-width: 769px) and (max-width: 1024px) {

  #pricePlans #plans .plan {
    width: 49%;
    margin: 0 2% 20px 0;
  }

  #pricePlans #plans > li:nth-child(2n) {
    margin-right: 0;
  }

}

@media screen and (min-width: 1025px) {

    #pricePlans {
      margin: 2em auto;
    }

    #pricePlans #plans .plan {
      width: 24%;
      margin: 0 1.33% 20px 0;


      -webkit-transition: all .25s;
         -moz-transition: all .25s;
          -ms-transition: all .25s;
           -o-transition: all .25s;
              transition: all .25s;
    }

    #pricePlans #plans > li:last-child {
      margin-right: 0;
    }

    #pricePlans #plans .plan:hover {
      -webkit-transform: scale(1.04);
         -moz-transform: scale(1.04);
          -ms-transform: scale(1.04);
           -o-transform: scale(1.04);
              transform: scale(1.04);
    }

    .planContainer .button a {
      -webkit-transition: all .25s;
         -moz-transition: all .25s;
          -ms-transition: all .25s;
           -o-transition: all .25s;
              transition: all .25s;
    }

    .planContainer .button a:hover {
      background: #3e4f6a;
      color: #fff;
    }

    .planContainer .button a.bestPlanButton:hover {
      background: #ff9c70;
      border: 2px solid #ff9c70;
    }

}

@media screen and (max-width: 767px) { 
    
    .common-user-pages .form {
      width:330px;
    }
    .common-user-pages .form input[type="text"] { width: 260px; }
    .common-user-pages .form input[type="email"] { width: 260px; }
    .common-user-pages .form input[type="password"] { width: 260px; }
   
}
.plan_heading {
    font-size: 24px;
    color: #3498db;
    padding: 15px 10px !important;
}
#pricing-table .table .pricing-header {
    position: relative;
    padding: 10px 0;
    background: #FAFAFA none repeat scroll 0 0;
    text-align: center;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    margin-bottom: 20px;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}
#pricing-table .table .description {
    text-align: center;
    padding: 0 15px;
    margin-bottom: 10px;
    text-align: center;
}
#pricing-table .table .description li {
    font-size: 14px;
    color: #888;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
#pricing-table .table .description i {
    color: #3498db;
    margin-right: 5px;
}
.common-button,.btn-common {
  padding: 12px 22px;
  background: #48acef;
  border-radius: 3px;
  color: #FFF;
}

.inside-post-ad-before,.inside-post-ad-after {
  font-size: 18px !important;
  font-weight: bold !important;
  padding: 10px 0px !important;
}

.inside-post-ad-before a,.inside-post-ad-after a {
  color: #af1300 !important;
  text-decoration: underline !important;
}

.details-content-story {

z-index:99; 

}

.details-content-story img.float-left,.details-content-story .inside_editor_caption.float-left  {

padding-right:10px;


padding-bottom:10px;

float:left;

left:0px;

}

.details-content-story img.float-right,.details-content-story .inside_editor_caption.float-right {

padding-left:10px;


padding-bottom:10px;

float:right;

right:0px;

}
.details-content-story .image_caption  {
  background: transparent;
}
.details-content-story p,.details-content-story div {
    margin-bottom: 15px !important;
    line-height: 1.4;
    margin: 0px auto;
}
.details-content-story .inside_editor_caption {
  display:none;
}
.details-content-story .inside_editor_caption.edited-info{
  display:block;
}
.details-content-story img {
  max-width:100%;
}
.details-content-story  .inside_editor_caption.float-left {
  margin-top: 10px;
}
.details-content-story .inside_editor_caption.float-right {
  margin-top: 10px;
}

.details-content-story img.float-none {

padding: 10px;

margin:auto;

float:none;

}



.details-content-story .inside_editor_caption {
  font-size: 16px;

  padding:2px;

  text-align: center;

    /*position: absolute;*/

    bottom: -20px;

    width:100%;

    
}







.details-content-story .inside_editor_caption.float-none {


}

.details-content-story .image-and-caption-wrapper {

position:relative;

margin-bottom: 20px;
max-width: 100%;

}



.details-content-story .image-and-caption-wrapper.float-left {

float:left;
padding-right:10px;
padding-bottom:10px;

}

.details-content-story .image-and-caption-wrapper.float-right {

float:right;

padding-left:10px;
padding-bottom:10px;

}

.details-content-story .image-and-caption-wrapper.float-none {

float:none;

}

.details-content-story .hide-on-web {
  display: none !important;
}

.details-content-story .template-wrapper {
  /*border: 1px solid #ccc;*/
    padding: 2px;
    width:100%;
}

.details-content-story .template-wrapper .delete-lists-wrapper button{
  display: none;
}

.details-content-story .template-wrapper .action-btn-wrapper {
  display: none;
}





.details-content-story .list-item-heading {
  font-size:18px;
  margin-bottom:20px;
}
.details-content-story li.list-item {
  margin-bottom:20px;
}

.details-content-story .action-btn-wrapper span {
  padding:5px;
  margin:2px;
  background:#ccc;
}

.details-content-story .template-wrapper {
  padding: 2px;
    width:100%;
}
.details-content-story .template-wrapper .delete-lists-wrapper {
  float: right;
    margin-top: 10px;
}
.details-content-story .template-wrapper .delete-lists-wrapper button{
  padding:10px;
  margin-right:10px;
  margin-top:-5px;  
}
.details-content-story .template-wrapper li.list-item {
  width:100%;
  
}
.details-content-story .template-wrapper .action-btn-wrapper {
  float: left;
    margin-right: 20px;
}

.details-content-story .list-items-wrapper li {
  border: none !important;
}
.details-content-story .list-items-wrapper.unordered-list ul  {
   list-style-type: square; !important;
}
.details-content-story .list-items-wrapper.ordered-list ol {
   list-style-type: decimal !important;
}


.modal_wrapper_frame {
  position: fixed;
    width: 100%;
    top: 0px;
    height: 100%;
    background: rgba(0,0,0, 0.7);
    opacity: 1;
    z-index: 9999999;
}
.modal_wrapper_frame #modal-content {
    position: absolute;
    left: 20%;
    top: 20%;
    right: 20%;
    bottom: 20%;
    border: 1px solid #ccc;
    background: #fff;
} 
.modal_wrapper_frame .cross-btn {
  right: 10px;
    top: 10px;
    position: absolute;
    font-size: 20px;
    cursor: pointer;
    /*background: #fff;*/
    padding: 5px;
}
.modal_wrapper_frame iframe {
  width:100%;
  height:100%;
}
li.sshare {
    height: 30px !important;
    width: 120px !important;
    background: #059c08 !important;
    cursor: pointer;
}
.sshare a{
  width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}
.left-sshare-img-wrapper{
      width: 30px;
    height: 30px;
    background: #eec107;
    border-radius: 15px;
    float: left;
    overflow:hidden;
}
.left-sshare-img-wrapper img{
    margin-top: 2px;
}
.right-sshare span{
  text-transform: initial;
  color: #fff;
}

.hocal_share_button {
    text-align: center;
    width: 100%;
    display: inline-block;

}
.hocal_share_button a {
      margin-top: -10px;
}
.hocal_share_button img{
     max-height: 26px;
}
.details-content-story .image-and-caption-wrapper.float-none {
      left: 0px !important;
      margin: 0 auto;

}
@media screen and (max-width: 767px) { 
    
    .modal_wrapper_frame #modal-content {
        left: 2%;
        top: 2%;
        right: 2%;
        bottom: 2%;
    } 
}
.subscribe-block #subscribe_to_mail_btn_wrap {
  width:100%;
  background: #2b2222;
  padding: 5px;
  display: block;
  text-align: center;
}
.subscribe-block #subscribe_to_mail_btn {
    
    color: #fff;
    padding: 5px;
    padding-left:10px;
    padding-right:10px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}
#subscribe-error {
    background: #f8f5f5;
    padding: 2px;
    text-align: center;
}

.inside-post-ad,.left_level_ad,.mid_level_ad,.right_level_ad{
    margin: 0 auto;
    text-align: center;
    margin-top: 10px;
}

.hide-category-submenu ul{
  display: none !important;
}
#hocal-feat-top-wrap {
    margin-top: 10px;
    margin-bottom: 15px;
}
#hocal-feat-top-wrap {
    overflow: hidden;
    width: 100%;
}
.hocal-left {
    float: left;
}
.hocal-relative {
    position: relative;
}
.hocal-feat-top2-left-wrap {
    width: 49.9457700651%;
    height: auto;
}
.hocal-big-img {
    max-height: 325px;
}
.hocal-feat-top2-left {
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.hocal-feat-top2-left-img, .hocal-feat-top2-right-img, .hocal-feat-wide1-img, .hocal-feat-wide5-img {
    background: #000;
    line-height: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.hocal-feat-top2-left-text {
    padding: 30px 2.90697674419% 15px;
    width: 94.19%;
}
.hocal-feat-top2-left-text {
    background: rgba(0, 0, 0, 0.64);
    padding: 5px 2.17155266015% 5px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 95.7%;
}
.hocal-feat-top2-right-text{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
.hocal-feat-top2-left-img img, .hocal-feat-top2-right-img img, .hocal-feat-wide1-img img, .hocal-feat-wide5-img img {
    margin: 0 auto;
    opacity: .9;
    position: initial;
    width: 100%;
    height: auto;
}
.hocal-feat-top2-left-text h2.hocal-stand-title, .hocal-feat-wide1-text h2.hocal-stand-title {
    font-size: 2rem;
    line-height: 120%;
    text-transform: none;
    color:#fff;
}

span.hocal-side-list-cat {
    color: #999;
    float: left;
    font-family: Montserrat,sans-serif;
    font-size: .8rem;
    font-weight: 400;
    line-height: 100%;
    margin-bottom: 6px;
    margin-top: 6px;
    text-transform: uppercase;
    width: 100%;
}
.hocal-feat-top2-right-wrap {
    overflow: hidden;
    width: 50.0542299349%;
    height: auto;
}
.hocal-small-img {
    max-height: 162px;
}
.hocal-feat-top2-right {
    margin: 0 0 1px .216684723727%;
    overflow: hidden;
    width: 49.7833152763%;
    height: auto;
}

.hocal-feat-top2-right-text h2 {
    color: #fff;
    float: left;
    font-size: 1rem;
    font-weight: 400;
    line-height: 130%;
    -webkit-text-shadow: 1px 1px 1px rgba(0,0,0,.3);
    -moz-text-shadow: 1px 1px 1px rgba(0,0,0,.3);
    -ms-text-shadow: 1px 1px 1px rgba(0,0,0,.3);
    -o-text-shadow: 1px 1px 1px rgba(0,0,0,.3);
    text-shadow: 1px 1px 1px rgba(0,0,0,.3);
    width: 100%;
}
.hocal-feat-top2-right-text {
      background: rgba(0, 0, 0, 0.64);
  }

.hocal_button {
    color: #fff;
    background: #266582;
    padding: 6px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 11px;
    border-radius: 3px;
}
@media screen and (max-width: 1399px) and (min-width: 1250px){
  .hocal-feat-top2-right-text {
      padding: 5px 5.83657587549% 5px;
      width: 88.33%;
  }
}
@media screen and (max-width: 1003px) and (min-width: 900px){
  .hocal-feat-top2-left-wrap {
      margin-bottom: 1px;
  }
  .hocal-feat-top2-left-wrap, .hocal-feat-top2-right-wrap {
      width: 100%;
  }
  #feat-top-wrap .hocal-feat-top2-right, #feat-top-wrap .hocal-feat-top2-right:first-child, #feat-wide-wrap .hocal-feat-top2-right, #feat-wide-wrap .hocal-feat-top2-right:first-child, .hocal-feat-top2-right, .hocal-feat-top2-right:first-child {
      height: auto;
  }
  .hocal-feat-top2-right:first-child {
      margin-left: 0;
  }
  .hocal-feat-top2-right {
      margin-left: 0;
      width: 25%;
  }
  .hocal-feat-top2-right-text {
      padding: 30px 5.22648083624% 15px;
      width: 89.55%;
  }
  .hocal-feat-top2-right-text h2, .hocal-feat-top2-right:first-child .hocal-feat-top2-right-text h2 {
      font-size: 1rem;
  }

}

@media screen and (max-width: 899px) and (min-width: 768px){
  #feat-wide-wrap .hocal-feat-top2-right-wrap, .hocal-feat-top2-right-wrap {
      height: auto;
  }
  .hocal-feat-top2-left-wrap, .hocal-feat-top2-right-wrap {
      width: 100%;
  }
  #feat-wide-wrap .hocal-feat-top2-right, #feat-wide-wrap .hocal-feat-top2-right:first-child, .hocal-feat-top2-right, .hocal-feat-top2-right:first-child {
      height: auto;
  }
  .hocal-feat-top2-right {
      margin-left: 0;
      width: 50%;
  }
  .hocal-small-img {
      max-height: 240px;
  }
  .hocal-feat-top2-left-img img, .hocal-feat-top2-right-img img, .hocal-feat-wide1-img img {
      position: relative;
      left: auto;
      right: auto;
  }
  .hocal-feat-top2-right-text {
      padding: 30px 6.19834710744% 15px;
      width: 87.61%;
  }
  .hocal-feat-top2-right-text h2, .hocal-feat-top2-right:first-child .hocal-feat-top2-right-text h2 {
      font-size: 1.2rem;
  }
  .hocal-slide-this .lSSlideOuter{
    width: 100%;
  }
  .hocal-feat-top2-left-wrap{
    width:100%;
  }
  .hocal-feat-top2-right-wrap{
    width:100%;
  }
  .hocal-feat-top2-left-text h2.hocal-stand-title, .hocal-feat-wide1-text h2.hocal-stand-title{
    font-size: 1rem;
  }
}
@media screen and (max-width: 767px) and (min-width: 100px){
  .hocal-slide-this .lSSlideOuter{
    width: 100%;
  }
  .hocal-feat-top2-left-wrap{
    width:100%;
  }
  .hocal-feat-top2-right-wrap{
    width:100%;
  }
  .hocal-small-img{
    max-height: 320px;
  }
  .hocal-feat-top2-left-text h2.hocal-stand-title, .hocal-feat-wide1-text h2.hocal-stand-title{
    font-size: 1rem;
  }
}

.coupon-row {
  background: #fff;
  border: 1px solid #ccc;
  padding:2px;
  display: inline-block;
  width: 100%;
}
#subscribe_to_mail p{
  padding-top: 5px;
  padding-bottom: 5px;
}
#subscribe_to_mail p input{
  width:100%;
}
.js-share-article-by-email img, .social_icon_image{
    margin:0px !important;
}
.hocal_cp_about_author {
    background: #e8e8e8;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 15px;
}
.hocal_cp-author-thumb {
    width: 25%;
    float: left;
}
.hocal_cp-author-details {
    width: 75%;
    float: left;
}
.hocal_cp_about_author .hocal_cp-author-thumb.hocal_about_author img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 3px solid #ccc;
}
.hocal_border_bot{
  margin-bottom: 5px;
    border-bottom: 2px solid #ccc;
}
.hocal_cp-author-details h3{
  display: inline-block;
    padding-top: 20px;
    width: 100%;
    padding-left: 10px;
}
.hocal_author_wrapper{
  width:50%;
  margin: 0 auto;
}
.hocalwire-cp-authors-social {
    position: relative;
    display: inline;
}


.animate-hide {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.33s, opacity 0.33s linear;
}
.animate-show {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}