/*
 * imgAreaSelect default style
 */

.imgareaselect-/images/border1 {
	background: url(/images/border-v.gif) repeat-y left top;
}

.imgareaselect-/images/border2 {
    background: url(/images/border-h.gif) repeat-x left top;
}

.imgareaselect-/images/border3 {
    background: url(/images/border-v.gif) repeat-y right top;
}

.imgareaselect-/images/border4 {
    background: url(/images/border-h.gif) repeat-x left bottom;
}

.imgareaselect-/images/border1, .imgareaselect-/images/border2,
.imgareaselect-/images/border3, .imgareaselect-/images/border4 {
    filter: alpha(opacity=50);
	opacity: 0.5;
}

.imgareaselect-handle {
    background-color: #fff;
    /images/border: solid 1px #000;
    filter: alpha(opacity=50);
    opacity: 0.5;
}

.imgareaselect-outer {
    background-color: #000;
    filter: alpha(opacity=50);
    opacity: 0.5;
}

.imgareaselect-selection {  
}

