.accordion-2-content(style='display: block;')
    ul.widget-archives
        li
            a(href='images/pdf/draft-nos/1.pdf', target='_blank')
                i.fa.fa-angle-right
                |  MES Q 1901 - Editor in Chief
        li
            a(href='images/pdf/draft-nos/2.pdf', target='_blank')
                i.fa.fa-angle-right
                |  MES Q 1902 - Desk Editor
        li
            a(href='images/pdf/draft-nos/3.pdf', target='_blank')
                i.fa.fa-angle-right
                |  MES Q 1903 - Correspondent
        li
            a(href='images/pdf/draft-nos/4.pdf', target='_blank')
                i.fa.fa-angle-right
                |  MES Q 1904 - Correspondent - TV and Radio
        li
            a(href='images/pdf/draft-nos/5.pdf', target='_blank')
                i.fa.fa-angle-right
                |  MES Q 1905 - Senior Correspondent
        li
            a(href='images/pdf/draft-nos/6.pdf', target='_blank')
                i.fa.fa-angle-right
                |  MES Q 1906 - Assignment Editor
        li
            a(href='images/pdf/draft-nos/7.pdf', target='_blank')
                i.fa.fa-angle-right
                |  MES Q 0601 - Director of Photography
        li
            a(href='images/pdf/draft-nos/8.pdf', target='_blank')
                i.fa.fa-angle-right
                |  MES Q 0602 - Camera Operator
        li
            a(href='images/pdf/draft-nos/9.pdf', target='_blank')
                i.fa.fa-angle-right
                |  MES Q 0603 - Assistant Cameraman
        li
            a(href='images/pdf/draft-nos/10.pdf', target='_blank')
                i.fa.fa-angle-right
                | MES Q 0801 - Broadcast Operations Director
        li
            a(href='images/pdf/draft-nos/11.pdf', target='_blank')
                i.fa.fa-angle-right
                |  MES Q 0802 - Broadcast Operations Manager
        li
            a(href='images/pdf/draft-nos/12.pdf', target='_blank')
                i.fa.fa-angle-right
                |  MES Q 0803 - Broadcast Operations Engineer
        li
            a(href='images/pdf/draft-nos/13.pdf', target='_blank')
                i.fa.fa-angle-right
                | MES Q 0804 - Ingest Executive
        li
            a(href='images/pdf/draft-nos/14.pdf', target='_blank')
                i.fa.fa-angle-right
                | MES Q 0805 - MCR Engineer
        li
            a(href='images/pdf/draft-nos/15.pdf', target='_blank')
                i.fa.fa-angle-right
                | MES Q 0806 - OB Engineer
        li
            a(href='images/pdf/draft-nos/16.pdf', target='_blank')
                i.fa.fa-angle-right
                |  MES Q 2001 - lighting Director
        li
            a(href='images/pdf/draft-nos/17.pdf', target='_blank')
                i.fa.fa-angle-right
                | MES Q 2002 - Gaffer
        li
            a(href='images/pdf/draft-nos/18.pdf', target='_blank')
                i.fa.fa-angle-right
                |  MES Q 2003 - Lighting Technician
        li
            a(href='images/pdf/draft-nos/19.pdf', target='_blank')
                i.fa.fa-angle-right
                | MES Q 2101 - Marketing Head
        li
            a(href='images/pdf/draft-nos/20.pdf', target='_blank')
                i.fa.fa-angle-right
                | MES Q 2102 - Marketing Manager
        li
            a(href='images/pdf/draft-nos/21.pdf', target='_blank')
                i.fa.fa-angle-right
                | MES Q 2103 - Marketing Executive
