.accordion
    div.active
        a(href='#') PMKUY
        div
            include _resources_projects_pm
            
               
    div
        a(href='#') DDUGKY
        div
            include _resources_projects_dd
    div
        a(href='#') NULM
        div
            include _resources_projects_nu
            