.accordion
    div.active
        a(href='#') Upcoming
        div
            include _resources_training_up
            
               
    div
        a(href='#') Past
        div
            include _resources_training_past
    div
        a(href='#') Important Docs
        div
            include _resources_training_doc
            