
include ../../theme_bee/allMixin
extends ../../theme_bee/layout
block content
    include ../../theme_bee/partials/_header
    div.container
        include ../../theme_bee/partials/_navArea
        .main-content.row.mtop15
            .row-seventy.main-c
                .huge-message
                          b.big-title About Us
                          p
                            img(src="/images/about.jpg", class="size-full aligncenter")
                          p
                            | Narada News brings you latest news in Politics, Current Affairs in India, especially from Kerala, Karnataka, Tamil Nadu, South India, World, Business, Opinion, Social Media and Bollywood.
                            br
                            br
                            | With an aim to publish news, including hard hitting investigative reporting, a group of like-minded journalist came together to form an independent digital news media christened Narada News. Narada News brings you latest news in Politics, Current Affairs in India, especially from Kerala, Karnataka, Tamil Nadu, South India, World, Business, Opinion, Social Media and Bollywood.
                            br
                            br
                            | Today’s day and age is marked by a sense of information overload, and we, at Narada News, understand the need of the hour. Our aim is to collect, and disseminate news in a manner that is unbiased, and all-inclusive.
                            br
                            br
                            | We want to make the best use possible of the immense amounts of information available by creating a network of sources; a network base that will be made up of ‘You’ – the content consumer – our ‘human news outlets’.
                            br
                            br
                            | We want to team up our journalistic expertise, with the news gathering skills of our reader-base to create a refined and unique news product – the USP of which is investigative journalism. Our readers can send news from the spot through email and instant messaging apps. News published on the website will be credited to the sender and would entail an honorarium in the form of standard payments.
                            br
                            br
                            | Narada is a platform where the people will have the freedom to disseminate information, and let their voices be heard, without any restrictions.
                            br
                            br
                            | You can write to 
                            a(href="mailto:editor@naradanews.com") editor@naradanews.com 
                            | for details
                          a.icon-link(href='/')
                            span.icon-text 
                              i.fa.fa-home
                            | Back to Homepage
            .row-thirty.c-bar
                   include ../../theme_bee/partials/_genericRightSection
    include ../../theme_bee/partials/_footer
