div.footer_content
    .container
        .row.footer-links.etext
            .row-thirty
                div(class="row footer_img")
                    img(src='/images/logo-footer.png', alt='Narada logo', data-pin-nopin='true')
                .row
                     div.follow-us-lable
                        div.follow-us-links.newsSocialIcons
                            -if(env.partnerData.socialLinks.length){
                                ul(class="social_nav")
                                    -for(var i=0;i<env.partnerData.socialLinks.length;i++){
                                        li(class="#{env.partnerData.socialLinks[i].name}")
                                            a(href="#{env.partnerData.socialLinks[i].url}",target="_blank")
                                              img(src="/images/social/#{env.partnerData.socialLinks[i].name}_icon.png")
                                    -}
                            -}
            .row-seventy
                .row-four
                    ul
                        li
                            a(href='/category/national/') National
                        li
                            a(href='/category/international/') International
                        li
                            a(href='/category/politics/') Politics
                        li
                            a(href='/category/business/') Business
                .row-four
                    ul
                        li
                            a(href='/category/sports/') Sports
                        li
                            a(href='/category/entertainment/') Entertainment
                        li
                            a(href='/category/technology/') Tech
                        li
                            a(href='/category/opinion/') Opinion
                .row-four
                    ul
                        li
                            a(href='/category/interviews/') Interviews
                        li
                            a(href='/category/health/') Health
                        li
                            a(href='/category/regional/') Regional
                        li
                            a(href='/category/auto/') Auto
                .row-four
                    ul
                        li
                            a(href='/about-us/') About Us
                        li
                            a(href='/donations/') Donations
                        li
                            a(href='/all-authors/') All Authors
                        li
                            a(href='http://ml.naradanews.com/',target="_blank") Narada Malayalam
                        li
                            a(href='http://hi.naradanews.com/',target="_blank") Narda Hindi
    .copyright.center.etext
        p.rights_left
            | © 2017 All rights reserved

        p.rights_right
            a(style='color:#a7a9a6;', href='http://www.hocalwire.com/', target="_blank") Powerd By Hocalwire
