-if(!env.isMobile){
    .hocal_row
        h4(style="background:yellow;") Dial: &nbsp;
            span(style="font-weight:bold;font-size:22px;color:red") 08595 197 197  
            | Or
-}
.hocal_row
    h3.nadi-form-title अपना मोबाइल नंबर भरे, हम आपको कॉल बैक करेंगे.
.hocal_row.ad-form-wrapper
    
    input#mobile.ad-mobile.ad-input.primary(tabindex="1",type='text', placeholder='Mobile Number', name='mobile')
    br
    br
    input#name.ad-name.ad-input(tabindex="1",type='text', placeholder='Your Name', name='name')
    div.btn-hold
        a.nadi-ad-submit-btn(tabindex="3") Submit
    .hocal_row
        div.hide.success-msg Thanks for providing details, we will call you back.
        

    input.unitname.hide(value="#{env.adunitname}")

style.
    .nadi-form-title{ text-align:center;} .ad-mobile, .ad-name{margin:0 auto !important;}