div(class="mixin-header list block-title")
    h2.title-wrapper
        a(class="title" href="javascript: void(0);")  About Us
div.about_us_text
    b Media & Entertainment Skills Council (MESC) 
    span has been setup under the National Skills Development Mission, Government of India under the aegis of National Skills Development Corporation (NSDC) and promoted by FICCI. The Media & Entertainment Industry is projected to grow to INR 1457 billion by 2016. Therefore it becomes imperative to have skilled workforce catering to the growing needs of the industry across various subsectors in terms of quality and quantity. MESC would ensure generation of adequately skilled workforce which is industry ready and employable.