div(class="block ")
    div(class="mixin-header list block-title")
        h2.title-wrapper
            a(class="title" href="javascript: void(0);")  Message From Chairman
    div.featured-block1.white_bg.p10
        
        .article-photo1.chairman_photo.clearfix
            a.hover-effect1.pull-left.chairman_img(href='javascript: void(0);')
                img(src="/images/kamal.png")
        .article-content
            div.authors_name_desg
                h3 Dr. Kamal Haasan Chairman
                p Media & Entertainment Skills Council (MESC)
            
            div.chairman_messege
                h4
                    i "It was my long-awaited dream to bring together various stakeholders for the larger cause of contributing to the growth of M&E sector.  The formation of MESC is a step forward in this direction and this would help bridge the existing demand-supply gap. I am happy to be associated with the initiative as it would enable creation of a sustainable eco-system, accomplishing the long-term goal of producing quality skilled workforce at various occupational levels in the sector. Any endeavor to learn will discover a teacher or even create one."
                
            
                    
           