div(class="block")
    div.featured-block
        .article-content
            h4
                a(href='javascript: void(0);') Feature Item Title
            
        .article-photo
            a.hover-effect(href='javascript: void(0);')
                img(src="/images/slider4.jpg")
                
                    
           