div(class="mixin-header list block-title")
    h2.title-wrapper
        a(class="title" href="javascript: void(0);")  Import Links
div(class="block")
    ul(class="article-list")
        li
            a(href='http://link1url') PMKVY
        li
            a(href='http://link1url') DDUGKY
        li
            a(href='http://link1url') UGC - Community Colleges
        li
            a(href='http://link1url') UGC - B.Voc. 
        li
            a(href='http://link1url') TOT Calenders
        li
            a(href='http://link1url') Affliated Training Centers
        li
            a(href='http://link1url') Apply For Training Centers
        li
            a(href='http://link1url') Skill Gap Report
        li
            a(href='http://link1url') NOC standards
        li
            a(href='http://link1url') Affliation Programmes
        li
            a(href='http://link1url') Downloads
        li
            a(href='http://link1url') Contact Us


            