div(class="mixin-header breaking-news")
    a(href="javascript: void(0);",class="the-title title")  Books
div(class="block-content books_wrapper")
        ul(class="article-block-big")
            
                li
                    .article-photo
                        a.hover-effect(href='javascript: void(0);')
                            img(src="/images/book_placeholder.jpg")
                    .article-content
                        h4 book title 
                        a.button.buy-btn(href='/uploads/sample_book1.pdf',target="_blank") Sample
                        a.button.buy-btn(href='/contact-us',target="_blank") Buy
                li
                    .article-photo
                        a.hover-effect(href='javascript: void(0);')
                            img(src="/images/book_placeholder.jpg")
                    .article-content
                        h4 book title 
                        a.button.buy-btn(href='/uploads/sample_book1.pdf',target="_blank") Sample
                        a.button.buy-btn(href='/contact-us',target="_blank") Buy
                li
                    .article-photo
                        a.hover-effect(href='javascript: void(0);')
                            img(src="/images/book_placeholder.jpg")
                    .article-content
                        h4 book title 
                        a.button.buy-btn(href='/uploads/sample_book1.pdf',target="_blank") Sample
                        a.button.buy-btn(href='/contact-us',target="_blank") Buy
                li
                    .article-photo
                        a.hover-effect(href='javascript: void(0);')
                            img(src="/images/book_placeholder.jpg")
                    .article-content
                        h4 book title 
                        a.button.buy-btn(href='/uploads/sample_book1.pdf',target="_blank") Sample
                        a.button.buy-btn(href='/contact-us',target="_blank") Buy
                li
                    .article-photo
                        a.hover-effect(href='javascript: void(0);')
                            img(src="/images/book_placeholder.jpg")
                    .article-content
                        h4 book title 
                        a.button.buy-btn(href='/uploads/sample_book1.pdf',target="_blank") Sample
                        a.button.buy-btn(href='/contact-us',target="_blank") Buy
                li
                    .article-photo
                        a.hover-effect(href='javascript: void(0);')
                            img(src="/images/book_placeholder.jpg")
                    .article-content
                        h4 book title 
                        a.button.buy-btn(href='/uploads/sample_book1.pdf',target="_blank") Sample
                        a.button.buy-btn(href='/contact-us',target="_blank") Buy
                            
                        
    