include ../../theme_duck/allMixin
extends  ../../theme_duck/layout
block content
    include ../../theme_duck/partials/_header
    div.wrapper.punica-home-1#about-us-page
        #main-content
            div.container1.punica-home-1
                div#contentSection.wrapper
                    .wrapper
                        .widget-area-2.pull-left.punica-shadow-box
                            include ../../theme_duck/partials/_breadcrumb
                            //- .widget.punica-map-widget
                            //-     .punica-map-wrapper
                            //-         #punica-map.punica-map(data-place='New Delhi', data-latitude='28.7124568', data-longitude='77.1172135')
                            //-     // punica-map-wrapper
                            //- // punica-map-widget
                            section(class="punica-error-404")
                                div(class="row")
                                    div(class="col-md-5 col-sm-5")
                                        h2(class="text-right") Error
                                    div(class="col-md-7 col-sm-7")
                                        h4 Some Error Occured
                                        p You may want to return 
                                            a(href="/") Home 
                                            | and start again. Sorry!
                        div.widget-area-3.sidebar.pull-left.punica-shadow-box
                            include ../../theme_duck/partials/_genericRightSection
                        div.clear
                        #level_bottom_full
                            -if(data['level_bottom_full'] && data['level_bottom_full'].templateData && data['level_bottom_full'].templateData.mixinName){
                                +#{data['level_bottom_full'].templateData.mixinName}(data['level_bottom_full'])
                            -}
                    
    div.clear                  
    include ../../theme_duck/partials/_footer