
#recommended-wrapper ul.recom-image-slider-vertical-listing {
	margin: 0;
	  padding: 0;
	  white-space: nowrap;
	  width: 100%;
	  overflow-x: auto;
	  /*background-color: #ddd;*/
}
#recommended-wrapper ul.recom-image-slider-vertical-listing .owl-item {
	border-right: 1px solid #fff;
  
}
#recommended-wrapper ul.recom-image-slider-vertical-listing li{
	display: inline;
	text-align: center;
	margin-top: 5px;
  
}
#recommended-wrapper ul.recom-image-slider-vertical-listing li img.rec_pop_img{
	 margin-right:5px;
}
#recommended-wrapper ul.recom-image-slider-vertical-listing li .rec_title{
	font-size: 15px;
    white-space: normal;
    max-width: 250px;
    /*max-height: 55px;*/
    overflow: hidden;
    padding-left: 8px;
    text-align: left;
    color: #222;
    font-weight: bold;
    line-height: 20px;
  	margin-top: 0px;
}

#recommended-wrapper .recom-image-slider-vertical-listing li:hover {
	background: #efefef;
}

#recommended-wrapper {
	max-width: 100%;
}
#recommended-wrapper.recommended-popup img{
	max-height: 52px;
    float: left;
    max-width: 84px;
    overflow:hidden;
}
#recommended-wrapper.recommended-popup .recommended-close.pull_right{
	padding: 10px;
    position: absolute;
    right: 0px;
    top: 0px;
    background: #f7f8f9;
}
#recommended-wrapper.recommended-popup .recommended-close.pull_right img{
	max-width:12px;
}

#recommended-wrapper.recommended-popup .recommended_time{
	font-size: 12px;
    float: right;
}

#recommended-wrapper.recommended-popup .recommended_popup_item_container {
	padding: 5px;
}
#recommended-wrapper.recommended-popup .recommended_popup_item_container .pop_owl{
	background: #796666;
    border-radius: 50%;
    padding: 3px 10px;
    color: #fff;
    font-size: 20px;
    opacity: 0.5;
    top: 40%;
    z-index: 9999;
    position: absolute;
}
#recommended-wrapper.recommended-popup .recommended_popup_item_container .pop_owl.prev{
	left:10px;
}
#recommended-wrapper.recommended-popup .recommended_popup_item_container .pop_owl.next{
	right:10px;
}
@media only screen and (max-width:767px) {
    
	#recommended-wrapper ul.recom-image-slider-vertical-listing li img.rec_pop_img{
		 display: none;
	}
	
	#recommended-wrapper.recommended-popup .recommended_time{
		font-size: 10px;
	}
}

ins {
	text-decoration: none;
}
.recommended-heading-wrapper {
	height: 25px;
}
.recommended-content-wrapper {
	background: #F7F8F9;
	box-shadow: 0px 0 2px 2px rgba(51,51,51,0.25);
}
