extends layout


block content
    div.wrap-404
        table.tbl-404
            tr
                td
                    h2 Error 404
                    p You've hit a wrong path. You may have followed an outdated link or entered an incorrect url.
                    a.no-ajaxy.btn.btn-d-yellow(href="/") GO TO HOMEPAGE
                    br
                    br
                    div.or-line OR
                    br
                    p.call Call 
                        a.no-ajaxy(href="tel:#{+91-8588887588}") +91-8588887588
                        | &nbsp; for any assistance



    

block script
    script(type='text/javascript').
        $(document).ready(function() {
            var doch = $(document).height();
            var headh = $('#main-header').height();
            var footh = $('#js-footer').height();
            var ht404 = (doch - headh - footh);
            $('.wrap-404').height(ht404-50);
        });


