div(class="main-menu sticky center-menu")
    div(class="wrapper")
        ul(class="the-menu")
            li(class="#{!env.parentCatId? 'menu-item current-menu-item' : ''}")
                a(href="#{env.partnerData.partnerHomeLinkUrl || env.partnerData.homePageRoot || '/'}") #{env.partnerData.partnerHomeName || "Home"}
            
                li
                    a(href="/about-us",target="_blank") About Us
                li
                    a(href="http://nnscommoditynews.com/membership-join/membership-registration/",target="_blank") Donate
                li
                    a(href="/contact-us",target="_blank") Contact Us
                    

    div.clear-float
        
        
                            
