section {
    margin: 0 auto 0px;
    padding: 0px;
}
.cp-megamenu {
    background: #380f16 !important;
}
.sb-icon-search{
    background: #b33b4e !important;
}
.photo-hd .topics {
    background: #b8495b !important;
}
.red-hd span{
    background: #380f16 !important;
}
.wht-hd, .red-hd{
    background: url(/theme_cow/images/rdh-bg.png) 0 50% repeat-x;
}
.wht-hd a{
    background: #380f16;
}
.breadcrumbs_options{
    margin-top: 10px;
    border: 2px solid #b33b4e;
    border-left: 4px solid #380f16;
}
.blue-bg {
    background: #380f16;
}
.author_description {
    border-left: 5px solid #380f16;
    border-bottom: 1px solid #b33b4e;
}