.paragraph-row .follow-us-links .social_nav{
	float: left !important;
}
.paragraph-row .follow-us-links .social_nav li{
	float: left !important;
}
.paragraph-row .header-date-row {
	text-align: right !important;
}
.paragraph-row .header-date-row span {
    margin-right: 10px;
}
.cp-mega-menu .drop-down.full-width{
	width:100% !important;
	
}
.cp-mega-menu .drop-down li a {
    color: #ffffff !important;
    background-color: #1c1c1c !important;
}
.cp-mega-menu .drop-down{
	background: #1c1c1c !important;
	border-top: 3px solid #fc0203;
}
.cp-mega-menu .drop-down.full-width.col-5>li{
	background: #1c1c1c !important;
}
.waves-button{
	color:#f2f2f2;
}
.cp-megamenu{
	border-bottom: 1px solid #fc0203 !important;
	border-top: 1px solid #fc0203 !important;
}
.list.side-img li p{
	width:65%;
}
.mixin-wrapper{
	background: #fff;
}
.top-header{
	display: none;
}
.featured-news{
	max-height: 400px;
}
.news-item{
	max-height: 300px;
    overflow: hidden;
}
#top_head_banner{
	margin-top:20px;
}
.featured-news .news-cells .cell label a{
	color:#ed2824;
}
* {
    font-family: sans-serif;
}
.shows .section-body .show-grid .show-side ul li a p{
	font-size:16px;
}
.header .paragraph-row .column3{
	width: 14.893617021276595%;
}
.ot-tab-block{
	display: block !important;
}
.ot-tab-block .list-group li {
    display: inline-block !important;
    color: white;
    margin-right: 10px;
}
.overlay-content h3{
	font-size: 17px;
}
.featured-news, .news-item{
	max-height:700px;
}
.footer-widgets .wrapper{
	padding-top: 0px;
}
.list-group {
    margin-bottom: 0px;
}
.footer .footer-widgets{
	padding: 0px 0;
}
.cp-mega-menu>ul>li>a{
	font-size:12px;
}
.flexMenu-popup{
	background: #1c1c1c !important;
    border-top: 3px solid #fc0203;
	border:1px solid red;
	padding:5px !important;
}
.flexMenu-popup li {
	float: left;
    width: 100%;
    position: relative;
    border-bottom: 1px dotted #CCC;
}
.flexMenu-popup li a{
	font-size: 1em;
    text-align: left;
    color: #ffffff !important;
    background-color: #1c1c1c !important;
    padding: 10px 20px 10px 15px;
    
}
.flexMenu-popup li:last-child{
	border-bottom: 0px solid #ccc;
}
.cp-mega-menu>ul>li>.flexMenu-popup>li a {
    color: #ccc!important;
}