include ../../theme_cobra/allMixin
include ../../common/_registerReporter
extends ../../theme_cobra/layout
block content
    include ../../theme_cobra/partials/_header
    div(id="sb-site", class="body_wraper_box")
        include ../../theme_cobra/partials/_navArea
        //- +stickySocialShare("","",true)
        div(class="main_content row join_mission_wrapper")
            div(class="content_wraper three_columns_container box-item")
                div(class="twelve columns")
                    #level_top_full
                div(class="twelve columns")
                    div(class="twelve columns")
                        div(class="four columns", style="padding:0px;")
                            img(src="../images/Sawastik.png", width="120", style="display: block; margin: 0 auto;")
                        div(class="four columns", style="padding:0px;")
                            img(src="../images/heading_nirmaan.png", width="200", style="display: block; margin: 0 auto;")
                        div(class="four columns", style="padding:0px;")
                            img(src="../images/om.png", width="150", style="display: block; margin: 0 auto;")
                    br
                    h1.single-post-title.page-title.center नव हिंदुस्तान के नव युग के निर्माण का महा अभियान
                    #rashtra_nirman_banner_carousel.rashtra_nirman_banner_carousel.right_level.widget
                        -if(data['rashtra_nirman_banner_carousel'] && data['rashtra_nirman_banner_carousel'].templateData && data['rashtra_nirman_banner_carousel'].templateData.mixinName){
                            +#{data['rashtra_nirman_banner_carousel'].templateData.mixinName}(data['rashtra_nirman_banner_carousel'])
                        -}
                    div(class="twelve columns clearfix sticky_elements_scroll")
                        .twelve.columns(style="padding: 10px;")
                            .message.col-sm-12  
                                    | अगर अन्याय के खिलाफ आपको गुस्सा आता है देशद्रोहियों के नंगानाच से खून खौलता है?
                                    br
                                    | क्या आप गद्दारों को सजा देना चाहते है?
                                    br
                                    | सांस्कृतिक आक्रमण के षणयंत्र से लड़ने का हौसला रखते हो?
                                    br
                                    br
                                    | अगर आप के अंदर सच में यह आग जल रही है, इसके लिये प्रत्यक्ष आप कुछ करना भी चाहते है तो आप भी पुर्नजन्म के योघ्दा है।
                                    br
                                    br
                                    span(style='color:#dc0000;font-size: 22px;')
                                        | माँ भारती इस जन्म में भी आपको पुकार रही है। चलो आजादी के बाद के सबसे बड़े “महा अभियान”  के योध्दा बने।
                            h3.join-mission-subheading 1. संघठन
                            span.more.join-mission-message
                                | सुदर्शन राष्ट्र निर्माण यह अन्य संघठनो की भीड़ में एक और संघठन ना होकर राष्ट्रधर्मं के लिए बने संघठनो का महासंघठन है। हिंदुस्थान के कानुन के आधार पर स्थापित यह ट्रस्ट संघठन है जो राष्ट्र - धर्म के कार्यो हेतु बनाया गया है। इस भूमि को पुण्य भूमि पितृ भूमि बनाने वाला कोई भी इसका कार्यकर्ता, सदस्य,पदाधिकारी हो सकता है। सज्जन शक्ति ,वाली - संस्थाओं को अपने - अपने अजेंडे छोड़कर राष्ट्रधर्म के झंडे के नीचे एक होने का कार्य यह संघठन करेगा। इसमें आम हिंदुस्थानी के साथ ही विश्व विख्यात विशेषज्ञो ,प्रतिभा , संयम व्यक्तियों , ऋषि - महर्षि, मुनियों के साथ ही खिलाड़ी , अभिनेता लेखक, कवि , साहित्यकार और पत्रकार वैज्ञानिक किसान भी जुड़े है। समाज के विभिन्न क्षेत्र का सहभाग इस व्यवस्था में है।
                            h3.join-mission-subheading 2. साधन
                            span.more.join-mission-message
                                | “सुदर्शन राष्ट्र निर्माण “ यह संघठन हमारा साध्य/लक्ष्य नहीं बल्कि  साधन मात्र  है। साधन      जितना प्रभावी रहेगा साध्य,अर्थात “ विश्वगुरु हिंदुस्थान ” की प्राप्ति जल्द होगी। शत्रु आधुनिक तकनीक , षड़यंत्रपूर्वक बने व्यवस्था का फायदा  उठाकर राष्ट्र विरोधी कार्य करते है और बच भी निकलते है। हम राष्ट्रधर्म के कार्य करने वालों को यही व्यवस्था अपराधी  ठहराती है। इसका भी उपाय किया है।  इसमें अत्याधुनिक तकनीक के साथ हि रणनीतिक योजनाओं का भी खाका बनाने लायक सक्षम व्यवस्था स्थापित की गई है।इसमें प्रमुखता से मीडिया के सारे प्रकार    के मार्गो से संस्कार - सुप्रचार – सामर्थ्य - स्वाभिमान की स्थापना की जायेगी।  हमारे हिंदू जीवन दर्शन मूल्यो के साथ ही लेकिन कालानूरुप , कुछ तात्कालिक बदलाओं की व्यवस्था का मंथन भी जरुरी है।
                            h3.join-mission-subheading 3. साध्य
                            span.more.join-mission-message
                                | राष्ट्रधर्म द्रोहियों से मुक्त , सज्जन शक्ति से युक्त। प्रतिभाशाली , सामर्थ्यशाली तेज पुंज “नव हिंदुस्थान”  को निर्मित करना जो विश्व का  आध्यात्मिक , सामाजिक , सांस्कृतिक , आर्थिक और बौद्विक दृष्टिकोण से  विश्व का नेतृत्व कर सके।
                            h3.join-mission-subheading 4. संरचना
                            span.more.join-mission-message
                                | हिंदुस्थान में राष्ट्रधर्म के लिए कुछ भी करने वालों की कोई कमी नही पंरतु इस वक्त देश के लिए खून बहाने से ज्यादा पसीना बहाने की जरुरत है “ अशांति के समय जितना ज्यादा खून बहेगा उतना ही अशांति के समय कम खून बहेगा ” परन्तु शत्रु के मुकाबले हम संघठित नही है। इसलिए हर हाथ को काम , हर काम को हाथ व्यवस्था के तहत ज्यादा से ज्यादा लोगो को और उनकी जहाँ - जिस कार्य - में संघठन में आवश्यकता है उसका समन्वय भी किया जायेगा। संपूर्ण प्रशिक्षित , समर्पित कार्यकर्ताओं के साथ ही अनेक अपूर्णांक लेकर एक पूर्णांक करने के दिशा में लेकर जाना है।
                            h3.join-mission-subheading 5. सहभाग
                            span.more.join-mission-message
                                | किसी भी विचार के अपने हाथ पैर नही होते, वह विचार धारण करने वाले व्यक्ति/व्यक्तियों द्वारा हि विचारों को जमीन पर प्रत्यक्ष उतारा जा सकता है। इसलिए इस में आपका सहभाग अनिवार्य है। इसमें तन - मन - धन से जुड़ने के लिए विभिन्न मार्ग/विकल्प तैयार किए गए है। प्रमुखतः -  आप सदस्य बन सकते है विश्वतम/ट्रस्टी,न्यासी, सलाहकार, संरक्षक और मार्गदर्शक भी बन सकते है। यह  संपूर्णतः आपके ईच्छा और क्षमता पर निर्भर करना है पर हम चाहते है, जुड़ते समय आप राष्ट्रधर्म के आवश्यकता को ज्यादा ध्यान दे।
                            h3.join-mission-subheading 6. सूत्र
                            span.more.join-mission-message
                                | वैसे तो प्रत्येक साध्य को प्राप्त करने के कई सूत्र हो सकते है। लेकिन हमने हिंदुस्थानी मान्यता के सूत्रों को प्राथमिकता से चुना है। इसके लिए हमारी चतु सूत्री है सुप्रचार -  संस्कार - सामर्थ्य - स्वाभिमान। समाज के नेतृत्वक्षम वर्ग को इन सुत्रो के प्रक्रिया के द्वारा लक्ष्य प्राप्ति योग्य बनाया जायेगा। साथ ही सेवा-समर्पण- संघर्ष और स्वदेशी का उपयोग होगा।
                            h3.join-mission-subheading 7. संकल्प
                            span.more.join-mission-message
                                | वैसे तो संकल्प में “ विश्वगुरु हिंदुस्थान ” यह आजीवन संकल्प तो है ही  परन्तु 12 वर्षो की लंबी योजना के पहले 12 महीनों का संकल्प है। 120 देशों में 12000 स्वयंसेवको ( आपके ) द्वारा 12 लाख घरों में प्रत्यक्ष और कुल 12 करोड़ो लोगो तक विभिन्न माध्यमों से संपर्क किया जायेगा। स्वंयसेवक प्रत्यक्ष घर में पहुँच कर आडियो-वीडियो प्रेजेंटेशन के साथ ही चर्चा और विचारों के आदान - प्रदान करेंगे प्रत्येक व्यक्ति के सपनो के “ नव हिंदुस्थान ” के सोच का “ महाअभियान ” के  कार्यक्रमों से जोड़ा जायेगा। 12, लाख ऐसे ही घरों को संस्कार केन्द्र ,12000 विद्यालयो महाविद्यालयों,विश्वविद्यालयों को शक्ति केन्द्र , मार्गदर्शन केन्द्र और 1200, मंदिरो - मठो को शक्ति केन्द्र के रुप में स्थापित किया जायेगा। नव हिंदुस्थान का निर्माण प्रमुखता से इन्हीं स्थानों से होगा।
                            h3.join-mission-subheading 8. सेवा
                            span.more.join-mission-message
                                | सेवा भाग के बगैर व्यक्ति या समाज अधुरा है। विधर्मियों ने इसी सेवा को हथियार बनाने के भी उदाहरण के भी उदाहरण है। यह हमारी कमी या खामी है जिसे हमें पूरा करना है। सेवा से चित्त की शुद्धि  होगी और प्रेम - भाव बढ़कर आपस में दूरिया कम होगी।
                            h3.join-mission-subheading 9. समर्पण
                            span.more.join-mission-message
                                | कोई भी कार्य , खास करके महान कार्य के साधको में समर्पण भाव चाहिए। समाज के नेतृत्व से ही वह समाज के अन्य अंगो में फैलाना है। आज समाज अधिकारो की बातपहले करता है। कर्तव्यो की नही क्यो समर्पण भाव का न होना है। आज व्यक्तियों महात्वकांक्षा - कैरियर परिवार पहले है क्योकि राष्ट्रधर्म के प्रति समर्पण नही है समाज में “राष्ट्र सर्वप्रथम” भाव पैदा करने के लिए यह अपरिहार्य घटक है।
                            h3.join-mission-subheading 10. संघर्ष
                            span.more.join-mission-message
                                | वैसे तो जन्म से लेकर मृत्यु तक हम प्राणी प्रकति का हर घटक संघर्ष करता है उस संघर्ष को वह स्वाभाविक मानता है। पंरतु राष्ट्रधर्म के लिए संघर्ष उसे स्वाभाविक नही लगना यह कुछ एक वर्ग या कार्यकर्ताओं का हि कार्य है मेरा नहीं यह धारणा है।उसे बदलना होगा व्यक्तिगत जीवन की तरह ही हमारा सामाजिक जीवन है। राष्ट्र जीवन है इसके लिए जरुरी संघर्ष भी हमारा स्वाभाविक संघर्ष है। बल्कि प्राथमिकता में वह पहले है यह भाव पैदा किया जायेगा।
                            h3.join-mission-subheading 11. स्वदेशी
                            span.more.join-mission-message
                                |  वैश्वीकरण में भी किसी भी देश के लिए स्वदेशी से बड़ा महामंत्र नही है। अब तो वैश्वीकरण के वकील - पहरेदार भी अपने देशों में स्वदेशी की भाषा बोल रहे है। नीति बना रहे है। हिंदुस्थान में तो यह हमारा मूल मंत्र होना चाहिए। इसके लिए हमने कुछ व्यवहारिक चरण बनाया है।
                                br
                                | (अ) अल्प स्वदेशी - अगर आप बिल्कुल ही स्वदेशी उपयोग में नहीं लाये तो कुछ हिस्सा , कुछ त्योहारों में जीवन के कुछ प्रसंगो - कार्यक्रमों से शुरुवात करें।
                                br
                                | (ब) स्वदेशी - ज्यादा से ज्यादा स्वदेशी का उपयोग करें केवल तकनीक या मजबूरन  दवाई आदि के लिए ही अपरिहार्य ही विदेशी उपयोग में लाऐं।
                                br
                                | (स) संपूर्ण स्वदेशी - पहली दो अवस्था के बाद यह अंतिम अवस्था है। सब कुछ  स्वदेशी केवल वस्तु ही नही विचार भी स्वदेशी यह हमारी कई समस्याओं का समाधान है।
                            h3.join-mission-subheading 12. सुदर्शन
                            span.more.join-mission-message
                                | संघठन से लेकर संकल्पपूर्ती तक एक सुदर्शन होगा और “नव हिंदुस्थान” भी सुदर्शन होगा      यह सब कुछ करने के लिए “ सुदर्शन न्यूज चैनल ” हमारा  सबसे बड़ा हथियार रहेगा। इसी प्रकार   के हथियारो से हमें मानसिक गुलाम बनाया गया है इसी से हम स्वाभिमानी राष्ट्र निर्मित करेंगे।
                            .row
                                .six.columns
                                    .member_details
                                        h3.page_heading Join As Volunteer
                                        .message Help making your country a better nation by making more peoeple join Rashtra Nirman mission. Help by contributing your bit.
                                        br
                                        a.join-mission-block(href="/join-rashtra-nirman-as-volunteer") Join Now
                                .six.columns
                                    .member_details
                                        h3.page_heading Join As a Member
                                        .message Avail 100 of options like videos's scrolls, membership and other benefits when you join Rashtra Nirman
                                        br
                                        a.join-mission-block(href="/plans/rashtra-nirman-member-packages?form-url=/join-rashtra-nirman-as-member") Join Now
                                        //- a.view-mission-plans(href="/plans/rashtra-nirman-member-packages?type=view", target="_blank") View Plans

                div(class="content_wraper three_columns_container")
                    div(class="row")
                        #level_bottom_full
                            -if(data['level_bottom_full'] && data['level_bottom_full'].templateData && data['level_bottom_full'].templateData.mixinName){
                                +#{data['level_bottom_full'].templateData.mixinName}(data['level_bottom_full'])
                            -}

        include ../../theme_cobra/partials/_footer
block scripts
    include ../../common/_reporterResources