.hocal_col.hocal_col_12.common-user-pages
    div#forgot-password-page(data-role="page")
        .page-login-form.box.form
          -if(env.partnerData.registration_verification_mode!="otp"){
            h3  Enter You Email
            p.forgotpass-instruction-msg When you fill in your registered email address, you will be sent instructions on how to reset your password
          -} else {
            h3  Enter You Mobile Number
            p.forgotpass-instruction-msg When you fill in your registered mobile number, you will receive otp to reset your password
          -}  
          
          br
          form.form-forgotPassword(role='form')
            -if(env.partnerData.registration_verification_mode!="otp"){
              #err-email.error.common-error(style='display:none;') Please enter your Email Address
              p.contact
                    label(for='email') Email
                input#email.verify-email-input(name='email', placeholder='example@domain.com', required='', type='email',tabindex='1')
              p.buttom_wrapper
                    button.btn.btn-common.log-btn.js-btn-submit-forgotPassword.buttom Send Password
              //- button.btn.btn-common.log-btn.js-btn-submit-forgotPassword Send me my Password
            -} else {
              #err-email.error.common-error(style='display:none;') Please enter your Mobile Number
              
              input#email.verify-email-input(name='email', placeholder='Mobile Number', required='', type='text',tabindex='1')
              p.buttom_wrapper
                    button.btn.btn-common.log-btn.js-btn-submit-forgotPassword.buttom Send Password
            -}
          -if(env.partnerData.registration_verification_mode!="otp"){
            p.success-msg.hide.forgotpass-msg Check your email to see instruction on resetting password.
          -} else {
              -if(env.partnerData.registration_verification_mode=="otp"){
                div.verify-otp-wrapper.hide
                    include _verifyOTPForm
              -}
          -}
          #external_target_for_otp_verify.hide
            form.form-resetPassword(role='form')
              #err-password.error.common-error(style='display:none;') Please enter password
              p.contact
                label(for='password') Create a password
              input#password(type='password', name='password', required='')
              
              #err-password-retype.error.common-error(style='display:none;') Please retype password
              p.contact
                  label(for='password') Retype password
              input#retype-password(type='password', required='')
          
              #err-password-not-match.error.common-error(style='display:none;') Password and Retype value does not match
              input#code.form-control.hide(type='text', value="#{env.query.code}",name='code', placeholder='Code')
              input#email.form-control.hide(type='text', value="#{env.query.email}",name='email', placeholder='Email')
          
            p.buttom_wrapper
                button.btn.btn-common.log-btn.js-btn-submit-reset-password.buttom Set My Password
            p.success-msg.hide.forgotpass-msg Password Changed Successfully
          p.error-msg.hide Failed, Try Again.

          div.contact
            ul.form-links
                li.pull-left
                    a(href='/register') Don't have an account?
                li.pull-right
                    a(href='/login') Login

