section#content
  .container.common-user-pages
    .row
      .hocal_col.hocal_col_12
          div#login-page(data-role="page")
              .page-login-form.box
                h3.page_heading
                  | Login
                .form

                    form.login-form
                        .div(id='err-common',class='error-message')
                        -if(env.partnerData.registration_verification_mode=="otp"){
                            #err-mobile.error.common-error(style='display:none;') Please enter a valid mobile
                            p.contact
                                label(for='mobile_no') Mobile No
                            input#mobile_no(name='mobile_no', placeholder='', required='', type='text',tabindex='1')
                        -} else {
                            #err-email.error.common-error(style='display:none;') Please enter a valid email
                            p.contact
                                label(for='email') Email
                            input#email(name='email', placeholder='example@domain.com', required='', type='email',tabindex='1')
                        -}
                        
                        #err-password.error.common-error(style='display:none;') Please enter a password
                        p.contact
                            label(for='password') Password
                        input#password(type='password', name='password', required='',tabindex='2')
                    p.buttom_wrapper
                        button.btn.btn-common.log-btn.js-btn-submit-login.buttom Submit
                    div.contact
                        ul.form-links
                            li.pull-left
                                a(href='/register') Don't have an account?
                            li.pull-right
                                a(href='/forgotPassword') Lost your password?




