section#content
  .container.common-user-pages
    .row
      .hocal_col.hocal_col_12
            -if(env.partnerData.registration_verification_mode=="otp"){
                div.hocal_row.form.hide
                    div.verify-otp-wrapper.hide
                        include _verifyOTPForm
            -}
                div#register-page-response-message.common-message.inner-box.page-login-form.box-wrapper-verify(style='display:none;')
            div#register-page(data-role="page")
                .page-login-form.box
                    h3.page_heading
                      | Register

                    .form
                        div#register-page-response-message-error.inner-box.page-login-form.box-wrapper-verify(style='display:none;')
                        form#contactform.register-form
                            #err-firstName.error.common-error(style='display:none;') Please enter your Full Name
                            p.contact
                                label(for='firstName') Full Name
                            input#firstName(name='firstName', placeholder='Full Name', required='', tabindex='1', type='text')
                            #err-mobile.error.common-error(style='display:none;') Please enter a Mobile No
                            p.contact
                                label(for='mobile') Mobile Number
                            input#mobile_no(name='mobile', placeholder='Mobile Number', required='', type='text',tabindex='2')
                            #err-email.error.common-error(style='display:none;') Please enter a Email Address
                            p.contact
                                label(for='email') Email Address
                            input#email(name='email', placeholder='example@domain.com', required='', type='email',tabindex='3')
                              
                            #err-password.error.common-error(style='display:none;') Please enter Password
                            p.contact
                                label(for='password') Enter Password
                            input#password(type='password', name='password', required='',tabindex='4')
                            #err-confirm_pass.error.common-error(style='display:none;') Please Conofirm Password
                            p.contact
                                label(for='confirm_pass') Confirm Your Password
                            input#confirm_pass(type='password', required='',tabindex='5')
                              
                            #err-confirm-password-no-match.error.common-error(style='display:none;') Password and Retype value does not match
                        br
                        input#remember.js-verify-term-conditions(type='checkbox', name='rememberme', value='forever', style='float: left;')
                        label(for='remember') By Clicking on Register, I agree to   
                          a(href='/terms', target='_blank' class='login-slider waves-effect waves-button') Terms & Conditions
                        #err-check-terms-condition.error.error-message.left-align(style='display:none;') Please check that you have read terms and conditions

                        div#register-page-response-message-error.inner-box.page-login-form.box-wrapper-verify(style='display:none;')
                        p.buttom_wrapper
                            button.btn.btn-common.log-btn.js-btn-submit-register.buttom Register
                        

                        div.contact
                            ul.form-links
                                li.pull-left
                                    a(href='/login') I already have an account
                                li.pull-right
                                    a(href='/forgotPassword') Lost your password?


