.hocal_col.hocal_col_12.common-user-pages
    div#forgot-password-page(data-role="page")
        .page-login-form.box
            h3
                | Set New Password
          
            .form
                form.form-resetPassword(role='form')
                    #err-password.error.common-error(style='display:none;') Please enter password
                    p.contact
                      label(for='password') Create a password
                    input#password(type='password', name='password', required='')
                    
                    #err-password-retype.error.common-error(style='display:none;') Please retype password
                    p.contact
                        label(for='password') Retype password
                    input#retype-password(type='password', required='')
                
                    #err-password-not-match.error.common-error(style='display:none;') Password and Retype value does not match
                    input#code.form-control.hide(type='text', value="#{env.query.code}",name='code', placeholder='Code')
                    input#email.form-control.hide(type='text', value="#{env.query.email}",name='email', placeholder='Email')
                
                p.buttom_wrapper
                    button.btn.btn-common.log-btn.js-btn-submit-reset-password.buttom Set My Password
                p.success-msg.hide.forgotpass-msg Password Changed Successfully
                p.error-msg.hide Failed, Try Again.
                div.contact
                    ul.form-links
                        li.pull-left
                            a(href='/register') Don't have an account?
                        li.pull-right
                            a(href='/forgotPassword') Lost your password?



            