
.container1
  .row1
    .hocal_col.hocal_col_12.common-user-pages
      div#verify-otp-element
        .page-login-form.box-wrapper-verify
          
              .collapset-title.no-border
                | Please Enter the OTP you received on your Mobile Number
              br
              input#otp-address.verify-otp-input(name='otp', placeholder='Enter OTP', required='', type='email',tabindex='1')
              //- h5.regenrate-message.hide.error.common-error
              
              p.buttom_wrapper
                  button.btn.btn-common.log-btn.js-btn-submit-otp-code.buttom Validate


        

          
          
          

  