.page-header(style='background: url(assets/img/banner1.jpg);')
  .container
    .row
      .col-md-12
        .breadcrumb-wrapper
          h2.page-title Login to account

.col-sm-6.col-sm-offset-4.col-md-4.col-md-offset-4
    div#verify-page(data-role="page")
        .page-login-form.box
          h3
            | Please enter the OTP
          form.form-verify(role='form')
            #err-common.error.common-error(style='display:none;') Please enter your OTP
            .form-group
              .input-icon
                i.icon.fa.fa-phone
                input#otp.form-control(type='text', name='otp', placeholder='Enter OTP')
                input.form-control(type='hidden', name='phoneNo' id='phoneNo' value='#{env.query.mobile}')
                input.form-control(type='hidden', name='registerId' id='registerId' value='#{env.query.id}')
            button.btn.btn-common.log-btn.js-btn-submit-verify Submit
          ul.form-links
            li.pull-left
              a(href='signup.html') Don't have an account?
            li.pull-right
              a(href='forgot-password.html') Lost your password?
