extends ../../theme_dragon/layout
include ../../theme_dragon/allMixin
block content
   include ../../theme_dragon/partials/common/_header
   .content
      // BEGIN .wrapper
      .wrapper
        // BEGIN .main-content-full
        .main-content-full
          .huge-message
            b.big-title Error
            b.small-title Unknown error occured
            p
              | There is something not right. Please check again later
            a.icon-link(href='/')
              span.icon-text ⌂
              | Back to Homepage
          // END .main-content-full
        .clear-float