ul.footer_nav
    li.footer_nav_li
        a(href='/Promise') Promise
    li.footer_nav_li
        a(href='/Terms') Terms
    li.footer_nav_li
        a(href='/plans/packages') Subscription plans
    li.footer_nav_li
        a(href='/pr-wire') PR Wire
    li.footer_nav_li
        a(href='/advertise-with-us') Advertise With Us
    li.footer_nav_li
        a(href='/career') Work with us
