include ../../theme_zebra/allMixin
extends ../../theme_zebra/layout
block content
  div.row.relative-div
        div#about-live(class="col-lg-12 col-md-12 col-sm-12")
            .left_content
              // start contact area
              .contact_area
                img(src="images/live.jpg")                
        div(class="col-lg-12 col-md-12 col-xs-12 col-sm-12 absolute-div")
          .row
            div(class="col-lg-4 col-md-4 col-xs-12 col-sm-12 camera-div")
              .row
                .circle
                  img(src="images/camera.png")
              .row
                h3 Shoot anytime anywhere
            div(class="col-lg-4 col-md-4 col-xs-12 col-sm-12 network-div")
              .row
                .circle
                  img(src="images/network.png")
              .row
                h3 Play it live on your website and social networks
            div(class="col-lg-4 col-md-4 col-xs-12 col-sm-12 track-div")
              .row
                .circle
                  img(src="images/track.png")
              .row
                h3 Track your reach with built-in analytics tool
          .row
            div(class="col-lg-12 col-md-12 col-xs-12 col-sm-12")
              a(href="http://hocalwire.com" class="button")
                h3 For more details click me 