div(class="mixin-header list block-title")
    h2.title-wrapper
        a(class="title" href="javascript: void(0);")  About Us
div.about_us_text
    b कृष्णा सुदामा हेल्थ केयर सोसाइटी &nbsp;
    span द्वारा संचालित, 
    br

    span जान सेवा केमिस्ट का उद्देश्य सभी जरूरतमंदों को खरीद मूल्यों पर दवाईयां उपलब्ध कराना है.
सभी खर्च जैसे दूकान का किराया, कर्मचारियों का बेतन, बिजली, पानी इत्यादि सदस्यो के सहयोग से सोसाइटी स्वयं वहां करती है.