
div(class="block owl-with-thumb ")
    div.grid-carousel-with-thumbs.hide.silgleSlide(data-slider-id="1")
        div.featured-block(data-thumb-selector=".owl-thumbs .slide-thumb-1")
            .article-photo
                a.hover-effect(href='javascript: void(0);')
                    img(src="/images/slider1.jpg")
        div.featured-block(data-thumb-selector=".owl-thumbs .slide-thumb-2")
            .article-photo
                a.hover-effect(href='javascript: void(0);')
                    img(src="/images/slider2.jpg")
        div.featured-block(data-thumb-selector=".owl-thumbs .slide-thumb-3")
            .article-photo
                a.hover-effect(href='javascript: void(0);')
                    img(src="/images/slider3.jpg")
        div.featured-block(data-thumb-selector=".owl-thumbs .slide-thumb-4")
            .article-photo
                a.hover-effect(href='javascript: void(0);')
                    img(src="/images/slider4.jpg")
        div.featured-block(data-thumb-selector=".owl-thumbs .slide-thumb-5")
            .article-photo
                a.hover-effect(href='javascript: void(0);')
                    img(src="/images/slider5.jpg")
    //- div(class="owl-thumbs", data-slider-id="1")
    //-     button.slide-thumb-1(class="owl-thumb-item") asdfjlasdfj alkjsdflasdfads
    //-     button.slide-thumb-2(class="owl-thumb-item") asdfjlasdfj alkjsdflasdfads asdf asdfa
    //-     button.slide-thumb-3(class="owl-thumb-item") asdfjlasdfj alkjsdflasdfads asdfadsdf asdffasdf asdf
    //-     button.slide-thumb-4(class="owl-thumb-item") asdfjlasdfj alkjsdflasdfadsasdf asdf asdf adfasd  fasdd
    //-     button.slide-thumb-5(class="owl-thumb-item") asdfjlasdfj alkjsdflasdfadsasdf asdff asdf asdf asdfa sddfasdfas
        

                
        

