div(class="block")
    div.featured-block
        .article-content
            h4
                a(href='javascript: void(0);') Opening ceremony
            
        .article-photo
            iframe(width="100%", height="315",src="https://www.youtube.com/embed/uu2Al3nYghk")
            
           