div(class="block ")
    a(href="http://nnscommoditynews.com/membership-join/membership-registration/",target="_blank")
        img(src="/images/donate_button.jpg")

div(class="block ")
    div(class="mixin-header list block-title")
        h2.title-wrapper
            a(class="title" href="javascript: void(0);")  Message From Chairman
    div.featured-block1.white_bg.p10
        
        .article-photo1.chairman_photo.clearfix
            a.hover-effect1.pull-left.chairman_img(href='javascript: void(0);')
                img(src="/images/rajesh.png")
        .article-content
            div.authors_name_desg
                h3 Rajesh Gupta
                p Chairman, 
            
            div.chairman_messege
                h4
                    i "कृष्णा सुदामा हेल्थ केयर सोसाइटी मेरा सपना है जहा मैं चाहता हूँ की हर जरूरतमंद को मनचाहा इलाज़ मिले उचित दामो पैर.इस सबके लिए जो लोगो को सहयोग मिला है उसके लिए मैं आभारी हूँ."
                
            
                    
           