div(class="mixin-header list block-title")
        h2.title-wrapper
            a(class="title" href="javascript: void(0);")  कृष्णा सुदामा हेल्थ केयर सोसाइटी
.accordion
    .active
        a(href='#') द्रस्टिकोण
        div
            
            p
                | "कृष्णा सुदामा हेल्थ केयर सोसाइटी सभी गरीब लोगो को खरीद के मूल्यों पैर दवाईया उपलब्ध कराना है ताकि कोई भी गरीब इसको अभाव से कभी भी परेशान ना हो ”
    div
        a(href='#') मिशन
        div
            p देश को १ करोड़ गरीबो को १ साल के अंदर लाभ पहचान 
            //- div(class="block")
            //-     ul(class="article-list")
            //-         li
            //-             a Create a demand for skilling across the country.
            //-         li
            //-             a Correct and align skilling with required competencies.
            //-         li
            //-             a Connect the supply of skilled human resources with sectoral demands.
            //-         li
            //-             a Certify and assess in alignment with global and national standards.
            //-         li
            //-             a Catalyze an ecosystem where in productive & innovative entrepreneurship germinates, sustains and grows leading to creation of a more dynamic entrepreneurial economy and more formal wage employment
   
    div
        a(href='#') उद्देश्य
        div
            p सभी जरूरतमंदों को खरीद मूल्यों पर दवाईयां उपलब्ध कराना है. सभी खर्च जैसे दूकान का किराया, कर्मचारियों का बेतन, बिजली, पानी इत्यादि सदस्यो के सहयोग से सोसाइटी स्वयं वहां करती है.
                    //- div(class="block")
                    //-     ul(class="article-list")
                    //-         li
                    //-             a Identify skill development needs and prepare catalogue of skill types.
                    //-         li
                    //-             a Develop National Occupational Standards.
                    //-         li
                    //-             a Develop Quality Assurance Framework.
                    //-         li
                    //-             a Develop a well-structured “ Labor Market Information System.”
                    //-         li
                    //-             a TOT CalendersStandardization of affiliation, accreditation and certification process.