div(class="mixin-header breaking-news")
    a(href="javascript: void(0);",class="the-title title")  Media Partners
div(class="block-content our_partners_wrapper")
        ul(class="article-block-big")
            
                li
                    .article-photo
                        a.hover-effect(href='http://meridelhi.com/')
                            img(src="/images/meridilli.jpg")
                    
                li
                    .article-photo
                        a.hover-effect(href='http://hocalwire.com')
                            img(src="/images/hocalwire.png")
                        
    