.accordion
    div.active
        a(href='#') Standards & QA
        div
            h3 
                a(href="/resources/qa#accordion_1",target="_blank") Nationa Ouccpational Standards
            h3 
                a(href="/resources/qa#accordion_2",target="_blank") Nationa Ouccpational Standards
            
                
    div
        a(href='#') Standards & QA
        div
            h3 
                a(href="/resources/qa#accordion_1",target="_blank") Nationa Ouccpational Standards
            h3 
                a(href="/resources/qa#accordion_2",target="_blank") Nationa Ouccpational Standards
    div
        a(href='#') Standards & QA
        div
            h3 
                a(href="/resources/qa#accordion_1",target="_blank") Nationa Ouccpational Standards
            h3 
                a(href="/resources/qa#accordion_2",target="_blank") Nationa Ouccpational Standards
    div
        a(href='#') Standards & QA
        div
            h3 
                a(href="/resources/qa#accordion_1",target="_blank") Nationa Ouccpational Standards
            h3 
                a(href="/resources/qa#accordion_2",target="_blank") Nationa Ouccpational Standards
    div
        a(href='#') Standards & QA
        div
            h3 
                a(href="/resources/qa#accordion_1",target="_blank") Nationa Ouccpational Standards
            h3 
                a(href="/resources/qa#accordion_2",target="_blank") Nationa Ouccpational Standards
