div(class="block")
    div.grid-carousel.hide.silgleSlide
        div.featured-block
            .article-content.article-content-carousel
                h4
                    a(href='javascript: void(0);') asl;djflkajsldj flajdf jl;ajsdl;fjlka;sd
            .article-photo
                a.hover-effect(href='javascript: void(0);')
                    img(src="/images/slider1.jpg")
        div.featured-block
            .article-content.article-content-carousel
                h4
                    a(href='javascript: void(0);') asl;djflkajsldj flajdf jl;ajsdl;fjlka;sd
            .article-photo
                a.hover-effect(href='javascript: void(0);')
                    img(src="/images/slider2.jpg")
        div.featured-block
            .article-content.article-content-carousel
                h4
                    a(href='javascript: void(0);') asl;djflkajsldj flajdf jl;ajsdl;fjlka;sd
            .article-photo
                a.hover-effect(href='javascript: void(0);')
                    img(src="/images/slider3.jpg")
        div.featured-block
            .article-content.article-content-carousel
                h4
                    a(href='javascript: void(0);') asl;djflkajsldj flajdf jl;ajsdl;fjlka;sd
            .article-photo
                a.hover-effect(href='javascript: void(0);')
                    img(src="/images/slider4.jpg")
        div.featured-block
            .article-content.article-content-carousel
                h4
                    a(href='javascript: void(0);') asl;djflkajsldj flajdf jl;ajsdl;fjlka;sd
            .article-photo
                a.hover-effect(href='javascript: void(0);')
                    img(src="/images/slider5.jpg")
                
        

