
/*
3.7 Contact
********************************************************************/
 .contact {
    background: #fff;
}
.contact h1, .contact h2, .contact h3, .contact h4, .contact h5, .contact h6, .contact .section .title > p, .contact .social > li > a {
    color: #181A1C;
}
.contact textarea, .contact input[type="text"], .contact input[type="email"] {
    padding: 10px;
    line-height: 20px;
    height: auto;
    width: 95%;
}
.contact textarea {
    height: 120px;
    width: 95%;
}
.contacts, .contact .social {
    color: #fff;
    list-style: none;
    margin-left: 10px;
}
.contacts > li {
    margin-top: 15px;
}
.contacts > li > a {
    color: #fff;
}
.contact-info {
    margin-top:10px;
    margin-bottom:10px;
}
.contact-info p{
     font-weight:normal;
}
.contact-info .icon {
    margin:10px auto;
    font-size:30px;
}

.contact-form {
    background:#fff;
    background: rgba(255, 255, 255, 0.9);
    z-index:1;
    position:relative;
   
    padding:0px;
    padding-top:0px;
    background: #FFFFFF;
    border: 1px solid #CCC;
    border-radius: 3px;
   
}
}
.contact-form h3 {
    color:#838589;
    padding-bottom:20px;
}
.message-btn {
    border:1px solid #747C89;
    color:#747C89;
    background-color:transparent;
    padding:15px 30px;
    font-size:17px;
}
.message-btn:hover {
    background-color:#FECE1A;
}
.contact-info {
    text-align:center;
    font-size:22px;
}
.info-mail {
    border:1px solid white;
    width:60%;
    margin:0 auto;
    padding:15px;
    color:#181A1C;
}
.controls input, .controls textarea{
    width: 95%;
}


.controls textarea{
    margin-bottom: 30px;
}

.career-wrapper {
   
    text-align: center;
}

.career-tab {
    float: none;
    display: inline-block;
}
.career-tab {
    background: #F1F2F3;
    display: inline-block;
    width:50%;
   padding-top: 10px;
   padding-bottom: 10px;
   color: #888888;
}
.career-tab.active {
    background: #FFFFFF;
}
.form-wraper {
    padding: 20px;
}
.career-message {
    color: #333;
    padding: 10px;
    text-align: center;
}
.navbar-inner {
    padding-left: 10px;
    padding-right: 10px;
}
