#news-detail-page {
    min-height: 760px;
}

.aside-nav ul {
    background: none repeat scroll 0 0 #252D30;
}
.aside-nav li a {
    border-bottom: 1px solid #151E1F;
    color: #FFFFFF;
}
.aside-nav li a:link, .aside-nav li a:visited {
    color: #FFFFFF;
}
.aside-nav li > ul,.aside-nav li ul ul {
    background: none repeat scroll 0 0 #151E1F;
}
.top-nav li a:hover, .aside-nav li a:hover,.aside-nav > ul > li.active-item > a:link, .aside-nav > ul > li.active-item > a:visited {
    background: none repeat scroll 0 0 #181F22;
}
i {
    color: #E36132;
    display: inline-block;
    font-size: 1.2em;
    width: 1.8em;
}
.date {
    text-align: left;

}
.date span {
    font-size: 2.7em;
}
.date i {
    color: #D0D0D0;
    font-size: 1.0em;
    width: auto;
}
.news-location {
        font-weight: bold;
}
#search,#social {
    border-top: 1px solid #151E1F;
    padding: 1.25em;
    position: relative;
}
#search i {
    margin-left: 0.625em;
    width: auto;
}
#social i {
    color: #B0B0B0;
    font-size: 1.8em;
    width: auto;
}
article hr {
    color: #E0E0E0;
    margin: 1.25em 0;
}
#content-wrapper:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
#content-wrapper {
    background: none repeat scroll 0 0 #252D30;
}
img#background {
    height: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -10;
}
.line {
        margin-left: 10%;
}
.footer {
    background: none repeat scroll 0 0 #E0E0E0;
}
.news-details-section {
    padding:10px;
}
.news-details-section p {
    display: block;
}
.source-name {
    text-align: center;
    font-weight: bold;
    font-size: 17px;
    border-bottom: 1px solid #CCC;
}
.date {
    border-bottom: 1px solid #D2CECE;
}
.date p{
    padding: 0 !important;
}
.date span {
    font-size: 17px;
}
.full-story {
    margin-top: 10px;
    padding: 5px 10px;
    float: right;
    color: #14599A;
    text-decoration: underline;
}
.fa {
    width: 18px;
}
.news-details-section p span {
    margin-right: 25px;
}
.single_sidebar {
    padding:0px;
}
.sidebar_title {
    margin-top: 10px;
}
.sidebar_title h2{
    margin-left: 0px;
}

@media screen and (max-width: 768px) {
  .aside-nav li a,#search,#social {
      padding: 0.625em 1.25em;
  }
  .date {
      text-align: left;
  }
}
********************************************************************/
 @media (min-width: 1200px) {
    .thumbnail .more {
        margin-left:-41px;
        width:80px;
        height:80px;
        border-radius:40px;
        line-height: 80px;
    }

}
@media (max-width: 979px) {
    body {
        padding-left:0;
        padding-right:0;
    }
    .navbar-fixed-top, .navbar-fixed-bottom {
        position: fixed;
    }
    .navbar .nav > li > a {
        line-height: 20px;
        vertical-align: middle;
    }
    .section {
        padding-left:20px;
        padding-right:20px;
    }
    .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
        margin-left: 0px;
        margin-right: 0px;
    }
    .nav-collapse {
        clear: both;
    }
    .nav-collapse .nav {
        float: none;
        margin: 0 0 10px;
    }
    .nav-collapse .nav > li {
        float: none;
    }
    .nav-collapse, .nav-collapse.collapse {
        width: 100%;
        display: inherit;
    }
    .thumbnail .more {
        margin-left:-21px;
        width:40px;
        height:40px;
        border-radius:30px;
        line-height: 40px;
    }
    .thumbnail:hover .more {
        margin-top:-20px;
    }
    .newsletter form {
        text-align:center;
    }
}
@media (max-width: 767px) {
    .info-mail {
        width:90%;
        padding:15px 0px;
    }
    .project-description {
        padding-left:20px;
    }
    .price-column, .testimonial {
        margin-top:30px;
    }
}


/* extra css added by ashwani */
.extra-space-small {
        display: none;
    }
#news-detail-carousel a img{
    margin: auto;
    width: 50%;
    padding: 10px;
}
.home-app-icons img{
 
    display: inline;
}
@media (max-width: 979px) {
    #news-detail-carousel a img{
        margin: auto;
        width: 60%;
        padding: 10px;
    }
}

@media (max-width: 767px) {
    #news-detail-carousel a img{
        margin: auto;
        width: 80%;
        padding: 10px;
    }
    .line {
        margin-left: 5%;
    }

}

@media (max-width: 480px) {
    #news-detail-carousel a img{
        margin: auto;
        width: 100%;
        padding: 5px;
    }
    .extra-space-small {
        display: block;
    }
    .line {
        margin-left: 0%;
}
}

.footer {
    background: #181A1C;
}
.fixed-floating-btn {
    width : auto;
}