extends ../../theme_dragon/layout
include ../../theme_dragon/allMixin
block content
    div(class="boxed")
         include ../../theme_dragon/partials/_header
        div(class="clear-float")
        div.content.margin10
            div.wrapper
                div.news-ticker-area#news_ticker_area
                    -if(data['news_ticker_area'] && data['news_ticker_area'].templateData && data['news_ticker_area'].templateData.mixinName){
                        +#{data['news_ticker_area'].templateData.mixinName}(data['news_ticker_area'])
                    -}
                #level_top_full
                    -if(data['level_top_full'] && data['level_top_full'].templateData && data['level_top_full'].templateData.mixinName){
                        +#{data['level_top_full'].templateData.mixinName}(data['level_top_full'])
                    -}
                div(class="main-content-left")
                          .content-article-title
                            h2 Management Team
                            .right-title-side
                              br
                              a(href='/')
                                span.icon-text ⌂
                                | Back To Homepage
                          .shortcode-content
                            .team-member.single
                              .member
                                .member-photo
                                  img.setborder(src='images/sunita_gupta.jpg', alt='')
                                .member-info
                                  b SUNITA GUPTA
                                  span President
                                  p
                                    | Ms. Sunita Gupta, Chartered Accountant by profession has a post qualification experience of over 20 years in the field of managing financing and coordinating activities of a business enterprises.
                                  .clear-float
                            .spacer-break-4.with-icon(style='background-color:#e6e6e6;color:#e6e6e6;')
                            .team-member.single
                              .member
                                .member-photo
                                  img.setborder(src='', alt='')
                                .member-info
                                  b R.K SHARMA
                                  span Executive Director
                                  p
                                    | Mr. R.K Sharma retired from Custom, Central Excise and Service Tax as gazetted Officer has vast experience of management, administration and legal affairs for the last 36 years. He is managing finance and co-ordination activity of the channel.
                                  .clear-float
                            .spacer-break-4.with-icon(style='background-color:#e6e6e6;color:#e6e6e6;')
                            .team-member.single
                              .member
                                .member-photo
                                  img.setborder(src='images/ram_gopal_shukla.jpg', alt='')
                                .member-info
                                  b ACHARYA RAM GOPAL SHUKLA
                                  span Director
                                  p
                                    | Mr. R. G Shukla has vast experience in Print as well as Electronic Media for the last 30 years. He has vast knowledge of Sanatan Sanskriti and he has also been at command of various channels as CEO, MD and Director.
                        .clear-float
                div(class="main-content-right")
                    include ../../theme_dragon/partials/_othersRightSection
                .clear-float
        include ../../theme_dragon/partials/_footer