include ../../theme_zebra/allMixin
extends ../../theme_zebra/layout
block content
   div.container
     include ../../theme_zebra/partials/_header
     include ../../theme_zebra/partials/_navArea
     div#contentSection
        div.row#contact-us-page
              div(class="col-lg-8 col-md-8 col-sm-8")
                  .left_content
                    // start contact area
                    .contact_area
                      h2 Terms and Condition
                     
                      p
                        | वूमेन टाइम्स न्यूज़ आपको देता है एक ऐसा प्लेटफार्म जहां आप फिक्स सैलरी के साथ अर्न कर सकते हैं असीमित आए ।
                      p
                        | आइए जानते हैं प्रतिक्रिया के बारे में वूमेन टाइम्स न्यूज़ से जुड़ने के लिए आपको सौ रुपए फाइल चार्ज के रूप में भुगतान करने होते हैं जिसमें हम आपके द्वारा भेजे गए खबरों को अपने पोर्टल पर सुनिश्चित करते हैं ।व आप वूमेन times समूह के सदस्य के रूप में कार्यरत होते हैं आपके साथ होने वाले किसी भी अन्याय के विरोध में आपका समूह आपके साथ कदम से कदम मिलाकर सदैव तत्पर रहेगा                        

                      p 
                        | नियम व शर्तें आपकी आपराधिक छवि ना हो हुआ आप आर्गेनाइजेशन से जुड़ने से पहले किसी भी आपराधिक क्रियाकलापों में संलिप्त ना हो आपको अपने संपूर्ण दस्तावेज हमारे फतेहपुर भाई पोस्टल एड्रेस भेजने होंगे आप को भुगतान आपके कार्य के आधार पर किया जाएगा किसी भी प्रकार के आपराधिक कार्य के लिए आप स्वयं जिम्मेदार होंगे आपकी ऑर्गनाइजेशन आपका सपोर्ट नहीं करेगी आपकी आर्गेनाइजेशन आपसे समाज के प्रति हुआ शासन प्रशासन के प्रति अच्छे व्यवहार की अपेक्षा करती है समस्त वाद-विवाद का कार्यक्षेत्र लखनऊ उत्तर प्रदेश होगा आपको किसी भी न्यूज़ स्टोरी को खबर करने से पूर्व ऑर्गनाइजेशन को सूचना देनी होगी आपको आर्गेनाइजेशन के द्वारा पैसे के भुगतान वह पदोन्नति Hate प्रतिदिन खबरें भेजनी होगी                        

                      p 
                        | नियम व शर्तें 
                        br
                        | 1 आपकी आपराधिक छवि ना हो
                        br 
                        | 2 आप आर्गेनाइजेशन से जुड़ने से पहले किसी भी आपराधिक क्रियाकलापों में संलिप्त ना हो 
                        br
                        | 3 आपको अपने संपूर्ण दस्तावेज हमारे पोस्टल एड्रेस पर भेजने होंगे
                        br 
                        | 4 आप को भुगतान आपके कार्य के आधार पर किया जाएगा
                        br 
                        | 5 किसी भी प्रकार के आपराधिक कार्य के लिए आप स्वयं जिम्मेदार होंगे आपकी ऑर्गनाइजेशन आपका सपोर्ट नहीं करेगी
                        br 
                        | 6 आपकी आर्गेनाइजेशन आपसे समाज के प्रति व शासन प्रशासन के प्रति अच्छे व्यवहार की अपेक्षा करती है  आपको किसी भी न्यूज़ स्टोरी को कवर करने से पूर्व ऑर्गनाइजेशन को सूचना देनी होगी आपको आर्गेनाइजेशन के द्वारा पैसे के भुगतान व पदोन्नति आपके कार्य व ववहार पर निर्भर करेगा व प्रतिदिन खबरें भेजनी होगी।
                        br
                        | 7 समस्त वाद-विवाद का कार्यक्षेत्र लखनऊ उत्तर प्रदेश होगा।
                        br
                        | 8 आपको किसी भी आपराधिक क्रियाकलापों में पाए जाने पर आपको ऑर्गनाइजेशन तत्काल प्रभाव से बिना किसी सूचना निकालने का अधिकार सुरक्षित रखती है
                      
              div(class="col-lg-4 col-md-4 col-sm-4")
                  aside(class="right_content")
                      include ../../theme_zebra/partials/_homeRightSection
                div(class="col-lg-12 col-md-12 col-sm-12")
                    #level_bottom_full
                        -if(data['level_bottom_full'] && data['level_bottom_full'].templateData && data['level_bottom_full'].templateData.mixinName){
                            +#{data['level_bottom_full'].templateData.mixinName}(data['level_bottom_full'])
                        -}
        include ../../theme_zebra/partials/_footer
