extends ../../theme_dragon/layout
include ../../theme_dragon/allMixin
block content
    div(class="boxed")
         include ../../theme_dragon/partials/_header
        div(class="clear-float")
        div.content.margin10
            div.wrapper
                div.news-ticker-area#news_ticker_area
                    -if(data['news_ticker_area'] && data['news_ticker_area'].templateData && data['news_ticker_area'].templateData.mixinName){
                        +#{data['news_ticker_area'].templateData.mixinName}(data['news_ticker_area'])
                    -}
                #level_top_full
                    -if(data['level_top_full'] && data['level_top_full'].templateData && data['level_top_full'].templateData.mixinName){
                        +#{data['level_top_full'].templateData.mixinName}(data['level_top_full'])
                    -}
                div(class="main-content-left")
                  .content-article-title
                    h2 About Us
                    .right-title-side
                      br
                      a(href='/')
                        span.icon-text ⌂
                        | Back To Homepage
                  .shortcode-content
                      .paragraph-block
                        h2 Vir Arjun News Channel
                        p(style='font-size: 14px !important;')
                          | Vir Arjun News is a 24x7 News & Current Affair Satellite Channel launched on 16th May 2009 meant for all well meaning viewers all over India. It has established a record accessibility to viewers in very short span of time. Our winning formula lies in our concept of “News is a Mission” TO BE ACHIEVED THROUGH CLUBBING TOGETHER OF “BEST JOURNALISTS, BEST TECHONOLOGIES & BEST ADVERTISERS.”
                        p(style='font-size: 14px !important;')
                          | The channel ‘Vir Arjun’ is backed by the latest communication technology, inspired by the finest media inventions and innovations from across the world. It has most techno-savvy news room, supported by highly equipped studios with graphic work stations, virtual studio & SET and the latest craft edit promo machines and all professional staff.
                        p(style='font-size: 14px !important;')
                          | The Channel opened the floodgates of entertainment, business & news for all Indian Television viewers. A heady cocktail of Programmes, Information, News, Bulletins, from General Information to city Specific Programming, the Channel will have all flavors.
                        p(style='font-size: 14px !important;')
                          | We have national coverage of our channel all over India.
                    .spacer-break-2.with-icon(style='background-color:#e6e6e6;color:#e6e6e6;')
                      span.icon-text 
                div(class="main-content-right")
                    include ../../theme_dragon/partials/_othersRightSection
                .clear-float
        include ../../theme_dragon/partials/_footer