include ../../theme_elephant/allMixin
extends ../../theme_elephant/layout
block content
    include ../../theme_elephant/partials/_header
    include ../../theme_elephant/partials/_navArea
    div.container
        .row.mtop15
            include ../../theme_elephant/partials/_breakingSocial
        .row.mtop15
            .col-md-8.no-padding.pright15
               .outer_wrapper.clearfix
                    .row.mtop15
                        .col-md-12
                            h3.center
                                span
                                    |About Us
                            h4
                                span.lineheight
                                    | न्यूज़ फॉर द पीपुल का जन्म ही इस समझ के साथ हुआ है कि सरोकार को और मजबूत किया जाए, एक माध्यम ऐसा तैयार हो जो ख़बर देने का साधन मात्र ना होकर आम लोगों को बाख़बर करने वाली आवाज़ बने। इसलिए हम लेकर आए हैं ख़बर भी, नज़रिया भी।
                                    br
                                    | रंजन कुमार, राजेश चंद्र सिसौदिया, रूपम और प्रेम कुमार न्यूज़ फॉर द पीपुल की संस्थापक सोच हैं। हममें से हर कोई 15 से 20 साल तक पत्रकारिता का अनुभव रखता है। इसलिए ख़बरों की परख, आम लोगों की ज़रूरत को समझने की परम्परा को इस नए मंच से हम नये मुकाम तक पहुंचा पाएंगे, ऐसा हमारा विश्वास है। हम इस मंच से हर तरह की वैचारिक प्रतिबद्धता का सम्मान करते हैं।
                                    br
                                    br
                                    p
                                        strong  राजेश चंद्र सिसौदिया, सीनियर एडिटर
                                        br
                                        strong  रूपम, सीनियर एडिटर

            .col-md-4.no-padding
                include ../../theme_elephant/partials/_genericRightSection
                      
            
    include ../../theme_elephant/partials/_footer

