include ../../theme_elephant/allMixin
extends ../../theme_elephant/layout
block content
    include ../../theme_elephant/partials/_header
    include ../../theme_elephant/partials/_navArea
    div.container
        .row.mtop15
            include ../../theme_elephant/partials/_breakingSocial
        .row.mtop15
            .col-md-8.no-padding.pright15
                .outer_wrapper.clearfix
                    .row.mtop15
                        .col-md-12
                            h3.center
                                span
                                    |404 Error
                            h4.center
                                span
                                    | Sorry the page in not available, 
                                    br
                                    | Kindly check the url and try again.
            .col-md-4.no-padding
                include ../../theme_elephant/partials/_genericRightSection
                      
            
    include ../../theme_elephant/partials/_footer

