.ot-tabbed{
    display: inline-block !important;
}
.ot-tab-block{
    display: inline-block !important;
    padding-top: 0px;
    width:100%;
}
.ot-tab-block .list-group li{
    display: inline-block !important;
        *display:inline; /*IE7*/
        *zoom:1; /*IE7*/
        color:white;
        margin-right:10px;
}
.list-group{
    display: flex;
    width:100%;
}
.ot-tabbed h3.active {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 18px;
    color: #fff;
}
.header-logo img {
    height: 120px;
    width: auto;
}
.cp-mega-menu>ul>li>a {
    padding-left: 7px!important;
    padding-right: 7px!important;
}
.submit{
    margin-top: 15px;
}