extends ../../theme_eagle/layout
include ../../theme_eagle/allMixin
block content
    include ../../theme_eagle/partials/_header
    div.container
        
        include ../../theme_eagle/partials/_navArea
        div#contentSection
            div.row.row_main
                div(class="col-md-12")
                    #level_top_full
                        -if(data['level_top_full'] && data['level_top_full'].templateData && data['level_top_full'].templateData.mixinName){
                            +#{data['level_top_full'].templateData.mixinName}(data['level_top_full'])
                        -}
                div(class="col-lg-8 col-md-8 col-sm-8")
                    div(class="top_left_content")
                        .huge-message
                          b.big-title Error
                          b.small-title Unknown error occured
                          p
                            | There is something not right. Please check again later
                          a.icon-link(href='/')
                            span.icon-text ⌂
                            | Back to Homepage
                div(class="col-lg-4 col-md-4 col-sm-4")
                    aside(class="right_content")
                        include ../../theme_eagle/partials/_genericRightSection
            #ad_first_middle
            div.row.row_main
                div(class="col-lg-12 col-md-12 col-sm-12")   
                     include ../../theme_eagle/partials/_genericMiddleSection
            div.row.row_main
                div(class="col-lg-12 col-md-12 col-sm-12")
                    #level_bottom_full
                        -if(data['level_bottom_full'] && data['level_bottom_full'].templateData && data['level_bottom_full'].templateData.mixinName){
                            +#{data['level_bottom_full'].templateData.mixinName}(data['level_bottom_full'])
                        -}
                    div.comments-wrapper
                        #comments
                            
                        
        include ../../theme_eagle/partials/_footer
    
 