body{
	background: #FFFFEA;
}
.logo img {
    width: auto;
    height: auto;
}
.head-title .heading_main {
    background: rgba(136, 127, 26, 0.71);
}
.head-title {
    border-color: rgba(136, 127, 26, 0.71);
    border-bottom: 3px solid rgba(136, 127, 26, 0.71);
}
.top-head-wrap {
    background: #FFFFEA;
    border-bottom: 3px solid #737240;
}
.sb-icon-search {
    background: #aaa456;
}
#navArea {
    background: #242300;
}
.latest_newsarea span {
    background: #737240;
}
.latest_newsarea {
    background: #52523a;
}
.static-links.dark-bg {
    background: #242300;
}
.footer_static a{
	color: #fff;
}
.outer_wrapper {
    background: #FFF;
}
.bread-crumb ul{
	background: #737240;
}
.bread-crumb ul li a, #breadcrumbs li .current-page, #breadcrumbs li.separator{
color: #fff;
}
.detail_head_wrap {
    border-left: 4px solid #737240;
}
.lineheight{
    line-height: 1.8;
}
a.head-link {
    color: #696767;
}
div{
    color:#525252;
}
.outer_wrapper:hover {
    box-shadow: none;
}
.follow-us-lable{
    color: #fff;
}
.social_area {
    position: absolute;
    right: 0;
    top: 0;
    background: #fff;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    height: 31px;
}
.latest_newsarea{
    width: 88%;
    height: 15px;
}
.social_area .social_nav {
    text-align: right;
}
.social_area .social_nav li {
    display: block;
    float: left;
}
.social_area .social_nav li a {
    display: block;
    float: left;
    height: 30px;
    text-indent: -9999px;
    width: 30px;
    border-left: 1px solid #ccc;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.social_area .social_nav li.facebook a {
    background-image: url(/theme_zebra/images/socials.png);
    background-position: 0 -30px;
    background-size: 270px 60px;
}
.social_area .social_nav li.twitter a {
    background-image: url(/theme_zebra/images/socials.png);
    background-position: -30px -30px;
    background-size: 270px 60px;
}
.social_area .social_nav li.youtube a {
    background-image: url(/theme_zebra/images/socials.png);
    background-position: -180px -30px;
    background-size: 270px 60px;
    width: 60px;
}
.social_area .social_nav li.pintrest a {
background-image: url(/theme_zebra/images/socials.png);
    background-position: -89px -30px;
    background-size: 270px 60px;
}
.social_area .social_nav li.facebook a:hover {
    background-position: 0 0;
    background-size: 270px 60px;
    background-color: #436eac;
}
.social_area .social_nav li.twitter a:hover {
    background-position: -30px 0;
    background-size: 270px 60px;
    background-color: #0598c9;
}
.social_area .social_nav li.youtube a:hover {
    background-position: -180px 0;
    background-size: 270px 60px;
    background-color: #e32114;
}
.social_area .social_nav li.pintrest a:hover {
    background-position:-90px 0;
    background-size: 270px 60px;
    background-color: #cb2026;
}
.image-wrapper{
    max-height: 160px;
    overflow: hidden;
}

.big_img_wrapper .news_category{
    top: 10px !important;
     bottom: 85%;
}
.small_img_wrapper{
max-height:155px;
overflow: hidden;
}
.big_img_wrapper{
    max-height:320px;
    overflow: hidden;
}
.detail_head_wrap {
    border-left:none;
}
.post-intro{
    display: none;
}
.similar-post-wrap{
  max-height: 85px;
}

.post-info .in-content * {
    font-size: 16px;
}
