include ../../theme_loon/allMixin
extends ../../theme_loon/layout
block content
    
    div(class="boxed")
        include ../../theme_loon/partials/_header
        div.content
            div.wrapper
                div#banner_area.banner_area
                    -if(data['banner_area'] && data['banner_area'].templateData && data['banner_area'].templateData.mixinName){
                        +#{data['banner_area'].templateData.mixinName}(data['banner_area'])
                    -} 
                div(class="clear-float")
                div.news-ticker-area#news_ticker_area
                    -if(data['news_ticker_area1'] && data['news_ticker_area'].templateData && data['news_ticker_area'].templateData.mixinName){
                        +#{data['news_ticker_area'].templateData.mixinName}(data['news_ticker_area'])
                    -}
                div(class="clear-float")
                #level_top_full
                    -if(data['level_top_full'] && data['level_top_full'].templateData && data['level_top_full'].templateData.mixinName){
                        +#{data['level_top_full'].templateData.mixinName}(data['level_top_full'])
                    -}
                div(class="clear-float")
                div.main-content
                    div.main-page.left
                        div.single-block
                            div.content-block.main.left
                                .huge-message
                                    b.big-title Error Occured
                                    b.small-title Oops, what a shame
                                    p
                                      | Sorry, but seems we got tricked. You can check this page in a while  OR
                                      br
                                      | Please check if you are trying the correct url.
                                    a.icon-link(href='/')
                                      span.icon-text ⌂
                                      | Back to Homepage
                    div.main-sidebar.right
                        include ../../theme_loon/partials/_othersRightSection
                    div(class="clear-float")
        
                div#level_bottom_full
                    -if(data['level_bottom_full'] && data['level_bottom_full'].templateData && data['level_bottom_full'].templateData.mixinName){
                        +#{data['level_bottom_full'].templateData.mixinName}(data['level_bottom_full'])
                    -}
                div(class="clear-float")
        include ../../theme_loon/partials/_footer