include ../../theme_ape/allMixin
extends ../../theme_ape/layout
block content
    div#site.left.relative.home
        #site-wrap.left.relative
            include ../../theme_ape/partials/_header
            .col-tabs-wrap.left.relative.mobile_tabs_wrapper(style='top: 0px;')
                #mobile_tabs
            #body-main-wrap.left.relative(style='transform: none;')
                .body-main-out.relative(style='transform: none;')
                    .body-main-in(style='transform: none;')
                        #body-main-cont.left.relative(style='transform: none;')
                            #level_top_full.leader-right-wrap
                                -if(data['level_top_full'] && data['level_top_full'].templateData && data['level_top_full'].templateData.mixinName){
                                    +#{data['level_top_full'].templateData.mixinName}(data['level_top_full'])
                                -}
                            #feat-top-wrap.feat_top_wrap.left.relative
                                -if(data['feat-top-wrap'] && data['feat-top-wrap'].templateData && data['feat-top-wrap'].templateData.mixinName){
                                    +#{data['feat-top-wrap'].templateData.mixinName}(data['feat-top-wrap'])
                                -}
                            #post-main-wrap.left.relative
                                .post-wrap-out1
                                    .post-wrap-in.white_bg_card.left(style="margin-bottom:15px;")
                                        .post-left-col.static-page-wrapper
                                            .head_section_investor
                                                h3.main_heading_static Investor Relation
                                            .content_section_investor
                                                p Indian Science Journal (ISJ) is a new-age digital publication intended to lend voice to Science and Technology in India. Unlike mainstream media organizations, in print and electronic, ISJ is being developed into a niche Internet media to promote India’s stride in science, technology and research in agriculture and medicine and update stakeholders about developments in these fields across the globe.

                                                p Backed by two decades of experience in mainstream Indian media, the flag-bearers of ISJ have widely covered public policy – with state-owned and non-government media organizations.
                                            #inside_post_bottom
                                    //- #post-right-col
                                    //-     include ../../theme_ape/partials/_genericRightSection
                                    #level_bottom_full.leader-right-wrap
                                        -if(data['level_bottom_full'] && data['level_bottom_full'].templateData && data['level_bottom_full'].templateData.mixinName){
                                            +#{data['level_bottom_full'].templateData.mixinName}(data['level_bottom_full'])
                                        -}
                            
                include ../../theme_ape/partials/_footer
                    