extends ../../theme_dolphin/layout
include ../../theme_dolphin/allMixin
block content
    include ../../theme_dolphin/partials/_header
    div.container
        
        include ../../theme_dolphin/partials/_navArea
        div#contentSection
            div.row.row_main#article-post-page
                div(class="col-md-12")
                    #level_top_full
                        -if(data['level_top_full'] && data['level_top_full'].templateData && data['level_top_full'].templateData.mixinName){
                            +#{data['level_top_full'].templateData.mixinName}(data['level_top_full'])
                        -}
                div(class="col-lg-12 col-md-12 col-sm-12")

                    div(class="top_left_content")
                        div.breadcrumb-static
                          include ../../theme_dolphin/partials/_breadcrumb
                        h2 The Millenium Post
                        p 
                            i
                               | Millennium Post &nbsp;
                            | is an all new, 16-page English language broadsheet from New Delhi, India. Launched on 2 May 2012, the paper is fast creating a niche for itself with its investigative stories in the crowded news market of the national capital. 
                            b Durbar Ganguly, 
                            |   former Vice Chairman and Joint Managing Director, The Pioneer Group, is the promoter of the broadsheet.
                            br
                            br
                            |   Arya Rudra, former Coordinating Editor of Statesman, Kolkata, is the Executive Editor.          
                    
                    +socialShare("/about-us","About Us",true)
                        
                //- div(class="col-lg-4 col-md-4 col-sm-4")
                //-     aside(class="right_content")
                //-         include ../../theme_dolphin/partials/_genericRightSection
            #ad_first_middle
            div.row.row_main
                div(class="col-lg-12 col-md-12 col-sm-12")   
                     include ../../theme_dolphin/partials/_genericMiddleSection
            div.row.row_main
                div(class="col-lg-12 col-md-12 col-sm-12")
                    #level_bottom_full
                        -if(data['level_bottom_full'] && data['level_bottom_full'].templateData && data['level_bottom_full'].templateData.mixinName){
                            +#{data['level_bottom_full'].templateData.mixinName}(data['level_bottom_full'])
                        -}
                    div.comments-wrapper
                        #comments
                            
                        
        include ../../theme_dolphin/partials/_footer
    
                 