extends ../../theme_dolphin/layout
include ../../theme_dolphin/allMixin
block content
    include ../../theme_dolphin/partials/_header
    div.container
        
        include ../../theme_dolphin/partials/_navArea
        div#contentSection
            div.row.row_main#article-post-page
                div(class="col-md-12")
                    #level_top_full
                        -if(data['level_top_full'] && data['level_top_full'].templateData && data['level_top_full'].templateData.mixinName){
                            +#{data['level_top_full'].templateData.mixinName}(data['level_top_full'])
                        -}
                div#contact-us-page(data-role="page",class="col-lg-12 col-md-12 col-sm-12 contact-us-page")

                    div(class="top_left_content")
                        div.breadcrumb-static
                            include ../../theme_dolphin/partials/_breadcrumb
                            h2 Contact Us
                            div(class="cp-post-content")
                                
                                .contact-us-page
                                    span.red-color.contact-us-headers Head Office
                                    br
                                    p
                                        b Millennium Post
                                    p C/o Front Row Media Private Limited,
                                    p Pratap Bhawan,5, Bahadur Shah Zafar Marg, Press Area,
                                    p New Delhi 110002.
                                    p Phone: +91-11-47777500
                                    p Fax: +91-11-23319061
                                    
                                    
                                    br
                                    span.red-color.contact-us-headers EDITORIAL CONTACT 
                                    br
                                    p
                                        a(href="mailto:durbarganguly@gmail.com") durbarganguly@gmail.com
                                    br
                                    span.contact-us-text.orange-color ADVERTISEMENT AND MARKETING CONTACT &nbsp;
                                    br
                                    p 
                                        b Durbar Ganguli
                                    p 
                                        a(href="tel:+919810195709") Phone: +91-9810195709

                                    br
                                    span.contact-us-text.orange-color CIRCULATION CONTACT  &nbsp;
                                    br
                                    p 
                                        b Damayantee Mitra
                                    p Phone: +91-8800854665

                                    br
                                    span.contact-us-text.blue-color KOLKATA OFFICE ADDRESS &nbsp;
                                    br
                                    p 
                                        b Millennium Post
                                    p   Tivoli Court 1A,
                                    p   Ballygunge Circular Road, <br />
                                    p   Block - A, Flat - 94, 1st Floor,
                                    p   Kolkata - 700-019
                                    p   Phone : 033-40417500
                                    br
                                    br
                                    
                                    p   For marketing, contact: +91-9830532306
                                    p   For circulation, contact: +91-9836233100
                                    
                                    br
                                    br
                                    p   For other business queries, please email 
                                        a(href="mailto:durbarganguly@gmail.com") durbarganguly@gmail.com
                                   
                                    span.contact-us-headers  You can also contact us by filling form bellow
                                    <br>
                                    .cp-contactus
                                      // Contact Info
                                      .container
                                        .row
                                          .col-md-6
                                            .cp-contact-form

                                              form.material.contact-us-form
                                                #success-common.error.common-error(style='display:none;')
                                                #err-common.error.common-error(style='display:none;')
                                                ul
                                                    
                                                    li.input-group
                                                        
                                                        span.input-group-addon
                                                            i.icon-2
                                                        input.form-control(name="name", id="name", type='text', placeholder='Name')
                                                        #err-name.error.contact-us-error.left-align(style='display:none;') Please enter your name.
                                                    li.input-group
                                                        
                                                        span.input-group-addon
                                                            i.fa.fa-envelope
                                                        input.form-control(name="email", id="email",type='text', placeholder='Email')
                                                        #err-email.contact-us-error.error.left-align(style='display:none;') Please enter your email.
                                                    li.input-group
                                                        
                                                        span.input-group-addon
                                                            i.fa.fa-paperclip
                                                        input.form-control(name="subject", id="subject",type='text', placeholder='Subject')
                                                        #err-subject.contact-us-error.error.left-align(style='display:none;') Please enter a subject.
                                                    li.input-group
                                                        
                                                        span.input-group-addon
                                                            i.fa.fa-pencil
                                                        textarea.form-control(name="message", id="message",placeholder='Message')
                                                        #err-message.error.contact-us-error.left-align(style='display:none;') Please enter your message.
                                                    li
                                                        button.btn.btn-submit.waves-effect.waves-button.js-btn-submit-contact(type='submit')
                                                            | Submit 
                                                            i.fa.fa-angle-right
                                         
                                      
                    +socialShare("/about-us","About Us",true)
                        
                //- div(class="col-lg-4 col-md-4 col-sm-4")
                //-     aside(class="right_content")
                //-         include ../../theme_dolphin/partials/_genericRightSection
            #ad_first_middle
            div.row.row_main
                div(class="col-lg-12 col-md-12 col-sm-12")   
                     include ../../theme_dolphin/partials/_genericMiddleSection
            div.row.row_main
                div(class="col-lg-12 col-md-12 col-sm-12")
                    #level_bottom_full
                        -if(data['level_bottom_full'] && data['level_bottom_full'].templateData && data['level_bottom_full'].templateData.mixinName){
                            +#{data['level_bottom_full'].templateData.mixinName}(data['level_bottom_full'])
                        -}
                    div.comments-wrapper
                        #comments
                            
                        
        include ../../theme_dolphin/partials/_footer
    
                 