include ../../theme_cobra/allMixin
include ../../common/_registerReporter
extends ../../theme_cobra/layout
block content
    include ../../theme_cobra/partials/_header
    div(id="sb-site", class="body_wraper_box")
        include ../../theme_cobra/partials/_navArea
        //- +stickySocialShare("","",true)
        div(class="main_content row")
            div(class="content_wraper three_columns_container box-item")
                div(class="twelve columns")
                    #level_top_full
                div(class="twelve columns")
                    div(class="eight columns clearfix home_left_section")
                        .container                       
                            .row
                                .eight.columns
                                    .bg-404
                                            .error404-content
                                               
                                                h1  Sorry this page never returned from a trip to server.
                                                div.clearfix.error-button-wrapper
                                                    a.error-button(href="/") Go to HomePage
                                .four.columns
                                    div(class="twelve columns clearfix")
                                        .sidebar.side-bar.right-sidebar
                                            include ../../theme_cobra/partials/_genericRightSection
                div(class="content_wraper three_columns_container")
                    div(class="row")
                        #level_bottom_full
                            -if(data['level_bottom_full'] && data['level_bottom_full'].templateData && data['level_bottom_full'].templateData.mixinName){
                                +#{data['level_bottom_full'].templateData.mixinName}(data['level_bottom_full'])
                            -}

        include ../../theme_cobra/partials/_footer
block scripts
    include ../../common/_reporterResources