include ../../theme_ape/allMixin
extends ../../theme_ape/layout
block content
    div#site.left.relative.home
        #site-wrap.left.relative
            include ../../theme_ape/partials/_header
            .col-tabs-wrap.left.relative.mobile_tabs_wrapper(style='top: 0px;')
                #mobile_tabs
            #body-main-wrap.left.relative(style='transform: none;')
                .body-main-out.relative(style='transform: none;')
                    .body-main-in(style='transform: none;')
                        #body-main-cont.left.relative(style='transform: none;')
                            #level_top_full.leader-right-wrap
                                -if(data['level_top_full'] && data['level_top_full'].templateData && data['level_top_full'].templateData.mixinName){
                                    +#{data['level_top_full'].templateData.mixinName}(data['level_top_full'])
                                -}
                            #feat-top-wrap.feat_top_wrap.left.relative
                                -if(data['feat-top-wrap'] && data['feat-top-wrap'].templateData && data['feat-top-wrap'].templateData.mixinName){
                                    +#{data['feat-top-wrap'].templateData.mixinName}(data['feat-top-wrap'])
                                -}
                            #post-main-wrap.left.relative
                                .post-wrap-out1
                                    .post-wrap-in1.white_bg_card
                                        .post-left-col.static-page-wrapper
                                            h3 Contact Us
                                            table(style='width: 400px; height: 152px;')
                                                tbody
                                                    tr
                                                        td
                                                            strong
                                                                span(style='font-size: 15px;') Address :
                                                        td
                                                            span(style='font-size: 15px;') Regd. Office: Indian Science Journal,
                                                    tr
                                                        td
                                                        td
                                                            span(style='font-size: 15px;') F-25/79, Sector 3, Rohini,
                                                    tr
                                                        td
                                                        td
                                                            span(style='font-size: 15px;') Delhi 110 085, India
                                                    tr
                                                        td
                                                            strong
                                                                span(style='font-size: 15px;') Email :
                                                        td
                                                            span(style='font-size: 15px;')
                                                                a(href='mailto:info@indiansciencejournal.com') info@indiansciencejournal.com
                                                    tr
                                                        td
                                                            strong
                                                                span(style='font-size: 15px;') Mobile :
                                                        td
                                                            span(style='font-size: 15px;') +91-9868102057
                                    #post-right-col
                                        include ../../theme_ape/partials/_genericRightSection
                                    #level_bottom_full.leader-right-wrap
                                        -if(data['level_bottom_full'] && data['level_bottom_full'].templateData && data['level_bottom_full'].templateData.mixinName){
                                            +#{data['level_bottom_full'].templateData.mixinName}(data['level_bottom_full'])
                                        -}
                            
                include ../../theme_ape/partials/_footer
                    