
style.
    .navbar {
        margin: -8px -8px 0px -8px;
    }
    .navbar .container{
      text-align:center;
      padding:2px;
    }
    .navbar .container{
      text-align:center;
      padding:2px;
    }
    .text {
        font-size:16px;
    }
    .link {
      font-weight:bold;
      font-size:17px;
    }
    .blue {
      color: blue;
    }

include ../../mixin/_appDownloadButton

div.navbar
  div.navbar-inner(style="background: #F7C805;padding-left: 10px;padding-right: 10px;")
      div.container
        a.no-ajaxy.brand(href='/')
          img(src='/images/logo.png', width='120', height='40', alt='Logo')
h1(style="font-size:20px;text-align:center") Privacy Policy
+#{mixinName}(data)

div.text Protecting your privacy is important to Ally Technologies India Pvt Ltd. This policy explains the privacy while using Hocalwire (Ally Technologies India Pvt Ltd ) which is part of the Ally Technologies India Pvt Ltd. By using or submitting any information at Hocalwire you agree to Hocalwire collection, use and disclosure of your personal information in accordance with this policy. If you do not agree with this policy, you may not use or submit content at Hocalwire.
br
br
div.link.blue The Information We Collect and How We Use It
div.text The information we collect falls into two categories: (1) Personal information that you provide to us when you register to use our Web site, and (2) certain anonymous information that we collect as you navigate through the Hocalwire page and Apps. Below is a description of each type of information we collect and how we use it:

br
b
  div.text Registration Information
div.text Anyone may visit Hocalwire and read its contents, but only registered users may post articles. We require users to register to encourage responsible and courteous conduct. In our registration process, we require you to provide your name, e-mail address and soon we may introduce verification for this information. We use this information to create a unique registration profile for you, to communicate with you regarding your registration, and to verify that you are not under the age of 18. We also may ask you to provide, at your option, your address and certain demographic information. This information will help us to better understand our audience, but is not required as a condition of registering; you may decline to provide any or all such optional information. Once you register with Hocalwire  and sign in to our site, you are not anonymous to us, though you may use an assumed member name when posting to the site if you prefer to remain anonymous to other members of the Hocalwire  community and other visitors to the site.
br
b
  div.text E-mail Address & Phone Number
div.text We require you to provide your e-mail address and Phone number as part of the registration process. When you register with our site, we will send you an e-mail confirming your registration. We may use your e-mail address and phone number to send you administrative e-mails/ message from time to time containing announcements and communications regarding the Hocalwire service. If you do not wish to receive administrative e-mails from us, please do not register to use our site. You also may elect to receive regular newsletters or information updates from us or to receive commercial e-mails from us that advertise our services and the products or services of our advertising partners. Even if you choose to receive commercial e-mails, we will not share your e-mail address with our third-party advertisers, though we may send you advertising materials on their behalf. You may unsubscribe from such emails at any time by following the simple instructions included in each e-mail or wr.iting to support@hocalwire.com
br
b
  div.text Browser-Level Information and Cookies
div.text When you visit Hocalwire, our web server automatically collects limited information about your computer configuration, such as the type of browser software you use, the operating system you're running and your IP address, and we also use “cookies” to track which pages of our site you visit. This information does not contain your personal information or otherwise tell us who you are. We use this information to make our site as useful as we can for as many users as possible. We use cookies to prevent you from having to re-enter your log-in information each time you visit the site. If you leave Hocalwire to visit our advertiser’s Web sites, some of those advertisers also may place cookies on your computer. We don't have access to those cookies or to any information they contain, and the use and collection of your information by such third-party advertisers is governed by the advertiser’s Privacy Policy, which may be different from ours. Because cookies are stored on your hard drive, not on our Web site, you can set your browser to decline cookies and can delete them from your computer. However, if you don't accept cookies, you may need to re-enter your log-in information each time you visit our site, and you may not be able to take advantage of various features on our site that are available to other visitors.
br
b
  div.text Aggregate Information Used to Serve and Target Ads
div.text We may aggregate the information we collect from our users and use this anonymous, aggregated information to target ads on our site. (For example, we may use this information to tell advertisers the age range, gender composition, and geographic location of the audience the advertisers will be reaching.) When we aggregate your information, no specific personal information is included, and you cannot be identified from this aggregate information.
div.text Please keep in mind that whenever you voluntarily make your personal information available for viewing by third parties on our site  for example, in a post, or on other areas of our site or mobile that information can be seen, collected and used by anyone who visits the site. We cannot control and therefore cannot be responsible for any unauthorized third-party use of such information. Please respect the privacy of others by not posting their personal information on our site without their permission.

br
b
  div.text Disclosure of Information 
div.text Information about our members is an important part of our business, and we are not in the business of selling it to others. Hocalwire will not rent, sell, or share your personal information with unaffiliated companies or people except (1) as necessary to provide you with products or services you've requested, (2) when we have your permission, or (3) as follows:
div.text We may disclose your personal information to trusted partners who work on behalf of Hocalwire  under confidentiality agreements. These companies may use your personal information to help us serve you. However, these companies are not allowed to share this information or to use it for their own purposes.
div.text We may disclose your personal information to trusted partners who work on behalf of Hocalwire under confidentiality agreements. These companies may use your personal information to help us serve you. However, these companies are not allowed to share this information or to use it for their own purposes.
div.text We may disclose your personal information when release is appropriate to comply with law, or to protect the rights, property or safety of members of the Hocalwire community, other visitors to our site, our advertisers and other customers, the public, or Hocalwire and its employees.
div.text As our business grows we may buy or sell various assets. In the event that Hocalwire or some or all of our assets are acquired by another company, information about our users may be among the transferred assets.

br
b
  div.text Links To Other Sites 
div.text Hocalwire, and users who post information on Hocalwire, may provide links to third-party Web sites whose privacy policies we do not control. When you access another site, use of any information you provide is governed by the Privacy Policy of the operator of the site you're visiting.
br
b
  div.text Archiving and Storage 
div.text All Hocalwire postings may be stored in our database, even after deletion from the site. Our web logs and other records may be stored indefinitely. In addition, search engines and other sites not affiliated with Hocalwire may cache or archive postings from Hocalwire, and may make such postings available for viewing on their sites. (For example, some search engines take a snapshot of each web page examined by the search engine as it crawls the web, and may cache these pages as a backup in case the original page is unavailable. Search engine users can view the cached pages simply by clicking on the link.) We have no control over this.
br
b
  div.text Security 
div.text Hocalwire has taken steps to protect the confidentiality of the personal information it collects from members of the Hocalwire community. Information we gather on Hocalwire  is stored within Hocalwire controlled databases (or databases hosted on our behalf) on servers maintained in secure clouds likes godaddy servers or Amazon Cloud computing services, and we limit access to your personal information to Hocalwire employees who we believe need to see that information to provide you with services or otherwise do their jobs. However, no physical or electronic security system is impenetrable, and we cannot guarantee the security of third party servers or databases, nor can we guarantee that the information that you supply to us won't be intercepted during transmission over the Internet. It is important for you to protect against unauthorized access to your Hocalwire account, especially on a shared computer, by logging out when you are finished using our site.
br
b
  div.text Changes to this Privacy Policy 
div.text Because the web is an evolving medium, we may need to change our Privacy Policy at some point in the future, in which case we'll post the changes to this Privacy Policy on this web site and update the Effective Date of the policy to reflect the date of the changes. By continuing to use the Hocalwire Web site after we post any such changes, you accept the Privacy Policy as modified.
br
b
  div.text Report Misconduct
div.text If you see something on Hocalwire that you consider inappropriate or abusive, please let us know immediately. Click on feedback and fill the form. We will review the content to see if it meets our guidelines.

br
b
  div.text Contact Us 
div.text For more information about Hocalwire contact us at support@hocalwire.com



br
div.disclaimer
  | © 2015 Copyright, Ally Technologies India Pvt Ltd