
include ../../theme_bat/allMixin
extends ../../theme_bat/layout
block content
    include ../../theme_bat/partials/_navArea
    div.bg-color
        div.container
            include ../../theme_bat/partials/_header
    div.container
        div.clearfix.row
            .col-lg-8.col-md-8.col-sm-8.col-xs-12.margin-top20.sticky_elements_scroll.clearfix.no-padding
                    .theiaStickySidebar
                        .huge-message
                          b.big-title About Us
                          p.aboutUs
                            | NewsBuzz is a fast and accurate message based news service. Newsbuzz provides both state and national political News through SMS, and other messaging platforms..

                            br
                            |In this ever changing and evolving world it becomes extremely important to keep ourselves abreast with the constant happenings in our country. However, with modern busy life it is difficult for us to attend our duties and keep ourselves updated at the same time.

                            br
                            | NewsBuzz provides News as and when it happens, so that our customers stay updated no matter where they are. It is important to state that we work hard to provide News at the earliest but our emphasis is on precision and genuineness over speed.

                            br
                            | We have vast client base which includes national political parties, state governments, senior bureaucrats, and political leaders and media personals. Hence everyone whose life is directly or indirectly impacted by the NEWS is our audience.

                            br
                            | We have special packages for group subscription and cater to customized needs of our clients.
                            br
                            | You can write to 
                            a(href="mailto:editor@naradanews.com") editor@naradanews.com 
                            | for details
                          a.icon-link(href='/')
                            span.icon-text 
                              i.fa.fa-home
                            | Back to Homepage
            .col-md-4.col-sm-4.col-lg-4.col-xs-12.margin-top20.sticky_elements_scroll
                .theiaStickySidebar
                    include ../../theme_bat/partials/_genericRightSection
        
    include ../../theme_bat/partials/_footer
