
include ../../theme_bat/allMixin
extends ../../theme_bat/layout
block content
    include ../../theme_bat/partials/_navArea
    div.bg-color
        div.container
            include ../../theme_bat/partials/_header
    div.container
        div.clearfix.row
            .row
                div(class="col-md-12 padding-left-right-none")
                    #highlight_card
            .row
                .col-lg-8.col-md-8.col-sm-8.col-xs-12.margin-top20.sticky_elements_scroll.clearfix.no-padding
                    .theiaStickySidebar
                        .container
                            .row
                                .col-md-12
                                    h3
                                        span(class="contact_us_heading")
                                            strong CONTACT INFORMATION

                            .row
                                .col-md-12
                                    .huge-message
                                          
                                        p
                                            span(class='contact_detail') 
                                                b
                                                    | Name 
                                                | :  Ajeet Karn
                                            br
                                            span(class='contact_detail')  
                                                b
                                                    | Mobile No 
                                                | : +91-9971686978
                                            br
                                            span(class='contact_detail')  
                                                b
                                                    | Email 
                                                | :  ajeet.k@newsbuzz.co.in
                            .row
                                .col-md-12
                                    .cp-contactus
                                        .cp-contact-form
                                              form.material.contact-us-form
                                                #success-common.error.common-error(style='display:none;')
                                                #err-common.error.common-error(style='display:none;')
                                                ul
                                                    
                                                    li.input-group
                                                        
                                                        span.input-group-addon
                                                            i.fa.fa-user
                                                        input.form-control(name="name", id="name", type='text', placeholder='Name')
                                                        #err-name.error.contact-us-error.left-align(style='display:none;') Please enter your name.
                                                    li.input-group
                                                        
                                                        span.input-group-addon
                                                            i.fa.fa-envelope
                                                        input.form-control(name="email", id="email",type='text', placeholder='Email')
                                                        #err-email.contact-us-error.error.left-align(style='display:none;') Please enter your email.
                                                    li.input-group
                                                        
                                                        span.input-group-addon
                                                            i.fa.fa-paperclip
                                                        input.form-control(name="subject", id="subject",type='text', placeholder='Subject')
                                                        #err-subject.contact-us-error.error.left-align(style='display:none;') Please enter a subject.
                                                    li.input-group
                                                        
                                                        span.input-group-addon
                                                            i.fa.fa-pencil
                                                        textarea.form-control(name="message", id="message",placeholder='Message')
                                                        #err-message.error.contact-us-error.left-align(style='display:none;') Please enter your message.
                                                    li
                                                        button.btn.btn-submit.waves-effect.waves-button.js-btn-submit-contact(type='submit')
                                                            | Submit 
                                                            i.fa.fa-angle-right
                          a.icon-link(href='/')
                            span.icon-text 
                              i.fa.fa-home
                            | Back to Homepage
                .col-md-4.col-sm-4.col-lg-4.col-xs-12.margin-top20.sticky_elements_scroll
                    .theiaStickySidebar
                        include ../../theme_bat/partials/_genericRightSection
        .page
            div.row
                #level_bottom_full
                    -if(data['level_bottom_full'] && data['level_bottom_full'].templateData && data['level_bottom_full'].templateData.mixinName){
                        +#{data['level_bottom_full'].templateData.mixinName}(data['level_bottom_full'])
                    -}
    include ../../theme_bat/partials/_footer
