.article-list-block
	.item.clearfix.no-margin-bot
		#inside_level_1
	.item.clearfix.no-margin-bot
		#inside_level_2
	.item.clearfix.no-margin-bot
		#inside_level_3
.article-list-block
	.item.clearfix.no-margin-bot
		#inside_level_4
	.item.clearfix.no-margin-bot
		#inside_level_5
	.item.clearfix.no-margin-bot
		#inside_level_6
