-var allowedCatIds =[9575,9576,9577,9578,9579,9580]
.equalHWrap.eqWrap
    -for(var i=0;i<env.partnerCatData.length;i++){
        -var flag = false
        -for(var j=0;j<allowedCatIds.length;j++) {
            -if(allowedCatIds[j]==env.partnerCatData[i].id){
                -flag=true
                -break
            -} 
        -}
        -if(flag){
            .equalHW.eq 
                        a(href="#{env.partnerCatData[i].url}")
                            .eqbox-wrapper
                                img(src="#{env.partnerCatData[i].mediaUrl}")
                            h4(style="text-align:center; color:#fff;") #{env.partnerCatData[i].name}
        -}
    -}
