.accordion
    div#accordion_1.active
        a(href='#') NOS
        div
            include _resources_qa_nos
            
               
    div#accordion_2
        a(href='#') Model Carriculum
        div
            include _resources_qa_mc
            