.accordion-2-content(style='display: block;')
    .table-responsive
        table.table.table-bordered
            thead
                tr
                    th Occupation 
                    th Qualification Pack Name
                    th QP ID.
                    th NSQF Level
                    th No. of NOS's
                    th  
            tbody
                tr
                    td Voice Over Artist
                    td Voice Over Artist
                    td MES Q 0101
                    td 4
                    td 4
                    td
                        a(href='images/nos/approved-nos/Voice-over-Artist.pdf', target='_blank') Download Now
                tr.tr-bg
                    td Ad Sales
                    td Sales Director
                    td MES Q 0201
                    td 7
                    td 6
                    td
                        a(href='images/nos/approved-nos/Sales-Director.pdf', target='_blank') Download Now
                tr
                    td Ad Sales
                    td Sales Manager
                    td MES Q 0202
                    td 6
                    td 7
                    td
                        a(href='images/nos/approved-nos/Sales-Manager.pdf', target='_blank') Download Now
                tr.tr-bg
                    td Ad Sales
                    td Sales Executive
                    td MES Q 0203
                    td 4
                    td 4
                    td
                        a(href='images/nos/approved-nos/Sale-Executive.pdf', target='_blank') Download Now
                tr
                    td Ad Sales
                    td Sales Coordinator
                    td MES Q 0204
                    td 4
                    td 4
                    td
                        a(href='images/nos/approved-nos/Sales-Coordinator.pdf', target='_blank') Download Now
                tr.tr-bg
                    td Ad Sales
                    td Traffic Coordinator
                    td MES Q 0205
                    td 4
                    td 4
                    td
                        a(href='images/nos/approved-nos/Traffic-Coordinator.pdf', target='_blank') Download Now
                tr
                    td Ad Sales
                    td Advertising Operations Coordinator
                    td MES Q 0206
                    td 4
                    td 4
                    td
                        a(href='images/nos/approved-nos/Advertising-Operations-Coordinator.pdf', target='_blank') Download Now
                tr.tr-bg
                    td Ad Sales
                    td Accounts Director
                    td MES Q 0207
                    td 6
                    td 4
                    td
                        a(href='images/nos/approved-nos/Animation-Director.pdf', target='_blank') Download Now
                tr
                    td Ad Sales
                    td Accounts Executive
                    td MES Q 0208
                    td 5
                    td 4
                    td
                        a(href='images/nos/approved-nos/Account-Executive-Advertising-Agency.pdf', target='_blank') Download Now
                tr.tr-bg
                    td Art & Design - Animation & Gaming
                    td Art Director
                    td MES Q 0501
                    td 5
                    td 4
                    td
                        a(href='images/nos/approved-nos/Art-Director.pdf', target='_blank') Download Now
                tr
                    td Art & Design - Animation & Gaming
                    td Character Designer 
                    td MES Q 0502
                    td 4
                    td 5
                    td
                        a(href='images/nos/approved-nos/Character-Designer.pdf', target='_blank') Download Now
                tr.tr-bg
                    td Art & Design - Animation & Gaming
                    td Layout Designer 
                    td MES Q 0503
                    td 4
                    td 5
                    td
                        a(href='images/nos/approved-nos/Layout-Designer.pdf', target='_blank') Download Now
                tr
                    td Art & Design - Animation & Gaming
                    td Lighting Artist 
                    td MES Q 0504
                    td 4
                    td 4
                    td
                        a(href='images/nos/approved-nos/Lighting-Artist.pdf', target='_blank') Download Now
                tr.tr-bg
                    td Art & Design - Animation & Gaming
                    td Colour Key Artist
                    td MES Q 0505
                    td 3
                    td 4
                    td
                        a(href='images/nos/approved-nos/Colour-Key-Artist.pdf', target='_blank') Download Now
                tr
                    td Art & Design - Animation & Gaming
                    td Clean-up Artist
                    td MES Q 0506
                    td 3
                    td 4
                    td
                        a(href='images/nos/approved-nos/Clean-up-Artist.pdf', target='_blank') Download Now
                tr.tr-bg
                    td Art & Design - Animation & Gaming
                    td Storyboard Artist
                    td MES Q 0507
                    td 3
                    td 4
                    td
                        a(href='images/nos/approved-nos/Storyboard-Artist.pdf', target='_blank') Download Now
                tr
                    td Animation
                    td Animator 
                    td MES Q 0701
                    td 4
                    td 7
                    td
                        a(href='images/nos/approved-nos/Animator.pdf', target='_blank') Download Now
                tr.tr-bg
                    td Camera
                    td Director of Photography 
                    td MES Q 0901
                    td 7
                    td 7
                    td
                        a(href='images/nos/approved-nos/Director-Photography.pdf', target='_blank') Download Now
                tr
                    td Camera
                    td Camera Operator
                    td MES Q 0902
                    td 5
                    td 4
                    td
                        a(href='images/nos/approved-nos/CameraOperator.pdf', target='_blank') Download Now
                tr.tr-bg
                    td Camera
                    td Assistant Cameraman 
                    td MES Q 0903
                    td 4
                    td 4
                    td
                        a(href='images/nos/approved-nos/Assistant-Cameraman.pdf', target='_blank') Download Now
                tr
                    td Direction
                    td Live Action Director 
                    td MES Q 1301
                    td 7
                    td 8
                    td
                        a(href='images/nos/approved-nos/Live-Action-Director.pdf', target='_blank') Download Now
                tr.tr-bg
                    td Direction
                    td Animation Director
                    td MES Q 1302
                    td 6
                    td 4
                    td
                        a(href='images/nos/approved-nos/Animation-Director.pdf', target='_blank') Download Now
                tr
                    td Editing
                    td Editor 
                    td MES Q 1401
                    td 4
                    td 4
                    td
                        a(href='images/nos/approved-nos/Editor.pdf', target='_blank') Download Now
                tr.tr-bg
                    td Hair-Makeup
                    td Make-up Artist
                    td MES Q 1801
                    td 4
                    td 6
                    td
                        a(href='images/nos/approved-nos/Make-up-Artist.pdf', target='_blank') Download Now
                tr
                    td Hair-Makeup
                    td Hairdresser 
                    td MES Q 1802
                    td 4
                    td 6
                    td
                        a(href='images/nos/approved-nos/Hairdresser.pdf', target='_blank') Download Now
                tr.tr-bg
                    td Hair-Makeup
                    td Prosthetics Artist
                    td MES Q 1803
                    td 5
                    td 4
                    td
                        a(href='images/nos/approved-nos/Prosthetics-Artist.pdf', target='_blank') Download Now
                tr
                    td Asset Creation
                    td Modeller 
                    td MES Q 2501
                    td 4
                    td 4
                    td
                        a(href='images/nos/approved-nos/Modeler.pdf', target='_blank') Download Now
                tr.tr-bg
                    td Asset Creation
                    td Rigging Artist
                    td MES Q 2502
                    td 4
                    td 4
                    td
                        a(href='images/nos/approved-nos/Rigging-Artist.pdf', target='_blank') Download Now
                tr
                    td Asset Creation
                    td Texturing Artist
                    td MES Q 2503
                    td 4
                    td 4
                    td
                        a(href='images/nos/approved-nos/Texturing-artist.pdf', target='_blank') Download Now
                tr.tr-bg
                    td Production
                    td Executive Producer 
                    td MES Q 2801
                    td 7
                    td 11
                    td
                        a(href='images/nos/approved-nos/Executive-Producer.pdf', target='_blank') Download Now
                tr.tr-bg
                    td Production
                    td Line Producer 
                    td MES Q 2802
                    td 6
                    td 11
                    td
                        a(href='images/nos/approved-nos/Line-Producer.pdf', target='_blank') Download Now
                tr.tr-bg
                    td Production
                    td Unit Production Manager 
                    td MES Q 2803
                    td 6
                    td 5
                    td
                        a(href='images/nos/approved-nos/Unit-Production-Manager.pdf', target='_blank') Download Now
                tr.tr-bg
                    td Production
                    td Location Manager
                    td MES Q 2804
                    td 6
                    td 4
                    td
                        a(href='images/nos/approved-nos/Location-Manager.pdf', target='_blank') Download Now
                tr.tr-bg
                    td Production
                    td Production Assistant 
                    td MES Q 2805
                    td 4
                    td 4
                    td
                        a(href='images/nos/approved-nos/Production-Assistant.pdf', target='_blank') Download Now
                tr
                    td Script
                    td  Script Editor 
                    td MES Q 3001
                    td 7
                    td 4
                    td
                        a(href='images/nos/approved-nos/Script-Editor.pdf', target='_blank') Download Now
                tr
                    td Script
                    td Script Writer
                    td MES Q 3002
                    td 6
                    td 4
                    td
                        a(href='images/nos/approved-nos/Scriptwriter.pdf', target='_blank') Download Now
                tr
                    td Script
                    td Script Researcher
                    td MES Q 3003
                    td 5
                    td 4
                    td
                        a(href='images/nos/approved-nos/Script-Researcher.pdf', target='_blank') Download Now
                tr.tr-bg
                    td Set Crafts
                    td Art Director/Set Designer 
                    td MES Q 3102
                    td 6
                    td 6
                    td
                        a(href='images/nos/approved-nos/Art-Director.pdf', target='_blank') Download Now
                tr.tr-bg
                    td Set Crafts
                    td Set Carpenter
                    td MES Q 3103
                    td 3
                    td 6
                    td
                        a(href='images/nos/approved-nos/Set-Carpenter.pdf', target='_blank') Download Now
                tr.tr-bg
                    td Set Crafts
                    td Set Painter 
                    td MES Q 3104
                    td 3
                    td 7
                    td
                        a(href='images/nos/approved-nos/Set-Painter.pdf', target='_blank') Download Now
                tr.tr-bg
                    td Set Crafts
                    td Set Plasterer
                    td MES Q 3106
                    td 3
                    td 4
                    td
                        a(href='images/nos/approved-nos/Set-Plasterer.pdf', target='_blank') Download Now
                tr.tr-bg
                    td Set Crafts
                    td Props Master
                    td MES Q 3108
                    td 5
                    td 7
                    td
                        a(href='images/nos/approved-nos/Props-Master.pdf', target='_blank') Download Now
                tr.tr-bg
                    td Set Crafts
                    td Set Decorator
                    td MES Q 3109
                    td 5
                    td 7
                    td
                        a(href='images/nos/approved-nos/Set-Decorator.pdf', target='_blank') Download Now
                tr
                    td Sound
                    td Sound Designer 
                    td MES Q 3401
                    td 5
                    td 4
                    td
                        a(href='images/nos/approved-nos/Sound-Designer.pdf', target='_blank') Download Now
                tr
                    td Sound
                    td Sound Engineer 
                    td MES Q 3402
                    td 4
                    td 4
                    td
                        a(href='images/nos/approved-nos/Sound-Engineer.pdf', target='_blank') Download Now
                tr
                    td Sound
                    td Sound Assistant
                    td MES Q 3403
                    td 3
                    td 4
                    td
                        a(href='images/nos/approved-nos/Sound-Assistant.pdf', target='_blank') Download Now
                tr
                    td Sound
                    td Sound Editor 
                    td MES Q 3404
                    td 4
                    td 4
                    td
                        a(href='images/nos/approved-nos/Sound-Editor.pdf', target='_blank') Download Now
                tr.tr-bg
                    td VFX (Visual Effects)
                    td VFX Editor
                    td MES Q 3501
                    td 4
                    td 4
                    td
                        a(href='images/nos/approved-nos/VFX-Editor.pdf', target='_blank') Download Now
                tr.tr-bg
                    td VFX (Visual Effects)
                    td Colourist 
                    td MES Q 3502
                    td 4
                    td 4
                    td
                        a(href='images/nos/approved-nos/Colourist.pdf', target='_blank') Download Now
                tr.tr-bg
                    td VFX (Visual Effects)
                    td Rendering Artist
                    td MES Q 3503
                    td 4
                    td 4
                    td
                        a(href='images/nos/approved-nos/Rendering-Artist.pdf', target='_blank') Download Now
                tr.tr-bg
                    td VFX (Visual Effects)
                    td Roto Artist
                    td MES Q 3504
                    td 3
                    td 4
                    td
                        a(href='images/nos/approved-nos/Roto-artist.pdf', target='_blank') Download Now
                tr.tr-bg
                    td VFX (Visual Effects)
                    td  Compositor
                    td MES Q 3505
                    td 4
                    td 4
                    td
                        a(href='images/nos/approved-nos/Compositor.pdf', target='_blank') Download Now
