include ../../theme_ape/allMixin
extends ../../theme_ape/layout
block content
    div#site.left.relative.home
        #site-wrap.left.relative
            include ../../theme_ape/partials/_header
            .col-tabs-wrap.left.relative.mobile_tabs_wrapper(style='top: 0px;')
                #mobile_tabs
            #body-main-wrap.left.relative(style='transform: none;')
                .body-main-out.relative(style='transform: none;')
                    .body-main-in(style='transform: none;')
                        #body-main-cont.left.relative(style='transform: none;')
                            #level_top_full.leader-right-wrap
                                -if(data['level_top_full'] && data['level_top_full'].templateData && data['level_top_full'].templateData.mixinName){
                                    +#{data['level_top_full'].templateData.mixinName}(data['level_top_full'])
                                -}
                            #feat-top-wrap.feat_top_wrap.left.relative
                                -if(data['feat-top-wrap'] && data['feat-top-wrap'].templateData && data['feat-top-wrap'].templateData.mixinName){
                                    +#{data['feat-top-wrap'].templateData.mixinName}(data['feat-top-wrap'])
                                -}
                            #post-main-wrap.left.relative
                                .post-wrap-out1
                                    .post-wrap-in1.white_bg_card
                                        .post-left-col.static-page-wrapper
                                            h3 Terms and Condition
                                            p SciTech Publishers LLP is the legal owners of the content of this website, together with all copyright, database rights and other intellectual property rights in such content and in the website’s design and structure. 
                                            p As user of this website, you agree with SciTech Publishers LLP to be bound by the following terms and conditions:-

                                            h6 Trade Marks
                                            p The “Indian Science Journal” name and the logo ISJ is the trade mark of SciTech Publishers LLP, New Delhi. Neither users of this website, nor any other third parties, have any right to use that trade mark.

                                            h6 User Indemnity
                                            p Each user agrees to indemnify SciTech Publishers LLP against any claims, damages, costs, losses, expenses or liabilities which SciTech Publishers LLP may incur as a result of any misuse or unlawful use of this website including, without limitation, arising from any spamming activities, defamatory statements, use of pornography or infringement of intellectual property rights or other third party rights carried out by the user or for which the user is responsible.

                                            h6 Exclusion of Liability
                                            p So far as permitted by law, SciTech Publishers LLP shall not be liable to any user of this website or third party for any claims, damages, costs, losses, expenses or liabilities whatsoever, arising out of or in connection with or related to the use of this website or the information on it.

                                            h6 General
                                            p These terms and conditions shall be governed by the laws of India and Indian Courts shall have exclusive jurisdiction over all matters arising out of or relating to these terms and conditions and use of this website.
                                    #post-right-col
                                        include ../../theme_ape/partials/_genericRightSection
                                    #level_bottom_full.leader-right-wrap
                                        -if(data['level_bottom_full'] && data['level_bottom_full'].templateData && data['level_bottom_full'].templateData.mixinName){
                                            +#{data['level_bottom_full'].templateData.mixinName}(data['level_bottom_full'])
                                        -}
                            
                include ../../theme_ape/partials/_footer
