extends ../../theme_dragon/layout
include ../../theme_dragon/allMixin
block content
    div(class="boxed")
         include ../../theme_dragon/partials/common/_header
        div(class="clear-float")
        div.content.margin10
            div.wrapper
                div.news-ticker-area#news_ticker_area
                    -if(data['news_ticker_area'] && data['news_ticker_area'].templateData && data['news_ticker_area'].templateData.mixinName){
                        +#{data['news_ticker_area'].templateData.mixinName}(data['news_ticker_area'])
                    -}
                #level_top_full
                    -if(data['level_top_full'] && data['level_top_full'].templateData && data['level_top_full'].templateData.mixinName){
                        +#{data['level_top_full'].templateData.mixinName}(data['level_top_full'])
                    -}
                div(class="main-content-left")
                  .content-article-title
                    h1 About Us
                    .right-title-side
                      br
                      a(href='/')
                        span.icon-text ⌂
                        | Back To Homepage
                  .shortcode-content
                      .paragraph-block
                        h2 PNI News
                        p(style='font-size: 16px !important;')
                          | About PNI
                        
                    .spacer-break-2.with-icon(style='background-color:#e6e6e6;color:#e6e6e6;')
                      span.icon-text 
                div(class="main-content-right")
                    include ../../theme_dragon/partials/_othersRightSection
                .clear-float
        include ../../theme_dragon/partials/_footer