include ../../theme_cobra/allMixin
include ../../common/_registerReporter
extends ../../theme_cobra/layout
block content
    include ../../theme_cobra/partials/_header
    div(id="sb-site", class="body_wraper_box")
        include ../../theme_cobra/partials/_navArea
        +stickySocialShare("","",true)
        div(class="main_content row")
            div(class="content_wraper three_columns_container box-item")
                div(class="twelve columns")
                    #level_top_full
                div(class="twelve columns")
                    div(class="eight columns clearfix home_left_section")
                        .container
                            .row
                                .eight.columns
                                    h1.single-post-title.page-title About Us
                                    h3(style='text-align: center;')
                                        span(style='color: #ff6600;')
                                            strong The Profile

                                    p(style='text-align:justified')
                                    | www.tahlkanews.com , a complete news web portal started in year 2009 by  some well-known senior journalists of India. One can find all category of news viz. National, Political, International, off beat, crime, cinema, sports and feature along with breaking news in Hindi and English. In the web world our current national ranking is 2650 in India and 34567 Internationally. (This ranking is not justified on news basis, but for whole-sole stories accumulated on our web portal).
                                    h3(style='text-align: center;')
                                        span(style='color: #ff6600;')
                                            strong Our reach
                                    p(style='text-align:justified')
                                    | Till now, when the portal being launched in the month of April’ 2015, the portal has marked its reach not only in India but in the whole of the world. Nearly 168 countries are there in the list, from where the portal gets hit on news stories. On an average, the portal gets a no. of 90,45,414 visitors till 30 th june 2016 .It’s really a short period of time to get so many hits on news stories from a vast network of area.
                                .four.columns
                                    div(class="twelve columns clearfix")
                                        .sidebar.side-bar.right-sidebar
                                            include ../../theme_cobra/partials/_genericRightSection
                div(class="content_wraper three_columns_container")
                    div(class="row")
                        #level_bottom_full
                            -if(data['level_bottom_full'] && data['level_bottom_full'].templateData && data['level_bottom_full'].templateData.mixinName){
                                +#{data['level_bottom_full'].templateData.mixinName}(data['level_bottom_full'])
                            -}

        include ../../theme_cobra/partials/_footer
block scripts
    include ../../common/_reporterResources