include ../../theme_wolf/allMixin
extends ../../theme_wolf/layout
block content
    .boxed.active
            include ../../theme_wolf/partials/_header
        section.content
            .wrapper
                .main-content.has-sidebar
                    #top-three-section
                        -if(data['top-three-section'] && data['top-three-section'].templateData && data['top-three-section'].templateData.mixinName){
                                                +#{data['top-three-section'].templateData.mixinName}(data['top-three-section'])
                        -}
                    .left-content
                        .details-content-story
                            +authorVone(data)
                    aside#sidebar
                        include ../../theme_wolf/partials/_homeRightSection
            include ../../theme_wolf/partials/_footer
