include ../../theme_wolf/allMixin
extends ../../theme_wolf/layout
block content
    .boxed.active
        .wrapper
            include ../../theme_wolf/partials/_header
        section.content
            .wrapper
                .main-content.has-sidebar
                    #top-three-section
                        -if(data['top-three-section'] && data['top-three-section'].templateData && data['top-three-section'].templateData.mixinName){
                                                +#{data['top-three-section'].templateData.mixinName}(data['top-three-section'])
                        -}
                    .left-content
                        h1.banner.margin-bottom10 Contact Us
                        .paragraph-row
                            .column12
                                .column6.left
                                    h3 xxxx xxx xxx:
                                    p xxx.xxxxx.xx
                                    p #xx, 2xx xxxxx,
                                    p xxxxxxx xxxx xxxx, xxxxx xxxx xxx,
                                    p Madhavanagara, xxxxx- xxxxxxx
                                    p Ph: xxxxxxxxxx
                                    p email: xxxxxx@gmail.com
                                    p Web: www.xxxxxxxxx.xx
                                .column6.left
                                    | map will come here
                            .column12.no-margin-left
                                .column6.left
                                    h3 Correspondence Address:
                                    p xxxxxx xxxx xxxxxx,
                                    p xxxxx xxxx,
                                    p xxxxxx xxxx xxx,
                                    p email: xxxxxxx@gmail.com
                                
                                .column6.left
                                    | map will come here

                                    
                    aside#sidebar
                        include ../../theme_wolf/partials/_homeRightSection
                include ../../theme_bear/partials/_footer
