include ../../theme_wolf/allMixin
extends ../../theme_wolf/layout
block content
    .boxed.active
        .wrapper
            include ../../theme_wolf/partials/_header
        section.content
            .wrapper
                .main-content.has-sidebar
                    #top-three-section
                        -if(data['top-three-section'] && data['top-three-section'].templateData && data['top-three-section'].templateData.mixinName){
                                                +#{data['top-three-section'].templateData.mixinName}(data['top-three-section'])
                        -}
                    .left-content
                        h1.banner Privacy Policy
                        
                        
                        br
                        p Dear Netizens,
                        br
                        p privacy policies will come here.
                    aside#sidebar
                        include ../../theme_wolf/partials/_homeRightSection
                include ../../theme_wolf/partials/_footer
