include ../../theme_cobra/allMixin
include ../../common/_registerReporter
extends ../../theme_cobra/layout
block content
    include ../../theme_cobra/partials/_header
    div(id="sb-site", class="body_wraper_box")
        include ../../theme_cobra/partials/_navArea
        //- +stickySocialShare("","",true)
        div(class="main_content row")
            div(class="content_wraper three_columns_container box-item")
                div(class="twelve columns")
                    #level_top_full
                div(class="twelve columns")
                    div(class="eight columns clearfix home_left_section")
                        .container
                            .row
                                .eight.columns
                                    h1.single-post-title.page-title About Us
                                    h3(style='text-align: center;')
                                        span(style='color: #ff6600;')
                                            strong About Us

                                    p(style='text-align:justified')
                                    | Sudarshan TV being a 24x7 News Channel is committed to deliver quality News Telecast each hour to reach all Indians across the country and abroad. Also available online through Sudarshantv.com. We are the ‘India’s Largest reporter Network Channel’ with our focus on Villages. Equipped with Modern, State-of-the-art infrastructure, High end Communications Network and Satellite News Gathering we collect and deliver the news, yet we always give priority to the ‘Authenticity’ of the news over the ‘Speed’. Our News presentation takes special care to deliver positive and progressive news that helps build social character of the Nation rather than telecasting heavy doses of crime news juxtaposed repeatedly with hype. Sudarshan TV is a Future No.1 channel with a Mission that is committed to make ‘India-That is BHARAT’ No.1.
                                    
                    .four.columns
                        div(class="twelve columns clearfix")
                            .sidebar.side-bar.right-sidebar
                                include ../../theme_cobra/partials/_genericRightSection
                div(class="content_wraper three_columns_container")
                    div(class="row")
                        #level_bottom_full
                            -if(data['level_bottom_full'] && data['level_bottom_full'].templateData && data['level_bottom_full'].templateData.mixinName){
                                +#{data['level_bottom_full'].templateData.mixinName}(data['level_bottom_full'])
                            -}

        include ../../theme_cobra/partials/_footer
block scripts
    include ../../common/_reporterResources