body{
	overflow-x: hidden !important;
}
.all-author-item {
	margin-bottom: 20px;
}
.cp-author-box h3 {
	font-size: 16px;
	font-weight: bold;
	margin-top: 5px;
}
.pintrest-style-grid li {
   
    border: 1px solid #ccc;
    padding: 5px;
}

.tickercontainer li a {
	font-size: 14px;
	margin-top: 5px;
	margin-bottom: 10px;
}
.external-site-name a img.dark{
	display:none;
}
.external-site-name a img.light{
	display:block;
}
.external-site-name a:hover img.dark{
	display:block;
}
.external-site-name a:hover img.light{
	display:none;
}
@media screen and (max-width 498px){
	.container {
	    padding-right: 5px;
	    padding-left: 5px;
	}
}


