include ../../theme_kangaroo/allMixin
extends ../../theme_kangaroo/layout
block content
    #wrapper.clearfix
        include ../../theme_kangaroo/partials/_header
        section#content
            .content-wrap
                .section.no-mar.bottommargin-lg.clearfix(style='padding: 5px 0;')
                    +includeElement(data,"breaking_news_area")
                +includeElement(data,"ad_after_nav")
                .container.clearfix
                    .row
                        .col-md-8.bottommargin
                            h1.banner About Us
                            
                            br
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dapibus consectetur aliquet. Nulla vulputate tempor felis, posuere sodales ligula fringilla quis. Curabitur commodo pharetra ipsum sed ultricies. Donec aliquet eros lorem, eu ullamcorper velit placerat pharetra. Integer ullamcorper elementum mattis. Phasellus sed justo eu nibh eleifend convallis. Aenean sagittis ex eget commodo volutpat. Praesent quis aliquam ante, in vulputate elit. Donec vel ligula sit amet tellus vehicula vestibulum. Pellentesque sed tellus ultrices, scelerisque nibh nec, facilisis dui. Ut gravida convallis malesuada. Phasellus porttitor magna non dolor fermentum, condimentum pharetra purus fringilla. Nam lacinia hendrerit leo et commodo. 

                        .col-md-4
                            .line.hidden-lg.hidden-md
                            .sidebar-widgets-wrap.clearfix
                                include ../../theme_kangaroo/partials/_homeRightSection
                
                    div.row
                        div(class="col-lg-12 col-md-12 col-sm-12")
                            +includeElement(data,"level_bottom_full")
        include ../../theme_kangaroo/partials/_footer
