include ../../theme_kangaroo/allMixin
extends ../../theme_kangaroo/layout
block content
    #wrapper.clearfix
        include ../../theme_kangaroo/partials/_header
        section#content
            .content-wrap
                .section.no-mar.bottommargin-lg.clearfix(style='padding: 5px 0;')
                    +includeElement(data,"breaking_news_area")
                +includeElement(data,"ad_after_nav")
                .container.clearfix
                    .row
                        .col-md-8.bottommargin
                            h1.small-title All Categories
                                .details-content-story
                                    div(class="cp-authors")
                                        div(class="row")
                                          ul(class="cp-authors-grid")
                                            -for(var i=0;i<env.partnerCatData.length;i++){
                                                li(class="author-tag")
                                                    a(href="#{env.partnerCatData[i].url}",class="cp-author-box")
                                                        
                                                        h3  #{env.partnerCatData[i].name}
                                                        // p ( #{env.partnerAuthorData[i].total_news} )
                                                  
                                            -}

                        .col-md-4
                            .line.hidden-lg.hidden-md
                            .sidebar-widgets-wrap.clearfix
                                include ../../theme_kangaroo/partials/_homeRightSection
                
                    div.row
                        div(class="col-lg-12 col-md-12 col-sm-12")
                            +includeElement(data,"level_bottom_full")
        include ../../theme_kangaroo/partials/_footer
