include ../../theme_kangaroo/allMixin
extends ../../theme_kangaroo/layout
block content
    #wrapper.clearfix
        include ../../theme_kangaroo/partials/_header
        section#content
            .content-wrap
                .section.no-mar.bottommargin-lg.clearfix(style='padding: 5px 0;')
                    +includeElement(data,"breaking_news_area")
                +includeElement(data,"ad_after_nav")
                .container.clearfix
                    .row
                        .col-md-8.bottommargin
                            h1.banner.margin-bottom10 Contact Us
                            .paragraph-row
                                .column12
                                    .column6.left
                                        h3 Head Office:
                                        p xxxxxxxxx
                                        p #xx, 2nd Floor,
                                        p xxxxxxxxxx xxx Road, xxx xx xxxx,
                                        p xxxxx, xxxxx- 560001
                                        p Ph: xxxxxxxxxx
                                        p email: xxx.xx@xxxxx.com
                                        p Web: www.xxxxxx.xxx
                                    .column6.left
                                        iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15551.559898775906!2d77.57686606868724!3d12.978888453616166!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd73ff3a4d2fd6e5c!2sBfirst.in!5e0!3m2!1sen!2sin!4v1490791018806', width='100%', height='250', frameborder='0', style='border:0', allowfullscreen='')
                                .column12.no-margin-left
                                    .column6.left
                                        h3 Correspondence Address:
                                        p xxx, xxxxxxxx xxxx xx
                                        p xxxxx xxxx,
                                        p xxxx xxxxx xxxxx
                                        p email: xxxxxxxx.xx@xxxxx.com
                                    
                                    .column6.left
                                        iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3249.0948907502693!2d-80.88348668522302!3d35.47719598024236!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8856a95c1cc47445%3A0x6b6d26c8f7170e92!2s19210+Carrington+Club+Dr+%23721%2C+Cornelius%2C+NC+28031%2C+USA!5e0!3m2!1sen!2sin!4v1490791115245', width='100%', height='250', frameborder='0', style='border:0', allowfullscreen='')

                        .col-md-4
                            .line.hidden-lg.hidden-md
                            .sidebar-widgets-wrap.clearfix
                                include ../../theme_kangaroo/partials/_homeRightSection
                
                    div.row
                        div(class="col-lg-12 col-md-12 col-sm-12")
                            +includeElement(data,"level_bottom_full")
        include ../../theme_kangaroo/partials/_footer
