include ../../theme_elephant/allMixin
extends ../../theme_elephant/layout
block content
    include ../../theme_elephant/partials/_header
    include ../../theme_elephant/partials/_navArea
    div.container
        .row.mtop15
            #breaking-news-section
                -if(data['breaking-news-section'] && data['breaking-news-section'].templateData && data['breaking-news-section'].templateData.mixinName){
                                +#{data['breaking-news-section'].templateData.mixinName}(data['breaking-news-section'])
                -}
        .row.mtop15
            .col-md-8.no-padding.pright15
                .outer_wrapper.clearfix
                    .row.mtop15
                        .col-md-12
                            .bg-404
                                .error404-content
                                   
                                    h1  Sorry this page never returned from a trip to server.
                                    div.clearfix.error-button-wrapper
                                        a.error-button(href="/") Go to HomePage

            .col-md-4.no-padding
                include ../../theme_elephant/partials/_genericRightSection
                      
            
    include ../../theme_elephant/partials/_footer

