include ../../theme_elephant/allMixin
extends ../../theme_elephant/layout
block content
    include ../../theme_elephant/partials/_header
    include ../../theme_elephant/partials/_navArea
    div.container
        .row.mtop15
            #breaking-news-section
                -if(data['breaking-news-section'] && data['breaking-news-section'].templateData && data['breaking-news-section'].templateData.mixinName){
                                +#{data['breaking-news-section'].templateData.mixinName}(data['breaking-news-section'])
                -}
        .row.mtop15
            .col-md-12.no-padding.pright15
                .outer_wrapper.clearfix#contact-us-page
                   .row.padding5.outer_wrapper.mtop15.clearfix.margin_bottom10
                        .col-md-12
                            h1.news_head  अनिल जांगिड़ के पास है ला-इलाज गैस की समस्याओं का समाधान वो भी कुछ आसान उपाय करके, १००% सफलता 
                            #ad_block2_detail.hide
                            .row.post-info.etext
                                
                                .row.post-image
                                    a(href='/category/vichar-manch/gastro-problem-in-discussion-with-anil-jangir-204013', rel='bookmark')
                                        h2
                                            img(src='/content/servlet/RDESController?command=rdm.Picture&sessionId=RDWEBCNDDPWWG4MXJLRIRP1VTRRF6YVGQEOWH&app=rdes&partner=janshakti&type=7&uid=22387ui3i8KyolG13PJeLaPOXzJZkca5EzoK38693447', alt='पेट और लिवर की समस्या को कहे अलविदा, १०० प्रतिशत सफलता', title='पेट और लिवर की समस्या को कहे अलविदा, १०० प्रतिशत सफलता')
                                span.shareArticle.clearfix
                                    span.newsSocialIcons.clearfix
                                        ul.blog-share-socials.mixed-social-wrapper
                                            li.mixed-social-li.facebook-mixed.open
                                                .fb-like.track-click(data-href='http://www.janshakti.co.in/anil-jangir-coupon', data-category='common-social-mixed-share-janshakti', data-label='facebook-article-http://www.janshakti.co.in/anil-jangir-coupon', data-layout='button_count', data-action='like', data-show-faces='false', data-share='true')
                                            li.mixed-social-li.twitter-mixed
                                                a.track-click.twitter-share-button.no-ajaxy(data-category='common-social-mixed-share-janshakti', data-label='twitter-article-http://www.janshakti.co.in/anil-jangir-coupon', data-url='http://www.janshakti.co.in/anil-jangir-coupon', href='https://twitter.com/intent/tweet?text=पेट और लिवर की समस्या को कहे अलविदा, १०० प्रतिशत सफलता', style='float:left') Tweet
                                            li.googleplus
                                                a.track-click(title='Google Plus', href='https://plus.google.com/share?url=http://www.janshakti.co.in/anil-jangir-coupon', target='_blank', data-category='common-social-mixed-share-janshakti', data-label='gplus-article-http://www.janshakti.co.in/anil-jangir-coupon')
                                                    img.gplus_social_icon_image.social_icon_image(src='/images/social/gplus_icon.png')
                                            li.linkedin
                                                a.track-click(data-category='common-social-mixed-share-janshakti', data-label='linkedin-article-http://www.janshakti.co.in/anil-jangir-coupon', title='LinkedIn', href='http://www.linkedin.com/shareArticle?mini=true&url=http://www.janshakti.co.in/anil-jangir-coupon&title=पेट और लिवर की समस्या को कहे अलविदा, १०० प्रतिशत सफलता', target='_blank')
                                                    img.linkedin_social_icon_image.social_icon_image(src='/images/social/linkedin_icon.png')
                                            li.tumblr
                                                a.track-click(data-category='common-social-mixed-share-janshakti', data-label='tumblr-article-http://www.janshakti.co.in/anil-jangir-coupon', title='Tumblr', href='http://www.tumblr.com/share/link?url=http://www.janshakti.co.in/anil-jangir-coupon&name=पेट और लिवर की समस्या को कहे अलविदा, १०० प्रतिशत सफलता', target='_blank')
                                                    img.tumblr_social_icon_image.social_icon_image(src='/images/social/tumblr_icon.png')
                                            li.pinterest
                                                a.track-click(data-category='common-social-mixed-share-janshakti', data-label='pintrest-article-http://www.janshakti.co.in/anil-jangir-coupon', title='Pinterest', href='http://pinterest.com/pin/create/button/?url=http://www.janshakti.co.in/anil-jangir-coupon', target='_blank')
                                                    img.pintrest_social_icon_image.social_icon_image(src='/images/social/pintrest_icon.png')
                                            li.email
                                                a.js-share-article-by-email.track-click(data-category='common-social-mixed-share-janshakti', data-label='email-article-http://www.janshakti.co.in/anil-jangir-coupon', href='javascript: void(0);', data-domain='http://www.janshakti.co.in', data-url='http://www.janshakti.co.in/anil-jangir-coupon', title='Share by Email')
                                                    img(src='/images/social/mail_icon.png')
                                            li.whatsapp
                                                .whatsapp-img
                                                    a.track-click(data-category='common-social-mixed-share-janshakti', data-label='whatsapp-article-http://www.janshakti.co.in/anil-jangir-profile', href='whatsapp://send?text=%E0%A4%AA%E0%A5%87%E0%A4%9F%20%E0%A4%94%E0%A4%B0%20%E0%A4%B2%E0%A4%BF%E0%A4%B5%E0%A4%B0%20%E0%A4%95%E0%A5%80%20%E0%A4%B8%E0%A4%AE%E0%A4%B8%E0%A5%8D%E0%A4%AF%E0%A4%BE%20%E0%A4%95%E0%A5%8B%20%E0%A4%95%E0%A4%B9%E0%A5%87%20%E0%A4%85%E0%A4%B2%E0%A4%B5%E0%A4%BF%E0%A4%A6%E0%A4%BE%2C%20%E0%A5%A7%E0%A5%A6%E0%A5%A6%20%E0%A4%AA%E0%A5%8D%E0%A4%B0%E0%A4%A4%E0%A4%BF%E0%A4%B6%E0%A4%A4%20%E0%A4%B8%E0%A4%AB%E0%A4%B2%E0%A4%A4%E0%A4%BE%20http%3A%2F%2Fwww.janshakti.co.in%2Fanil-jangir-coupon')
                                                        img(src='/images/whatsapp.png')
                                .details-content-story
                                  p
                                    | गैस कि समस्याओं का अचूक इलाज है डॉ अनिल जांगिड़ के पास. 
                                    a.track-click(data-category="anil-page", data-label="call-clicked", href='tel:7073074636') आज ही जाये और २०% कंसल्टेंसी फीस पैर छूट पाए. कॉल करे 7073074636
                                  p.image-and-caption-wrapper.clearfix.float-left(contenteditable='false', data-width='163.171875', style='width:163.171875px;')
                                    img.float-left(style='width: 100%;', src='http://janshakti.hocalwire.com/servlet/RDESController?command=rdm.Picture&app=rdes&partner=janshakti&type=7&sessionId=RDWEBCNDDPWWG4MXJLRIRP1VTRRF6YVGQEOWH&uid=22387GbzrUl7kXjXZP0azWJG7D0GqD8U3h7FC7849387', data-uid='22387GbzrUl7kXjXZP0azWJG7D0GqD8U3h7FC7849387', data-watermark='false', info-selector='#info_item_1500007849223')
                                    span#info_item_1500007849223.inside_editor_caption.image_caption.float-left 
                                  p
                                    | डॉक्टर अनिल जांगिड़, जो कि जयपुर के प्रतिष्ठित 
                                    | MBBS MD और Gastroenterology DM डिग्री धारित है और उन्होंने अपनी पहली विजिट में सभी मरीज़ो को सिर्फ दवाई से ठीक करने कि कोशिश कि है और इस बात का उनका रिकॉर्ड भी है. 
                                    b
                                      a.track-click(data-category="anil-page", data-label="call-clicked",href='tel:7073074636', style='background-color: rgb(255, 255, 255);', target='_blank')
                                        span#5_TRN_1o
                                          | उनसे संपर्क करने के लिए कॉल करे - 7073074636(20% discount on first visit using coupon code - HOCALWIRE)
                                    br
                                  p
                                    span#5_TRN_1o(style='background-color: rgb(255, 255, 255);')
                                      a.track-click(data-category="anil-page", data-label="call-clicked",href='tel:7073074636', style='background-color: rgb(255, 255, 255);')
                                        | दोस्तों पेट में गैस बनना एक आम समस्या है और यह बीमारी आपको किसी भी उम्र में हो सकती है यदि समय रहते इसका उपचार नहीं किया जाता तो ये आगे बढ़कर अल्सर का रूप धारण कर लेती है इसलिए गैस की समस्या को हलके में न लें.
                                  p
                                    | आज अनिल जांगिड़ से बात करते हुए जानेगे कि गैस कि समस्याओं का समाधान घरेलु उपचार से कैसे कर सकते है और और इसके क्या क्या उपाय हो सकते हैं.
                                  p
                                    br
                                  +socialShareMixed("http://janshakti.co.in/anil-jangir-profile","Anil Jangir, The Best Gastro Dotor in Jaipur, Call 7073074636",false,false,"open")
                                  p.image-and-caption-wrapper.clearfix.float-none(contenteditable='false', data-width='540', style='left:25%;width:540px;')
                                    a.track-click(href="/anil-jangir-profile",data-category="anil-page", data-label="offer-clicked")
                                        img.float-none(style='width: 100%; float: none;', src='http://janshakti.hocalwire.com/servlet/RDESController?command=rdm.Picture&app=rdes&partner=janshakti&type=7&sessionId=RDWEBCNDDPWWG4MXJLRIRP1VTRRF6YVGQEOWH&uid=22387Dwi6oLTJ9mvETalxqSOv3iVBMxH35Dz89319830', data-uid='22387Dwi6oLTJ9mvETalxqSOv3iVBMxH35Dz89319830', data-watermark='false', info-selector='#info_item_1500009319687')
                                        span#info_item_1500009319687.inside_editor_caption.image_caption.float-none Tell Coupon Code - Hocalwire to get 20% discount.

                                  p
                                    | (अगर गैस कि समस्या ज्यादा दिनों तक रहे तो घरेलु नुश्खे न अपना कर डॉक्टर कि सलाह ले और अगर आप जयपुर या आसपास में रहते हैं तो अनिल जांगिड़ से कंसल्ट कर सकते हैं)
                                    br
                                  blockquote
                                    b
                                      | १. पानी 
                                      br
                                    |     गुनगुना पानी पीने से न सिर्फ पाचन प्रक्रिया ठीक रहती है बल्कि गैस भी नहीं बनती।गैस्ट्रिक की समस्या अधिक हो तो गर्म पानी के साथ अज्वाइन या जीरा खाने से तुरंत आराम मिलता है। खाना खाने के बाद गुनगुना पानी पीना चाहिए।
                                  p
                                    | अनिल जांगिड़ ने पानी को आपका ख़ास साथी बताया है जो आपकी गैस कि अधिकतर समस्याओं को इलाज करता है.
                                  blockquote
                                    p
                                      b
                                        | २. काली मिर्च
                                        br
                                      | काली मिर्च का सेवन बहुत ही लाभकारी होता है। आयुर्वेद में काली मिर्च को पेट के लिए अचूक दवा माना गया है। इसके सेवन से शरीर में लार और गैस्ट्रिक जूस की मात्रा बढ़ती है।जिससे पाचन आसानी से होता है और गैस्ट्रिक दिक्कतें दूर होती हैं।
                                  p
                                    | अनिल जंगीर के अनुसार आपको प्रतिदिन काली मिर्चा को अपने भोजन का हिस्सा बनाना चाहिए यदि आप गैस कि समस्या से ग्रस्त हैं.
                                  blockquote
                                    b
                                      | ३. लस्सी 
                                      br
                                    span(style='font-size: 17.5px;')
                                      | पेट में जलन और अपच दूर करने में छाछ लाभकारी है। इसके सेवन से पाचन प्रक्रिया ठीक रहती है और इसमें मौजूद लैक्टिक एसिड गैस्ट्रिक समस्याओं को भी दूर करता है।
                                  p लस्सी में दही कि मात्रा आपके पेट को आराम देता है और पाचन को ठीक करता है.
                                  p(style='text-align: justify; ')
                                      font(color='#ffffff')
                                        span(style='font-size: 18px;')
                                          span(style='background-color: rgb(0, 0, 0);') Call Anil Jangir Now 
                                          a.track-click(data-category="anil-page", data-label="call-clicked",href='tel:7073074636', style='background-color: rgb(255, 255, 255); font-weight: bold;') फ़ोन:7073074636 जयपुर एरिया
                                        
                                  p
                                    br
                                  #left_level_1
                                  blockquote
                                    b
                                      | ४. सौंफ
                                      br
                                    | सौंफ मुंह का स्वाद तो बढ़ाती ही है। साथ ही साथ इसके सेवन से गैस्ट्रिक व एसिड रिफ्लक्स जैसी समस्याओं को दूर करने में मदद मिलती है। खाना खाने के बाद सौंफ का सेवन करना चाहिए। इससे पेट की परेशानियों से लाभ मिलता है।
                                  p
                                    | अनिल जांगिड़ 
                                    a.track-click(data-category="anil-page", data-label="profile-clicked",href='http://janshakti.co.in/anil-jangir-profile', target='_blank') (पहली VISIT पैर २०% कि छूट पाए - COUPON - HOCALWIRE )
                                    |   बताते हैं कि सौंफ आपके शरीर में एसिड कि मात्रा को काम करता है और आपकी मदद करता है
                                  blockquote
                                    p
                                      b
                                        | 5. अजवाइन
                                        br
                                      | अजवाइन के द्वारा आप पेट की गैस की समस्या को समाप्त कर सकते हैं और अजवाइन पेट के तमाम रोगों में काम आती है जैसे कि पेट में गैस बनना, पेट में कीड़े हो जाना (कृमि) और एसिडिटी इन सब का रामबाण इलाज है अजवाइन यदि आपको पेट दर्द की शिकायत है या आपको पहले से ही मालूम है कि आपको एसिडिटी या गैस की समस्या है इसके लिए आप गरम पानी के साथ एक छोटा चम्मच अजवाइन की ले लीजिए इससे आपको फौरन आराम मिल जाता है.
                                  #left_level_2
                                  blockquote
                                    p
                                      b 6.पुदीना 
                                      | पेट की गैस का घरेलू उपचार: पुदीना स्वास्थ्य की दृष्टि से आपके शरीर के लिए एक वरदान है और खासतौर से पेट के मामले में यह एक प्रकार की अचूक दवा के तौर पर काम करता है वैसे तो पुदीने का उपयोग किसी ना किसी बीमारी के रूप में काम में लाया जाता है. वही खासतौर से पेट की गैस जलन और एसिडिटी इसके अलावा आपके शरीर की पाचन क्रिया को सुचारु रुप से चलाने में यह एक अहम् औषधी साबित होती है
                                  p
                                    | इन घरेलु उपचारो के अतिरिक़्क़त, आपको अपनी सेहत का ख्याल रखना चाहिए और व्यायाम करना चाहिए .
                                  p
                                    b अनिल जांगिड़ कहते हैं कि 
                                  blockquote
                                    p
                                      | अगर आप रोजाना योगा या व्यायाम करते हैं तो इससे आपके शरीर के सभी अंग  एक्टिव रहते हैं और आपको गैस नहीं बनती इसके अलावा आप अपने थोड़ा खान-पान पर भी ध्यान दें ज्यादा तेज मिर्च मसाले अधिक शराब का सेवन यह चाय पीने से भी आपके पेट में गैस बनने की समस्या हो जाती है इसलिए इन बातों का विशेष ध्यान रखें.
                                  p
                                    a.track-click(data-category="anil-page", data-label="call-clicked",href='tel:7073074636', target='_blank' style="font-size:22px;")
                                      | अनिल जांगिड़ से संपर्क करने के लिए उन्हें कॉल करे (फ़ोन : 
                                      b 7073074636
                                      | ) और २०% तक छूट पाए.(coupon code- HOCALWIRE)
                                  p
                                    a.center(href='http://janshakti.co.in/anil-jangir-profile') और जानकारी के और ऑफर्स के लिए उनका पेज विजिट करे 
                                  #left_level_3

                                +includeElement(data,"left_level_3_anil")

                                #comments.hide


    //- .col-md-4.no-padding
    //-     include ../../theme_elephant/partials/_genericRightSection
              
            
    include ../../theme_elephant/partials/_footer

