include ../../theme_fish/allMixin
extends ../../theme_fish/layout
block content
    div(class="boxed")
        include ../../theme_fish/partials/common/_header
        //- include partials/common/_footer
        section#content
            .page-header
              .container
                .row
                  .col-md-12
                    .breadcrumb-wrapper
                      h1.page-title Not Found
            .container
                .row
                  .col-sm-12.col-md-12
                    .bg-404
                      .error404-content
                         
                          h1  Sorry this page never returned from a trip to server.
                          div.clearfix.error-button-wrapper
                              a.error-button(href="/") Go to HomePage
        include ../../theme_fish/partials/_footer
    
