include ../../theme_fish/allMixin
extends ../../theme_fish/layout
block content
    div(class="boxed")
        include ../../theme_fish/partials/common/_header
        //- include partials/common/_footer
        section#content
            .page-header
              .container
                .row
                  .col-md-12
                    .breadcrumb-wrapper
                      h1.page-title About Us
            .container
                .row
                  .col-sm-8
                    .inner-box
                      .main-testimonials.column9
                        .row
                          .col-md-12
                            .col-md-3
                              img(src='../images/india.png', alt='')
                            .col-md-9
                              p(style='text-align:justify; margin-bottom:5px;')
                                | India Projects News is the flagship entity of Domex Info Ltd, an established knowledge management company catering to the information about Indian Projects. Domex Business Information Private Limited is a well-established knowledge management and information processing company with more than two decades of track record in servicing national and international customers and has been a pioneer in compiling project information on 40 industrial sectors in India from conceptual stage to commissioning more than 2000 companies since the year 1995.




                        p(style='text-align:justify; margin-bottom:5px;')

                          |  Domex has significant expertise in business research, industrial market research, trade fair liaison, management consultancy, business publishing, Knowledge and business Process Outsourcing (KPO / BPO).  All types of projects, including New projects, Expansion, Modernisation, commissioned, are covered and tracked by us. Additionally, we offer the entire spectrum of services in the business research value chain; from day to day niche business information needs to simple data collation through primary and secondary research to help our clients to fulfil strategic needs. Our services are offered through flexible engagement models. We ensure that the business information provided by us is tailor-made to meet clients' business objectives by critically analysing the information need. 

                        br
                        p(style='text-align:justify; margin-bottom:5px;') We provide clients with the customized information on their business scenario required to stay ahead of competition in today's fast-paced business environment. Our vast range of research services provides our clients with this informational advantage. Our elaborate scoping methodology enables us to provide solutions that are specific to the organization and not generic to the industry.

                        .row
                          .col-md-12
                            .col-md-9(style="padding-left:0px;")

                              p(style='text-align:justify; margin-bottom:5px;') Our information services enable our customers to identify trends across the regions and help them to arrive at actionable insights, making it easier to actively monitor their prospective customers. Our service also helps them to focus on segments of opportunity to grow revenue while reducing costs on marketing lead generating activity.
                            .col-md-3
                              img(src='../images/grow.png', alt='')

                        br
                        p(style='text-align:justify; margin-bottom:5px;') Domex currently has about 75 employees (business analysts, market researchers, journalists / writers, software programmers, economists and numerous subject specialists) at its multiple location production centre in Chennai, Mumbai and Coimbatore. Earlier in 2010, with strategic intent, Domex hived off its eminently successful 350 employee science & technology information processing business with a global customer base to other scientific information company.


                        br
                        p(style='text-align:justify; margin-bottom:5px;') Domex is headed by Mr PV Satyanarayana, a well-known entrepreneur with four decades experience in KPO / BPO activities, international marketing, market research, business journalism and economic & business information. He's vibrantly supported by co-founders, Mr R Balakrishnan, a marketing and project management specialist with over 25 years industry experience and Dr Venkataramana, an IT specialist and geologist with over 30 years industry experience.
                              

                  #sidebar.col-sm-4.sidebar.sticky_sidebar
                    .sticky_sidebar1.theiaStickySidebar
                        .inner-box
                            #generic_ad_bellow_filters
                        include ../../theme_fish/partials/_genericRightSection
                        
        include ../../theme_fish/partials/_footer
    
