include ../../theme_fish/allMixin
extends ../../theme_fish/layout
block content
    div(class="boxed")
        include ../../theme_fish/partials/common/_header
        //- include partials/common/_footer
        section#content
            .page-header
              .container
                .row
                  .col-md-12
                    .breadcrumb-wrapper
                      h1.page-title Management Team
            .container
                .row
                  .col-sm-8
                    .inner-box
                      .main-testimonials.column9
                        .row.margin-top15
                          .col-md-12
                            .col-md-3
                              img(src='../images/PVS.jpg', alt='PV Satyanarayana (Managing Director)')
                            .col-md-9
                              h4(style='color: #0F62AC') PV Satyanarayana (Managing Director)
                              p(style='text-align:justify; margin-bottom:5px;')
                              | Holds a degree in engineering from Bangalore University and has over 30 years of professional experience spread over industrial marketing, industrial market research, business journalism and aggregation of scientific, technical and business information. Founded Domex in 1988 and started with research, analysis, compilation and dissemination of business information. Started Domex Technical Information, a knowledge management / KPO company in 1994.Established Domex e-Data Pvt Ltd in 2003 which become a successful KPO with globally renowned customers from US, UK / EU and Japan.Domex e-Data was acquired by MolCon in July 2010. MrSatyanarayana now operates Domex Technical Information which concentrates on business research. 
                        .row.margin-top15
                          .col-md-12
                            .col-md-9
                              h4(style='color: #0F62AC') R Balakrishnan (Technical Director)
                              p(style='text-align:justify; margin-bottom:5px;')
                              | Bala has a degree in engineering and a Masters degree in marketing management from Mumbai University. With over 12 years experience as a project engineer with Tata Consulting Engineers, he is well experienced in handling project planning and engineering vendor development. Bala has been providing leadership in project planning, training and production planning for Domex's international assignments since 1991. 
                            .col-md-3
                              img(src='../images/bala.jpg', alt='R Balakrishnan (Technical Director)')
                        .row.margin-top15
                          .col-md-12
                            .col-md-3
                              img(src='../images/Venkat.jpg', alt='P Venkataramana (Executive Director)')
                            .col-md-9
                              h4(style='color: #0F62AC') P Venkataramana (Executive Director)
                              p(style='text-align:justify; margin-bottom:5px;') Venkat has a Masters degree in Geology from Mysore University and PhD in geochemistry from Indian Institute of Science, Bangalore, Venkat was with Geological Survey of India for 20 years where he officiated as the Chief Scientist and Head of the Computer Section. Has proficiency in computer software programming and possesses knowledge in languages / programs such as UNIX, C / C++, Oracle, GIS, VB and others. Has executed over 100 software programs / assignments with scientific, technical and commercial applications.
                        .row.margin-top15
                          .col-md-12
                            .col-md-9
                              h4(style='color: #0F62AC') Ms. Anuradha (Marketing Director)
                              p(style='text-align:justify; margin-bottom:5px;') Holds a Masters degree in psychology from Mumbai University. Has over 13 years of experience in marketing research, international customer database development, subscriptions management and customer relations. Has been with Domex for nearly 10 years. Anuradha is also a professional psychologist assisting the corporate sector in conduct of psychometric evaluations and competency mapping &amp; assessment. As a social objective, she has been providing career counseling and guidance to aspiring students and youngsters. Further, she has been regularly writing columns on psychology and career development related subjects in leading newspapers like Times of India and Mid-Day and magazines like My Doctor, Classroom and so forth.
                            .col-md-3
                              img(src='../images/Anuradha.jpg', alt='Ms. Anuradha (Marketing Director)')
                        .row.margin-top15
                          .col-md-12
                            .col-md-3
                              img(src='../images/Sundar.jpg', alt='Meenakshi Sundaram (General Manager)')
                            .col-md-9
                              h4(style='color: #0F62AC') Meenakshi Sundaram (General Manager)
                              p(style='text-align:justify; margin-bottom:5px;') Sundar has a degree in science from University of Madras. Has about 15 years experience in research and compilation of business information. Sundar has also been in the forefront of providing leadership for Domex's KPO business for 10 years. Currently he is responsible for overseeing Domex's diversification and expansion into newer areas of business.
                        

                  #sidebar.col-sm-4.sidebar.sticky_sidebar
                    .sticky_sidebar1.theiaStickySidebar
                        .inner-box
                            #generic_ad_bellow_filters
                        include ../../theme_fish/partials/_genericRightSection
                        
        include ../../theme_fish/partials/_footer
    
