include ../../theme_fish/allMixin
extends ../../theme_fish/layout
block content
    div(class="boxed")
        include ../../theme_fish/partials/common/_header
        //- include partials/common/_footer
        section#content
            .page-header
              .container
                .row
                  .col-md-12
                    .breadcrumb-wrapper
                      h1.page-title FAQA
            .container
                .row
                  .col-sm-8
                    .ad-detail-content.inner-box
                      .mT55
                        h2.h2faq Frequently Asked Questions
                        br
                        .question
                            input#q1(type='checkbox')
                            label(for='q1')
                                span What is Tenders Section ?
                            div
                                | 'Tenders' is a tender notification service, part of the India New Projects Portal. It keeps you updated with the latest information on Tenders floated by government Central and State, Public Sector, Autonomous Bodies and Private Organisations.
                        // Next Q
                        .question
                            input#q2(type='checkbox')
                            label(for='q2')
                                span Where can I access it ?
                            div
                                | You can visit 
                                a(href='http://tenders.India New Projects.com') http://tenders.India New Projects.com
                        // Next Q
                        .question
                            input#q3(type='checkbox')
                            label(for='q3')
                                span How can I access the Tenders Information ?
                            div
                                | To ease the usage, all tenders are divided under 56 Industries with over 500 sub-Categories. Also you can access tenders information 
                                a(href='http://tenders.India New Projects.com/states.html') By State
                                |  and 
                                a(href='http://tenders.India New Projects.com/authority.html') By Authority
                                | .
                        // Next Q
                        .question
                            input#q4(type='checkbox')
                            label(for='q4')
                                span What is India New Projects Tender Notification Service ?
                            div
                                a(href='http://tenders.India New Projects.com') tenders.India New Projects.com
                                |  is a Tender Notification service portal that keeps you updated with latest information on tenders floated by various government and private agencies across India. 
                                br
                                |                                  For ease of access, all these tenders are collated under different business categories and can easily be accessed using our Quick Search feature which accelerates your tender search. You can Quick Search on tenders through 'Product Name', 'Industry' and even through the 'Tender No.' if you have one handy with you. Reach out to a wider market, save precious time and get access to countless business opportunities by using our Tender Notification services. All these feature-packed services are available to you just on a click.
                        // Next Q
                        .question
                            input#q5(type='checkbox')
                            label(for='q5')
                                span What services are offered by India New Projects Tender Notification Service ?
                            div
                                | India New Projects Tender Notification service provides best tender-info providing Services to its online users. Any internet user can benefit from our online Tender Notification services which includes display of latest information related to Tenders.
                                br
                                |                                  Any tender-info can be seen by consuming just 
                                b 200 Credit Points
                                |  for each tender- info to be seen. We have different economic and pocket friendly packages available based on the totality of usage of your tender- info.
                                br
                                |                                  Here you can find huge database of live Tenders which are floated by many Government and private agencies in India. The end-less collection of archived or expired Tenders under a dedicated archives section acts as an information resource for anyone wishing for the information on old Tenders.
                                br
                                |                                  Browse through our ever increasing collection of over 1 lac Tenders. We have incorporated simple navigational tools like our powerful Search Engine and the 'Quick Access' feature which takes you straight across to your preferred category related to your Tender search.
                        // Next Q
                        .question
                            input#q6(type='checkbox')
                            label(for='q6')
                                span Why choose us ?
                            div
                                strong
                                    | We provide time saving solutions to explore and discover new business opportunities.
                                br
                                |                                   » We are one of the best Tender Notification service providing Services to our online users.
                                br
                                |                                   » Any single tender- info can be accessed at just 200 credit points.
                                br
                                |                                   » All the important Tenders floated by various Government and private agencies are covered by us.
                                br
                                |                                   » Our vast database caters to a range of live and old/expired tenders.
                                br
                                |                                   » We provide live, interactive help and support to our online users.
                                br
                                strong  » 
                                | Our simple and effective navigational tools make up for a great searching experience.
                        // Next Q
                        .question
                            input#q7(type='checkbox')
                            label(for='q7')
                                span
                                    | Can all India New Projects members access Tenders at Tender Notification Portal ?
                            div
                                | Yes. Anyone can log on to 
                                a(href='http://tenders.India New Projects.com') http://tenders.India New Projects.com
                                |  and search the tenders in their preferred business/ product category. They can view all the latest and archived tenders and take it's advantage 24 * 7.
                        // Next Q
                        .question
                            input#q8(type='checkbox')
                            label(for='q8')
                                span
                                    | How do I subscribe to Tender services offered by India New Projects Tender Notification Service ?
                            div
                                | Just mail us your requirement @ 
                                a(href='mailto:tenderalerts@India New Projects.com') tenderalerts@India New Projects.com
                        // Next Q
                        .question
                            input#q9(type='checkbox')
                            label(for='q9')
                                span What will I be charged for the services ?
                            div
                                | There are very nominal charges to access more than 1.5 lac LIVE government and private tenders and procurement notices from India.
                                br
                                |                                  Price of 200 Credits points per tender- info is to be paid to see the info of any single tender on 
                                a(href='http://tenders.India New Projects.com') http://tenders.India New Projects.com
                                br
                                |                                  We are one of the best Tender Notification service provider offering these services for the benefit of the internet entrepreneurs and small businesses.
                        // Next Q
                        .question
                            input#q10(type='checkbox')
                            label(for='q10')
                                span What kind of Information is available for a specific Tender ?
                            div
                                dl
                                    dt
                                        strong Each tender information will present the following:
                                    dd  »  Company Name
                                    dd  »  Opening Date of the Tender
                                    dd  »  Name & Address of The Tender Authority
                                    dd  »  Due Date of the Tender
                                    dd  »  Product Details
                                    dd  »  Terms and Conditions of the Tenders
                                    dd  »  Product Note
                                    dd  »  Publications
                                    dd  »  Project Location
                                    dd  »  Industry and Sub Industry Type
                                    dd  »  Tender Details
                                    dd  »  Type of the Company
                                    dd  »  Tender Value
                                    dd  »  EMD Value
                                    dd  »  Tender Number and Reference Number
                        // Next Q
                        .question
                            input#q11(type='checkbox')
                            label(for='q11')
                                span How does India New Projects Tender Notification Service source its information ?
                            div
                                | We source tenders from various tender issuing authorities, national, regional & local newspapers and trade journals from all over the country. Thereby ensuring that we have the most accurate data to share with our users.
                        // Next Q
                        .question
                            input#q12(type='checkbox')
                            label(for='q12')
                                span How do I explore tender notifications at 'tenders.India New Projects.com' ?
                            div
                                | We publish tenders from various tenders published by various issuing authorities, national, regional & local newspapers and trade journals from all over the country, India, thereby ensuring that we have the most accurate and up-to-date data to share with our users.
                                br
                                br
                                strong Quick Access:
                                br
                                |                                  You can log on to our website 
                                a(href='http://tenders.India New Projects.com') tenders.India New Projects.com
                                |  and view tender notifications of your preferred category by using our 'Quick Tender Search' feature.
                                br
                                strong Search Engine:
                                br
                                |                                  India New Projects Tender Notification service provides accurate and fast results with the help of a powerful search engine. You can benefit from the basic and advanced search utility offered by our search engine to reach out quickly to the tender of your preference.
                                br
                                br
                                dl
                                    strong You can also search tenders in following ways:
                                    dt
                                        strong » Product Name 
                                    dd Run specific product searches from our huge database of Tenders
                                    dt
                                        strong » Project City 
                                    dd
                                        | You can search tenders issued from a specific city. Eg - typing 'Bangalore' would return all the tenders issued from 'Bangalore'.
                                    dt
                                        strong » Project State 
                                    dd
                                        | You can search tenders issued from a specific state. Eg - typing 'Karnataka' would return all the tenders issued from 'Karnataka'.
                                    dt
                                        strong » Industry 
                                    dd You can search tenders in a single selected sub-industry.
                                    dt
                                        strong » Company Name 
                                    dd
                                        | Key in the 'Company Name' to get information on the tenders floated by a specific company.
                        // Next Q
                        .question
                            input#q13(type='checkbox')
                            label(for='q13')
                                span Do you also provide information related to old tenders ?
                            div
                                | We archive our Tender database and have a huge collection of old Tenders which are an information resource for our online users. For a quick access to old tenders please log on to our 
                                a(href='http://tenders.India New Projects.com/tender-archives.html') Archived Tenders
                                |  Section
                        // Next Q
                        .question
                            input#q14(type='checkbox')
                            label(for='q14')
                                span What should I do to access tender of only my categories ?
                            div
                                | As a first step, You need to browse 
                                a(href='http://tenders.India New Projects.com') tenders.India New Projects.com
                                |  and click on your preferred industry. You can also browse tenders information by sub industry which is available in your preferred industry page.
                        // Next Q
                        .question
                            input#q15(type='checkbox')
                            label(for='q15')
                                span I am based in New Delhi, Can I search for tenders in this city?
                            div
                                | Yes, just log on to our 
                                a(href='http://tenders.India New Projects.com/states.html') State Page
                                | , and click on 
                                a(href='http://tenders.India New Projects.com/Delhi/') Delhi
                                |  from the list.
                        // Next Q
                        .question
                            input#q16(type='checkbox')
                            label(for='q16')
                                span How many Live Tenders are available ?
                            div Over 1 lac at any point of time.
                        // Next Q
                        .question
                            input#q17(type='checkbox')
                            label(for='q17')
                                span Do you cover International Tenders ?
                            div
                                | We cover only India Specific tenders. We also have another service where in we provide International Tenders.
                        // Next Q
                        .question
                            input#q18(type='checkbox')
                            label(for='q18')
                                span Do I need to register myself for Accessing the Tenders ?
                            div
                                | No, no need to register yourself. If you would like to receive mail alerts for tender information then only registration is required.
                        // Next Q
                        .question
                            input#q19(type='checkbox')
                            label(for='q19')
                                span How can I register ?
                            div
                                | Just mail us your requirement @ 
                                a(href='mailto:tenderalerts@India New Projects.com') tenderalerts@India New Projects.com
                        // Next Q
                        .question
                            input#q20(type='checkbox')
                            label(for='q20')
                                span
                                    | I am only interested in a few categories or sub categories, How do I limit my choice ?
                            div After successful registration, you can Select your Tender Category preferences.
                        // Next Q
                        .question
                            input#q21(type='checkbox')
                            label(for='q21')
                                span Can I be informed of the Live Tenders by Email ?
                            div
                                | Once you register with us, you would have an option to get Live Tenders by email delivered, every day.
                        // Next Q
                        .question
                            input#q22(type='checkbox')
                            label(for='q22')
                                span Will I be able to see the original tender notification ?
                            div
                                | Yes. You can access the notification. This will be in a pdf or as an image format.
                        // Next Q
                        .question
                            input#q23(type='checkbox')
                            label(for='q23')
                                span Where do you get the information on Tenders ?
                            div
                                | We source tenders from Issuing Authorities, National, Regional and Local newspapers / magazines as well from Trade Journals. We partner with other tender aggregators also.
                        // Next Q
                        .question
                            input#q24(type='checkbox')
                            label(for='q24')
                                span How many Tenders are added every day ?
                            div Over 5000 Tenders are added everyday 
                        // Next Q
                        .question
                            input#q25(type='checkbox')
                            label(for='q25')
                                span What is unique about Tenders from India New Projects ?
                            div
                                p  »  Accurate and up-to-date Tenders Information.
                                p  »  Free Email Alert subscription.
                                p  »  Easy and pocket-friendly Payment options and packages.
                                p  »  India's Largest Online Tender Information Portal
                                p
                                    | »  Quick Access to Countless Business Opportunities, allowing you to reach a wider market.
                        // Next Q
                        .question
                            input#q26(type='checkbox')
                            label(for='q26')
                                span Want to publish your Tender on India New Projects (FREE) ?
                            div
                                | Mail us at
                                | tenderalerts@India New Projects.com
                                | along with your company name and contact details  or  Call us at +91-8375930527
                        .question
                            input#q27(type='checkbox')
                            label(for='q27')
                                span Where I can find Auctions available at India New Projects?
                            div
                                a(href='./tenders-auction/') Click here to view auctions


                  #sidebar.col-sm-4.sidebar.sticky_sidebar
                    .sticky_sidebar1.theiaStickySidebar
                        .inner-box
                            #generic_ad_bellow_filters
                        include ../../theme_fish/partials/_genericRightSection
                        
        include ../../theme_fish/partials/_footer
    
