//- include allMixin
extends ../../theme_fish/layout
block content
    div(class="boxed")
        include ../../theme_fish/partials/_headerMain
        include ../../theme_fish/partials/_footer
    section#content
        .container
            .row
                section#content
                  // Pricing Table Section
                  section#pricing-table
                    .container
                      .row
                        .col-md-12
                          .mainHeading
                            h2.section-title Find a plan that’s right for you.
                        .col-sm-4
                          .table
                            .title
                              h3 Silver
                            .pricing-header
                              p.price-value
                                sup $
                                | 10
                              p.price-quality Get Started with Classiera
                            ul.description
                              li
                                i.fa.fa-check-square
                                | Free ad posting
                              li
                                i.fa.fa-check-square
                                | 6 Featured ads availability
                              li
                                i.fa.fa-check-square
                                | For 25 days
                              li
                                i.fa.fa-check-square
                                | 100% Secure!
                            button.btn.btn-common(type='submit') Purchase Now
                        .col-sm-4
                          #active-tb.table
                            .title
                              h3 Standard
                            .pricing-header
                              p.price-value
                                sup $
                                | 12
                              p.price-quality Get Started with Classiera
                            ul.description
                              li
                                i.fa.fa-check-square
                                | Free ad posting
                              li
                                i.fa.fa-check-square
                                | 6 Featured ads availability
                              li
                                i.fa.fa-check-square
                                | For 25 days
                              li
                                i.fa.fa-check-square
                                | 100% Secure!
                            button.btn.btn-common(type='submit') Purchase Now
                        .col-sm-4
                          .table
                            .title
                              h3 Platinum
                            .pricing-header
                              p.price-value
                                sup $
                                | 29
                              p.price-quality Get Started with Classiera
                            ul.description
                              li
                                i.fa.fa-check-square
                                | Free ad posting
                              li
                                i.fa.fa-check-square
                                | 6 Featured ads availability
                              li
                                i.fa.fa-check-square
                                | For 25 days
                              li
                                i.fa.fa-check-square
                                | 100% Secure!
                            button.btn.btn-common(type='submit') Purchase Now
                  // Pricing Table Section End
                // Content section End
                // Footer Section Start
                footer
                  // Footer Area Start
                  section.footer-Content
                    .container
                      .row
                        .col-md-3.col-sm-6.col-xs-12
                          .widget
                            h3.block-title About
                            .textwidget
                              p
                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque lobortis tincidunt est, et euismod purus suscipit quis. Etiam euismod ornare elementum. Sed ex est, consectetur eget facilisis sed, auctor ut purus.
                        .col-md-3.col-sm-6.col-xs-12
                          .widget
                            h3.block-title Links
                            ul.menu
                              li
                                a(href='#') Home
                              li
                                a(href='#') Categories
                              li
                                a(href='#') FAQ
                              li
                                a(href='#') Left Sidebar
                              li
                                a(href='#') Pricing Plans
                              li
                                a(href='#') About
                              li
                                a(href='#') Contact
                              li
                                a(href='#') Full Width Page
                              li
                                a(href='#') Notifications
                        .col-md-3.col-sm-6.col-xs-12
                          .widget
                            h3.block-title Latest Tweets
                            .twitter-content.clearfix
                              ul.twitter-list
                                li.clearfix
                                  span
                                    | Make sure you are following
                                    a(href='#') @Graygrids
                                    |  for all your Wingthemes needs!
                                li.clearfix
                                  span
                                    | Eight marketplaces, one Graygrids Market. Join us: 
                                    a(href='#') http://t.co/cLo2w7rWOx
                        .col-md-3.col-sm-6.col-xs-12
                          .widget
                            h3.block-title Premium Ads
                            ul.featured-list
                              li
                                img(alt='', src='assets/img/featured/img1.jpg')
                                .hover
                                  a(href='#')
                                    span $49
                              li
                                img(alt='', src='assets/img/featured/img2.jpg')
                                .hover
                                  a(href='#')
                                    span $49
                              li
                                img(alt='', src='assets/img/featured/img3.jpg')
                                .hover
                                  a(href='#')
                                    span $49
                              li
                                img(alt='', src='assets/img/featured/img4.jpg')
                                .hover
                                  a(href='#')
                                    span $49
                              li
                                img(alt='', src='assets/img/featured/img5.jpg')
                                .hover
                                  a(href='#')
                                    span $49
                              li
                                img(alt='', src='assets/img/featured/img6.jpg')
                                .hover
                                  a(href='#')
                                    span $49

    




