include ../../theme_fish/allMixin
extends ../../theme_fish/layout
block content
    div(class="boxed")
        include ../../theme_fish/partials/common/_header
        //- include partials/common/_footer
        section#content
            .page-header
              .container
                .row
                  .col-md-12
                    .breadcrumb-wrapper
                      h1.page-title Terms &amp; Conditions
            .container
                .row
                  .col-sm-8.inner-box
                    
                    h3 User Agreement
                    br
                    h4  INFORMATION SUPPLIED BY USERS
                    br
                    h6 Registration data:
                    p(style='text-align:justify; margin-bottom:5px;') These Terms of Use govern your use of the websites, content services offered through www.indiaprojectsnews.in ("Site") any mobile or internet connected device or otherwise (the "the Service").

                    p(style='text-align:justify; margin-bottom:5px;') These terms of use (Terms) constitute a legally binding agreement between you and Domex Business Information Private Limited (“DBI”) regarding your use of the web site i.e www.indiaprojectsnews.in (the Site) and any services offered by the company including but not limited to delivery of content via the Site, any mobile or internet connected device or otherwise (the "the Service"). By accessing the Site or Service and/or by clicking "I agree", you agree to be bound by these Terms. You hereby represent and warrant to the Company that you are at least eighteen (18) years of age or above and are capable of entering, performing and adhering to these Terms and that you agree to be bound by the following terms and conditions. While individuals under the age of 18 may utilize the Service of the site, they shall do so only with the involvement &amp; guidance of their parents and / or legal guardians, under such Parent /Legal guardian's registered account . You agree to register prior to uploading any content and / or comment and any other use or services of this site and provide your details including but not limited to complete name, age, email address, residential address, contact number.

                    p(style='text-align:justify; margin-bottom:5px;') DBI may add to or change or update these Terms of Use, from time to time entirely at its own discretion. You are responsible for checking these Terms of Use periodically to remain in compliance with these terms. Your use of a Site after any amendment to the Terms of Use shall constitute your acceptance of these terms and you also agree to be bound by any such changes/revisions.
                    br
                    h6 Changes:
                    p(style='text-align:justify; margin-bottom:5px;') DBI reserves the right to suspend / cancel, or discontinue any or all channels, products or service at any time without notice , make modifications and alterations in any or all of the content, products and services contained on the site without prior notice. Such changes will be posted to www.indiaprojectsnews.in for your reference and convenience so as to enable you to understand your responsibility as a user.
                    br
                    h6 Charges:
                    p(style='text-align:justify; margin-bottom:5px;') DBI reserves the right to charge subscription and / or membership fees from a user, by giving reasonable prior notice, in respect of any product, service or any other aspect of this Site.
                    br
                    h6 Access and Use:
                    p(style='text-align:justify; margin-bottom:5px;') The amount and types of Content that you can view, and the platforms on which you can view the Content, depend on what type of user you are and what type of subscription (if any) you have. We can vary the access rights of registered users who are not accessing through a paid subscription at any time at our discretion.
                    br
                    h6 Copyright and Trademarks:
                    p(style='text-align:justify; margin-bottom:5px;') Unless otherwise stated, copyright and all intellectual property rights in all material presented on the site (including but not limited to text, audio, video or graphical images), trademarks and logos appearing on this site are the property of Domex Business Information Private Limited, its affiliates and associates and are protected under applicable Indian laws. You agree not to use any framing techniques to enclose any trademark or logo or other proprietary information of DBI; or remove, conceal or obliterate any copyright or other proprietary notice or any credit-line or date-line on other mark or source identifier included on the Site / Service, including without limitation, the size, color, location or style of all proprietary marks. Any infringement shall be vigorously defended and pursued to the fullest extent permitted by law.
                    br
                    h6 Limited Permission to Copy:
                    p(style='text-align:justify; margin-bottom:5px;') DBI grants you permission to only access and make personal use of the Site and You agree not to, directly or indirectly download or modify / alter / change / amend / vary / transform / revise / translate / copy / publish / distribute or otherwise disseminate any content on www.indiaprojectsnews.in / Service, or any portion of it; or delete or fail to display any promotional taglines included in the Site / Service either directly or indirectly, except with the express consent of DBI. You must not retain any copies of these pages saved to disk or to any other storage medium.

                    p(style='text-align:justify; margin-bottom:5px;') DBI forbids you from any attempts to resell or put to commercial use any part of the Site; any collection and use of any product listings, descriptions, or prices; any derivative use of the Site or its contents; any downloading or copying of account information for the benefit of any other merchant; any renting, leasing, or otherwise transferring rights to the Site / Service; displaying the name, logo, trademark or other identifier of another person in such a manner as to give the viewer the impression that such other person is a publisher or distributor of the Service on the Site, or any data gathering or extraction tools; or any use of meta tags. You may not (whether directly or through the use of any software program) create a database in electronic or structured manual form by regularly or systematically downloading and storing all or any part of the pages from this site.

                    p(style='text-align:justify; margin-bottom:5px;') No part of the Site may be reproduced or transmitted to or stored in any other web site, nor may any of its pages or part thereof be disseminated in any electronic or non-electronic form, nor included in any public or private electronic retrieval system or service without prior written permission. Requests to republish DBI’s material for distribution should be addressed to Domex Business Information Private Limited at E-Mail – support@indiaprojectsnews.in
                    br
                    h6 Privacy Policy and Registration:
                    p(style='text-align:justify; margin-bottom:5px;') All information received by us from your use of www.indiaprojectsnews.in will be used by DBI in accordance with our Privacy Policy. 

                    p(style='text-align:justify; margin-bottom:5px;') On registration, you must provide www.indiaprojectsnews.in with accurate, complete registration information and it is your responsibility to update and maintain changes to that information on the applicable registration or subscription pages. DBI is entitled to rely on any information you provide to us.

                    p(style='text-align:justify; margin-bottom:5px;') Each registration is for a single user only. On registration, you will choose a user name and password (“ID”). You are not allowed to share your ID or give access to www.indiaprojectsnews.in Content through your ID to anyone else. www.indiaprojectsnews.in does not allow multiple users on a network or within an organization to use the same ID. www.indiaprojectsnews.in may cancel or suspend your access to www.indiaprojectsnews.in if you share your ID without further obligation to you. You may not create additional registration or subscription accounts for the benefit of others or with the aim of avoiding our use of IDs to control access to and use of www.indiaprojectsnews.in.

                    p(style='text-align:justify; margin-bottom:5px;') You are responsible for all use of www.indiaprojectsnews.in made by you or anyone else using your ID and for preventing unauthorised use of your ID. If you believe there has been any breach of security such as the disclosure, theft or unauthorised use of your ID or any payment information, you must notify www.indiaprojectsnews.in immediately by e-mailing us at support@indiaprojectsnews.in. We recommend that you do not select an obvious user password (such as your name) and that you change it regularly.

                    p(style='text-align:justify; margin-bottom:5px;') If you provide www.indiaprojectsnews.in with an email address that will result in any messages www.indiaprojectsnews.in may send you being sent to you via a network or device operated or owned by a third party (e.g. your employer or college) then you promise that you are entitled to receive those messages. You also agree that www.indiaprojectsnews.in may stop sending messages to you without notifying you.

                    p(style='text-align:justify; margin-bottom:5px;') If you are a registered user of or subscriber to www.indiaprojectsnews.in then you may choose to use www.indiaprojectsnews.in’s “Remember me” log in feature that enables you to be logged in automatically to www.indiaprojectsnews.in whenever you visit www.indiaprojectsnews.in without having to manually log in each time. We recommend that you do not enable this feature on any computer that is or may be used by anyone other than you in order to prevent unauthorized access by third parties to both your subscription details and features of www.indiaprojectsnews.in personal to you.
                    br
                    h6 Personal Subscription Services and Temporary Access Passes:
                    p(style='text-align:justify; margin-bottom:5px;') We offer subscription services through www.indiaprojectsnews.in. Unless you purchase a subscription to use www.indiaprojectsnews.in then your usage rights will be limited to that restricted subscription content only. 

                    p(style='text-align:justify; margin-bottom:5px;') DBI reserves the right to vary the amount of content and types of service that it makes available to different categories of user. If you are an www.indiaprojectsnews.in subscriber, any significant reduction in the scope of your subscription will take effect only after we have given you at least 30 days’ notice, and will apply from the date of your next payment following that 30-day period. This does not apply where a type of content or service intended for Premium subscriptions is made available to Standard subscribers on an introductory, temporary or trial basis.

                    p(style='text-align:justify; margin-bottom:5px;') Contract formation: DBI will try to process your subscription promptly but does not guarantee that your subscription will be activated by any specified time. By submitting your payment and other subscription details, you are making an offer to us to buy a subscription. Your offer will only be accepted by us and a contract formed when we have successfully verified your payment details and email address, at which point we will provide you with access to your subscription. DBI reserves the right to reject any offer in its discretion, for any or no reason.
                    br
                    h6 Payment details:
                    p(style='text-align:justify; margin-bottom:5px;') When you purchase a subscription, you must provide us with complete and accurate payment information. By submitting payment details you promise that you are entitled to purchase a subscription using those payment details. If we do not receive payment authorization or any authorization is subsequently cancelled, we may immediately terminate or suspend your access to your subscription. In suspicious circumstances we may contact the issuing bank/payment provider and/or law enforcement authorities or other appropriate third parties. If you are entitled to a refund under these terms and conditions we will credit that refund to the card or other payment method you used to submit payment, unless it has expired in which case we will contact you.
                    br
                    h6 Pricing:
                    p(style='text-align:justify; margin-bottom:5px;') The subscription price will be made clear to you on our sign-up pages or otherwise during the sign-up process and may vary from time to time.You agree to pay the fees at the rates notified to you at the time you purchase your subscription. For certain subscriptions you can take out either an annual or monthly (or other frequency we offer) subscription. Other subscription services may only require a one-off payment. You can also take out any other fixed term or payment frequency that we may offer from time to time. The currency in which your subscription is payable will be specified during the order process, depending on the service and your country of residence. Eligibility for any discounts is ascertained at the time you subscribe and cannot be changed during the term of your subscription. We will always tell you in advance of any increase in the price of your subscription and offer you an opportunity to cancel it if you do not wish to pay the new price.
                    br
                    h6 Trial subscriptions:
                    p(style='text-align:justify; margin-bottom:5px;') Where we provide a trial subscription, we will inform you of the full subscription price that is payable after the trial period. After the trial, your subscription will renew automatically at the full subscription price unless you cancel your subscription before the end of the trial. To cancel your subscription during the trial please go to Manage Your Account and follow the simple cancellation instructions.

                    p(style='text-align:justify; margin-bottom:5px;') Please note that no more than one trial subscription per subscriber is allowed in any twelve month period. We reserve the right to cancel any trial subscription immediately, without refund, if we become aware that the subscriber has already had another trial subscription in the previous twelve months.

                    p(style='text-align:justify; margin-bottom:5px;') Unless otherwise indicated, prices stated on our website are inclusive of any applicable tax or other sales taxes. The breakdown of any applicable Taxes payable with your order is indicated on the invoice you will receive with your purchase.
                    br
                    h6 Pricing errors:
                    p(style='text-align:justify; margin-bottom:5px;') If we incorrectly state a price to you whether online or otherwise, we are not obliged to provide you with a subscription at that price, even if we have mistakenly accepted your offer to buy a subscription at that price, and we reserve the right to subsequently notify you of any pricing error. If we do this, you may cancel the subscription without any obligation to us and we will refund you any money you have paid us in full, or you may pay the correct price. If you refuse to exercise either of these choices then we may cancel your subscription and will refund you any money you have paid us in full. We will always act in good faith in determining whether a genuine pricing error has occurred.
                    br
                    h6 Other costs:
                    p(style='text-align:justify; margin-bottom:5px;') In addition to the subscription fee you are charged, certain banks and credit card issuers will charge a foreign transaction fee on transactions which take place abroad or in a foreign currency. The majority of payments for subscriptions we take by card are processed in INDIA therefore please check with your bank or credit card issuer to find out if such charges will be applied to you; the DBI is not responsible for any such charges. You are also responsible for paying any internet connection or telecommunications charges that you may incur by accessing www.indiaprojectsnews.in or using the services available on it. For example, if you use any of our mobile services then your network operator may charge you for data or messaging services.
                    br
                    h6 Third Party Sites and Services:
                    p(style='text-align:justify; margin-bottom:5px;') www.indiaprojectsnews.in may contain links to other Internet websites or online and mobile services provided by independent third parties, including websites of our advertisers and sponsors (what we call “Third Party Sites”), either directly or through frames. Third Party Sites may be co-branded with DBI and so include DBI’s trade marks.

                    p(style='text-align:justify; margin-bottom:5px;') It is your decision whether you purchase or use any third party products or services made available on or via Third Party Sites. Our Privacy Policy does not apply to Third Party Sites.

                    p(style='text-align:justify; margin-bottom:5px;') www.indiaprojectsnews.in contains advertising and sponsorship. Advertisers and sponsors are responsible for ensuring that material submitted for inclusion on www.indiaprojectsnews.in complies with international and national law. DBI is not responsible for any error or inaccuracy in advertising or sponsorship material.

                    p(style='text-align:justify; margin-bottom:5px;') Copyright in any software that is made available for download from www.indiaprojectsnews.in belongs to DBI or its suppliers. Your use of the software is governed by the terms of any licence agreement that may accompany or be included with the software. Do not install or use any of this software unless you agree to such licence agreement. DBI is not responsible for any technical or other issues that may happen if you download third party software.
                    br
                    h6 No unlawful or prohibited use:
                    p(style='text-align:justify; margin-bottom:5px;') As a condition of your use of the Services, you will not use the Services for any purpose that is unlawful or prohibited by these terms, conditions, and notices. You may not use the Services in any manner that could damage, disable, overburden, or impair any DBI's server, or the network(s) connected to any DBI server, or interfere with any other party's use and enjoyment of any Services. You may not attempt to gain unauthorized access to any Services, other accounts, computer systems or to any of the Services, through hacking, password mining or any other means. You may not obtain or attempt to obtain any materials or information through any means not intentionally made available through the Services.
                    br
                    h6 Limitations of DBI Content:
                    p(style='text-align:justify; margin-bottom:5px;') The DBI Content (including any information we publish regarding Third Party Products) is only for your general information and entertainment purposes and is not intended to address your particular requirements. In particular, the www.indiaprojectsnews.in content, and any other content provided by third parties and distributed by DBI, does not constitute any form of advice, recommendation, representation, endorsement or arrangement by DBI. It is not intended to be and should not be relied upon by users in making (or refraining from making) any specific investment, purchase, sale or other decisions. Appropriate independent advice should be obtained before making any such decision, such as from a qualified financial adviser.

                    p(style='text-align:justify; margin-bottom:5px;') Any agreements, transactions or other arrangements made between you and any third party named on (or linked to from) www.indiaprojectsnews.in are at your own responsibility and entered into at your own risk. Any information that you receive via www.indiaprojectsnews.in, whether or not it is classified as ”real time”, may have stopped being current by the time it reaches you. 
                    br
                    h6 What we promise:
                    p(style='text-align:justify; margin-bottom:5px;') DBI promises to develop and operate www.indiaprojectsnews.in with reasonable skill and care and will use reasonable efforts to promptly remedy any faults of which it is aware.
                    br
                    h6 What we do not promise:
                    p(style='text-align:justify; margin-bottom:5px;') DBI does not provide any other promises or warranties about www.indiaprojectsnews.in and the content. www.indiaprojectsnews.in and the DBI Content are provided on an “as is” and “as available” basis. This means that DBI does not make any promises in respect of www.indiaprojectsnews.in or the services and functions available on or through www.indiaprojectsnews.in or of the quality, completeness or accuracy of the information published on or linked to from www.indiaprojectsnews.in other than as expressly stated above.

                    p(style='text-align:justify; margin-bottom:5px;') The above disclaimers apply equally to your use of www.indiaprojectsnews.in and all DBI Content. Without limiting the above, DBI is not liable for matters beyond its reasonable control. DBI does not control third party communications networks (including your internet service provider), the internet, acts of god or the acts of third parties.


                  #sidebar.col-sm-4.sidebar.sticky_sidebar
                    .sticky_sidebar1.theiaStickySidebar
                        .inner-box
                            #generic_ad_bellow_filters
                        include ../../theme_fish/partials/_genericRightSection
                        
        include ../../theme_fish/partials/_footer
    
