@font-face {
  font-family: 'Merriweather';
  src: url('/theme_dragon/fonts/Merriweather-Regular.ttf');
}
@font-face {
    font-family: 'newdelhi_normal';
    src: url('/theme_dragon/fonts/newdelhi_normal.ttf') format('ttf');
}
@font-face {
    font-family: 'DevLys';
    src: url('/theme_dragon/fonts/Devlys_010.ttf') format('ttf');
}
@font-face {
    font-family: 'devnagri';
    src: url('/theme_dragon/fonts/Devanagari-New-Normal.ttf.woff') format('woff');
}
@font-face {
    font-family: 'Divyae';
    src: url('/theme_dragon/fonts/DV_Divyae-Normal.ttf.woff') format('woff');
}

@font-face {
    font-family: 'Surekh';
    src: url('/theme_dragon/fonts/DV-TTSurekh-Normal.ttf.woff') format('woff');
}
@font-face {
    font-family: 'Yogesh';
    src: url('/theme_dragon/fonts/DV-TTYogesh-Bold.ttf.woff') format('woff');
}
@font-face {
    font-family: 'preeti';
    src: url('/theme_dragon/fonts/preeti.TTF') format('ttf');
}

@font-face {
    font-family: 'RITU';
    src: url('/theme_dragon/fonts/RITU.TTF') format('ttf');
}
@font-face {
    font-family: 'Hind-Medium';
    src: url('/theme_dragon/fonts/Hind-Medium.ttf') format('ttf');
}
body{
    background:#fff;
}
.image-caption .text-on-image{
    min-height: 45px;
    text-align: center;
}
.image-caption{
    text-align: left !important;
}
.my-cart-icon{
    top: 3px !important;
    right: 0px !important;
}
.my-cart-icon {
  z-index: 9999 !important;
  position: relative !important;
}
#cartpage .item_price{
    color: #22217a !important;
}
#pricing-table .container .hocal_row{
    display: flex !important;
}
.boxed,.header{
    background: -webkit-radial-gradient(circle, #fff, #f6ccaa, #fff); /* For Safari 5.1 to 6.0 */
    background: -o-radial-gradient(circle, #fff, #f6ccaa, #fff); /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(circle, #fff, #f6ccaa, #fff); /* For Fx 3.6 to 15 */
    background: radial-gradient(circle, #fff, #f6ccaa, #fff);
    background-size: 10px 10px;
    background-repeat: repeat;
}
.photo-gallery-blocks-big-slider ul.images-scroll li.active, .photo-gallery-blocks-big-slider ul.images-scroll li.active:hover{
    margin-top: 0px;
}
.header .header-undermenu{
    background: transparent;
}
body,p,h1,h2,h3,h4,h5,h6,span,a, .article-side-block .article-header h2 a, .article-classic .article-header h2 a{
    font-family: 'Merriweather';
}
.article-array li a, .main-content-split .article-side-block .article-header h2 a{
    font-size: 14px;
}
.content .review-item .review-content h2{
    font-size: 15px;
}
.article-big-block .article-header h2, .article-small-block .article-header h2{
    font-size: 18px;
}
.breaking-news.isscrolling .breaking-controls .breaking-arrow-right, .breaking-news.isscrolling .breaking-controls .breaking-arrow-left{
    display: block !important;
    float: left;
}
.header-menu,.header .header-menu li {
    background: #ec8d3a !important;
}
.header-middle{
    overflow: hidden;
}
.header .header-menu li a {
    background: #ec8d3a;
    color: #fff;
}
.navbar-right li { 
    background: #ec8d3a;
}
.current-menu-item a,.header .header-menu li:hover  {
    background: #22217a !important;
}
.header .header-menu ul.main-menu > li > ul.sub-menu li:hover > a{
    background: #ec8d3a !important;
    color:#fff !important;
}
.header .header-menu ul.main-menu > li a{
    font-size: 15px;
}
.header .header-undermenu ul li {
    display: block;
    float: left;
    padding: 8px 0px 0px 1px !important;
    
}
.header .header-undermenu ul li a {
    display: block;
    text-transform: none !important;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    background: #ad9c9c;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
}
.header .header-menu li a {
    text-transform: none !important;
}
.content-panel{
    padding: 0 15px 5px;
    border:1px solid #ecf4f9;
}
.content-panel{
    margin-bottom: 0px;
}
.main-content-left{
    margin-bottom: 0px;
}
.content .review-item:nth-child(2){
    margin-top: 0px!important;
}
.article-small-block .article-photo{
    width: 20% !important;
}
.article-small-block .nonloggedin_message{
    width:70%;
}
.content-article-title .right-title-side{
    top: 16px;
}
.article-small-block .article-links .article-icon-link{
    margin-top:4px;
}
/*.profile {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  transition: all .3s ease-in-out;
}

.profile:hover {
  border-radius:0;  
  cursor: pointer;
}
*/
.article-big-block .article-photo{
    width:100% !important;
    height: auto;
}
.article-big-block, .article-small-block, .list-sub-heading .listing-news, .list-sub-heading .listing-news {
    border-bottom: 2px dotted #188cd8;
}
.article-array li:last-child, .articles-wrapper .article-big-block:last-child, .review-block .review-item:last-child , .article-array li.news-links:last-child{
    margin-bottom: 10px;
    border-bottom: 0px !important;
}
.review-block{
    padding: 5px; 
}
span.image-hover {
    background: #74bae7  !important;
}
.video-blocks .video-large h2 a, .content .review-item, .video-small h2 a, .main-content-split .article-side-block .article-header h2 a, .listing-news h2 a, .review-content h2 a, .article-icon-link span, .article-big-block .article-header h2 a, .article-small-block .article-header h2 a{
    color: #188cd8;
}

.news-links >a{
    color:#188cd8;
}
.article-icon-link{
  float: right;
}
.article-icon-link .icon-text{
  padding-left:5px;
}
.article-icon-link span{
  font-size: 12px;
}
.comment-label-wrapper{
    display: none;
}
.article-links{
    height: 10px;
}
.video-small{
    width: 100%;
}
.video-small .video-image{
    float: left;
}

.mixed-ticker .breaking-news {
    display: inline;
}
#content .boxed .wrapper.all_content_wrapper {
    background: #fff;
    box-shadow: 0 0 6px 1px rgba(0,0,0,.25);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}
#content .boxed .wrapper.all_content_wrapper.extra_padding {
    padding-left: 10px;
    padding-right: 10px;   
}
.photo-gallery-blocks ul.images-scroll li {
    opacity: 1;
}

.news-links, .content .review-item{
    border-bottom: 2px dotted #188cd8 !important;
}
.widget-title-different a{
        color: #ec8d3a;
}
.widget-title-different {
        border-bottom: 1px solid #ec8d3a;
        font-size: 18px
}
.widget-title-different span a {
    color:#000;
}
.video-blocks .video-large h2 a, .content .review-item, .video-small h2 a, .main-content-split .article-side-block .article-header h2 a, .listing-news h2 a, .review-content h2 a, .article-icon-link span, .article-big-block .article-header h2 a, .article-small-block .article-header h2 a {
    color:#080808;
}
.breaking-news .breaking-controls {
    background-color: #ec8d3a;
    width:34px;
}
.photo-gallery-blocks-big-slider ul.images-scroll li{
    opacity: 1;
    margin-top: 0px;
}
.photo-gallery-blocks-big-slider ul.images-scroll{
    margin-left: 0px;
}
.header-middle{
margin-bottom: 0px;
padding-bottom: 10px;
}
.header-very-top, .header-middle{
    background: #fff;
}

.news-link-icon-wrap .lSAction>.lSNext {
    left: auto;
    right: 1px;
}
.news-link-icon-wrap .lSAction {
    width:100%;
}
.content.margin10{
    margin-top: 0px;
}
.lSSlideOuter{
    position: relative;
}
.lSAction{
    position: absolute;
    top: 0px;
}
.lSAction>a{
    opacity: 1;
    border: 2px solid #000;
    border-radius: 50%;
}
.lSAction>.lSNext{
    left:43px;
    top:20px;
    right: auto;

}
.lSAction>.lSPrev{
    left:5px;
    top: 20px;
    right: auto;
}
.news-link-carousel{
    margin-top:35px;
}
.hide{
    display: none;
}
.article-side-block {
        width: 46%;
}
.listing-vertical-one-big .article-side-block {
        width: 95%;
}
@media screen and (max-width: 575px){
  .widget-title-different {
            font-size: 16px
    }
     .listing-vertical-one-big .article-side-block {
        display: block;
        width: 94%;
    }
    .articles-wrapper .divSquare{
        width:100%;
    }
}
@media screen and (min-device-width: 575px) and (max-width:700px){
    .articles-wrapper .divSquare{
        width:100%;
    }
    .article-side-block .article-photo img{
        max-width: 100%;
        max-height: 305px;
    }
    .article-side-block {
        display: block;
        width: 46%;
        float: left;
    }
    .listing-vertical-one-big .article-side-block {
        display: block;
        width: 94%;
    }
    .squareCarousel .articles-wrapper img{
        width: 100%;
    }
}
@media screen and (min-device-width: 700px) and (max-width: 1000px){
    .main-content-right{
        width:100%;
        margin-left: 0px;
    }
    
    .article-side-block {
        display: block;
        width: 46%;
        float: left;
    }   
    .listing-vertical-one-big .article-side-block {
        display: block;
        width: 94%;
    }
}
#cart-items .tab-content>.active,#sticky .tab-content>.active {margin-top:0px;} 
.hocal_col_4 .table .plan_heading,.hocal_col_4 .table .plan_desc,.hocal_col_4 .table .pricing-header,.hocal_col_4 .table .price-value, .desc{
  padding:3px;
  text-align: center;
}
.hocal_col_4 .table{
  border: 1px solid #ccc;
}

.cart-item-wrapper-inside{
      text-align: center;
    width: 85%;
    display: flex;
    margin: 0 auto;
}
.cart-item-wrapper-inside .hocal_col_4{
  margin: 0 auto;
}
#pricing-table .mainHeading {
    width:100%;
    text-align: center;
}
#pricing-table .price-value{
    text-align: center;
    padding:5px;
}
.header .header-menu li a{
font-size:17px;
}
.header .header-menu ul.main-menu > li > ul.sub-menu li > a{
font-size:17px !important;
}
.image-caption .text-on-image{
padding: 6px 4px !important;
font-size: 15px !important;
}
.footer_nav{
    width: 100%;
}
.footer_nav_li{
    display: inline-block;
    padding: 0px 10px;
}